@use "../../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "../../../../styles/typography";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: mp.$spacing-sm;
  padding: mp.$spacing-md mp.$spacing-md;

  img {
    width: 100%;
  }

  .content {
    padding: mp.$spacing-lg 0;

    h2 {
      @include typography.text-title-2xs {
        font-family: mp.$font-stack-firefox;
        padding-bottom: mp.$spacing-sm;
      }
    }

    .cta {
      padding-top: mp.$spacing-sm;
    }
  }

  .still-alternative {
    display: none;
  }

  @media (prefers-reduced-motion) {
    video {
      display: none;
    }
    // Ideally a `display: none` on <source> elements would be enough to
    // cause the <img> inside <video> to be displayed, but it's not.
    // Hence, another <img> element:
    .still-alternative {
      display: inline-block;
    }
  }
}
