@use "../../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";

.wrapper {
  background-color: lib.$color-white;
  border-radius: lib.$border-radius-sm;

  .controls {
    $closeButtonWidth: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: lib.$spacing-sm;
    padding-left: lib.$spacing-sm + $closeButtonWidth;
    border-bottom: 1px solid lib.$color-light-gray-30;

    .switch-wrapper {
      flex: 1 1 0;
      display: flex;
      justify-content: center;

      .switch {
        @include lib.text-body-sm;
        display: inline-flex;
        gap: lib.$spacing-xs;
        border-radius: lib.$border-radius-lg;
        background-color: lib.$color-light-gray-30;
        padding: lib.$spacing-xs;

        .switch-tab {
          border-radius: lib.$border-radius-lg;
          color: lib.$color-dark-gray-50;
          padding: 0 lib.$spacing-md;
          border: 2px solid transparent;
          font-weight: 500;

          &:not(.is-selected) {
            cursor: pointer;

            &:hover {
              color: lib.$color-blue-50;
            }
          }
          &.is-selected {
            background-color: lib.$color-white;
            color: lib.$color-purple-70;
            box-shadow: lib.$box-shadow-sm;

            &:focus {
              border-color: lib.$color-blue-50;
              color: lib.$color-blue-50;
              outline: none;
            }
          }
        }
      }
    }

    .close-button {
      width: $closeButtonWidth;
      padding: 0;
      background-color: transparent;
      border-style: none;
      cursor: pointer;
    }
  }

  .content {
    padding-bottom: lib.$spacing-sm;
  }

  .footer-controls {
    padding: lib.$spacing-xs lib.$spacing-md;

    .controls-wrapper {
      display: flex;
      align-items: center;
      border-top: 1px solid lib.$color-light-gray-20;
      padding: lib.$spacing-sm 0;

      .start {
        flex: 1 0 0;
      }

      button {
        @include lib.text-body-sm;
        font-weight: 500;
        background-color: transparent;
        border-style: none;
        border-radius: lib.$border-radius-sm;
        color: lib.$color-blue-50;
        padding: lib.$spacing-sm;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
