@use "../../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;

.empty-message {
  display: flex;
  flex-direction: column;
  padding-top: mp.$spacing-lg;
  padding-bottom: mp.$spacing-2xl;
  gap: mp.$spacing-lg;
  align-items: center;
  text-align: center;

  p {
    @include mp.text-body-md;
    max-width: 75%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 mp.$spacing-md;
  max-height: min(mp.$content-md, 50vh);
  overflow-y: auto;

  li {
    padding: mp.$spacing-sm 0;
    border-bottom: 1px solid mp.$color-light-gray-30;

    &:last-child {
      border-bottom-style: none;
    }

    &:focus {
      outline: none;

      &:not(:hover) h3 {
        text-decoration: underline;
      }
    }

    .item {
      display: flex;
      align-items: center;
      gap: mp.$spacing-md;
      border-radius: mp.$border-radius-sm;
      padding: mp.$spacing-xs 0;
      cursor: pointer;

      // Forces news icon to be the same size regardless of image size
      img {
        max-width: 50px;
        max-height: 50px;
      }

      h3 {
        @include mp.text-body-sm;
        font-weight: 500;
      }

      p {
        @include mp.text-body-sm;
      }

      &:hover {
        background-color: mp.$color-violet-05;
        // An item is $hoverOverflow wider than its container when hovered,
        // i.e. the background colour is wider than the separator.
        $hoverOverflow: mp.$spacing-sm;
        margin: 0 (-1 * $hoverOverflow);
        padding: mp.$spacing-xs $hoverOverflow;
      }
    }
  }
}
