# .gitignore
.env
.envrc
*.sqlite3
*.prof
node_modules
env/
__pycache__
web-ext-artifacts/
htmlcov
static/downloads
static/css
static/scss/libs
staticfiles
coverage/
junit.xml
tmp/

# frontend/.gitignore
frontend/public/mockServiceWorker.js
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/.next/
# Needed by Docker
# frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vercel

# frontend/.husky/_/.gitignore
frontend/.husky

# Other
**/.DS_store
**/__pycache__
.buildpacks
.coverage
.git
.pytest_cache
extension
