.env
.envrc
*.sqlite3
*.prof
node_modules
env/
__pycache__
web-ext-artifacts/
htmlcov
staticfiles
coverage/
junit.xml
/test-results/
/playwright-report/
/playwright/.cache/
e2e-tests/specs/*-snapshots/*-darwin.png
state.json
har/
allure-results/
allure-report/
gcp_key.json
version.json
docs/api_schema.yaml
docs/api_docs.html

.claude/settings.local.json
