.env
.envrc
*.sqlite3
*.prof
node_modules
env/
__pycache__
web-ext-artifacts/
htmlcov
staticfiles
coverage/
junit.xml
/test-results/
/playwright-report/
/playwright/.cache/
state.json
har/
allure-results/
