[tool.mypy]
plugins = ["mypy_django_plugin.main"]
mypy_path = "$MYPY_CONFIG_FILE_DIR/mypy_stubs"
exclude = "env"
python_version = "3.10"
show_error_codes = true
strict = true

# Disable these strict checks
# Order is the recommended enabling order, from highest to lowest priority,
# from mypy doc "Using mypy with an existing codebase"
disallow_subclassing_any = false
disallow_any_generics = false
disallow_untyped_calls = false
disallow_incomplete_defs = false
disallow_untyped_defs = false
no_implicit_reexport = false

[tool.django-stubs]
django_settings_module = "privaterelay.settings"

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
    "allauth.account.*",
    "allauth.core.*",
    "allauth.socialaccount.*",
    "boto3",
    "botocore.config",
    "botocore.exceptions",
    "codetiming",
    "debug_toolbar",
    "dj_database_url",
    "django_filters",
    "django_ftl",
    "django_ftl.bundles",
    "google_measurement_protocol",
    "googlecloudprofiler",
    "jwcrypto",
    "jwcrypto.jwe",
    "jwcrypto.jwk",
    "markus",
    "markus.main",
    "markus.testing",
    "markus.utils",
    "oauthlib.oauth2.rfc6749.errors",
    "requests_oauthlib",
    "twilio.base.instance_resource",
    "twilio.base.exceptions",
    "twilio.rest",
    "twilio.request_validator",
    "vobject",
    "waffle",
    "waffle.models",
    "waffle.testutils",
    "whitenoise.middleware",
    "whitenoise.storage",
]

[[tool.mypy.overrides]]
# Optional modules or in-progress features
ignore_missing_imports = true
module = [
    "silk",
]

[[tool.mypy.overrides]]
# MPP-3698: Enumerate files where we still need this setting
check_untyped_defs = false
module = [
    "api.authentication",
    "api.serializers",
    "api.tests.authentication_tests",
    "api.tests.phones_views_tests",
    "api.tests.views_tests",
    "api.views",
    "api.views.phones",
    "emails.apps",
    "emails.management.command_from_django_settings",
    "emails.management.commands.check_health",
    "emails.management.commands.process_emails_from_sqs",
    "emails.policy",
    "emails.templatetags.email_extras",
    "emails.tests.mgmt_process_emails_from_sqs_tests",
    "emails.tests.models_tests",
    "emails.tests.views_tests",
    "emails.utils",
    "phones.models",
    "phones.tests.models_tests",
    "privaterelay.tests.fxa_utils_tests",
    "privaterelay.tests.mgmt_sync_phone_related_dates_on_profile_tests",
    "privaterelay.tests.mgmt_update_phone_remaining_stats_tests",
    "privaterelay.tests.views_tests",
]
