Django==2.2.10
django-allauth==0.39.1
django-csp==3.5
django-heroku==0.3.1
django-referrer-policy==1.0
django-statsd==2.5.1
dockerflow==2019.10.0
gunicorn==19.9.0
python-decouple==3.1
sentry-sdk==0.14.3
socketlabs-injectionapi==1.0.1

# phonenumbers==8.11.1
# twilio==6.35.1
