@use "~@mozilla-protocol/core/protocol/css/includes/lib" as lib2;
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib";
@use "../styles/tokens";

.banner {
  border-radius: lib2.$border-radius-md;
  padding: lib2.$spacing-md;
  background-color: tokens.$color-white;
  position: relative;
  box-shadow: lib2.$box-shadow-sm;

  &.promo {
    // This is the gradient border width (which is implemented as a background image):
    padding: 2px;
    box-shadow: none;
    background-image: tokens.$firefoxGradient;
  }

  &.warning {
    padding: lib2.$spacing-sm;
  }

  &.info {
    @include lib2.text-body-sm;

    @media screen and #{lib2.$mq-sm} {
      padding: 0 lib2.$spacing-sm;
    }
  }

  .dismiss-button {
    position: absolute;
    top: lib2.$spacing-sm;
    right: lib2.$spacing-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-style: none;
    border-radius: lib2.$border-radius-sm;
    cursor: pointer;
    padding: 0;

    &:hover {
      background-color: tokens.$color-blue-50;
      color: tokens.$color-white;
    }
  }
}

.highlight-wrapper {
  display: flex;
  background-color: tokens.$color-white;
  flex-wrap: wrap;

  .banner.promo & {
    // .banner's border-radius - .banner's padding.
    // This is what makes .banner.promo appear as a 2px-wide border:
    border-radius: calc(lib2.$border-radius-md - 2px);
  }

  .title-and-large-cta-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 lib2.$content-xs;
    padding: lib2.$spacing-xs lib2.$spacing-md lib2.$spacing-md lib2.$spacing-md;

    .title-text {
      flex: 1 1 auto;

      .banner.warning & {
        @media screen and #{lib2.$mq-sm} {
          padding-left: lib2.$spacing-md;
          border-left-width: 4px;
          border-left-style: solid;
          border-color: tokens.$color-yellow-50;
        }
      }
    }

    @media screen and #{lib2.$mq-sm} {
      padding: lib2.$spacing-md;
    }
    @media screen and #{lib2.$mq-lg} {
      flex-wrap: nowrap;
    }
  }

  .info-icon {
    align-self: center;
    color: tokens.$color-violet-30;
  }
}

.illustration {
  display: flex;
  align-items: center;
  padding: lib2.$spacing-md lib2.$spacing-md 0 lib2.$spacing-md;

  @media screen and #{lib2.$mq-md} {
    padding: 0 lib2.$spacing-md 0 lib2.$spacing-xl;
  }

  img {
    max-width: 100px;
  }
}

// For Banners in PremiumPromoBanners.tsx
.flex-end {
  border-bottom: 1px solid lib2.$color-light-gray-20;
  align-items: center;
  margin: 0 lib2.$spacing-md;
  padding-top: lib2.$spacing-sm;
  width: 100%;

  @media screen and #{lib2.$mq-sm} {
    border-bottom: none;
    padding: none;
    width: auto;
    margin: 0;
  }
  @media screen and #{lib2.$mq-lg} {
    align-items: flex-end;
  }

  img {
    width: 90px;
    margin: 0 auto;

    @media screen and #{lib2.$mq-sm} {
      margin: 0;
    }
  }
}

.title {
  @include lib2.text-title-3xs;
  font-family: lib2.$font-stack-firefox;
  display: flex;
  align-items: center;
  padding: lib2.$spacing-sm 0 lib2.$spacing-md 0;

  .banner.info & {
    @include lib2.text-body-sm;
    font-family: lib2.$font-stack-base;
    font-weight: 600;
  }

  .icon {
    flex: 0 0 auto;
    margin-right: lib2.$spacing-sm;

    .warning & {
      color: tokens.$color-yellow-50;
    }

    .info & {
      color: tokens.$color-violet-30;
      margin-right: lib2.$spacing-xs;
    }
  }
}

.cta {
  a,
  button {
    display: inline-block;
    padding-top: lib2.$spacing-md;
    font-weight: 700;
    color: tokens.$color-blue-50;
    cursor: pointer;
    background: none;
    border: none;

    .banner.info & {
      font-weight: 500;
      text-decoration: underline;
      padding: lib2.$spacing-sm 0 0 0;
    }

    &:hover {
      color: tokens.$color-blue-40;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }
}

.cta-large-button {
  padding-top: lib2.$spacing-md;
  flex: 0 0 auto;
  align-self: center;

  @media screen and #{lib2.$mq-md} {
    align-self: center;
    margin: 0 0 0 auto;
    padding: lib2.$spacing-md;
  }

  a {
    display: block;
    padding: lib2.$spacing-sm lib2.$spacing-md;
    font-weight: 700;
    border: 2px solid tokens.$color-blue-50;
    color: tokens.$color-blue-50;
    border-radius: lib2.$border-radius-sm;

    &:hover {
      background-color: tokens.$color-blue-60;
      color: tokens.$color-white;
    }

    &:focus {
      border-color: lib.$button-border-color-focus;
      box-shadow: lib.$field-focus-ring;
      outline: none;
    }
  }
}
