@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib" as forms_lib;
@use "../styles/tokens";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: lib.$spacing-xs;
  cursor: pointer;
  background-color: lib.$color-blue-50;
  padding: lib.$spacing-sm lib.$spacing-md;
  border-radius: lib.$border-radius-sm;
  border: 2px solid transparent;
  color: lib.$color-white;
  font-weight: 700;
  line-height: 1.25;

  @include lib.text-body-md;

  &:hover:not(:disabled) {
    background-color: lib.$color-blue-60;
    opacity: 1;
  }

  &:focus {
    border-color: forms_lib.$button-border-color-focus;
    box-shadow: forms_lib.$field-focus-ring;
    color: lib.$color-white;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: lib.$color-light-gray-80;
  }

  &.is-destructive {
    background-color: lib.$color-red-60;

    &:disabled {
      background-color: lib.$color-red-10;
    }

    &:hover:not(:disabled) {
      background-color: lib.$color-red-70;
      opacity: 1;
    }
  }

  &.is-secondary {
    background-color: transparent;
    border: none;
    color: lib.$color-blue-50;

    &:disabled {
      opacity: 0.4;
    }

    &:active {
      color: lib.$color-blue-70;
    }

    &:hover:not(:disabled) {
      background-color: transparent;
      color: lib.$color-blue-60;
    }
  }
}
