@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib" as mp_forms;
@use "../styles/tokens";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: mp.$spacing-xs;
  cursor: pointer;
  background-color: mp.$color-blue-50;
  padding: mp.$spacing-sm mp.$spacing-md;
  border-radius: mp.$border-radius-sm;
  border: 2px solid transparent;
  color: mp.$color-white;
  font-weight: 700;
  line-height: 1.25;

  @include mp.text-body-md;

  &:hover:not(:disabled) {
    background-color: mp.$color-blue-60;
    opacity: 1;
  }

  &:focus {
    border-color: mp_forms.$button-border-color-focus;
    box-shadow: mp_forms.$field-focus-ring;
    color: mp.$color-white;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: mp.$color-light-gray-80;
  }

  &.is-destructive {
    background-color: mp.$color-red-60;

    &:disabled {
      background-color: mp.$color-red-10;
    }

    &:hover:not(:disabled) {
      background-color: mp.$color-red-70;
      opacity: 1;
    }
  }

  &.is-secondary {
    background-color: transparent;
    border: none;
    color: mp.$color-blue-50;

    &:disabled {
      opacity: 0.4;
    }

    &:active {
      color: mp.$color-blue-70;
    }

    &:hover:not(:disabled) {
      background-color: transparent;
      color: mp.$color-blue-60;
    }
  }
}
