@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "../styles/tokens.scss";

.countdown-timer {
  dl {
    display: flex;
    gap: $spacing-sm;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-xs;
      width: 60px;
      background-color: $color-purple-90;
      border: 2px solid $color-white;
      border-radius: $border-radius-md;
      color: $color-white;
      box-shadow: $box-shadow-sm;
      padding: $spacing-sm;
      font-family: $font-stack-firefox;

      dt {
        @include text-body-md;
        font-weight: 600;
      }

      dd {
        @include text-title-sm;
        font-weight: 700;
      }

      @media (prefers-reduced-motion) {
        &.remaining-seconds {
          display: none;
        }
      }
    }
  }
}
