@use "../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;

.underlay {
  align-items: center;
  background-color: rgba(mp.$color-black, 0.4);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  .dialog-wrapper {
    background: mp.$color-white;
    border-radius: mp.$border-radius-md;
    box-shadow: mp.$box-shadow-sm;
    max-width: 90%;
    position: relative;
    width: calc((#{mp.$content-sm} + #{mp.$content-md}) / 2); // 560px

    .dismiss-button {
      align-items: center;
      background-color: transparent;
      border-radius: mp.$border-radius-sm;
      border-style: none;
      cursor: pointer;
      display: flex;
      height: 30px;
      justify-content: center;
      position: absolute;
      right: mp.$spacing-sm;
      top: mp.$spacing-sm;
      width: 30px;
      padding: 0;

      &:hover {
        background-color: mp.$color-blue-50;
        color: mp.$color-white;
      }
    }

    .dialog-container {
      padding: mp.$spacing-md;

      @media screen and #{mp.$mq-md} {
        padding: mp.$spacing-lg mp.$spacing-xl;
      }

      .hero {
        padding: mp.$spacing-sm 0;
        text-align: start;
        width: 90%; // Shorter width to make room for the close button on mobile

        @media screen and #{mp.$mq-md} {
          width: 100%;
        }

        .headline {
          @include mp.text-title-3xs;
          font-family: mp.$font-stack-firefox;
          font-weight: 700;
        }
      }

      .modal-body {
        @include mp.text-body-sm;
      }
    }
  }
}
