@import "./fonts/inter-ui.scss";
@import "./fonts/metropolis.scss";
@import "./fonts/zilla-slab.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/tokens/dist/index.scss";
@import "~@mozilla-protocol/core/protocol/css/base/elements/reset";

a {
  color: inherit;
  text-decoration: none;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body,
#__next,
#overlayProvider {
  height: 100%;
  font-family: $font-stack-base;
  // In <Layout> all content is wrapped in a `.non-header-wrapper` that has its
  // own `overflow` applied, to allow the header and mobile menu to remain fixed
  // in place. However, in Blink- and WebKit-based browsers, this resulted in
  // empty space at the bottom of the page, below the footer.
  // Since the user can scroll in `.non-header-wrapper`, everything outside that
  // that still overflows these elements can safely be hidden:
  // overflow: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: $layout-xl;
  font-family: $font-stack-base;
  height: auto;

  @media #{$mq-sm} {
    // In <Layout> all content is wrapped in a `.non-header-wrapper` that has its
    // own `overflow` applied, to allow the header and mobile menu to remain fixed
    // in place. However, in Blink- and WebKit-based browsers, this resulted in
    // empty space at the bottom of the page, below the footer.
    // Hence, a height of 100% is applied to the html document
    height: 100%;
  }

  @media (prefers-reduced-motion) {
    & {
      scroll-behavior: auto;
    }
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// Styles in the `add-on-overrides` layer (which the add-on injects)
// should override those in the `add-on-overridable` layer.
@layer add-on-overridable, add-on-overrides;
@layer add-on-overridable {
  .is-visible-with-addon {
    // This class hides an element anything in the regular website;
    // however, the add-on injects a stylesheet that reveals elements with this class.
    display: none;
    visibility: collapse;
  }

  .is-hidden-with-addon {
    // This class doesn't do anything in the regular website;
    // however, the add-on injects a stylesheet that hides elements with this class.
  }
}
