@import "./fonts/inter-ui.scss";
@import "./fonts/metropolis.scss";
@import "./fonts/zilla-slab.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/tokens/dist/index.scss";
@import "~@mozilla-protocol/core/protocol/css/base/elements/reset";

a {
  color: inherit;
  text-decoration: none;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#__next,
#overlayProvider {
  height: 100%;
  font-family: $font-stack-base;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: $layout-xl;

  @media (prefers-reduced-motion) {
    & {
      scroll-behavior: auto;
    }
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.is-visible-with-addon {
  // This class hides an element anything in the regular website;
  // however, the add-on injects a stylesheet that reveals elements with this class.
  display: none;
  visibility: collapse;
}

.is-hidden-with-addon {
  // This class doesn't do anything in the regular website;
  // however, the add-on injects a stylesheet that hides elements with this class.
}
