@import "../../styles/tokens.scss";

.site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: $spacing-sm $spacing-md;
  gap: $spacing-lg;
}

.link {
  display: inline;
  text-align: center;
  font-family: $font-stack-firefox;
  border: 2px solid transparent;

  &.is-active::after {
    width: 100%;
    height: 2px;
    display: block;
    content: "";
    background: $firefoxGradient;
    margin-bottom: -1 * (2px + $spacing-xs);
    margin-top: $spacing-xs;
  }

  &.sign-in-button {
    // We're using CSS's `currentColor` here because the colour
    // is different in the light (Premium) and dark (regular) themes:
    border-color: currentColor;
    border-radius: $border-radius-sm;
    padding: $spacing-sm;

    &:focus {
      color: $color-blue-30;
    }
  }
}
