@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";

.wrapper {
  position: relative;
  padding-bottom: calc(lib.$spacing-md * 2 + 2rem);
  flex: 1 0 0;

  .card {
    position: fixed;
    right: lib.$spacing-md;
    bottom: lib.$spacing-md;
    display: flex;
    flex-direction: column;

    .card-header {
      background-color: lib.$color-blue-90;
      padding: lib.$spacing-md;
      border-top-right-radius: lib.$border-radius-sm;
      border-top-left-radius: lib.$border-radius-sm;
    }

    .card-content {
      padding: lib.$spacing-lg;
      display: flex;
      flex-direction: column;
      gap: lib.$spacing-sm;
    }

    .card-cta {
      margin-top: lib.$spacing-md;
    }

    .card-title {
      color: lib.$color-blue-90;

      @include lib.text-title-3xs;
      font-family: lib.$font-stack-firefox;
      font-weight: 600;
      word-wrap: break-word;
    }

    .card-description {
      color: lib.$color-blue-90;

      @include lib.text-body-md;
      font-family: lib.$font-stack-firefox;
      font-weight: 400;
      word-wrap: break-word;
    }

    .close-button {
      background-color: transparent;
      border-style: none;
      border-radius: lib.$border-radius-sm;
      padding: 0;
      cursor: pointer;
      color: lib.$color-white;
      float: right;

      &:hover {
        color: lib.$color-blue-50;
      }
    }
  }

  // .card stay fixed in the bottom right-hand corner,
  // until the user has scrolled down enough to move .wrapper in view (which is
  // located just above the footer), as which point they start scrolling up
  // again so as not to overlap the footer.
  &.is-in-view {
    .card {
      position: absolute;
    }
  }
}

.card {
  border-radius: lib.$border-radius-md;
  box-shadow: lib.$box-shadow-sm;
  background-color: lib.$color-white;
  width: lib.$content-sm;
  max-width: calc(100% - lib.$spacing-xl);
}
