@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;

.wrapper {
  position: relative;
  padding-bottom: calc(mp.$spacing-md * 2 + 2rem);
  flex: 1 0 0;

  .card {
    position: fixed;
    right: mp.$spacing-md;
    bottom: mp.$spacing-md;
    display: flex;
    flex-direction: column;

    .card-header {
      background-color: mp.$color-blue-90;
      padding: mp.$spacing-md;
      border-top-right-radius: mp.$border-radius-sm;
      border-top-left-radius: mp.$border-radius-sm;
    }

    .card-content {
      padding: mp.$spacing-lg;
      display: flex;
      flex-direction: column;
      gap: mp.$spacing-sm;
    }

    .card-cta {
      margin-top: mp.$spacing-md;
    }

    .card-title {
      color: mp.$color-blue-90;

      @include mp.text-title-3xs;
      font-family: mp.$font-stack-firefox;
      font-weight: 600;
      word-wrap: break-word;
    }

    .card-description {
      color: mp.$color-blue-90;

      @include mp.text-body-md;
      font-family: mp.$font-stack-firefox;
      font-weight: 400;
      word-wrap: break-word;
    }

    .close-button {
      background-color: transparent;
      border-style: none;
      border-radius: mp.$border-radius-sm;
      padding: 0;
      cursor: pointer;
      color: mp.$color-white;
      float: right;

      &:hover {
        color: mp.$color-blue-50;
      }
    }
  }

  // .card stay fixed in the bottom right-hand corner,
  // until the user has scrolled down enough to move .wrapper in view (which is
  // located just above the footer), as which point they start scrolling up
  // again so as not to overlap the footer.
  &.is-in-view {
    .card {
      position: absolute;
    }
  }
}

.card {
  border-radius: mp.$border-radius-md;
  box-shadow: mp.$box-shadow-sm;
  background-color: mp.$color-white;
  width: mp.$content-sm;
  max-width: calc(100% - mp.$spacing-xl);
}
