@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../../styles/typography" as styles-typography;

.underlay {
  position: fixed;
  background-color: rgba(lib.$color-black, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog-wrapper {
    background: lib.$color-light-gray-10;
    width: calc(100% - lib.$spacing-2xl);
    border-radius: lib.$border-radius-md;
    box-shadow: lib.$box-shadow-sm;
    padding: lib.$spacing-md;

    @media screen and (lib.$mq-md) {
      width: lib.$content-md;
    }

    .close-icon {
      float: right;
      position: relative;
    }

    .hero {
      display: flex;
      flex-direction: column;
      gap: lib.$spacing-lg;
      font-family: lib.$font-stack-firefox;
      font-weight: 400;
      text-align: center;
      border-radius: lib.$border-radius-md;
      background-color: lib.$color-light-gray-10;
      padding: lib.$spacing-lg lib.$spacing-md;
      clear: right;

      img {
        margin: 0 auto;
      }
    }
  }
}

.paste-email-mask-container {
  width: 100%;
  margin: 0 auto;

  .modal-title {
    text-align: left;
    margin-bottom: lib.$spacing-sm;
  }

  .modal-title-success {
    text-align: center;
    margin-bottom: lib.$spacing-sm;
    font-weight: 400;
  }
}

.headline {
  @include styles-typography.text-title-xs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: lib.$spacing-sm 0;
    gap: lib.$spacing-sm;
    font-weight: 100;
  }
}

.modal-title {
  font-weight: 600;

  @include lib.text-body-md;
  color: tokens.$color-grey-50;
}

.nevermind-link {
  background-color: transparent;
  border-style: none;
  color: lib.$color-blue-50;
  border-radius: lib.$border-radius-sm;

  &:hover {
    color: lib.$color-blue-70;
    text-decoration: underline;
    cursor: pointer;
  }
}

.label-input {
  font-family: lib.$font-stack-firefox;
  border: 1px solid tokens.$color-grey-30;
  border-radius: lib.$border-radius-sm;
  font-weight: 100;
  padding: lib.$spacing-sm lib.$spacing-md;

  // Inputs should be atleast 16px if we want to avoid iOS auto-zooming (MPP-3598)
  @include lib.text-body-md;
  color: tokens.$color-grey-40;
  width: 100%;
}

.close-icon {
  cursor: pointer;
}
