@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../../styles/typography" as styles-typography;

.wrapper {
  padding: lib.$spacing-lg;
  border-radius: lib.$border-radius-md;
  border: 1px solid lib.$color-light-gray-40;

  h2 {
    @include styles-typography.text-title-2xs {
      @include lib.font-firefox;
      padding: lib.$spacing-sm 0;
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: lib.$spacing-lg;
    list-style-type: none;
    margin: 0;
    padding: lib.$spacing-lg 0;
    counter-reset: step-counter;

    @media screen and #{lib.$mq-md} {
      flex-direction: row;
    }

    .step {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: lib.$spacing-xl;
      background-color: lib.$color-white;
      border-radius: lib.$border-radius-md;
      padding: lib.$spacing-lg;
      counter-increment: step-counter;

      &::before {
        content: counter(step-counter);
        background-image: url("./images/shield.svg");
        background-position: center;
        background-repeat: no-repeat;
        line-height: 45px;
        height: 45px;
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: lib.$color-light-gray-70;
      }

      p,
      .footer {
        flex: 1 0 auto;
      }
    }
  }
}
