@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as *;

.profile-banners {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.bundle-logo {
  min-width: 120px;
}
