@use "../../styles/tokens";
@use "../../../../node_modules/@mozilla-protocol/core/protocol/css/includes/tokens/dist";

.profile-banners {
  display: flex;
  flex-direction: column;
  gap: dist.$spacing-xl;
}

.bundle-logo {
  min-width: 120px;
}
