@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "~@mozilla-protocol/core/protocol/css/includes/forms/lib";

.card {
  border-radius: $border-radius-md;
  padding: $spacing-lg;
  box-shadow: $box-shadow-sm;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid transparent;

  &:target {
    border-color: $color-blue-50;
  }

  @media screen  and #{$mq-md} {
    flex-direction: row;

    .description,
    .search {
      width: 50%;
    }
  }

  a {
    @include text-body-sm;
    color: $color-blue-50;

    &:hover,
    &:focus {
      color: $color-blue-60;
    }
  }

  .description {
    max-width: 100%;
    min-width: $content-xs;
    border-color: $color-light-gray-30;
    border-width: 1px;
    border-bottom-style: solid;
    margin-bottom: $spacing-md;
    padding-bottom: $spacing-md;

    @media screen and #{$mq-md} {
      border-bottom-style: none;
      margin-bottom: 0;
      padding-bottom: 0;
      border-right-style: solid;
      margin-right: $spacing-lg;
      padding-right: $spacing-lg;
      align-self: start;
    }

    .action-step {
      @include text-body-sm;
      color: $color-violet-50;
      margin-top: 0;
      margin-bottom: $spacing-md;
    }

    h2 {
      @include text-title-2xs;
      padding: $spacing-sm 0;
    }

    .lead {
      @include text-body-sm;
      padding: $spacing-md 0;
      color: $color-grey-50;
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .input-wrapper {
      width: 100%;

      @media screen and #{$mq-md} {
        max-width: $content-sm;
      }
    }

    .example {
      @include font-firefox;
      @include text-title-3xs;
      color: $color-light-gray-90;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      text-align: center;
      margin: $spacing-md 0;
      width: 100%;

      .subdomain-part {
        color: $color-violet-50;
        font-weight: 700;
      }
    }

    @media screen and #{$mq-md} {
      width: 50%;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media screen and #{$mq-md} {
        flex-direction: row;
        justify-content: space-between;
      }

      input {
        @include form-input;
        flex-grow: 2;
        margin: 0;
        margin-bottom: $spacing-md;
        width: 100%;

        @media screen and #{ $mq-md } {
          margin: 0;
          margin-right: $spacing-md;
        }
      }

      button {
        text-align: center;
      }
    }

    .illustration {
      margin-top: $spacing-lg;
    }
  }
}
