@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib" as mp_forms;
@use "../../styles/typography" as styles-typography;

.card {
  border-radius: mp.$border-radius-md;
  padding: mp.$spacing-lg;
  box-shadow: mp.$box-shadow-sm;
  background-color: mp.$color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid transparent;

  &:target {
    border-color: mp.$color-blue-50;
  }

  @media screen  and #{mp.$mq-md} {
    flex-direction: row;

    .description,
    .search {
      width: 50%;
    }
  }

  a {
    @include mp.text-body-sm;
    color: mp.$color-blue-50;

    &:hover,
    &:focus {
      color: mp.$color-blue-60;
    }
  }

  .description {
    max-width: 100%;
    min-width: mp.$content-xs;
    border-color: mp.$color-light-gray-30;
    border-width: 1px;
    border-bottom-style: solid;
    margin-bottom: mp.$spacing-md;
    padding-bottom: mp.$spacing-md;

    @media screen and #{mp.$mq-md} {
      border-bottom-style: none;
      margin-bottom: 0;
      padding-bottom: 0;
      border-right-style: solid;
      margin-right: mp.$spacing-lg;
      padding-right: mp.$spacing-lg;
      align-self: start;
    }

    .action-step {
      @include mp.text-body-sm;
      color: mp.$color-violet-50;
      margin-top: 0;
      margin-bottom: mp.$spacing-md;
    }

    h2 {
      @include styles-typography.text-title-2xs {
        padding: mp.$spacing-sm 0;
      }
    }

    .lead {
      @include mp.text-body-sm;
      padding: mp.$spacing-md 0;
      color: tokens.$color-grey-50;
      display: flex;
      flex-direction: column;
      gap: mp.$spacing-md;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .input-wrapper {
      width: 100%;

      @media screen and #{mp.$mq-md} {
        max-width: mp.$content-sm;
      }
    }

    .example {
      @include mp.font-firefox;
      @include mp.text-title-3xs;
      color: mp.$color-light-gray-90;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      text-align: center;
      margin: mp.$spacing-md 0;
      width: 100%;

      .subdomain-part {
        color: mp.$color-violet-50;
        font-weight: 700;
      }
    }

    @media screen and #{mp.$mq-md} {
      width: 50%;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media screen and #{mp.$mq-md} {
        flex-direction: row;
        justify-content: space-between;
      }

      input {
        @include mp_forms.form-input;
        flex-grow: 2;
        margin: 0;
        margin-bottom: mp.$spacing-md;
        width: 100%;

        @media screen and #{ mp.$mq-md } {
          margin: 0;
          margin-right: mp.$spacing-md;
        }
      }

      button {
        text-align: center;
      }
    }

    .illustration {
      margin-top: mp.$spacing-lg;
    }
  }
}
