{% load static %}
{% load ftl %}
{% ftlconf mode='server' bundle='privaterelay.ftl_bundles.main' %}
<!-- blocked emails -->
<div class="column-blocked relay-stat">
  <span class="email-value relay-stat-value num-blocked">{{ alias.num_blocked }}</span>
  <span class="relay-email-label card-small-text">{% ftlmsg 'profile-label-blocked' %}</span>
  <span class="blocked-description stat-description">{% ftlmsg 'profile-blocked-copy' %}</span>
</div>
<!-- forwarded emails -->
<div class="column-forwarded relay-stat">
  <span class="email-value relay-stat-value num-forwarded">{{ alias.num_forwarded }}</span>
  <span class="relay-email-label card-small-text">{% ftlmsg 'profile-label-forwarded' %}</span>
  <span class="forwarding-description stat-description">
    {% ftlmsg 'profile-forwarded-copy' %}
    <p>
      <strong>{% ftlmsg 'profile-forwarded-note' %}</strong> {% ftlmsg 'profile-forwarded-note-copy' size='25' unit='MB' %}
    </p>
  </span>
</div>
