{% load relay_tags %}

    {% if last_bounce_type %}
<div class="dashboard-banners flx hide-750">
  <div class="banner-gradient-bg">
    <div class="bounced-email-banner banner-content flx flx-row">
      <div class="banner-copy flx flx-col">
        <p class="banner-hl ff-Met">Relay couldn't deliver your email.</p>
        <p class="banner-sub">We are currently unable to send email to {{ request.user.email }}. We received a <em>{{ last_bounce_type }}</em> "bounce" from your email provider when trying to forward emails to you. This can happen if Relay couldn't connect to your email provider, or if your mailbox was full. We will try again on {{ next_email_try|date:"SHORT_DATETIME_FORMAT" }}</p>
      </div>
    </div>
  </div>
</div>
    {% else %}
<div class="dashboard-banners invisible hide-750">
  <div class="flx">
    <div class="banner-gradient-bg">
      <div class="download-fx-banner banner-content flx flx-row hidden">
        <div class="banner-fx-logo banner-logo"></div>
        <div class="banner-copy flx flx-col">
          <p class="banner-hl ff-Met">Relay is even better in Firefox</p>
          <p class="banner-sub">The Relay extension for Firefox Browser makes creating aliases even easier.</p>
          <a class="banner-link ff-Met" href="https://www.mozilla.org/firefox/new/?utm_source=fx-relay&utm_medium=banner&utm_campaign=download-fx" target="_blank" rel="noopener noreferrer">Get Firefox</a>
        </div>
      </div>
      <div class="install-addon-banner banner-content flx flx-row hidden">
        <div class="banner-relay-logo banner-logo"></div>
        <div class="banner-copy flx flx-col">
          <p class="banner-hl ff-Met">Looks like you haven't installed the add-on... yet!</p>
          <p class="banner-sub">The Relay extension for Firefox Browser makes creating aliases even easier.</p>
          <a class="banner-link ff-Met" href="https://addons.mozilla.org/firefox/addon/private-relay/?utm_source=fx-relay&utm_medium=banner&utm_campaign=install-addon" target="_blank" rel="noopener noreferrer">Get the add-on for Firefox</a>
        </div>
      </div>
    </div>
  </div>
    {% if settings.PREMIUM_ENABLED %}
    {% with request.user.profile_set.first as user_profile %}
    {% if not user_profile.has_unlimited %}
  <div class="flx">
    <div class="banner-gradient-bg">
      <div class="go-premium-banner banner-content flx flx-row">
        <div class="banner-relay-logo banner-logo"></div>
        <div class="banner-copy flx flx-col">
          <p class="banner-hl ff-Met">Go premium for more features.</p>
          <p class="banner-sub">With Relay Premium, you get unlimited email addresses and your own email domain.</p>
          <a class="banner-link ff-Met"
            href="https://accounts.stage.mozaws.net/subscriptions/products/{{ settings.PREMIUM_PROD_ID }}?plan={{ settings.PREMIUM_PRICE_ID }}"
            target="_blank" rel="noopener noreferrer">Buy Premium</a>
        </div>
      </div>
    </div>
  </div>
</div>
  {% elif not user_profile.subdomain %}
  <div class="banner-gradient-bg">
    <div class="choose-subdomain-banner banner-content flx flx-row">
      <div class="banner-relay-logo banner-logo"></div>
      <div class="banner-copy flx flx-col">
        <p class="banner-hl ff-Met">Choose your own domain</p>
        <p class="banner-sub">You can choose your own domain for "wildcard" aliases. NOTE: YOU CANNOT CHANGE THIS LATER!</p>
        <form method="post" action="{% url 'profile_subdomain' %}">
          {% csrf_token %}
          <input type="text" name="subdomain">
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
    {% else %}
  <div class="banner-gradient-bg">
    <div class="show-subdomain-banner banner-content flx flx-row">
      <div class="banner-relay-logo banner-logo"></div>
      <div class="banner-copy flx flx-col">
        <p class="banner-hl ff-Met">Your domain is:</p>
        <p class="banner-sub">{{ user_profile.subdomain }}</p>
        <p>You can make up any address @{% user_email_domain user_profile %}</p>
      </div>
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {% endif %}
</div>
  {% endif %}
