    {% if last_bounce_type %}
<div class="dashboard-banners flx hide-750">
  <div class="banner-gradient-bg">
    <div class="bounced-email-banner banner-content flx flx-row">
      <div class="banner-copy flx flx-col">
        <p class="banner-hl ff-Met">Relay couldn't deliver your email.</p>
        <p class="banner-sub">We are currently unable to send email to {{ request.user.email }}. We received a <em>{{ last_bounce_type }}</em> "bounce" from your email provider when trying to forward emails to you. This can happen if Relay couldn't connect to your email provider, or if your mailbox was full. We will try again on {{ next_email_try|date:"SHORT_DATETIME_FORMAT" }}</p>
      </div>
    </div>
  </div>
</div>
    {% else %}
<div class="dashboard-banners flx invisible hide-750">
  <div class="banner-gradient-bg">
    <div class="download-fx-banner banner-content flx flx-row hidden">
      <div class="banner-fx-logo banner-logo"></div>
      <div class="banner-copy flx flx-col">
        <p class="banner-hl ff-Met">Relay is even better in Firefox</p>
        <p class="banner-sub">The Relay extension for Firefox Browser makes creating aliases even easier.</p>
        <a class="banner-link ff-Met" href="https://www.mozilla.org/firefox/new/?utm_source=fx-relay&utm_medium=banner&utm_campaign=download-fx"" target="_blank" rel="noopener noreferrer">Get Firefox</a>
      </div>
    </div>
    <div class="install-addon-banner banner-content flx flx-row hidden">
      <div class="banner-relay-logo banner-logo"></div>
      <div class="banner-copy flx flx-col">
        <p class="banner-hl ff-Met">Looks like you haven't installed the add-on... yet!</p>
        <p class="banner-sub">The Relay extension for Firefox Browser makes creating aliases even easier.</p>
        <a class="banner-link ff-Met" href="https://addons.mozilla.org/firefox/addon/private-relay/?utm_source=fx-relay&utm_medium=banner&utm_campaign=install-addon" target="_blank" rel="noopener noreferrer">Get the add-on for Firefox</a>
      </div>
    </div>
  </div>
</div>
    {% endif %}
