{% load static %}
{% load relay_tags %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% if settings.DOMAIN_REGISTRATION_MODAL %}
  {% block javascript %}
    <script src="{% static 'js/domain-registration.js' %}"></script>
  {% endblock %}
{% endif %}

{% if last_bounce_type %}
  <div class="dashboard-banners flx hide-750">
    <div class="banner-gradient-bg">
      <div class="bounced-email-banner banner-content flx flx-row">
        <div class="banner-copy flx flx-col">
          <p class="banner-hl ff-Met">{% ftlmsg 'banner-bounced-headline' %}</p>
          <p class="banner-sub">{% ftlmsg 'banner-bounced-copy' username=request.user.email bounce_type=last_bounce_type date=next_email_try|date:"SHORT_DATETIME_FORMAT" %}</p>
        </div>
      </div>
    </div>
  </div>
{% elif show_data_notification_banner %}
  <div class="c-notification-banner c-data-notification-banner t-warning js-notification">
    <div class="dismiss-wrapper">
      <button class="notification-dismiss js-dismiss"><img src="{% static 'images/x-close.svg' %}"></button>
    </div>
    <div class="notification-banner-bg">
      <div class="notification-banner-content">
        <div class="notification-banner-copy">
          <p class="notification-banner-header">{% ftlmsg 'banner-label-data-notification-header' %}</p>
          <p class="notification-banner-sub">{% ftlmsg 'banner-label-data-notification-body' %}</p>
          <a class="notification-banner-link" href="#" rel="noopener noreferrer">{% ftlmsg 'banner-label-data-notification-cta' %}</a>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="dashboard-banners invisible">
    <div class="flx hide-750">
      <div class="banner-gradient-bg addon">
        <div class="download-fx-banner banner-content flx flx-row hidden">
          <div class="banner-fx-logo banner-logo"></div>
          <div class="banner-copy flx flx-col">
            <p class="banner-hl ff-Met">{% ftlmsg 'banner-download-firefox-headline' %}</p>
            <p class="banner-sub">{% ftlmsg 'banner-download-firefox-copy' %}</p>
            <a class="banner-link ff-Met" href="https://www.mozilla.org/firefox/new/?utm_source=fx-relay&utm_medium=banner&utm_campaign=download-fx" target="_blank" rel="noopener noreferrer">{% ftlmsg 'banner-download-firefox-cta' %}</a>
          </div>
        </div>
        <div class="install-addon-banner banner-content flx flx-row hidden">
          <div class="banner-relay-logo banner-logo"></div>
          <div class="banner-copy flx flx-col">
            <p class="banner-hl ff-Met">{% ftlmsg 'banner-download-install-extension-headline' %}</p>
            <p class="banner-sub">{% ftlmsg 'banner-download-install-extension-copy' %}</p>
            <a class="banner-link ff-Met" href="https://addons.mozilla.org/firefox/addon/private-relay/?utm_source=fx-relay&utm_medium=banner&utm_campaign=install-addon" target="_blank" rel="noopener noreferrer">{% ftlmsg 'banner-download-install-extension-cta' %}</a>
          </div>
        </div>
      </div>
    </div>
        {% with request.user.profile_set.first as user_profile %}
          {% if not user_profile.has_premium %}
            {% if settings.PREMIUM_ENABLED %}
            <div class="flx">
              <div class="banner-gradient-bg">
                <div class="go-premium-banner banner-content flx flx-row">
                  <div class="banner-mpp-logo banner-logo"></div>
                  <div class="banner-copy flx flx-col">
                    <p class="banner-hl ff-Met">{% ftlmsg 'banner-upgrade-headline' %}</p>
                    <p class="banner-sub">{% ftlmsg 'banner-upgrade-copy' %}</p>
                    <a class="banner-link ff-Met" href="{{ settings.FXA_SUBSCRIPTIONS_URL }}/products/{{ settings.PREMIUM_PROD_ID }}?plan={{ settings.PREMIUM_PRICE_ID }}" target="_blank" rel="noopener noreferrer">{% ftlmsg 'banner-upgrade-cta' %}</a>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% elif not user_profile.subdomain %}
            <div class="mpp-choose-subdomain" id="mpp-choose-subdomain">
              <img src="/static/images/choose-subdomain.png" alt="">
              <div class="border"></div>
              <div class="mpp-choose-subdomain-form">
                <h2>{% ftlmsg 'banner-choose-subdomain-headline-aliases' %}</h2>
                <p>{% ftlmsg 'banner-choose-subdomain-copy' %}</p>
                <form id="domainRegistration" method="post" action="{% url 'profile_subdomain' %}">
                    {% csrf_token %}
                    <input
                      class="js-subdomain-value"
                      data-domain="{{ MOZMAIL_DOMAIN }}"
                      required
                      type="text"
                      placeholder="{% ftlmsg 'banner-choose-subdomain-input-placeholder' %}"
                      name="subdomain"
                      minlength="1"
                      maxlength="63"
                    >
                    <input class="btn btn--gray" type="submit" value="{% ftlmsg 'banner-choose-subdomain-submit' %}">
                </form>
                <p class="warning">{% ftlmsg 'banner-choose-subdomain-warning' %}</p>
              </div>
            </div>
          {% endif %}
        {% endwith %}
  </div>
{% endif %}
