
<h2 class="dashboard-onboarding-header"> Three ways to create a relay address</h2>
<ol class="dashboard-onboarding-list">
  <li class="dashboard-onboarding-list-item tip-1 flx flx-col">
    <div class="flx flx-row al-cntr">
      <span class="onboarding-num">1</span>
      <span>Right here - just select the <span class="mimic-create-alias-button">+</span> button in the upper right hand corner.</span>
    </div>
    <img class="onboarding-img img-arrow-up" src="/static/images/dashboard-onboarding/tip1-icon.svg" aria-hidden="true" alt="">
  </li>
  <li class="dashboard-onboarding-list-item tip-2 flx flx-col">
    <div class="flx flx-row al-cntr">
      <span class="onboarding-num">2</span>
      <span>Look for the relay icon in the webpage, when you need it most. Click the icon to generate a relay on the spot.</span>
    </div>
    <img class="onboarding-img img-input-icon" src="/static/images/dashboard-onboarding/input-icon.svg" alt="Where possible, a button to create a new relay address will appear inside a website form's email input. Use the button to create a new relay address.">
  </li>
  <li class="dashboard-onboarding-list-item tip-3 flx flx-col">
    <div class="flx flx-row al-cntr">
      <span class="onboarding-num">3</span>
      <span>If you don’t see the icon when you need it, right click (Windows) or control+click (Mac) for the context menu to generate a relay address.</span>
    </div>
    <img class="onboarding-img img-context-menu" src="/static/images/dashboard-onboarding/context-menu.svg" aria-hidden="true">
  </li>
</ol>
