{% load relay_tags %}
{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% if user_profile.has_premium and user_profile.subdomain %}
    <script src="{% static 'js/custom-alias-picker.js' %}"></script>
{% endif %}

<div class="c-filter js-filter-container">
    <div class="c-filter-search">
        <div class="c-filter-icon c-filter-icon-search js-filter-mobile-search-toggle"></div>
        <form class="js-filter-search-form c-filter-search-form" action="">
            <input class="c-filter-search-input js-filter-search-input " type="search" name="search" id="search" placeholder="{% ftlmsg 'profile-filter-search-placeholder-2' %}" >
            <div class="c-filter-search-controls">
                <div class="c-filter-case-count">
                    <span class="js-filter-case-visible"></span>
                    /
                    <span class="js-filter-case-total"></span>
                </div>
                <button aria-label="{% ftlmsg 'profile-label-reset' %}" type="reset" class="c-filter-reset js-filter-reset">
                    <img alt="Reset" src="{% static '/images/x-close.svg' %}"/>
                </button>
            </div>
        </form>
    </div>
    <div class="c-filter-date hidden">
        <div class="c-filter-icon c-filter-icon-calendar"></div>
    </div>
    <div class="c-filter-category {% if not user_profile.has_premium %} hidden {% endif %}">
        {% if user_profile.has_premium %}
        <div class="c-filter-icon c-filter-icon-filter js-filter-category-toggle"></div>
            <form class="c-filter-category-list">
                <ul class="c-filter-category-types">
                    <li class="c-filter-category-type">
                        <div class="mzp-c-choices">
                            <div class="mzp-c-choice">
                                <input
                                    data-category-type="domain-aliases"
                                    data-parent-category="domain"
                                    class="mzp-c-choice-control js-filter-category-checkbox"
                                    type="checkbox" name="Show domain-based aliases"
                                    id="domain-aliases"
                                    value=""
                                >
                                <label class="mzp-c-choice-label" for="domain-aliases">{% ftlmsg 'profile-filter-category-option-custom-masks' %}</label>
                            </div>
                        </div>
                    </li>
                    <li class="c-filter-category-type">
                        <div class="mzp-c-choices">
                            <div class="mzp-c-choice">
                                <input
                                    data-category-type="relay-aliases"
                                    data-parent-category="domain"
                                    class="mzp-c-choice-control js-filter-category-checkbox"
                                    type="checkbox" name="Show relay aliases"
                                    id="relay-aliases"
                                    value=""
                                >
                                <label class="mzp-c-choice-label" for="relay-aliases">{% ftlmsg 'profile-filter-category-option-random-masks' %}</label>
                            </div>
                        </div>
                    </li>
                    <li class="c-filter-category-type">
                        <div class="mzp-c-choices">
                            <div class="mzp-c-choice">
                                <input
                                    data-category-type="active-aliases"
                                    data-parent-category="active"
                                    class="mzp-c-choice-control js-filter-category-checkbox"
                                    type="checkbox" name="Show active aliases"
                                    id="active-aliases"
                                    value=""
                                >
                                <label class="mzp-c-choice-label" for="active-aliases">{% ftlmsg 'profile-filter-category-option-active-masks' %}</label>
                            </div>
                        </div>
                    </li>
                    <li class="c-filter-category-type">
                        <div class="mzp-c-choices">
                            <div class="mzp-c-choice">
                                <input
                                    data-category-type="promo-blocking-aliases"
                                    data-parent-category="active"
                                    class="mzp-c-choice-control js-filter-category-checkbox"
                                    type="checkbox" name="Show active aliases"
                                    id="promo-blocking-aliases"
                                    value=""
                                >
                                <!-- TODO: Replace with L10N Label -->
                                <label class="mzp-c-choice-label" for="promo-blocking-aliases">Promo-blocking aliases</label>
                            </div>
                        </div>
                    </li>
                    <li class="c-filter-category-type">
                        <div class="mzp-c-choices">
                            <div class="mzp-c-choice">
                                <input
                                    data-category-type="disabled-aliases"
                                    data-parent-category="active"
                                    class="mzp-c-choice-control js-filter-category-checkbox"
                                    type="checkbox" name="Show disabled aliases"
                                    id="disabled-aliases"
                                    value=""
                                >
                                <label class="mzp-c-choice-label" for="disabled-aliases">{% ftlmsg 'profile-filter-category-option-disabled-masks' %}</label>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="c-filter-category-buttons">
                    <button type="reset" class="mzp-c-button mzp-t-md mzp-t-neutral js-filter-category-reset">
                        {% ftlmsg 'profile-label-reset' %}
                    </button>
                    <button type="submit" class="mzp-c-button mzp-t-md mzp-t-product js-filter-category-apply">
                        {% ftlmsg 'profile-label-apply' %}
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="c-filter-action">
        <!-- Button -->
        <form action="{% url 'emails-index' %}" class="dash-create" method="POST">
            <input type="hidden" name="api_token" value="{{ user_profile.api_token }}">
            <!-- Non-premium -->
            {% if not user_profile.has_premium %}
                {% if user_profile.at_max_free_aliases %}
                    {% if premium_available_in_country %}
                        <a
                            href="{% premium_subscribe_url accept_language country_code %}"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="btn btn-blue--ghost js-purchase-premium"
                            data-ga="send-ga-pings"
                            data-event-category="Purchase Button"
                            data-event-label="profile-create-alias-upgrade-promo"
                            data-cookie-for-server="clicked-purchase"
                        >
                            <span class="generate-new-alias-text">
                                {% ftlmsg 'profile-label-upgrade-2' %}
                            </span>
                        </a>
                    {% else %}
                        <button 
                            disabled
                            type="submit"
                            class="blue-btn-states dash-create-new-relay"
                            title="{% ftlmsg 'profile-label-generate-new-alias-2' %}"
                        >
                            <span class="generate-new-relay-icon"></span>
                            <span class="generate-new-alias-text">
                                {% ftlmsg 'profile-label-generate-new-alias-2' %}
                            </span>
                        </button>
                    {% endif %}
                {% else %}
                    <button
                    class="blue-btn-states dash-create-new-relay"
                    title="{% ftlmsg 'profile-label-generate-new-alias-2' %}"
                    type="submit"
                    data-event-label="Create New Relay Alias">
                        <span class="generate-new-relay-icon"></span>
                            <span class="generate-new-alias-text">
                                {% ftlmsg 'profile-label-generate-new-alias-2' %}
                            </span>
                    </button>
                {% endif %}
            <!-- Premium -->
            {% else %}
                {% if not user_profile.subdomain %}
                    <button
                    class="blue-btn-states dash-create-new-relay"
                    title="{% ftlmsg 'profile-label-generate-new-alias-2' %}"
                    type="submit"
                    data-event-label="Create New Relay Alias">
                        <span class="generate-new-relay-icon"></span>
                            <span class="generate-new-alias-text">
                                {% ftlmsg 'profile-label-generate-new-alias-2' %}
                            </span>
                    </button>
                {% else %}
                    <div class="dash-create-new-alias-menu-wrapper">
                        <button
                            class="js-dash-create-new-alias-menu-trigger blue-btn-states dash-create-new-alias-menu-trigger"
                            title="{% ftlmsg 'profile-label-generate-new-alias-2' %}"
                        >
                            <span class="generate-new-alias-text">
                                {% ftlmsg 'profile-label-generate-new-alias-2' %}
                            </span>
                            <span class="generate-new-alias-menu-trigger-icon"></span>
                        </button>
                        <div class="js-dash-create-new-alias-menu-popup generate-new-alias-menu-popup is-hidden">
                            <button
                                title="{% ftlmsg 'profile-label-generate-new-alias-menu-random-2' %}"
                                type="submit"
                                data-event-label="Create New Relay Alias"
                            >
                                <span class="generate-new-relay-icon"></span>
                                <span class="generate-new-alias-text">
                                    {% ftlmsg 'profile-label-generate-new-alias-menu-random-2' %}
                                </span>
                            </button>
                            <button
                                class="js-dash-create-new-domain-alias-dialog-trigger"
                                title="{% ftlmsg 'profile-label-generate-new-alias-menu-custom-2' subdomain=user_profile.subdomain %}"
                                type="submit"
                                data-event-label="Create New Domain Alias"
                            >
                                <span class="generate-new-relay-icon"></span>
                                <span class="generate-new-alias-text">
                                    {% ftlmsg 'profile-label-generate-new-alias-menu-custom-2' subdomain=user_profile.subdomain %}
                                </span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </form>
    </div>
</div>
