{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

<footer class="flx flx-row spc-btwn row-full-width txt-white">
	<a class="footer-link moz-logo-link" href="https://www.mozilla.org" class="inline-block" aria-label="Mozilla.com" target="_blank" rel="noopener">
		<img alt="Mozilla" class="block w-24" src="{% static 'images/mozilla.svg' %}"/>
	</a>
	<nav class="flx flx-wrap al-cntr">
		<a class="footer-link" href="https://www.mozilla.org/privacy/firefox-relay/" target="_blank" rel="noopener noreferrer">{% ftlmsg 'nav-footer-privacy' %}</a>
		<a class="footer-link" href="https://www.mozilla.org/about/legal/terms/firefox-relay/" target="_blank" rel="noopener noreferrer">{% ftlmsg 'nav-footer-relay-terms' %}</a>
        <a class="footer-link" href="https://www.mozilla.org/about/legal/" target="_blank" rel="noopener noreferrer">{% ftlmsg 'nav-footer-legal' %}</a>
		<a class="footer-link" href="https://github.com/mozilla/fx-private-relay" rel="noopener noreferrer" target="_blank" aria-label="Link to the Firefox Relay GitHub repository.">
			<img class="GitHub-logo" alt="GitHub logo" src="{% static 'images/GitHub.svg' %}" />
		</a>
	</nav>
</footer>
