<footer class="bg-white p-4 shadow-md">
	<div class="sm:flex sm:flex-wrap sm:justify-between sm:items-center mx-auto ">
		<a href="#" class="block">
			<img src="//placehold.it/114x38/68EE0F/000000?text=Mozilla"/>
		</a>
		<!-- <ul class="flex flex-wrap items-center">
			<li class="block sm:inline-block ">
				<a href="#">Link</a>
			</li>
			<li class="block sm:inline-block sm:ml-4">
				<a href="#">Link</a>
			</li>
			<li class="block sm:inline-block sm:ml-4">
				<a href="#">Link</a>
			</li>
		</ul> -->
	</div>
</footer>
