{% load static %}
<footer class="p-8 shadow-md">
	<div class="sm:flex sm:flex-wrap sm:justify-between sm:items-center mx-auto ">
		<a href="https://www.mozilla.org" class="block">
			<img alt="Mozilla" class="block w-24" src="{% static '/images/mozilla.svg' %}"/>
		</a>
		<!-- <ul class="flex flex-wrap items-center">
			<li class="block sm:inline-block ">
				<a href="#">Link</a>
			</li>
			<li class="block sm:inline-block sm:ml-4">
				<a href="#">Link</a>
			</li>
			<li class="block sm:inline-block sm:ml-4">
				<a href="#">Link</a>
			</li>
		</ul> -->
	</div>
</footer>
