{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<header class="flx flx-col spc-btwn">

  {% if settings.RECRUITMENT_BANNER_LINK and LANGUAGE_CODE|slice:"0:2" == "en" %}
    <div class="recruitment-banner">
      <a id="recruitment-banner" class="text-link" href="{{ settings.RECRUITMENT_BANNER_LINK }}" target="_blank" rel="noopener noreferrer" data-ga="send-ga-funnel-pings" data-event-category="Recruitment" data-event-label="{{ settings.RECRUITMENT_BANNER_TEXT }}">{{ settings.RECRUITMENT_BANNER_TEXT }}</a>
    </div>
  {% elif not request.user.is_anonymous %}
    <div id="micro-survey-banner" class="micro-survey-banner hidden">
      {% now "U" as now_second %}
      {% if now_second|last == "1" or now_second|last == "6" %}
        <span id="micro-survey-prompt" data-survey-type="nps">On a scale from 1-10, how likely are you to recommend Relay to a friend or colleague?</span>
        <ul id="micro-survey-options" class="micro-survey-options micro-survey-options-numeric"></ul>
      {% elif now_second|last == "2" or now_second|last == "7" %}
        <span id="micro-survey-prompt" data-survey-type="usability">Is Relay easy to use?</span>
        <ul id="micro-survey-options" class="micro-survey-options micro-survey-options-likert"></ul>
      {% elif now_second|last == "3" or now_second|last == "8" %}
        <span id="micro-survey-prompt" data-survey-type="credibility">Do you feel Relay is trustworthy?</span>
        <ul id="micro-survey-options" class="micro-survey-options micro-survey-options-likert"></ul>
      {% elif now_second|last == "4" or now_second|last == "9" %}
        <span id="micro-survey-prompt" data-survey-type="appearance">Does Relay have a clean and simple presentation?</span>
        <ul id="micro-survey-options" class="micro-survey-options micro-survey-options-likert"></ul>
      {% else %}
        <span id="micro-survey-prompt" data-survey-type="pmf">How would you feel if you could no longer use Relay?</span>
        <ul id="micro-survey-options" class="micro-survey-options micro-survey-options-likert"></ul>
      {% endif %}
    </div>
  {% endif %}

  <div class="flx flx-row spc-btwn row-full-width header-top">
    <a href="/" class="flx flx-row logo-wrapper" aria-label="Firefox Relay">
      <div class="fx-private-relay-logomark"></div>
      <div class="fx-private-relay-logotype"></div>
    </a>
    <nav class="flx flx-row ff-Met al-cntr header-nav hide-mobile">
      <a class="{% if request.path == '/' or request.path == '/accounts/profile/' %} active-header-link {% endif %} header-link" href="/">Home</a>
      <a class="{% if request.path == '/faq' %} active-header-link {% endif %} header-link" href="/faq">FAQ</a>
    </nav>
    {% include "includes/login.html" %}
  </div>
  <nav class="flx flx-col ff-Met al-cntr mobile-menu show-mobile">
    <button class="mobile-menu-toggle full-width ff-Met" aria-label="Open mobile menu"><span class="mobile-menu-label">Menu</span></button>
    <div class="mobile-menu-links flx flx-col">
      <a class="{% if request.path == '/' or request.path == '/accounts/profile/' %} active-header-link {% endif %} mobile-menu-link mobile-home-link" href="/">Home</a>
      <a class="{% if request.path == '/faq' %} active-header-link {% endif %} mobile-menu-link" href="/faq">FAQ</a>
    </div>
    </nav>
</header>
