{% load i18n %}
{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% get_current_language as LANGUAGE_CODE %}

<header class="flx flx-col spc-btwn">

  {% if settings.RECRUITMENT_BANNER_LINK and LANGUAGE_CODE|slice:"0:2" == "en" %}
    <div class="recruitment-banner">
      <a id="recruitment-banner" class="text-link" href="{{ settings.RECRUITMENT_BANNER_LINK }}" target="_blank" rel="noopener noreferrer" data-ga="send-ga-funnel-pings" data-event-category="Recruitment" data-event-label="{{ settings.RECRUITMENT_BANNER_TEXT }}">{{ settings.RECRUITMENT_BANNER_TEXT }}</a>
    </div>
  {% elif not request.user.is_anonymous %}
    <div id="micro-survey-banner" class="micro-survey-banner hidden">
      {% now "U" as now_second %}
      {% if now_second|last == "1" or now_second|last == "6" %}
        <span id="micro-survey-prompt" data-survey-type="nps">{% ftlmsg 'survey-question-1' %}</span>
        <ul id="micro-survey-options"
        data-survey-option-very-likely-translated="{% ftlmsg 'survey-option-very-likely' %}"
        data-survey-option-not-likely-translated="{% ftlmsg 'survey-option-not-likely' %}"
        class="micro-survey-options micro-survey-options-numeric"></ul>
      {% elif now_second|last == "2" or now_second|last == "7" %}
        <span id="micro-survey-prompt" data-survey-type="usability">{% ftlmsg 'survey-question-2' %}</span>
        <ul id="micro-survey-options"
        data-survey-option-strongly-disagree-translated="{% ftlmsg 'survey-option-strongly-disagree' %}"
        data-survey-option-disagree-translated="{% ftlmsg 'survey-option-disagree' %}"
        data-survey-option-unsure-translated="{% ftlmsg 'survey-option-unsure' %}"
        data-survey-option-agree-translated="{% ftlmsg 'survey-option-agree' %}"
        data-survey-option-strongly-agree-translated="{% ftlmsg 'survey-option-strongly-agree' %}"
        class="micro-survey-options micro-survey-options-likert"></ul>
      {% elif now_second|last == "3" or now_second|last == "8" %}
        <span id="micro-survey-prompt" data-survey-type="credibility">{% ftlmsg 'survey-question-3' %}</span>
        <ul id="micro-survey-options"
        data-survey-option-strongly-disagree-translated="{% ftlmsg 'survey-option-strongly-disagree' %}"
        data-survey-option-disagree-translated="{% ftlmsg 'survey-option-disagree' %}"
        data-survey-option-unsure-translated="{% ftlmsg 'survey-option-unsure' %}"
        data-survey-option-agree-translated="{% ftlmsg 'survey-option-agree' %}"
        data-survey-option-strongly-agree-translated="{% ftlmsg 'survey-option-strongly-agree' %}"
        class="micro-survey-options micro-survey-options-likert"></ul>
      {% elif now_second|last == "4" or now_second|last == "9" %}
        <span id="micro-survey-prompt" data-survey-type="appearance">{% ftlmsg 'survey-question-4' %}</span>
        <ul id="micro-survey-options"
        data-survey-option-strongly-disagree-translated="{% ftlmsg 'survey-option-strongly-disagree' %}"
        data-survey-option-disagree-translated="{% ftlmsg 'survey-option-disagree' %}"
        data-survey-option-unsure-translated="{% ftlmsg 'survey-option-unsure' %}"
        data-survey-option-agree-translated="{% ftlmsg 'survey-option-agree' %}"
        data-survey-option-strongly-agree-translated="{% ftlmsg 'survey-option-strongly-agree' %}"
        class="micro-survey-options micro-survey-options-likert"></ul>
      {% else %}
        <span id="micro-survey-prompt" data-survey-type="pmf">{% ftlmsg 'survey-question-5' %}</span>
        <ul id="micro-survey-options" 
        data-survey-option-i-wouldnt-care-translated="{% ftlmsg 'survey-option-i-wouldnt-care' %}"
        data-survey-option-somewhat-disappointed-translated="{% ftlmsg 'survey-option-somewhat-disappointed' %}"
        data-survey-option-not-likely-translated="{% ftlmsg 'survey-option-very-disappointed' %}"
        class="micro-survey-options micro-survey-options-likert"></ul>
      {% endif %}
    </div>
  {% endif %}

  <div class="flx flx-row spc-btwn row-full-width header-top">
    <a href="/" class="flx flx-row logo-wrapper" aria-label="Firefox Relay">
      <div class="fx-private-relay-logomark"></div>
      <div class="fx-private-relay-logotype"></div>
    </a>
    <nav class="flx flx-row ff-Met al-cntr header-nav hide-mobile">
      <a class="{% if request.path == '/' or request.path == '/accounts/profile/' %} active-header-link {% endif %} header-link" href="/">{% ftlmsg 'nav-home' %}</a>
      <a class="{% if request.path == '/faq' %} active-header-link {% endif %} header-link" href="/faq">{% ftlmsg 'nav-faq' %}</a>
    </nav>
    {% include "includes/login.html" %}
  </div>
  <nav class="flx flx-col ff-Met al-cntr mobile-menu show-mobile">
    <button class="mobile-menu-toggle full-width ff-Met" aria-label="Open mobile menu"><span class="mobile-menu-label">{% ftlmsg 'nav-menu' %}</span></button>
    <div class="mobile-menu-links flx flx-col">
      <a class="{% if request.path == '/' or request.path == '/accounts/profile/' %} active-header-link {% endif %} mobile-menu-link mobile-home-link" href="/">{% ftlmsg 'nav-home' %}</a>
      <a class="{% if request.path == '/faq' %} active-header-link {% endif %} mobile-menu-link" href="/faq">{% ftlmsg 'nav-faq' %}</a>
    </div>
    </nav>
</header>
