{% load static %}
{% load socialaccount %}

<div class="hero-sign-up-bg bg-fx-gradient fx-gradient-btn invisible">
  <a data-ga="send-ga-funnel-pings" data-event-category="Add to Firefox" data-event-label="add-to-fx-btn-{{ page_position }}"  class="add-to-fx hero-sign-up blue-button puffy" href="https://addons.mozilla.org/firefox/addon/private-relay/">Add to Firefox</a>
  <a  data-ga="send-ga-funnel-pings" data-event-category="Sign In Buttons" data-event-label="sign-in-btn-{{ page_position }}" class="sign-in-btn blue-button puffy" href="{% provider_login_url 'fxa' process='login' %}">Sign In</a>
</div>
