{% load socialaccount %}

{% block content %}

<div class="user-area">
		{% if request.user.is_anonymous %}
		<a class="inline-block py-2 px-4 leading-normal rounded border border-solid border-white text-white hover:bg-white hover:text-black" href="{% provider_login_url 'fxa' process='login' %}">Sign in with FxA</a>
		{% else %}
		{% get_social_accounts request.user as accounts %}
		<img class="w-8 inline-block mr-2" src="{{ accounts.fxa.0.extra_data.avatar }}" /> {{ accounts.fxa.0.extra_data.displayName }}
		<a class="inline-block ml-4 py-2 px-4 leading-normal rounded border border-solid border-white text-white hover:bg-white hover:text-black" href="{% url 'account_logout' %}">Sign out</a>
		{% endif %}
</div>

{% endblock %}
