{% load socialaccount %}
{% load relay_tags %}
{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% block content %}

<div class="user-area">
	{% if request.user.is_anonymous %}
	<a
	 data-entrypoint="relay-sign-in-header"
	 data-form_type="button"
	 data-ga="send-ga-pings"
	 data-event-category="Sign In"
	 data-event-label="nav-profile-sign-up"
	 class="sign-up button header-link"
	 href="{% provider_login_url 'fxa' process='login' %}">{% ftlmsg 'nav-profile-sign-up' %}</a>
    <a
      data-entrypoint="relay-sign-in-header"
      data-form_type="button"
      data-ga="send-ga-pings"
      data-event-category="Sign In"
      data-event-label="nav-profile-sign-in"
      class="mzp-c-button mzp-t-secondary mzp-t-dark u-font-metropolis u-font-weight-normal"
      href="{% provider_login_url 'fxa' process='login' %}">{% ftlmsg 'nav-profile-sign-in' %}</a>
	<firefox-apps class="fx-bento-home-page"></firefox-apps>
	{% else %}
		{% include 'includes/whatsnew.html' %}
		{% get_social_accounts request.user as accounts %}
		<firefox-apps class="fx-bento-profile-page"></firefox-apps>
		<glocal-menu class="glocal-menu">
			<button class="avatar-wrapper" aria-label="{% ftlmsg 'label-open-menu' %}" title="{% ftlmsg 'avatar-tooltip' %}">
				<img class="avatar" src="{{ avatar }}" alt="{% ftlmsg 'nav-profile-image-alt' %}" />
			</button>
			<div class="glocal-menu-wrapper">
				<div class="glocal-menu-header">
					<img class="glocal-small-avatar" alt="{% ftlmsg 'nav-profile-image-alt' %}" src="{{ avatar }}" />
					<div class="glocal-account-info">
						<span class="glocal-fxa-email">{{ request.user.email }}</span>
            <a href="{{ settings.FXA_SETTINGS_URL }}" class="glocal-fxa-settings-link">{% ftlmsg 'nav-profile-manage-fxa' %}</a>
					</div>
				</div>
				<div class="glocal-site-options">
					<a
						href="/accounts/settings/"
						class="glocal-site-option"
						title="{% ftlmsg 'nav-profile-settings-tooltip' %}"
					>
						<img class="" alt="" src="{% static 'images/settings.svg' %}" />
						{% ftlmsg 'nav-profile-settings' %}
					</a>
					{% if user_profile.has_premium %}
						<a
							href="{{ settings.FXA_SUPPORT_URL }}?utm_source={{ settings.SITE_ORIGIN }}"
							target="_blank"
							rel="noopener noreferrer"
							class="glocal-site-option"
							title="{% ftlmsg 'nav-profile-contact-tooltip' %}"
						>
							<img class="" alt="" src="{% static 'images/icon-message.svg' %}" />
							{% ftlmsg 'nav-profile-contact' %}
						</a>
					{% endif %}
					<a
						href="https://support.mozilla.org/products/relay/?utm_source={{ settings.SITE_ORIGIN }}"
						target="_blank"
						rel="noopener noreferrer"
						class="glocal-site-option"
						title="{% ftlmsg 'nav-profile-help-tooltip' %}"
					>
						<img class="" alt="" src="{% static 'images/help.svg' %}" />
						{% ftlmsg 'nav-profile-help' %}
					</a>
					<form class="glocal-sign-out-form" method="post" action="{% url 'account_logout' %}">
						{% csrf_token %}
						{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
						{% endif %}
						<button class="glocal-sign-out glocal-site-option" type="submit">{% ftlmsg 'nav-profile-sign-out-relay' %}</button>
					</form>
				</div>
			</div>
		</glocal-menu>
		<form method="post" action="{% url 'account_logout' %}" class="hidden">
			{% csrf_token %}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			{% endif %}
			<button class="sign-in button btn-transparent" type="submit">{% ftlmsg 'nav-profile-sign-out' %}</button>
		</form>
	{% endif %}
</div>

{% endblock %}
