{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

<div class="modal c-modal-wrapper js-modal-domain-registration-confirmation">
  <div class="c-modal t-domain-registration">
    
    <div class="c-modal-header t-domain-registration-hero">
      Lorem ipsum dolor sit.  
    </div>

    <div class="c-modal-body t-domain-registration-body">
      <!-- TODO: Migrate strings to FTL -->
      <p>Remember you are allowed to register one domain only for your account and is not possible to change your domain later.</p>
      <div class="t-domain-registration-form">
        <label for="domainRegistrationCheckbox" class="mzp-u-inline">
          <input required type="checkbox" name="domainRegistrationCheckbox" id="domainRegistrationCheckbox" class="js-modal-domain-registration-confirmation-checkbox">
          Yes I want to register <strong class="js-modal-domain-registration-confirmation-domain-preview">@yourdomainname</strong>
        </label>
      </div>
    </div>

    <div class="c-modal-footer">
      <button class="mzp-c-button mzp-t-neutral js-modal-domain-registration-cancel">
        Cancel
      </button>
      <button class="mzp-c-button mzp-t-product js-modal-domain-registration-submit">
        Register Domain
      </button>
    </div>
  </div>
</div>
