{% load static %}
<div class="modal modal-bg fade-in">
  <div class="modal modal-content drop-shadow-light">
    <h2 class="modal-headline">Permanently delete this alias?</h2>
    <span class="alias-to-delete demi"></span>
    <p class="warning-text demi">
      Once you delete this alias, it cannot be recovered. Firefox Private Relay will no longer forward messages to <span class="alias-to-delete"></span>, including messages that allow you to reset lost passwords.
    </p>
    <p class="delete-tip">
      If you use this alias to log in to sites you care about, you should update your account with a different email address before you delete this one.
    </p>
    <div class="fx flx-row confirm-delete-actions">
      <button class="cancel-delete confirm-delete-action">Cancel</button>
      <button class="confirm-delete confirm-delete-action">Delete Anyway</button>
    </div>
  </div>
</div>
