{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

<!-- <button class="c-premium-onboarding-dismiss js-premium-onboarding-dismiss"><img src="{% static 'images/x-close.svg' %}" alt="Close"></button> -->

<!-- TODO: Remove/port classes from .c-premium-onboarding  -->
<div class="c-premium-onboarding c-multipart-premium-onboarding">
    <ul class="c-premium-onboarding-steps">
        <!-- Step 1 -->
        <li class="c-premium-onboarding-step c-premium-onboarding-step-1 is-visible">
            <div class="mzp-l-content mzp-t-content-xl">
                <div class="c-premium-onboarding-headlines">
                    <h1>{% ftlmsg 'onboarding-premium-headline' %}</h1>
                    <h2>{% ftlmsg 'onboarding-premium-subheadline-html' %}</h2>
                </div>

                <div class="c-premium-onboarding-content">
                    <div class="c-premium-onboarding-content-image">
                        <img src="{% static 'images/dashboard-onboarding/woman-couch.svg' %}" alt="Woman sitting on a couch">
                    </div>
                    <div class="c-premium-onboarding-content-description">
                        <p>{% ftlmsg 'onboarding-premium-feature-intro' %}</p>
                        <p><strong>{% ftlmsg 'onboarding-premium-control-title' %}</strong> {% ftlmsg 'onboarding-premium-control-description' %}</p>
                    </div>
                </div>
            </div>
        </li>
        <!-- Step 2 -->
        <li class="c-premium-onboarding-step c-premium-onboarding-step-2">
            <div class="mzp-l-content mzp-t-content-xl">
                <div class="c-premium-onboarding-headlines">
                    <h1>Custom domain for sharing aliases</h1>
                    <h2>Now you can control what hits your inbox, one email at a time.</h2>
                </div>

                <div class="c-premium-onboarding-content">
                    <div class="c-premium-onboarding-content-image">
                        <img src="{% static 'images/dashboard-onboarding/man-laptop-email-alt.svg' %}" alt="Man sitting with laptop computer">
                    </div>
                    <div class="c-premium-onboarding-content-description">
                        <p><strong>Use a custom domain for sharing aliases:</strong> With a custom domain, you can make your “newsletter” alias different from your “shopping” alias. </p>
                        <p>Register your custom domain now</p>
                        <!-- TODO: Move samp inside domainRegistration form -->
                        <samp>***@<span>{% ftlmsg 'banner-register-subdomain-example-address' %}</span>.mozmail.com</samp>
                        <form id="onboardingDomainRegistration" method="post" action="{% url 'profile_subdomain' %}">
                            {% csrf_token %}
                            <input
                            class="js-subdomain-value subdomain-banner-input"
                            data-domain="{{ MOZMAIL_DOMAIN }}"
                            required
                            type="text"
                            placeholder="{% ftlmsg 'banner-choose-subdomain-input-placeholder' %}"
                            name="subdomain"
                            minlength="1"
                            maxlength="63"
                            >
                            <input class="mzp-c-button mzp-t-product" type="submit" value="{% ftlmsg 'banner-register-subdomain-button-search' %}">
                        </form>
                    </div>
                </div>
                
            </div>
        </li>
        <!-- Step 3 -->
        <li class="c-premium-onboarding-step c-premium-onboarding-step-3">
            <div class="mzp-l-content mzp-t-content-xl">
                <div class="c-premium-onboarding-headlines">
                    <h1>Block, Forward, and Reply!</h1>
                    <h2>Now you can control what hits your inbox, one email at a time.</h2>
                </div>

                <div class="c-premium-onboarding-content">
                    <div class="c-premium-onboarding-content-image">
                        <img src="{% static 'images/dashboard-onboarding/woman-email.svg' %}" alt="Woman next to large envelope">
                    </div>
                    <div class="c-premium-onboarding-content-description">
                        <p><strong>Reply to emails without giving away your real address:</strong> Need to reply to emails sent to an alias? Just reply as normal—your alias will still protect your email address.</p>
                        <p><strong>Get the Relay extension for Firefox</strong> The Relay extension for Firefox makes using email aliases even easier. Reply to emails without giving away your real address: Need to reply to emails sent to an alias? Just reply as normal—your alias will still protect your email address.</p>
                        <a href="https://addons.mozilla.org/firefox/addon/private-relay/?utm_source=fx-relay&utm_medium=banner&utm_campaign=install-addon" class="c-premium-onboarding-install-addon mzp-c-button mzp-t-product">Get Relay extension</a>
                        <div class="c-premium-onboarding-addon-installed">
                            <img class="margin-right" src="/static/images/icon-check.svg" alt="">
                            Relay extension installed!
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="c-premium-onboarding-progress">
        <div class="mzp-l-content mzp-t-content-xl">
            <div class="c-premium-onboarding-actions-wrapper">
                <!-- Step 1 -->
                <div class="c-premium-onboarding-actions is-visible">
                    <button class="mzp-c-button mzp-t-product js-premium-onboarding-next-step">Get Started</button>
                </div>
                <!-- Step 2 -->
                <div class="c-premium-onboarding-actions">
                    <button class="c-button-as-text js-premium-onboarding-next-step" >I'll register my domain later</button>
                    <button class="mzp-c-button mzp-t-product js-premium-onboarding-next-step is-hidden">Continue</button>
                </div>
                <!-- Step 3 -->
                <div class="c-premium-onboarding-actions">
                    <button class="c-button-as-text  js-premium-onboarding-quit-step">Continue, I’ll download the extension later</button>
                    <button class="mzp-c-button mzp-t-product js-premium-onboarding-quit-step is-hidden">Create my first email alias</button>
                </div>
            </div>
    

            <ul class="c-premium-onboarding-progress-bar js-premium-onboarding-progress-bar">
                <li class="c-premium-onboarding-progress-bar-item c-premium-onboarding-progress-bar-item-1 is-completed" >
                    <span></span>
                    1
                </li>
                <li class="c-premium-onboarding-progress-bar-item c-premium-onboarding-progress-bar-item-2" >
                    <span></span>
                    2
                </li>
                <li class="c-premium-onboarding-progress-bar-item c-premium-onboarding-progress-bar-item-3" >
                    <span></span>
                    3
                </li>
            </ul>
            <button class="c-button-as-text t-skip-button js-premium-onboarding-quit-step">Skip</button>
        </div>
    </div>
</div>