{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

<div class="c-premium-onboarding">
    <div class="c-premium-onboarding-headlines">
        <h1>Lorem ipsum dolor sit amet!</h1>
        <h2 class="mzp-has-zap-1">Lorem, ipsum dolor <strong>sit amet</strong> consectetur adipisicing elit.</h2>
    </div>

    <div class="c-premium-onboarding-content">
        <div class="c-premium-onboarding-content-image">
            <img src="{% static 'images/dashboard-onboarding/woman-couch.svg' %}" alt="Woman sitting on a couch">
        </div>
        <div class="c-premium-onboarding-content-description">
            <p>Aperiam in incidunt ut, quasi blanditiis:</p>
            <ul class="mzp-u-list-styled">
                <li><strong>Illum laboriosam</strong> incidunt possimus, dolores ipsa repellat natus debitis ab sint suscipit, minus accusantium ullam placeat iste hic!</li>
                <li><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit.  eveniet debitis illo aliquid non iste ut est impedit</li>
                <li><strong>Hic a, quo non dicta</strong> earum est ad nisi, repellendus vero corrupti sunt</li>
            </ul>
            <p>Pariatur alias, fuga id doloribus!</p>
            <button class="">Don't show this again</button>
        </div>
    </div>
</div>