{% load static %}
{% load relay_tags %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% remaining_free_aliases relay_addresses as remaining_free_aliases_count %}

<span class="remaining-aliases flx">
  <span class="num-remaining-aliases bold">
    {% with request.user.profile_set.first as user_profile %}
      {% if settings.PREMIUM_ENABLED and user_profile.has_unlimited %}
        {% ftlmsg 'remaining-aliases-promo-label-unlimited' number=relay_addresses|length %}
      {% else %}
          {% ftlmsg 'remaining-aliases-promo-label' number=remaining_free_aliases_count %}
      {% endif %}
    {% endwith %}
</span>
