{% load static %}
{% load relay_tags %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

<div id="vpnPromoBanner" class="vpn-promo-banner closed">
	<div class="vpn-promo-banner-wrapper">
		<img alt="Mozilla VPN" class="vpn-promo-logo" src="{% static 'images/logos/mozilla-vpn.svg' %}"/>
		<div class="vpn-promo-copy">
			<strong>{% ftlmsg 'vpn-promo-headline' %}</strong>
			<span>{% ftlmsg 'vpn-promo-copy' %}</span>
		</div>
		<a class="vpn-promo-cta" href="https://www.mozilla.org/products/vpn/?utm_source=private-relay&utm_medium=banner&utm_campaign=relay-banner">{% ftlmsg 'vpn-promo-cta' %}</a>
		<button id="vpnPromoCloseButton" type="button" name="button" data-event-category="vpn-promo-close"><img src="{% static 'images/x-close-black.svg' %}"/></button>
	</div>
</div>
