@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "../../../styles/tokens.scss";

.sections {
  display: grid;
  gap: $spacing-lg;

  &.selected-tab-0 {
    grid-template-areas:
      "tab-0"
      "content";
  }

  &.selected-tab-1 {
    grid-template-areas:
      "tab-0"
      "tab-1"
      "content";
  }

  &.selected-tab-2 {
    grid-template-areas:
      "tab-0"
      "tab-1"
      "tab-2"
      "content";
  }

  &.selected-tab-3 {
    grid-template-areas:
      "tab-0"
      "tab-1"
      "tab-2"
      "tab-3"
      "content";
  }

  &.selected-tab-4 {
    grid-template-areas:
      "tab-0"
      "tab-1"
      "tab-2"
      "tab-3"
      "tab-4"
      "content";
  }

  &.selected-tab-5 {
    grid-template-areas:
      "tab-0"
      "tab-1"
      "tab-2"
      "tab-3"
      "tab-4"
      "tab-5"
      "content";
  }

  &.selected-tab-6 {
    grid-template-areas:
      "tab-0"
      "tab-1"
      "tab-2"
      "tab-3"
      "tab-4"
      "tab-5"
      "tab-6"
      "content";
  }

  .tab {
    outline: none;
    grid-area: attr(data-tab-key);
    scroll-margin-top: $spacing-md;

    .title {
      @include text-body-lg;
      font-family: $font-stack-firefox;
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      padding: $spacing-xs $spacing-sm;
      box-shadow: $box-shadow-sm;
      border-radius: $border-radius-md;
      font-weight: 700;

      &.yellow {
        background-color: $color-yellow-30;
      }

      &.deep-pink {
        background-color: $color-pink-60;
        color: $color-white;
      }

      &.purple {
        background-color: $color-purple-60;
        color: $color-white;
      }

      &.orange {
        background-color: $color-yellow-40;
      }

      &.teal {
        background-color: $color-green-40;
      }

      &.red {
        background-color: $color-red-20;
      }

      &.pink {
        background-color: $color-violet-30;
        color: $color-white;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    &.is-selected:focus .title::after {
      background-color: $color-violet-40;
    }

    &:not(.is-selected):hover .title {
      cursor: pointer;
      box-shadow: none;
    }

    &.is-selected .title {
      box-shadow: none;
    }
  }

  .content {
    grid-area: content;
    background-color: $color-light-gray-10;
    border-radius: $border-radius-md;
    padding: $spacing-lg;
  }

  @media screen and #{$mq-lg} {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $spacing-lg;

    .tab {
      flex: 1 0 0;
      margin-bottom: $spacing-lg;

      .title {
        flex-direction: column;
        // The illustrations already have some whitespace around them,
        // so we only need some padding below the text:
        padding-bottom: $spacing-md;
        gap: 0;
        text-align: center;

        img {
          width: calc(#{$layout-2xl} - #{$layout-lg});
          height: calc(#{$layout-2xl} - #{$layout-lg});

          @media screen and #{$mq-xl} {
            width: $layout-2xl;
            height: $layout-2xl;
          }
        }
      }

      &.is-selected .title {
        position: relative;
      }

      &.is-selected .title::after {
        content: "";
        position: absolute;
        bottom: -1 * $spacing-sm;
        display: block;
        width: 100%;
        height: 6px;
        border-radius: $border-radius-lg;
        background-color: $color-violet-60;
      }
    }

    .content {
      flex: 1 0 100%;
    }
  }
}
