@use "~@mozilla-protocol/core/protocol/css/includes/tokens/dist/index.scss" as
  dist;

// See https://nextjs.org/docs/basic-features/built-in-css-support#sass-variables
:export {
  mq_xs: dist.$mq-xs;
  mq_sm: dist.$mq-sm;
  mq_md: dist.$mq-md;
  mq_lg: dist.$mq-lg;
  mq_xl: dist.$mq-xl;
}
