@use "~@mozilla-protocol/core/protocol/css/includes/tokens/dist/index" as dist;
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as lib2;
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib";
@use "../../styles/typography" as styles-typography;

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: lib2.$spacing-sm lib2.$spacing-lg;

  .form {
    width: lib2.$content-lg;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: lib2.$spacing-2xl;
    padding: lib2.$spacing-md 0;

    .controls {
      display: flex;
      flex-direction: column;
      gap: lib2.$spacing-sm;
      width: lib2.$content-md;
      max-width: 100%;

      .control {
        display: flex;
        flex-direction: column;
        gap: lib2.$spacing-xs;
        width: 100%;

        label {
          @include lib.field-label;
          @include lib2.text-body-md;
          padding: 0;
        }

        i {
          @include lib2.text-body-sm;
        }

        input {
          @include lib.form-input;
          width: 100%;
        }

        select {
          @include lib.form-input;
          width: 100%;
        }
      }
    }

    button {
      align-self: center;
    }

    .privacy {
      @include lib2.text-body-sm;
      align-self: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: lib2.$spacing-md;

      a {
        color: lib2.$color-blue-50;
        text-decoration: underline;

        &:hover {
          color: lib2.$color-blue-60;
          text-decoration: none;
        }
      }
    }
  }

  .heading {
    @include styles-typography.text-title-sm {
      font-family: lib2.$font-stack-firefox;
      align-self: center;
      text-align: center;
    }
  }

  .lead {
    @include lib2.text-body-lg;
    align-self: center;
    text-align: center;
  }
}
