// Fonts
$font-metropolis: "Metropolis", Arial, Helvetica, sans-serif;

// Custom MPP Colors
$color-mpp-background: #E5E5E5;
$color-mpp-gray-30: #ECECEC;

$box-shadow-mpp-sm: 0px 0px 4px rgba(0, 0, 0, 0.12);
