{% comment %}
  Note that Django only loads strings from some Fluent files.
  See privaterelay/ftl_bundles.py.
{% endcomment %}
{% load ftl %}
{% load email_extras %}
{% withftl bundle='privaterelay.ftl_bundles.main' language=language %}

{% include "emails/direct_email_header.html" %}

    <table role="presentation" border="0" cellpadding="0" cellspacing="10px" style="padding: 60px 30px 120px 30px;" align="center">
        <tr>
            <td style="max-width:850px; padding-top: 0px; padding-bottom: 0px; text-align: center;">
                {% with mask|striptags|urlencode as mask_url %}
                <h2 style="font-family: inter medium, Arial, system-ui, sans-serif;"> 
                    <img width="18" src="{{ SITE_ORIGIN }}/static/images/email-images/warning.png" style="margin: 0 5px;" alt="warning icon"/>
                    {% ftlmsg 'relay-disabled-your-mask' %}
                </h2>
                <p style="line-height: 200%; margin-bottom: 30px; padding: 20px 60px 20px 60px">
                {% ftlmsg 'relay-received-spam-complaint-html' mask=mask %} {% ftlmsg 'relay-disabled-your-mask-detail-html' mask=mask %}
                </p> 
                <a href="{{ SITE_ORIGIN }}/accounts/profile/#{{ mask_url }}">
                    {% ftlmsg 're-enable-your-mask' %}
                </a>
                {% endwith %}
            </td> 
        </tr>
    </table>

    {% include "emails/direct_email_footer.html" %}

{% endwithftl %}
