@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src:
    url("/static/fonts/Inter/Inter-UI-Regular.woff2") format("woff2"),
    url("/static/fonts/Inter/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src:
    url("/static/fonts/Inter/Inter-UI-Bold.woff2") format("woff2"),
    url("/static/fonts/Inter/Inter-UI-Bold.woff") format("woff");
}
