@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/Inter/Inter-UI-Regular.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 400;
  src:
    url("/fonts/Inter/Inter-UI-Italic.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 500;
  src:
    url("/fonts/Inter/Inter-UI-Medium.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 500;
  src:
    url("/fonts/Inter/Inter-UI-MediumItalic.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/Inter/Inter-UI-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 600;
  src:
    url("/fonts/Inter/Inter-UI-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src:
    url("/fonts/Inter/Inter-UI-Bold.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 700;
  src:
    url("/fonts/Inter/Inter-UI-BoldItalic.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 800;
  src:
    url("/fonts/Inter/Inter-UI-ExtraBold.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 800;
  src:
    url("/fonts/Inter/Inter-UI-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 900;
  src:
    url("/fonts/Inter/Inter-UI-Black.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 900;
  src:
    url("/fonts/Inter/Inter-UI-BlackItalic.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI var';
  font-weight: 400 900;
  font-style: oblique 0deg 10deg;
  src:
    url("/fonts/Inter/Inter-UI.var.woff2") format("woff2-variations"),
    url("/fonts/Inter/Inter-UI.var.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter UI var alt';
  font-weight: 400 900;
  font-style: normal;
  src:
    url("/fonts/Inter/Inter-UI-upright.var.woff2") format("woff2 supports variations(gvar)"),
    url("/fonts/Inter/Inter-UI-upright.var.woff2") format("woff2-variations"),
    url("/fonts/Inter/Inter-UI-upright.var.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter UI var alt';
  font-weight: 400 900;
  font-style: italic;
  src:
    url("/fonts/Inter/Inter-UI-italic.var.woff2") format("woff2 supports variations(gvar)"),
    url("/fonts/Inter/Inter-UI-italic.var.woff2") format("woff2-variations"),
    url("/fonts/Inter/Inter-UI-italic.var.woff2") format("woff2");
}
