:root {
  --blue3: #0060df;
  --blue4: #0250bb;
  --blue5: #073072;
  --blue7: #003eaa;
  --blue8: #002275;
  --buttonFocus: 0 0 0 1px #0a84ff, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
  --darkBlueGradient: linear-gradient(60deg, #2d264e, #26294e);
  --dropShadowLight: 0 0 10px -3px #3d3f4740;
  --dropShadowDark: 0 12px 18px 2px rgba(34, 0, 51, 0.09), 0 6px 22px 4px rgba(4, 25, 59, 0.87), 0 6px 10px -4px rgba(14, 13, 26, 0.12);
  --grey10: hsl(240, 9%, 98%);
  --grey20: #f1f1f3;
  --grey30: #d7d7db;
  --grey40: #b1b1b3;
  --grey50: #737373;
  --grey60: #4a4a4f;
  --grey70: #38383d;
  --grey80: #2a2a2e;
  --grey90: #0c0c0d;
  --inkLight: #2b1e44;
  --ink: #20123a;
  --inkDark: #1d1133;
  --textDark: var(--grey70);
  --lightestGray: rgba(123, 127, 141, 0.071);
  --maxContentWidth: 1350px;
  --metropolis: "Metropolis", Arial, Helvetica, sans-serif;
  --fxGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  --h1Gradient: linear-gradient(-90deg, #83a0f7, #b66dff);
  --rowFullWidthHPadding: 2.25em;
  --rowFullWidthVPadding: 1.25em;
  --violet3: #9059ff;
  --violet4: #7542e5;
  --warningRed: #d70022;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-image: var(--darkBlueGradient);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.loading {
  background-image: url("/static/images/loader.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.text-light {
  color: var(--white);
}

.text-light-grey {
  color: var(--grey20);
}

.bg-light {
  background: var(--grey10);
}

.drop-shadow-light {
  box-shadow: var(--dropShadowLight);
}

.row-full-width {
  padding: var(--rowFullWidthVPadding) var(--rowFullWidthHPadding);
}

.full-width {
  padding: 0.75em var(--rowFullWidthHPadding);
}

h1,
h2,
.button,
.ff-Met {
  font-family: var(--metropolis);
}

.section-headline {
  font-weight: 600;
  color: var(--grey90);
  margin: 0;
}

a {
  text-decoration: none;
}

.header-nav {
  margin: auto 0 auto auto;
}

.header-link {
  border-radius: 4px;
  padding: 4px 6px;
  color: #fff !important;
  margin-left: 1em;
}

.header-link::after {
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: var(--fxGradient);
  opacity: 0;
  margin-bottom: -6px;
  margin-top: 4px;
}

.active-header-link::after {
  opacity: 1;
}

.home-hero-headline {
  font-size: 3.2em;
  margin: 28px auto 20px auto;
  line-height: 1;
  background: var(--h1Gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-head {
  font-size: 1.15em;
  line-height: 1.4;
}

button,
.button {
  text-decoration: none;
  border-style: solid;
  font-size: 1.1em;
}

.button,
.button:hover,
.button:active,
button,
button:hover,
button:active {
  transition: all 0.1s ease;
}

.blue-button {
  position: relative;
  color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  background-color: var(--blue3);
  background-position: center center;
  border-radius: 2px;
  min-height: 32px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--metropolis);
}

.blue-button:hover {
  background-color: var(--blue7);
}

.sign-in:focus,
.blue-button:focus,
.forwarding-toggle:focus {
  box-shadow: var(--buttonFocus);
  outline: none;
}

.blue-button:active,
.forwarding-toggle:active {
  background-color: var(--blue8);
  box-shadow: 0 0 0 1px rgba(10, 132, 255, 0) inset, 0 0 0 1px rgba(10, 132, 255, 0), 0 0 0 4px rgba(10, 132, 255, 0);
}

.blue-button.loading {
  color: rgba(255, 255, 255, 0.2);
  background-color: var(--blue4);
  transition: all 0.3s ease;
}

.puffy {
  min-height: 48px;
  border-radius: 4px;
  min-width: 200px;
}

::-moz-focus-inner {
  border: 0;
}

.home-hero {
  min-height: 74vh;
  margin: 0 auto 6em auto;
  position: relative;
}

.how-it-works-steps,
.how-it-works-content {
  width: 100%;
}

.how-it-works-header {
  font-size: 2em;
  margin: 0 auto 20px auto;
}

.how-it-works-steps {
  justify-content: space-between;
  max-width: var(--maxContentWidth);
  padding: 4em 0;
  margin-bottom: 4em;
}

.step-illustration {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  border-radius: 12px;
  border: 1px solid #AB71FF;
  margin: 0 auto 2em auto;
}

.step-1.step-illustration {
  background-image: url("/static/images/how-it-works/how-it-works-1.svg");
}

.step-2.step-illustration {
  background-image: url("/static/images/how-it-works/how-it-works-2.svg");
}

.step-3.step-illustration {
  background-image: url("/static/images/how-it-works/how-it-works-3.svg");
}

.step {
  flex-direction: column;
  flex: 0 1 31.333%;
}

.step-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
}

.step-headline {
  font-size: 1.25em;
  line-height: 1.3;
  margin: 0 auto 1em 0;
}

.step-body {
  margin: 0 auto auto auto;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  line-height: 1.7em;
  letter-spacing: 0.009em;
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

.demi {
  font-weight: 500;
}

.flx {
  display: flex;
}

.flx-row {
  flex-direction: row;
}

.flx-end {
  justify-content: flex-end;
}

.flx-col {
  flex-direction: column;
}

.spc-btwn {
  justify-content: space-between;
}

.jst-cntr {
  justify-content: center;
}

.al-cntr {
  align-items: center;
}

.inset {
  padding-left: 6px;
  padding-right: 6px;
}

.margin-auto {
  margin: auto;
}

.container {
  padding-bottom: 8em;
  padding-left: 2.25em;
  padding-right: 2.25em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.txt-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.btn-transparent {
  border-width: 2px;
  border-radius: 8px;
  border-color: #fff;
  color: inherit;
}

.btn-disabled {
  opacity: 0.9;
}

.sign-in {
  padding: 0.75em 1.25em;
  font-weight: 400;
  display: flex;
  margin: auto;
  white-space: nowrap;
}

.sign-in:hover,
.sign-in:active {
  color: #cfcfd8;
  border-color: #cfcfd8;
}

.sign-in:active {
  box-shadow: 0 2px 8px 0 rgba(14, 13, 26, 0.12), 0 3px 1px -2px rgba(7, 48, 114, 0.12), 0 2px 4px 0 rgba(34, 0, 51, 0.04), 0 0 0 1px rgba(32, 18, 58, 0.04);
}

.fx-private-relay-logomark {
  background-image: url("/static/images/placeholder-logo-beta.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  height: 100%;
  min-width: 42px;
  display: inline-block;
  margin-right: 12px;
}

.fx-private-relay-logotype {
  background-image: url("/static/images/fx-private-relay-logotype-light.svg");
  background-position: center 63%;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 180px;
}

.beta-banner-container {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.beta-banner {
  background: var(--fxGradient);
  padding: 2px 0;
  color: rgba(255, 255, 255, 1);
  font-weight: 800;
  font-size: 1em;
  transform: rotate(40deg);
  position: absolute;
  top: 60px;
  right: -190px;
}

.beta-banner-content {
  background: var(--darkBlueGradient);
  padding: 20px 200px;
  opacity: 0.95;
  box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.1);
}

header {
  color: var(--white);
  border-bottom: 1px solid var(--inkDark);
  box-shadow: 0 0 3px 0 var(--inkDark);
  z-index: 2;
  transition: all 0.3s ease;
}

.fix-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--darkBlueGradient);
  box-shadow: 0 0 5px 3px var(--inkDark);
  animation: dropHeader 0.5s ease;
  transition: all 0.5s ease;
}

@keyframes dropHeader {
  0% {
    opacity: 0.5;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-top {
  z-index: 2;
}

.main-list {
  min-height: 50vh;
  max-width: 900px;
  margin: auto;
  justify-content: flex-start;
}

footer {
  position: relative;
  margin: auto 0 0 0;
}

.footer-link.moz-logo-link {
  min-width: 7em;
  margin: auto 0;
}

.GitHub-logo {
  min-width: 24px;
  max-width: 28px;
}

ul {
  list-style-type: none;
}

.footer-link {
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--white);
  font-family: var(--metropolis);
  margin: auto 2em auto auto;
}

.header-link:hover,
.header-link:focus,

.footer-link:hover,
.footer-link:focus {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-link:active,
.footer-link:active {
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.dashboard-container {
  min-height: 81vh;
  height: 100%;
}

.env-bg {
  background-image: url(/static/images/email-tout-bg.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboard-header {
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--grey30);
}

.dashboard-headline {
  font-size: 1.5em;
  margin: auto auto 0 0;
}

main,
table {
  width: 100%;
}

.relay-email-card {
  --hPadding: 2.5em;

  margin-bottom: 2em;
  background-color: white;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
}

.center-value {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 3em;
}

.relay-address {
  background: transparent;
  text-align: left;
  border: none;
  margin-right: 0.75em;
  margin-bottom: 8px;
  font-weight: 600;
  cursor: default;
  height: 100%; /* expand clickable area of relay address */
  display: block;
  position: relative;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0;
  padding: 2px 70px 2px 0; /* makes room for click to copy icon and copied message */
  color: var(--grey80);
}

.relay-address:hover,
.relay-address:focus {
  opacity: 0.75;
  text-decoration: underline;
}

.relay-address:active {
  opacity: 0.6;
}

.relay-address.alias-copied {
  opacity: 1 !important;
  text-decoration: none !important;
}

.alias-copied-icon {
  width: 18px;
  height: 18px;
  background-image: url(/static/images/copy-to-clipboard.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 48px;
  bottom: 3px;
  margin: auto;
}

.alias-copied-icon,
.alias-copied-message {
  display: inline-block;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.alias-copied .alias-copied-icon {
  display: none;
}

.alias-copied-message,
.alias-copied .alias-copied-icon {
  visibility: hidden;
}

.alias-copied-message {
  font-family: "Inter UI", Arial, Helvetica, sans-serif;
  background-color: var(--violet3);
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--white);
  font-size: 14px;
  right: 0;
}

.alias-copied .alias-copied-message {
  visibility: visible;
}

.delete-relay-email-button {
  outline: none !important;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 36px;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.emove-label::before {
  background-image: url(/static/images/trashcan.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 16px;
  margin-right: 6px;
  content: "";
  display: flex;
}

.emove-label {
  display: flex;
  align-items: center;
}

.delete-relay-email-button:hover {
  background-color: var(--grey10);
}

.delete-relay-email-button:focus {
  border: 1px solid var(--grey30);
}

.delete-relay-email-button:active {
  background-color: var(--grey30);
}

.column-delete {
  position: relative;
  margin: auto 0 auto auto;
}

.relay-email-row {
  justify-content: space-between;
  align-items: center;
}

.relay-stat {
  flex-direction: column-reverse;
}

.relay-stat-value {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 6px;
  font-weight: 700;
  font-family: var(--metropolis);
}

.forwarding-toggle {
  height: 1.15em;
  width: 2em;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 1.5em;
  outline: none;
  background-color: var(--blue3);
  background-size: 20px;
  margin: auto 0;
}

.forwarding-toggle:hover {
  background-color: var(--blue7);
}

.forwarding-toggle:active {
  background-color: var(--blue8);
}

.forwarding-toggle::after {
  content: "";
  height: 0.75em;
  width: 0.75em;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  bottom: 0;
  margin: auto;
  right: 4px;
  transition: all 0.2s ease;
}

.forwarding-disabled::after {
  left: 4px;
  right: 18px;
  transition: all 0.2s ease;
}

.forwarding-disabled:hover,
.forwarding-disabled:focus {
  background-color: var(--grey40);
}

.forwarding-disabled:active {
  background-color: var(--grey50);
}

.forwarding-disabled {
  background-color: var(--grey30);
}

.remaining-aliases {
  font-family: var(--metropolis);
  font-size: 1em;
  font-weight: 300;
}

.num-remaining-aliases {
  font-weight: 600;
}

.dash-create-new-relay {
  background-color: var(--grey30);
  background-image: url("/static/images/plus-sign.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 16px;
  margin-left: 1em;
}

.dash-create-new-relay::before {
  margin: auto;
}

.dash-create-new-relay.btn-disabled:hover {
  background-color: var(--grey30);
}

.dash-create-new-relay {
  background-color: var(--grey30);
  background-image: url("/static/images/plus-sign.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 16px;
}

.dash-create-new-relay:hover {
  background-color: var(--grey40);
}

.dash-create-new-relay:focus {
  box-shadow: var(--buttonFocus);
}

.dash-create-new-relay:active {
  background-color: var(--grey50);
}

.grey-pseudo-styles:hover,
.grey-pseudo-styles:focus {
  background-color: var(--grey20);
}

.grey-pseudo-styles:active {
  background-color: var(--grey30);
}

.x-close-icon {
  pointer-events: none;
  height: 24px;
  width: 24px;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.hero-content {
  margin: 5em auto auto auto;
  width: 100%;
  max-width: var(--maxContentWidth);
}

.hero-left,
.hero-right {
  flex: 1 1 44%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.hero-right {
  border-radius: 12px;
  background-image: linear-gradient(230deg, rgba(144, 89, 255, 0.07), #0250bb08);
  box-shadow: var(--dropShadowDark);
  margin: auto;
  min-height: 460px;
}

.hero-left {
  margin: auto;
  padding: 2em 2em 2em 0;
  border-radius: 24px;
  text-align: left;
  align-items: flex-start;
}

.hero-sub-head {
  margin: auto auto 32px 0;
  max-width: 500px;
  color: var(--grey10);
}

.card-small-text {
  color: var(--grey50);
  font-family: var(--metropolis);
  font-size: 15px;
}

.text-dark {
  color: var(--textDark);
}

.relay-email-address-label {
  color: var(--grey50);
  display: flex;
  font-weight: 500;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  font-size: 1em;
  border-radius: 4px;
  padding: 6px 24px 6px 6px;
  width: 156px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.2s ease;
}

.additional-notes {
  display: flex;
  flex-direction: row;
  position: relative;
  visibility: hidden;
  pointer-events: none;
  margin: auto auto 0 0;
}

input::placeholder,
.relay-email-address-label:placeholder-shown {
  color: var(--grey50);
  opacity: 1;
}

.show-label.additional-notes {
  visibility: visible;
  pointer-events: all;
}

.additional-notes::after {
  content: "";
  min-width: 16px;
  min-height: 16px;
  margin-left: -24px;
  display: inline-block;
  background: url("/static/images/edit.svg");
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
  background-size: contain;
  opacity: 0.6;
}

.user-created-label::after {
  opacity: 0;
}

.user-created-label:hover::after {
  opacity: 0.6;
}

.relay-email-address-label:hover {
  background: var(--grey20);
  width: 165px;
  transition: all 0.1s ease-in-out;
}

.relay-email-address-label:focus {
  box-shadow: var(--buttonFocus);
  width: 200px !important;
  transition: all 0.2s ease-in-out;
}

.saved-confirmation {
  content: "Saved!";
  background-color: green;
  border-radius: 4px;
  padding: 4px;
  display: inline-block;
}

.input-error::after,
.input-error {
  background: var(--warningRed);
}

.saved-confirmation::after,
.saved-confirmation {
  background: #3fc290;
}

.input-error,
.saved-confirmation {
  border-radius: 4px;
  padding: 4px;
  color: white;
  font-size: 12px;
  top: 40px;
  z-index: 2;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.input-error::after,
.saved-confirmation::after {
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  top: -4px;
  left: 12px;
  display: block;
}

.show-saved-confirmation .saved-confirmation,
.show-input-error .input-error {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}

.primary-email-address {
  font-weight: 600;
}

.x-close-icon path {
  fill: rgba(255, 255, 255, 1);
}

.dashboard-greeting {
  text-align: center;
  padding: 2em 0 4em 0;
  font-size: 1em;
  font-family: var(--metropolis);
}

.alias-list {
  width: 100%;
}

.appear-smoothly {
  animation: appearSmoothly 0.2s ease;
}

.relay-email {
  --emailCardPadding: 16px;

  margin-top: 48px;
}

.card-top-row {
  padding-bottom: calc(var(--emailCardPadding) - 8px);
}

.card-row {
  padding: var(--emailCardPadding);
}

.card-middle-row {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  z-index: 1;
}

.toggle-details-visibility {
  background: transparent;
  height: 16px;
  position: relative;
  outline: none;
  border: none;
  padding: 0;
  margin: auto auto 0 0;
  min-width: 120px;
}

.toggle-details-visibility:hover .detail-label,
.toggle-details-visibility:focus .detail-label {
  text-decoration: underline;
}

.detail-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 116px;
  align-items: center;
}

.detail-label-icon {
  height: 14px;
  width: 14px;
  background-image: url("/static/images/arrowhead.svg");
  background-size: contain;
  display: inline-block;
  transform-origin: center;
  margin-left: 6px;
  position: absolute;
  right: 0;
  top: 1px;
  transition: all 0.2s ease-in-out;
}

.details-wrapper,
.hide-details-label,
.show-card-details .show-details-label {
  visibility: hidden;
}

.show-card-details .hide-details-label {
  visibility: visible;
}

.details-wrapper {
  position: absolute;
  background-color: var(--grey20);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  justify-content: flex-start;
  transition: all 0.2s ease;
}

.details-column {
  margin-right: 4em;
}

.show-card-details .details-wrapper {
  visibility: visible;
  transition: all 0.2s ease;
}

.show-card-details .detail-label-icon {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.created-label,
.email-forwarding-label {
  margin-bottom: 4px;
  margin-right: 6px;
}

.details-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.forwarding-label-wrapper {
  margin-right: 6px;
  margin-top: 4px;
}

.checkbox-label {
  font-size: 14px;
  margin: 6px auto auto 0;
  color: var(--grey60);
}

.checkbox-wrapper {
  position: relative;
  width: 100%;
  margin-top: 24px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  top: 0;
  left: -4px;
  height: 24px;
  width: 100%;
}

.checkbox:hover + .checkbox-ui {
  background-color: rgba(12, 12, 13, 0.2);
  transition: all 0.2s ease;
}

.checkbox:active + .checkbox-ui {
  background-color: rgba(12, 12, 13, 0.3);
  transition: all 0.2s ease;
}

.checkbox + .checkbox-ui {
  border: 1px solid rgba(12, 12, 13, 0.1);
  border-radius: 2px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  margin-right: 10px;
  margin-top: 4px;
  display: inline-block;
  background-color: rgba(12, 12, 13, 0.081);
  transition: all 0.2s ease;
}

.checkbox:checked + .checkbox-ui {
  background-color: #0060df;
  background-image: url("/static/images/check.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s ease;
}

.checkbox:checked:hover + .checkbox-ui {
  background-color: #003eaa;
}

.checkbox:checked:active + .checkbox-ui {
  background-color: #002275;
}

.checkbox:focus + .checkbox-ui {
  border: 1px solid transparent;
  box-shadow: var(--buttonFocus);
}

.modal-bg {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: center;
  flex-direction: column;
}

.show-modal {
  display: flex;
}

.modal-content {
  background: rgba(255, 255, 255, 1);
  max-width: 520px;
  border-radius: 8px;
  position: absolute;
  left: 2em;
  right: 2em;
  margin: auto;
  padding: 3em 4em;
}

.modal-message {
  font-size: 14px;
  line-height: 1.5;
  color: var(--grey60);
  margin: 0 auto 12px auto;
}

.modal-headline {
  font-weight: 300;
  font-size: 22px;
  margin: 0 auto 24px auto;
  color: var(--grey90);
}

.warning-text {
  color: var(--warningRed);
}

.alias-to-delete {
  display: inline;
  word-break: break-all;
}

.alias-to-delete.demi {
  display: block;
  margin: 0 auto 16px 0;
  color: var(--grey80);
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: unset;
}

.confirm-delete-actions {
  justify-content: flex-end;
  display: flex;
  margin-top: 12px;
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.confirm-delete-action {
  outline: none;
  font-size: 1em;
  border-radius: 4px;
  padding: 12px 24px;
  min-width: 120px;
  border: 1px solid transparent;
}

.cancel-delete {
  background-color: var(--grey20);
  color: var(--grey70);
}

.cancel-delete:hover {
  background-color: var(--grey30);
}

.cancel-delete:focus,
.confirm-delete:focus {
  box-shadow: var(--buttonFocus);
}

.cancel-delete:active {
  background-color: var(--grey40);
}

.confirm-delete:hover {
  background-color: rgb(187, 3, 31);
}

.confirm-delete:active {
  background-color: rgb(167, 5, 30);
}

.confirm-delete[disabled] {
  opacity: 0.7;
  pointer-events: none;
}

.confirm-delete {
  background-color: var(--warningRed);
  color: rgba(255, 255, 255, 1);
  margin-left: 0.5em;
}

.auth-error-wrapper {
  padding: 4em 2em;
  width: 100%;
  max-width: 600px;
}

.waitlist-closed-wrapper {
  max-width: 800px;
}

.waitlist-closed-message {
  max-width: 650px;
  margin: auto;
  line-height: 1.5;
}

.invite-only-content {
  line-height: 1.4;
  margin: auto auto auto 0;
  color: var(--grey10);
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.invite-only-hl {
  font-weight: 700;
  margin: 0 auto 1em auto;
  text-align: center;
  font-size: 3em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
}

.invite-only-text {
  font-size: 1.1em;
  margin: 0 auto 2em auto;
}

.user-avatar {
  min-height: 32px; /* prevents jumping while loading */
  max-width: 32px;
}

.join-waitlist-submit,
.join-waitlist-form {
  margin: auto;
}

.avatar-email-wrapper {
  margin: auto auto 2em auto;
}

.waitlist-user-email {
  font-weight: 600;
  color: var(--grey20);
  margin: auto auto auto 12px;
}

.invite-only-wrapper::after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.invite-only-wrapper.adding-email::after {
  opacity: 0.3;
  transition: all 0.2s ease;
}

.invite-only-wrapper.show-error::after {
  opacity: 0 !important;
}

.waitlist-error,
.user-on-waitlist-content,
.show-error .join-waitlist-content,
.user-on-waitlist .join-waitlist-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}

.waitlist-error,
.user-on-waitlist-content {
  position: absolute;
  margin: auto;
  top: 0;
}

.show-error .waitlist-error,
.user-on-waitlist .user-on-waitlist-content {
  visibility: visible;
  opacity: 1;
}

.zap-16 {
  position: relative;
  display: inline-block;
}

.zap-16::after {
  height: 11px;
  display: block;
  background: url("/static/images/zap-16.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  bottom: -3;
  left: 0;
  right: 0;
}

.waitlist-confirmation-hl {
  font-size: 1.25em;
  font-weight: 700;
  margin: 1em auto 1.15em auto;
}

.green-check {
  align-items: flex-start;
  margin: auto auto 1em auto;
}

.green-check::before {
  content: "";
  display: block;
  background-color: #2ac3a2;
  border: 2px solid #3fe1b0;
  background-image: url("/static/images/white-check.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 30px;
  width: 30px;
  min-width: 30px;
  margin: auto .75em auto auto;
  border-radius: 50%;
}

.waitlist-confirmation-message {
  margin: auto;
}

.file-an-issue {
  text-decoration: underline;
}

.file-an-issue:hover,
.file-an-issue:focus {
  color: var(--grey30);
}

.file-an-issue:active {
  color: var(--grey40);
}

.show-750,
.show-mobile {
  display: none !important;
}

.card-enabled .num-forwarded,
.card-enabled .column-forwarded,
.num-blocked,
.column-blocked {
  opacity: 1;
  transition: all 0.2s ease;
}

.column-forwarded,
.card-enabled .column-blocked {
  opacity: 0.7;
  transition: all 0.2s ease;
}

.num-forwarded,
.card-enabled .num-blocked {
  opacity: 0.4;
  transition: all 0.2s ease;
}

.num-remaining-aliases {
  margin-right: 4px;
}

.mobile-menu {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 0;
  background: #2f2f54;
  transition: all 0.4s ease;
}

.menu-open {
  transition: all 0.4s ease;
}

.mobile-menu-toggle {
  border: none;
  outline: none;
  background: #2f2f54;
  z-index: 1;
}

.mobile-menu-label {
  position: relative;
  display: inline-block;
}

.mobile-menu-label::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  display: flex;
  background-image: url(/static/images/arrowhead-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  bottom: 0;
  margin: auto auto 1px auto;
  right: -26px;
  background-size: contain;
  opacity: 0.9;
  transition: all 0.4s ease;
}

.menu-open .mobile-menu-label::after {
  transform: rotate(180deg);
  opacity: 0.5;
  transition: all 0.4s ease;
}

.mobile-menu-toggle,
.mobile-menu-link {
  color: rgba(255, 255, 255, 1);
  width: 100%;
}

.mobile-menu-link {
  text-align: right;
  padding: 0.75em var(--rowFullWidthHPadding);
}

.mobile-home-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-open .mobile-menu-links {
  visibility: visible;
  pointer-events: all;
  transition: all 0.3s ease;
}

.mobile-menu-links {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: #2f2f54;
  box-shadow: inset 1px 3px 3px #20123a30;
  transition: all 0.3s ease;
}

.mobile-menu-link:hover {
  background: rgba(0, 0, 0, 0.05);
}

.mobile-menu-link:focus {
  box-shadow: var(--buttonFocus);
}

.mobile-menu-link:active {
  background: rgba(0, 0, 0, 0.1);
}

.faqs-wrapper {
  max-width: 1100px;
}

.faqs {
  flex-wrap: wrap;
}

.faq {
  flex: 0 1 46%;
  margin: 0 0 2em 0;
}

.faqs-headline {
  margin: 3em 0 2em;
  font-size: 2em;
}

.faqs-headline,
.faq-headline {
  color: rgba(255, 255, 255, 1);
}

.faq-headline {
  font-size: 1.25em;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.faq-answer {
  color: var(--grey30);
  font-size: 1em;
  line-height: 1.7em;
  margin-top: 0;
}

@media screen and (max-width: 1050px) {
  .home-hero {
    align-items: flex-start;
    margin-bottom: 4em;
  }

  .hero-content {
    max-width: 800px;
    margin-top: 3em;
    flex-direction: column;
  }

  .beta-banner {
    top: 50px;
    font-size: 14px;
    right: -190px;
  }

  .beta-banner-content {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .hero-left {
    padding: 2em;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-right {
    width: 100%;
    min-height: 500px;
  }

  .sign-in-btn,
  .hero-sign-up {
    min-width: 320px;
    justify-content: center;
  }

  .how-it-works-steps {
    flex-direction: column;
  }

  .step {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
  }

  .step-illustration {
    min-width: 240px;
    min-height: 240px;
    margin-bottom: auto;
  }

  .step-text {
    max-width: 100%;
    padding: 0 2em;
  }

  .step-body {
    line-height: 1.5;
    font-size: 0.9em;
  }

  .step-headline {
    margin-bottom: 0.75em;
  }
}

@media screen and (max-width: 1050px) and (min-height: 1000px) {
  .hero-content {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1100px) {
  .hero-sub-head {
    max-width: 650px;
    font-size: 1.1em;
  }

  .home-hero-headline {
    max-width: 800px;
    margin-bottom: 16px;
    font-size: 2.5em;
  }

  .home-hero {
    min-height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  .relay-stat {
    margin-left: 2em;
  }
}

@media screen and (max-width: 750px) {
  .fx-private-relay-logotype {
    min-width: 150px;
  }

  .sign-in {
    padding-left: 1em;
    padding-right: 1em;
  }

  .nested-grid {
    flex-direction: column;
  }

  .relay-stat {
    width: 100%;
    justify-content: space-between;
  }

  .relay-stat-value {
    margin-left: 1em;
  }

  .center-value {
    margin-left: 0;
    flex-direction: row;
  }

  .how-it-works-steps {
    margin-bottom: 0;
  }

  .step {
    flex-direction: column;
    margin-bottom: 4em;
  }

  .step-illustration {
    margin-bottom: 2em;
    width: 260px;
    height: 260px;
  }

  .step-headline {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .step-body {
    text-align: center;
  }

  .grid {
    flex-wrap: wrap;
  }

  .hide-750 {
    display: none;
  }

  .show-750 {
    display: flex !important;
  }

  .emaining-aliases {
    margin: auto 8px;
  }

  .faqs-wrapper {
    max-width: 600px;
  }

  .faqs {
    flex-direction: column;
  }

  .faq {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    --rowFullWidthHPadding: 1.5em;
  }

  footer,
  footer nav {
    flex-direction: column !important;
    width: 100%;
  }

  .footer-link.moz-logo-link {
    margin: auto auto 1em auto;
    max-width: 140px;
  }

  .footer-link {
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .relay-email {
    --hPadding: 1.5em;
  }

  .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .home-hero-headline {
    max-width: 440px;
    font-size: 2em;
  }

  .sign-in-btn,
  .hero-sign-up {
    min-width: auto;
  }

  .hero-left {
    padding: 0;
    margin: 2em auto 5em auto;
  }

  .fx-private-relay-logotype {
    background-position: center 68%;
  }

  .hero-sub-head {
    max-width: 400px;
    font-size: 1em;
  }

  .hero-right {
    display: none;
  }

  header {
    border-bottom: none;
  }

  .waitlist-confirmation-message {
    font-size: 1em;
  }

  .waitlist-confirmation-hl {
    margin-top: 2em;
  }

  .modal-content {
    left: 1em;
    right: 1em;
    padding: 3em 2em;
  }

  .relay-address {
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .beta-banner {
    top: 23px;
    font-size: 12px;
    right: -190px;
    transform: rotate(31deg);
  }

  .green-check,
  .grid {
    flex-direction: column;
  }

  .invite-only-hl {
    font-size: 2em;
  }

  .green-check::before {
    margin: auto;
  }

  .invite-only-text {
    font-size: 1em;
  }

  .nested-grid,
  .nested-grid-wrapper,
  .relay-email-column {
    width: 100%;
  }

  .nested-grid-wrapper {
    padding-top: 2em;
  }

  .relay-stat {
    margin-bottom: 8px;
  }

  .relay-stat,
  .details-row {
    min-height: 30px;
  }

  .relay-stat-value {
    margin-bottom: 0;
  }

  .card-middle-row,
  .details-row {
    flex-direction: column;
  }

  .details-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .details-column {
    margin: auto 0 10px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .column-delete {
    margin-top: 8px;
    justify-content: flex-end;
  }

  .email-forwarding {
    justify-content: flex-end;
  }

  .show-mobile {
    display: flex !important;
  }

  .active-header-link::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--fxGradient);
    margin-right: 8px;
    vertical-align: middle;
    background-size: 400%;
    background-position: bottom right;
  }

  .hide-mobile {
    display: none !important;
  }

  .created-label {
    margin-bottom: 0;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #27294e;
  }

  .fix-header {
    animation: none !important;
  }

  body {
    padding-top: 124px;
  }
}

@media screen and (max-width: 450px) {
  .step-body,
  .step-headline {
    margin-left: 0;
    text-align: left;
  }

  .step-text {
    padding-left: 0.5em;
  }

  .card-top-row {
    flex-wrap: wrap;
  }

  .delete-relay-email-button,
  .delete-email-form {
    width: 100%;
    justify-content: center;
  }

  .confirm-delete-actions {
    flex-direction: column;
  }

  .cancel-delete {
    margin-bottom: 12px;
  }

  .confirm-delete-action {
    margin-left: 0;
    margin-right: 0;
    min-height: 48px;
  }

  .modal-content {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  body {
    --rowFullWidthHPadding: 1em;
  }

  .container {
    padding-left: 1em;
    padding-right: 1em;
  }

  .home-hero-headline {
    font-size: 1.75em;
  }

  .hero-content {
    margin-top: 2em;
  }

  .fx-private-relay-logomark {
    min-width: 30px;
    margin-right: 8px;
  }

  firefox-apps {
    margin: auto 12px !important;
  }
}

@keyframes appearSmoothly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
