:root {
  --blue1: #0df;
  --blue2: #0090ed;
  --blue3: #0060df;
  --blue4: #0250bb;
  --blue5: #073072;
  --blue7: #003eaa;
  --blue8: #002275;
  --darkBlueGradient: linear-gradient(60deg, #2d264e, #26294e);
  --darkestBlue: #282936;
  --dropShadowLight: 0 0 10px -3px #3d3f4740;
  --dropShadowDark: 0 12px 18px 2px rgba(34, 0, 51, 0.09), 0 6px 22px 4px rgba(4, 25, 59, 0.87), 0 6px 10px -4px rgba(14, 13, 26, 0.12);
  --grey10: hsl(240, 9%, 98%);
  --grey20: #f1f1f3;
  --grey30: #d7d7db;
  --grey40: #b1b1b3;
  --grey50: #737373;
  --grey60: #4a4a4f;
  --grey70: #38383d;
  --grey80: #2a2a2e;
  --grey90: #0c0c0d;
  --inkLight: #2b1e44;
  --ink: #20123a;
  --inkDark: #1d1133;
  --textDark: var(--grey70);
  --lightestGray: rgba(123, 127, 141, 0.071);
  --maxContentWidth: 1400px;
  --metropolis: "Metropolis", Arial, Helvetica, sans-serif;
  --navy: #231142;
  --padding: 1.25rem;
  --purple: #7a26a3;
  --monitorPurple: #37366f;
  --fxGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  --violet3: #9059ff;
  --violet4: #7542e5;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-image: var(--darkBlueGradient);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.loading {
  background-image: url("/static/images/loader.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.text-light {
  color: var(--white);
}

.text-light-grey {
  color: var(--grey20);
}

.bg-light {
  background: var(--grey10);
}

.drop-shadow-light {
  box-shadow: var(--dropShadowLight);
}

h1,
h2,
.button,
.ff-Met {
  font-family: var(--metropolis);
}

.section-headline {
  font-weight: 400;
  color: var(--textDark);
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
  margin: 28px auto 20px auto;
  line-height: 1.1;
}

.sub-head {
  font-weight: 300;
  margin: 0 auto 32px auto;
  font-size: 1.25rem;
  line-height: 1.2;
}

button,
.button {
  background-color: transparent;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.button,
.button:hover,
.button:active,
button,
button:hover,
button:active {
  transition: all 0.1s ease;
}

.blue-button {
  position: relative;
  color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  background-color: var(--blue3);
  background-position: center center;
  border-radius: 2px;
  min-height: 32px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--metropolis);
}

.blue-button:hover {
  background-color: var(--blue7);
}

.blue-button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.blue-button:active {
  background-color: var(--blue8);
}

.blue-button.loading {
  color: rgba(255, 255, 255, .2);
  background-color: var(--blue4);
  transition: all .3s ease;
}

.puffy {
  min-height: 48px;
  border-radius: 4px;
  min-width: 200px;
}

::-moz-focus-inner {
  border: 0;
}

.home-hero {
  min-height: 74vh;
  margin: 2rem auto;
}

.how-it-works {
  margin-bottom: 8rem;
}

.how-it-works-header {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0 auto 4rem auto;
}

.how-it-works-card {
  position: relative;
  padding: 1px;
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
  max-width: 1100px;
  background-color: #9059ff05;
}

.how-it-works-content {
  padding: 5rem 5rem 7rem 5rem;
  width: 100%;
}

.step {
  margin: auto auto 5rem auto;
  max-width: 1000px;
}

.step.step-3 {
  margin-bottom: 7rem;
}

.step-text {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.step-headline {
  font-weight: 500;
  font-size: 1.7rem;
  margin: auto auto 20px 0;
}

.step-body {
  margin: 0 auto auto auto;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  line-height: 1.7rem;
  letter-spacing: 0.009rem;
  font-family: var(--metropolis);
  font-weight: 100;
}

.flx-row.step-2 {
  flex-direction: row-reverse;
}

.step-illustration {
  min-height: 260px;
  min-width: 300px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bold {
  font-weight: 700;
}

.flx {
  display: flex;
}

.flx-row {
  flex-direction: row;
}

.flx-col {
  flex-direction: column;
}

.spc-btwn {
  justify-content: space-between;
}

.jst-cntr {
  justify-content: center;
}

.al-cntr {
  align-items: center;
}

.margin-auto {
  margin: auto;
}

.mw-850 {
  max-width: 850px;
}

.container {
  padding-bottom: 8rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  margin-left: auto;
  margin-right: auto;
}

.txt-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.btn-transparent {
  border-width: 2px;
  border-radius: 8px;
  border-color: #fff;
  color: inherit;
}

.sign-in {
  padding: 0.75rem 1.25rem;
  font-weight: 400;
  display: flex;
  margin: auto;
  white-space: nowrap;
}

.sign-in:hover,
.sign-in:focus,
.sign-in:active {
  color: #cfcfd8;
  border-color: #cfcfd8;
}

.sign-in:active {
  box-shadow: 0 2px 8px 0 rgba(14, 13, 26, 0.12), 0 3px 1px -2px rgba(7, 48, 114, 0.12), 0 2px 4px 0 rgba(34, 0, 51, 0.04), 0 0 0 1px rgba(32, 18, 58, 0.04);
}

.fx-private-relay-logomark {
  background-image: url("/static/images/placeholder-logo-beta.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  height: 100%;
  min-width: 42px;
  display: inline-block;
  margin-right: 8px;
}

.fx-private-relay-logotype {
  background-image: url("/static/images/fx-private-relay-logotype-light.svg");
  background-position: center 63%;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 270px;
  min-height: 50px;
}

.fx-logotype {
  margin-right: 8px;
}

.bolder {
  font-weight: 600;
}

.row-full-width {
  padding: 1.25rem 2.25rem;
}

.logo {
  max-width: 80px;
}

header {
  background: none;
  color: var(--white);
}

.add-to-fx-header {
  padding: 4px 6px;
  margin-right: -6px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
}

.main-list {
  min-height: 50vh;
  max-width: 900px;
  margin: auto;
}

.messages {
  width: 100%;
  max-width: var(--maxContentWidth);
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 100px;
}

.messages.profile-messages {
  top: 20vh;
}

footer {
  position: relative;
  margin: auto 0 0 0;
}

.footer-link.moz-logo-link {
  min-width: 7rem;
  margin: auto 0;
}

.GitHub-logo {
  min-width: 24px;
  max-width: 28px;
}

ul {
  list-style-type: none;
}

.footer-link {
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--white);
  font-family: var(--metropolis);
  margin: auto 2rem auto auto;
}

.add-to-fx-header:hover,
.add-to-fx-header:focus,
.footer-link:hover,
.footer-link:focus {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.2);
}

.add-to-fx-header:active,
.footer-link:active {
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.dashboard-container {
  min-height: 81vh;
  height: 100%;
  padding-top: 10vh;
}

.env-bg {
  background-image: url(/static/images/email-tout-bg.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboard-header {
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.dashboard-headline {
  font-size: 1.5rem;
  margin: auto auto 0 0;
}

main,
table {
  width: 100%;
}

.relay-email {
  --hPadding: 2.5rem;

  margin-bottom: 2rem;
  background-color: white;
  border-radius: 16px;
  color: var(--textDark);
}

.relay-email-address-wrapper {
  padding: 1.5rem var(--hPadding) 0 var(--hPadding);
  justify-content: space-between;
  display: flex;
}

.grid {
  display: flex;
  justify-content: space-between;
  padding: 2rem var(--hPadding);
  width: 100%;
}

.nested-grid {
  display: flex;
}

.nested-grid-wrapper {
  display: flex;
  justify-content: flex-end;
}

.center-value {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 4rem;
}

.relay-email-label {
  color: var(--grey50);
  font-size: 1rem;
  font-family: var(--metropolis);
  font-weight: 300;
  letter-spacing: 0.05em;
  padding-bottom: 0.45rem;
}

.relay-address {
  text-align: left;
  border: none;
  margin-right: 0.75rem;
  font-weight: 600;
  cursor: default;
  height: 100%; /* expand clickable area of relay address */
  display: block;
  position: relative;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0;
  padding: 2px 70px 2px 0; /* makes room for click to copy icon and copied message */
}

.relay-address:hover,
.relay-address:focus {
  opacity: 0.75;
  text-decoration: underline;
}

.relay-address:active {
  opacity: 0.6;
}

.relay-address.alias-copied {
  opacity: 1 !important;
  text-decoration: none !important;
}

.alias-copied-icon {
  width: 14px;
  height: 18px;
  background-image: url(/static/images/copy-to-clipboard.svg);
  background-repeat: no-repeat;
  top: 0;
  right: 48px;
  bottom: 3px;
  margin: auto;
}

.alias-copied-icon,
.alias-copied-message {
  display: inline-block;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.alias-copied .alias-copied-icon {
  display: none;
}

.alias-copied-message,
.alias-copied .alias-copied-icon {
  visibility: hidden;
}

.alias-copied-message {
  font-family: "Inter UI", Arial, Helvetica, sans-serif;
  background-color: var(--violet3);
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--white);
  font-size: 14px;
  right: 0;
}

.alias-copied .alias-copied-message {
  visibility: visible;
}

.delete-relay-email-button {
  outline: none !important;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(/static/images/trashcan.svg);
  background-repeat: no-repeat;
  background-position: 76px 6px;
  background-size: 19px;
  height: 36px;
  padding-right: 32px;
  padding-left: 14px;
  display: flex;
  align-items: center;
}

.column-delete {
  position: relative;
}

.relay-email-label.remove-label {
  padding-bottom: 0;
}

.delete-alias-content {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  overflow: hidden;
}

.delete-alias-confirmation {
  border-radius: 16px;
  position: absolute;
  top: 2.75rem;
  right: -10px;
  background-color: transparent;
  min-width: 300px;
  z-index: 1;
  transform: translateY(12px);
  animation: fxBentoAppear 0.1s ease;
}

.delete-alias-confirmation::after {
  display: block;
  content: "";
  height: 12px;
  width: 12px;
  position: absolute;
  top: -7px;
  right: 23px;
  margin: auto;
  transform: rotate(45deg);
  border-top-left-radius: 1px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px -3px #3d3f4740;
  border-top: 1px solid transparent; /* creates outline in high-contrast mode */
  border-left: 1px solid transparent; /* creates outline in high-contrast mode */
  z-index: -1;
}

.confirm-delete-actions {
  padding: 0;
  width: 100%;
  font-size: 0;
  border-top: 1px solid var(--grey20);
}

.confirm-delete-action {
  border-radius: 0;
  border: none;
  outline: none;
  width: 50%;
  color: var(--textDark);
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--grey10);
  user-select: none;
}

.confirm-delete-action:focus,
.confirm-delete-action:hover {
  background: var(--grey20);
}

.confirm-delete-action:active {
  background: var(--grey30);
}

.confirm-delete {
  border-left: 1px solid var(--grey10);
}

.delete-alias-message {
  line-height: 1.5;
  padding: 1.25rem 2rem 1rem 2rem;
}

.email-forwarding {
  justify-content: flex-end;
  line-height: 1.4;
}

.email-forwarding-form {
  width: 100%;
  flex-direction: row-reverse;
}

.email-forwarding-label,
.delete-relay-email-button .relay-email-label {
  padding-bottom: 0;
}

.email-forwarding-label {
  margin: auto auto auto 0.75rem;
}

.relay-email-column.column-delete {
  justify-content: center;
  align-items: flex-end;
}

.relay-email-row {
  padding: 1.5rem var(--hPadding);
  border-top: 1px solid var(--lightestGray);
}

.column-delete-relay-email {
  align-items: flex-end;
}

.forwarding-checkbox {
  height: 1.75rem;
  min-width: 1.75rem;
  width: 1.75rem;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 4px;
  outline: none;
  background-image: url("/static/images/check.svg");
  background-color: var(--grey20);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin: auto 0;
}

.forwarding-checkbox:hover,
.forwarding-checkbox:focus {
  background-color: var(--grey30);
}

.forwarding-checkbox:active {
  background-color: var(--grey40);
}

.forwarding-disabled {
  background-image: none;
}

.forwarding-disabled::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/static/images/x-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px;
  content: "";
  display: block;
  opacity: 0.4;
}

.remaining-aliases-wrapper {
  flex-direction: column-reverse;
}

.remaining-aliases {
  font-family: var(--metropolis);
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.75rem;
}

.num-remaining-aliases {
  font-weight: 600;
}

.add-to-fx::before,
.create-new-relay::before {
  content: "";
  background-image: url(/static/images/plus-sign.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  display: inline-flex;
  margin: auto 6px auto 0;
}

.create-new-relay::before,
.add-to-fx::before {
  background-image: url(/static/images/plus-sign-white.svg);
}

.grey-pseudo-styles:hover,
.grey-pseudo-styles:focus {
  background-color: var(--grey20);
}

.grey-pseudo-styles:active {
  background-color: var(--grey30);
}

.x-close-icon {
  pointer-events: none;
  height: 24px;
  width: 24px;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.hero-content {
  margin: auto;
  width: 100%;
  max-width: 1400px;
}

.hero-left,
.hero-right {
  min-height: 100%;
  flex: 1 1 44%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.hero-right {
  border-radius: 24px;
  background-image: linear-gradient(230deg, rgba(144, 89, 255, 0.07), #0250bb08);
  box-shadow: var(--dropShadowDark);
}

.hero-left {
  padding: 4rem 2rem;
  border-radius: 24px;
  text-align: left;
  align-items: flex-start;
}

.hero-sub-head {
  margin: auto auto 32px 0;
  max-width: 375px;
}

.how-it-works-content > .hero-sign-up-bg {
  margin: auto;
}

.card-small-text {
  color: var(--grey50);
  font-size: 0.75rem;
  font-family: var(--metropolis);
  font-weight: 300;
  letter-spacing: 0.05em;
}

.created-label {
  margin-right: 0.25rem;
}

.text-dark {
  color: var(--textDark);
}

.email-value {
  font-weight: 600;
  font-family: var(--interUi);
}

.relay-email-address-note {
  color: var(--grey50);
  font-family: var(--metropolis);
  display: flex;
  margin-top: 1rem;
  font-weight: 300;
  align-items: center;
}

.primary-email-address {
  font-weight: 600;
}

.x-close-icon path {
  fill: rgba(255, 255, 255, 1);
}

/* no aliases screen */

.no-aliases {
  display: none;
}

.alias-list {
  width: 100%;
}

.appear-smoothly {
  animation: appearSmoothly 0.2s ease;
}

.invite-only-hl,
.get-relay-addon,
.no-active-aliases {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 460px;
}

.get-relay-addon::before,
.no-active-aliases::before {
  height: 100px;
  width: 100px;
  content: "";
  background-image: url(/static/images/email-tout.svg);
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.continue-without-addon {
  padding: 4px 8px;;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-top: 24px;
  font-weight: 300;
  text-decoration: underline;
}

/* end no aliases screen */

/* auth error */

.auth-error-wrapper {
  line-height: 1.4;
  border-radius: 8px;
  padding: 2px;
  margin: 5vh auto auto auto;
}

/* end auth error */

/* join waitlist */

.invite-only-wrapper {
  border-radius: 17px;
  padding: 2px;
  box-shadow: var(--dropShadowDark);
}

.invite-only-content {
  max-width: 700px;
  padding: 4rem;
  width: 100%;
  background-color: #302e5b;
  border-radius: 16px;
  position: relative;
}

.invite-only-hl {
  margin: auto auto 20px auto;
}

.user-avatar {
  min-height: 80px; /* prevents jumping while loading */
  max-width: 80px;
  margin: 20px auto;
}

.join-waitlist-submit,
.join-waitlist-form {
  width: 100%;
  margin: auto;
}

.join-waitlist-submit {
  min-height: 48px;
  max-width: 260px;
  font-size: 17px;
  border: none;
  margin: 2px;
  border-radius: 8px;
}

.waitlist-user-email {
  font-weight: 500;
  margin: auto auto 20px auto;
}

.invite-only-wrapper::after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: #302e5b;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.invite-only-wrapper.adding-email::after {
  opacity: .3;
  transition: all 0.2s ease;
}

.invite-only-wrapper.show-error::after {
  opacity: 0 !important;
}

.waitlist-error,
.user-on-waitlist-content,
.show-error .join-waitlist-content,
.user-on-waitlist .join-waitlist-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}

.waitlist-error,
.user-on-waitlist-content {
  position: absolute;
  margin: auto;
}

.show-error .waitlist-error,
.user-on-waitlist .user-on-waitlist-content {
  visibility: visible;
  opacity: 1;
}

.waitlist-confirmation-hl::before {
  content: "";
  display: block;
  background-color: #2ac3a2;
  border: 3px solid #3fe1b0;
  background-image: url("/static/images/white-check.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  width: 60px;
  margin: auto auto 16px auto;
  border-radius: 50%;
}

.waitlist-confirmation-message {
  margin: 0 auto auto auto;
  max-width: 460px;
}

.file-an-issue {
  text-decoration: underline;
}

.file-an-issue:hover,
.file-an-issue:focus {
  color: var(--grey30);
}

.file-an-issue:active {
  color: var(--grey40);
}

/* end join waitlist */

@media screen and (max-width: 1050px) {
  .home-hero {
    align-items: flex-start;
  }

  .hero-content {
    max-width: 800px;
    margin: 3vh auto;
    flex-direction: column;
  }

  .hero-left {
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-sub-head {
    margin: 0 auto 32px auto;
  }

  .hero-right {
    width: 100%;
    max-width: 600px;
    min-height: 500px;
  }

  .sign-in-btn,
  .hero-sign-up {
    min-width: 320px;
    justify-content: center;
  }

  .how-it-works {
    margin-bottom: 0;
    text-align: center;
  }

  .how-it-works-card {
    border-radius: 0;
  }

  .step-headline {
    margin-left: auto;
    margin-right: auto;
  }

  .step,
  .flx-row.step-2 {
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 600px;
  }

  .how-it-works-content {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .step-text {
    padding: 2rem;
  }

  .step.step-3 {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 1050px) and (min-height: 1000px) {
  .hero-content {
    flex-direction: column-reverse;
  }
}

@media screen and (max-height: 1000px) {
  .hero-left {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  .home-hero-headline {
    max-width: 700px;
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 800px) {
  .relay-stat {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .nested-grid {
    flex-direction: column;
  }

  .relay-stat {
    width: 100%;
    justify-content: space-between;
  }

  .relay-stat-value {
    margin-left: 2rem;
  }

  .relay-email-label {
    padding-bottom: 0;
  }

  .center-value {
    margin-left: 0;
    flex-direction: row;
  }
}

@media screen and (max-width: 750px) {
  .home-hero-headline {
    max-width: 440px;
    font-size: 2.5rem;
  }

  .grid {
    flex-wrap: wrap;
  }

  .dashboard-header {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .dashboard-headline {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column !important;
  }

  footer nav {
    flex-direction: column;
    width: 100%;
  }

  .footer-link.moz-logo-link {
    margin: auto auto 1rem auto;
  }

  .footer-link {
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .relay-email {
    --hPadding: 1.5rem;
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .row-full-width {
    padding: 1.25rem;
  }

  .home-hero-headline {
    max-width: 440px;
    font-size: 2rem;
  }

  .sign-in-btn,
  .hero-sign-up {
    min-width: auto;
  }

  .hero-left {
    padding: 0;
    margin: 5rem auto 10rem auto;
  }

  .hero-sign-up-bg {
    width: 80%;
  }

  .fx-private-relay-logotype {
    background-position: center 68%;
  }

  .hero-sub-head {
    max-width: 300px;
    font-size: 1rem;
  }

  .how-it-works-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .step-text {
    padding: 2rem 1rem;
  }

  .step-headline {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .step-body {
    font-size: 1rem;
  }

  .step {
    text-align: left;
    margin-bottom: 3rem;
  }

  .invite-only-content {
    padding: 2rem;
  }

  .waitlist-confirmation-message {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {

  .step-illustration {
    min-width: 100%;
  }

  .invite-only-hl,
  .no-active-aliases {
    font-size: 1.2rem;
  }

  .fx-private-relay-logotype {
    display: none;
  }

  .grid {
    flex-direction: column;
  }

  .nested-grid,
  .nested-grid-wrapper {
    width: 100%;
  }

  .nested-grid-wrapper {
    padding-top: 2rem;
  }

  .relay-stat {
    margin-bottom: 0.5rem;
  }

  .dashboard-headline {
    margin: 5rem auto auto auto;
  }
}

@keyframes appearSmoothly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
