@import "~@mozilla-protocol/core/protocol/css/includes/tokens/dist/index.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.header {
  background-color: $color-light-gray-05;
  width: 100%;
  padding: $spacing-lg 0;

  .header-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    @media screen and #{$mq-md} {
      flex-direction: row;
      align-items: center;
    }

    .user-details {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      gap: $spacing-md;

      .greeting {
        @include text-body-xl;
        font-weight: 700;

        .lead {
          @include text-body-md;
          font-weight: 400;
          display: block;
        }
      }

      .subdomain {
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        color: $color-blue-50;
      }
    }

    .account-stats {
      display: flex;
      text-align: center;
      justify-content: space-evenly;

      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 $spacing-md;
        border-right: 1px solid $color-light-gray-20;

        &:last-child {
          border-right: 0 none transparent;
        }

        .label {
          color: $color-dark-gray-10;
        }

        .value {
          @include text-title-sm;
          font-family: $font-stack-firefox;
          font-weight: 700;
          padding: $spacing-xs 0;
        }
      }
    }
  }
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: $spacing-md;
  padding-bottom: $spacing-xl;
}

.main-wrapper,
.banners-wrapper,
.bottom-banner-wrapper,
.no-premium-header,
.header-wrapper {
  max-width: $content-xl;
  width: 100%;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

.no-premium-header {
  padding-top: $spacing-xl;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.size-information {
  padding: 0 0 $spacing-lg;
}

.bottom-banner {
  background-color: $color-white;
  width: 100%;

  .bottom-banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: $spacing-xl;
    padding: $spacing-xl;

    @media screen and #{$mq-md} {
      flex-direction: row;
    }
  }

  .bottom-banner-content {
    max-width: $screen-sm;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: $spacing-md;

    h3 {
      @include text-title-xs;
      font-weight: 500;

      strong {
        font-weight: 700;
      }
    }

    p {
      @include text-body-md;
      color: $color-light-gray-90;
    }
  }
}
