@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "~@mozilla-protocol/core/protocol/css/includes/mixins/typography" as
  mixins-typography;
@use "../../styles/typography";

.header {
  background-color: mp.$color-light-gray-05;
  width: 100%;
  padding: mp.$spacing-md 0;

  .header-wrapper {
    display: flex;
    flex-direction: column;
    gap: mp.$spacing-md;

    @media screen and #{mp.$mq-lg} {
      flex-direction: row;
      align-items: center;
    }

    .user-details {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      gap: mp.$spacing-sm;

      .greeting {
        @include mp.text-body-xl;
        font-weight: 700;

        .lead {
          @include mp.text-body-md;
          font-weight: 400;
          display: block;
        }
      }

      .subdomain {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: mp.$spacing-xs;
        color: mp.$color-blue-50;

        .info-icon {
          align-items: center;
          background-color: transparent;
          border-style: none;
          color: mp.$color-light-gray-70;
          cursor: pointer;
          display: flex;
        }

        .pencil-icon {
          margin-right: mp.$spacing-xs;
        }
      }

      .profile-registered-domain-value {
        word-break: break-word;
      }
    }

    .account-stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: mp.$spacing-md;
      text-align: center;
      justify-content: space-evenly;

      @media screen and #{mp.$mq-md} {
        display: flex;
      }

      .stat-wrapper {
        position: relative;

        $arrowWidth: 6px;

        .tooltip {
          @include mp.text-body-sm;
          position: absolute;
          width: mp.$content-xs;
          color: mp.$color-white;
          max-width: calc(100% - 2 * mp.$spacing-xs);
          top: calc(100% + $arrowWidth + mp.$spacing-xs);
          font-weight: 400;
          right: mp.$spacing-xs;
          background-color: mp.$color-purple-80;
          box-shadow: mp.$box-shadow-sm;
          display: flex;
          flex-direction: column;
          gap: mp.$spacing-sm;
          padding: mp.$spacing-md mp.$spacing-md;
          border-radius: mp.$border-radius-sm;
          // Prevent other .stat-wrapper elements from overlapping this tooltip:
          z-index: 2;

          @media screen and #{mp.$mq-lg} {
            // The wrapper doesn't span the full width on large screens,
            // so limiting the tooltip to its wrapper's size makes it too thin:
            max-width: unset;
          }

          &::before {
            content: "";
            height: 2 * $arrowWidth;
            width: 2 * $arrowWidth;
            position: absolute;
            top: -1 * $arrowWidth;
            right: mp.$spacing-md;
            transform: rotate(45deg);
            background-color: mp.$color-purple-80;
            border-top: 1px solid mp.$color-purple-80;
            border-left: 1px solid mp.$color-purple-80;
          }
        }

        // Makes sure the tooltip does not get a border on hover
        .stat {
          border: none;
        }
      }

      .stat {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: mp.$spacing-xs;
        padding: mp.$spacing-md;
        background-color: mp.$color-white;
        border: 1px solid mp.$color-light-gray-20;
        border-radius: mp.$border-radius-md;

        @media screen and #{mp.$mq-lg} {
          // On small screens, stats have a border and all that, but since
          // Protocol doesn't have max-width media queries, we need to unset
          // all those for larger screens:
          border-style: none;
          border-right-style: solid;
          border-radius: 0;
          background-color: transparent;
          padding-block: 0;

          &:last-child {
            border-right-style: none;
          }
        }

        .label {
          @include mp.text-body-sm;
          color: mp.$color-dark-gray-10;
        }

        .maxed {
          color: mp.$color-purple-50;
        }

        .value {
          @include typography.text-title-xs {
            font-family: mp.$font-stack-firefox;
            font-weight: 700;
            padding: mp.$spacing-xs 0;
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
          }

          .learn-more-wrapper {
            @include mp.text-body-sm;
            font-weight: 400;

            .open-button {
              background-color: transparent;
              border-style: none;
              border-radius: mp.$border-radius-lg;
              color: mp.$color-blue-50;
              padding-inline: mp.$spacing-md;
              font-family: mp.$font-stack-base;
              font-weight: 500;
              cursor: pointer;

              &:hover {
                background-color: tokens.$color-grey-10;
              }
            }

            &.is-open .open-button {
              background-color: tokens.$color-grey-10;
            }

            .close-button {
              align-self: end;
              background-color: transparent;
              border-style: none;
              border-radius: mp.$border-radius-sm;
              float: right;
              padding: 0;
              cursor: pointer;

              &:hover {
                color: mp.$color-blue-50;
              }
            }

            .learn-more-tooltip {
              padding: mp.$spacing-md;
              background-color: mp.$color-white;
              width: mp.$content-sm;
              // On small screens, the tooltip should span the full width,
              // minus the padding around `.stat` elements (i.e. the value of
              // `gap` for `.account-stats`):
              max-width: calc(100vw - mp.$spacing-md * 2);
              box-shadow: mp.$box-shadow-sm;
              border-radius: mp.$border-radius-sm;
              text-align: start;

              p + p {
                // Not using `gap` on the parent becase we don't want space
                // between the close button and the first paragraph:
                margin-top: mp.$spacing-md;
              }
            }
          }
        }

        // odd `.stat` elements are on the left-hand side on small screens,
        // so we align the tooltip to its left border:
        &:nth-child(odd) .learn-more-tooltip {
          left: 0;
        }

        // even `.stat` elements are on the left-hand side on small screens,
        // so we align the tooltip to its right border:
        &:nth-child(even) .learn-more-tooltip {
          right: 0;
        }

        @media screen and #{mp.$mq-md} {
          // On medium-sized screens, the `.stat` items are in a row,
          // so only the first element should have the tooltip aligned to its
          // left-hand side:
          &:not(:first-child):nth-child(odd) .learn-more-tooltip {
            left: unset;
            right: 0;
          }
        }
      }
    }
  }
}

.upsell-banner {
  background-color: mp.$color-blue-90;

  .upsell-banner-description,
  .upsell-banner-header {
    @include mp.font-firefox;
    color: mp.$color-white;
  }

  .upsell-banner-header {
    @include typography.text-title-md {
      font-weight: 700;
    }
  }

  .upsell-banner-description {
    @include mp.text-body-lg;
  }

  .upsell-banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: mp.$spacing-xl 0;
    gap: mp.$spacing-2xl;

    @media screen and #{mp.$mq-lg} {
      flex-direction: row;
      gap: mp.$spacing-xs;
    }
  }

  .upsell-banner-image {
    max-width: mp.$content-md;
    width: 100%;
  }

  .upsell-banner-content {
    max-width: mp.$content-md;
    display: flex;
    gap: mp.$spacing-lg;
    padding: 0 mp.$spacing-xl;
    flex-direction: column;
    align-items: flex-start;
  }
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: mp.$spacing-md;
  padding-bottom: mp.$spacing-xl;
  // Ensure that the <Tips> card can always overlap elements in the profile,
  // even if they have z-indexes to overlap each other:
  isolation: isolate;

  @media screen and (min-width: mp.$screen-md) {
    background-color: mp.$color-light-gray-10;
  }
}

.main-wrapper,
.banners-wrapper,
.bottom-banner-wrapper,
.no-premium-header,
.header-wrapper {
  max-width: mp.$content-xl;
  width: 100%;
  margin: 0 auto;
  padding: 0 mp.$spacing-md;
}

.banners-wrapper {
  gap: mp.$spacing-lg;
  display: flex;
  flex-direction: column;
}

.no-premium-header {
  padding-top: mp.$spacing-xl;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: mp.$spacing-xl;
}

.size-information {
  padding: 0 0 mp.$spacing-lg;
}

.bottom-banner {
  background-color: mp.$color-white;
  width: 100%;

  .bottom-banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: mp.$spacing-xl;
    padding: mp.$spacing-xl;

    @media screen and #{mp.$mq-md} {
      flex-direction: row;
    }
  }

  .bottom-banner-content {
    max-width: mp.$screen-sm;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: mp.$spacing-md;

    h3 {
      @include mp.font-mozilla;
      @include typography.text-title-xs {
        font-weight: 500;
      }

      strong {
        font-weight: 700;
      }
    }

    p {
      @include mp.text-body-md;
      color: mp.$color-light-gray-90;
    }
  }
}
