@import "~@mozilla-protocol/core/protocol/css/includes/tokens/dist/index.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.menu {
  display: none;
}

.main {
  width: 100%;
  padding: $spacing-lg;
}

.banner-wrapper {
  padding-bottom: $spacing-xl;
}

.settings-form {
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius-md;
  padding: $spacing-lg $spacing-xl;
  background-color: white;
}

.field {
  border-bottom: 1px solid $color-light-gray-20;
  padding-bottom: $spacing-sm;
}

.field-heading {
  @include text-title-3xs;
  color: $color-dark-gray-50;
  font-weight: 400;
  padding-bottom: $spacing-md;
}

.field-content {
  .field-control {
    display: flex;
    align-items: center;
    gap: $spacing-sm;

    label {
      display: inline-block;
    }
  }

  .field-warning {
    display: flex;
    gap: $spacing-sm;
    align-items: flex-start;
    background-color: $color-light-gray-20;
    width: 100%;
    margin-top: $spacing-lg;
    padding: $spacing-md $spacing-lg;
    border-radius: $border-radius-sm;
  }
}

.controls {
  padding: $spacing-md 0;
  text-align: center;
}

@media screen and #{$mq-md} {
  .settings-page {
    display: flex;
    flex-direction: row-reverse;
  }

  .menu {
    display: block;
    width: $content-sm;
    padding: $spacing-lg $spacing-lg;

    h1 {
      padding-bottom: $spacing-lg;
    }

    ul {
      list-style-type: none;

      li {
        padding: $spacing-sm 0;
      }

      a {
        @include text-body-lg;
        display: flex;
        align-items: center;
        color: $color-dark-gray-50;

        &:hover {
          text-decoration: underline;
        }

        img {
          margin-right: $spacing-sm;
          // The size of text-body-lg, i.e. the same size as the containing <a>'s font:
          width: remify(type-scale("body-lg-size"));
        }
      }
    }
  }

  .field {
    display: flex;
  }

  .field-heading {
    width: $content-sm;
    flex-shrink: 0;
  }

  .controls {
    text-align: end;
  }
}
