@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "../../styles/tokens";

.settings-page {
  display: flex;
  flex-direction: column-reverse;
}

.menu {
  padding: mp.$spacing-lg mp.$spacing-lg 0;

  h1 {
    padding-bottom: mp.$spacing-lg;
  }

  ul {
    // The list of links is hidden on mobile
    display: none;
    list-style-type: none;

    li {
      padding: mp.$spacing-sm 0;
    }

    a {
      @include mp.text-body-lg;
      display: flex;
      align-items: center;
      color: mp.$color-dark-gray-50;
      gap: mp.$spacing-sm;

      &:hover {
        text-decoration: underline;
      }

      img,
      svg.menu-icon {
        // The size of text-body-lg, i.e. the same size as the containing <a>'s font:
        width: mp.remify(mp.type-scale("body-lg-size"));
        color: tokens.$color-violet-40;
      }
    }
  }
}

.main {
  width: 100%;
  padding: mp.$spacing-lg;
}

.banner-wrapper {
  padding-bottom: mp.$spacing-xl;
}

$field-gap: mp.$spacing-lg;

.settings-form {
  @include mp.text-body-sm;
  box-shadow: mp.$box-shadow-sm;
  border-radius: mp.$border-radius-md;
  padding: mp.$spacing-md;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: $field-gap;
  color: tokens.$color-grey-50;
}

.field {
  border-bottom: 1px solid mp.$color-light-gray-20;
  display: flex;
  flex-direction: column;
  gap: mp.$spacing-sm;
  // padding-bottom is used to have the same gap between the form field and the
  // bottom border, as the form field has to the bottom border of the form field
  // preceding it (via `.settings-form`'s `gap`).
  padding-bottom: $field-gap;
}

.field-heading {
  @include mp.text-title-3xs;
  font-weight: 400;
  flex-basis: 0;
  min-width: mp.$layout-xl;

  .field-heading-icon-wrapper {
    display: flex;
    align-items: center;
    gap: mp.$spacing-sm;

    svg {
      display: none;

      @media screen and #{mp.$mq-sm} {
        display: initial;
      }
    }
  }
}

.field-content {
  display: flex;
  flex-direction: column;
  gap: mp.$spacing-md;

  .field-control {
    display: flex;
    align-items: flex-start;
    gap: mp.$spacing-sm;

    input {
      margin-top: mp.$spacing-xs;
    }

    label {
      display: inline-flex;
      flex-direction: column;
      gap: mp.$spacing-sm;
    }
  }

  .field-warning {
    display: flex;
    gap: mp.$spacing-sm;
    align-items: flex-start;
    background-color: mp.$color-light-gray-20;
    width: 100%;
    padding: mp.$spacing-md mp.$spacing-lg;
    border-radius: mp.$border-radius-sm;

    svg {
      color: tokens.$color-yellow-50;
      flex: 1 0 auto;
    }
  }
}

.controls {
  text-align: center;
}

.copy-api-key-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: mp.$spacing-md;
  align-items: center;
}

.copy-api-key-display {
  padding: mp.$spacing-sm mp.$spacing-md;
  background-color: tokens.$color-grey-05;
  border: 0;
  outline: 1px solid tokens.$color-grey-20;
  border-radius: mp.$border-radius-md;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  max-width: 200px;
  text-overflow: ellipsis;

  @media screen and #{mp.$mq-md} {
    max-width: 350px;
  }
}

.settings-api-key-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: mp.$spacing-sm;
}

.settings-api-key-copy {
  width: 100%;
}

.settings-api-qr-code {
  height: auto;
  max-width: 200px;
}

.copy-button-wrapper {
  display: flex;
  flex-direction: row;
  gap: mp.$spacing-xs;
  position: relative;

  .copy-button {
    display: block;
    appearance: none;
    border: 0;
    background-color: transparent;
    text-align: center;
    color: tokens.$color-grey-20;
    cursor: pointer;

    svg {
      width: mp.$layout-xs;
    }

    &:hover {
      color: tokens.$color-grey-30;
    }
  }

  .copied-confirmation {
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s;
    background-color: tokens.$color-violet-30;
    color: tokens.$color-white;
    border-radius: mp.$border-radius-md;
    padding: 0 mp.$spacing-xs;
    // On small screens, there's not enough room for the "Copied!"
    // notification to the right of the copy button, so it's absolutely
    // positioned to overlap the copy button.
    position: absolute;
    right: 0;
    // Position this in the middle of its container
    top: 50%;
    transform: translateY(-50%);

    &.is-shown {
      pointer-events: auto;
      opacity: 1;
      // Don't fade in when appearing:
      transition: opacity 0s;
    }

    @media screen and #{mp.$mq-sm} {
      position: static;
      transform: none;
    }
  }
}

@media screen and #{mp.$mq-md} {
  .settings-page {
    display: flex;
    flex-direction: row-reverse;
  }

  .settings-form {
    padding: mp.$spacing-lg;
  }

  .menu {
    width: mp.$content-sm;

    ul {
      display: block;
    }
  }

  .field {
    flex-direction: row;
    gap: mp.$spacing-2xl;
  }

  .field-heading {
    flex-shrink: 0;
  }

  .controls {
    text-align: end;
  }
}
@media screen and #{mp.$mq-lg} {
  .field-heading {
    flex-basis: auto;
    // Custom percentage to accommodate tablet/laptop screens
    width: 33%;
  }
}
@media screen and #{mp.$mq-xl} {
  .field-heading {
    flex-basis: auto;
    width: mp.$content-sm;
  }
}
