@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.settings-page {
  display: flex;
  flex-direction: column-reverse;
}

.menu {
  padding: $spacing-lg $spacing-lg 0;

  h1 {
    padding-bottom: $spacing-lg;
  }

  ul {
    list-style-type: none;

    li {
      padding: $spacing-sm 0;
    }

    a {
      @include text-body-lg;
      display: flex;
      align-items: center;
      color: $color-dark-gray-50;
      gap: $spacing-sm;

      &:hover {
        text-decoration: underline;
      }

      img {
        // The size of text-body-lg, i.e. the same size as the containing <a>'s font:
        width: remify(type-scale("body-lg-size"));
      }
    }
  }
}

.main {
  width: 100%;
  padding: $spacing-lg;
}

.banner-wrapper {
  padding-bottom: $spacing-xl;
}

.settings-form {
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius-md;
  padding: $spacing-md;
  background-color: white;
}

.field {
  border-bottom: 1px solid $color-light-gray-20;
  padding-bottom: $spacing-sm;
}

.field-heading {
  @include text-title-3xs;
  color: $color-dark-gray-50;
  font-weight: 400;
  padding-bottom: $spacing-md;
  flex-basis: 0;
}

.field-content {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding-bottom: $spacing-md;

  .field-control {
    display: flex;
    align-items: flex-start;
    gap: $spacing-md;

    input {
      margin-top: $spacing-xs;
    }

    label {
      display: inline-block;
    }
  }

  .field-warning {
    display: flex;
    gap: $spacing-sm;
    align-items: flex-start;
    background-color: $color-light-gray-20;
    width: 100%;
    padding: $spacing-md $spacing-lg;
    border-radius: $border-radius-sm;
  }
}

.controls {
  padding-top: $spacing-md;
  text-align: center;
}

@media screen and #{$mq-md} {
  .settings-page {
    display: flex;
    flex-direction: row-reverse;
  }

  .settings-form {
    padding: $spacing-lg;
  }

  .menu {
    width: $content-sm;
  }

  .field {
    display: flex;
    gap: $spacing-2xl;
  }

  .field-heading {
    flex-shrink: 0;
  }

  .controls {
    padding-top: $spacing-lg;
    text-align: end;
  }
}
@media screen and #{$mq-lg} {
  .field-heading {
    flex-basis: auto;
    // Custom percentage to accomidate tablet/laptop screens
    width: 33%;
  }
}
@media screen and #{$mq-xl} {
  .field-heading {
    flex-basis: auto;
    width: $content-sm;
  }
}
