.fx-relay-first-run {
  --imgHeight: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 40px 20px;
  margin: 0;
  background-color: linear-gradient(tovar(--relayGrey10), var(--relayGrey20));
}

.drop-zap {
  display: inline-block;
  position: relative;
}

.drop-zap::after {
  background: var(--relayFxGradient);
  border-radius: 4px;
  height: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  left: -2px;
  right: -2px;
}

.first-run-h1 {
  text-align: center;
  font-size: 50px;
  margin: 14vh auto 2rem auto;
  color: var(--relayInk);
  line-height: 1.1;
}

.first-run-img {
  min-width: var(--imgHeight);
  max-width: var(--imgHeight);
  margin: 3rem auto auto auto;
}

.first-run-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  max-width: 716px;
  margin: 0 auto auto auto;
}

.first-run-content {
  margin-left: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 36px 0;
  color: var(--relayInk70);
  box-sizing: border-box;
}

.first-run-sign-in {
  border-radius: 4px;
  min-height: 48px;
  border: 1px solid rgba(0, 0, 0, 0);
  min-width: 200px;
  background-color: var(--relayBlue3);
  color: rgba(255, 255, 255, 1);
  font-family: var(--relayMetropolis);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

p.first-run-p {
  line-height: 1.6;
  margin: 0 auto 1.5rem auto;
  font-weight: 500;
}

a {
  color: var(--relayBlue4);
  border-radius: 2px;
  transition: all 0.2s ease;
}

button:hover {
  background-color: var(--relayBlueHover);
  transition: all 0.2s ease;
}

button:active {
  background-color: var(--relayBlueActive);
  transition: all 0.2s ease;
}

a:hover {
  color: var(--relayBlueHover);
  transition: all 0.2s ease;
}

button:focus,
a:focus {
  box-shadow: var(--relayButtonFocus);
  transition: all 0.2s ease;
}

a:active {
  color: var(--blueButtonActive);
}

.show-700 {
  display: none;
}

.pref-p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 15px;
  line-height: 1.5;
}

.collection-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
}

.setting-label {
  max-width: 300px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.fx-relay-toggle {
  margin-top: .25rem;
  margin-right: 0;
  height: 18px;
  width: 32px;
}

.fx-relay-toggle::after {
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 700px) {
  .fx-relay-first-run {
    --imgHeight: 200px;
  }

  .hide-700 {
    display: none;
  }

  .show-700 {
    display: block;
    margin: 12px auto 3rem auto;
  }

  .first-run-content {
    height: auto;
    padding: 12px 0;
    margin: auto;
  }

  main.first-run-main {
    flex-direction: column;
  }

  .first-run-main {
    margin: auto;
  }

  .first-run-copy-wrapper {
    max-width: 400px;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .opt-enable {
    margin-bottom: .5rem;
  }

  .first-run-h1 {
    font-size: 36px;
  }
}
