.panel {
  --panelWidth: 360px;
  /* Any changes to --panelHeight should be reflected in the screen media query */
  --panelHeight: 500px;
  background: url("/images/email-tout-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: var(--panelWidth);
  height: var(--panelHeight);
  color: var(--ink70);
  background-image: url("/images/email-tout-bg.svg");
}

sign-up-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: relative;
}

sign-up-panel::after {
  height: 3px;
  background: var(--fxGradient);
  content: "";
  position: absolute;
  lefT: 0;
  right: 0;
  top: -1px;
  background-size: 120%;
}

p {
  margin-top: 0;
  line-height: 1.5;
  text-align: center;
}

settings {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 2;
  transform: translateX(360px);
  transition: all 0.5s ease;
}

.panel.sign-up .open-settings {
  display: none;
}

.setting {
  padding: 12px 0;
  border-bottom: 1px solid var(--grey20);
  display: flex;
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.setting-label {
  display: inline-block;
  font-size: 13px;
  color: var(--ink70);
  line-height: 1.4;
  padding-left: 24px;
  padding-right: 24px;
}

a.setting-label {
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

a.setting-label:hover {
  background-color: var(--grey20);
}

a.setting-label:focus {
  box-shadow: var(--blueButtonFocus);
}

a.setting-label:active {
  background-color: var(--grey30);
}

.settings-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.toggle-icon-in-page-visibility {
  height: 16px;
  width: 28px;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 1.5em;
  outline: none;
  background-color: var(--blue3);
  background-size: 20px;
  margin: auto 24px auto auto;
}

.toggle-icon-in-page-visibility:hover {
  background-color: var(--blueHover);
}

.toggle-icon-in-page-visibility:focus {
  box-shadow: var(--blueButtonFocus);
}

.toggle-icon-in-page-visibility:active {
  background-color: var(--blueActive);
}

.toggle-icon-in-page-visibility::after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  bottom: 0;
  margin: auto;
  right: 4px;
  transition: all 0.2s ease;
}

.input-icons-disabled::after {
  left: 4px;
  right: 18px;
  transition: all 0.2s ease;
}

.input-icons-disabled:hover,
.input-icons-disabled:focus {
  background-color: var(--grey40);
}

.input-icons-disabled:active {
  background-color: var(--grey50);
}

.input-icons-disabled {
  background-color: var(--grey30);
}


.show-settings settings {
  visibility: visible;
  /* opacity: 1; */
  transform: translateX(0);
  transition: all 0.3s ease;
}

.show-settings logo-wrapper,
.show-settings .signed-in-panel {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

logo-wrapper,
.signed-in-panel {
  opacity: 1;
  transition: all 0.5s ease;
}

.settings-hl {
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-family: var(--Metropolis);
  font-weight: 600;
}

.close-settings {
  background-image: url("/images/arrowhead-left.svg");
  left: 24px;
}

.open-settings {
  background-image: url("/images/preferences.svg");
  right: 24px;
}

.settings-toggle:hover {
  opacity: .8;
}

.settings-toggle:focus {
  box-shadow: var(--blueButtonFocus);
}

.settings-toggle:active {
  opacity: 1;
}

.settings-toggle {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  height: 26px;
  width: 26px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
}

.intro {
  margin: 0 auto 16px auto;
  max-width: 300px;
  color: var(--inkLight);
  line-height: 1.3;
  font-size: 15px;
}

.hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hidden,
panel-content {
  transition: all 0.2s ease;
}

panel-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.button {
  text-decoration: none;
}

.welcome {
  font-weight: 800;
  font-size: 28px;
  line-height: 1.2;
  max-width: 260px;
  text-align: center;
  color: var(--ink);
  margin: auto auto 8px auto;
}

.blue-primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue3);
  color: var(--ink);
  font-family: var(--Metropolis);
  font-weight: 800;
  font-size: 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  min-width: 200px;
  min-height: 48px;
  margin: 0 auto auto auto;
  padding: 12px 16px;
  border-radius: 4px;
}

.blue-primary-btn:hover {
  background: var(--blueHover);
}

.blue-primary-btn:focus {
  box-shadow: var(--blueButtonFocus);
}

.blue-primary-btn:active {
  background: var(--blueActive);
}

.join-waitlist-wrapper {
  font-size: 13px;
  text-align: center;
  color: var(--ink);
  line-height: 1.4;
  margin: 0 auto 24px auto;
  max-width: 240px;
}

.join-waitlist-link {
  margin-top: 2px;
  padding: 0;
  border-radius: 4px;
  text-decoration: none;
  color: var(--blue4);
}

.survey-link:hover,
.join-waitlist-link:hover {
  color: var(--blueHover);
}

.survey-link:focus,
.join-waitlist-link:focus {
  box-shadow: var(--blueButtonFocus) !important;
}

.survey-link:active,
.join-waitlist-link:active {
  color: var(--blueActive);
}

main-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-link {
  font-weight: 700;
}

.aliases-remaining {
  font-family: var(--Metropolis);
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 8px;
  background: white;
  border-bottom: 1px solid var(--grey20);
}

.num-aliases-remaining,
.max-num-aliases {
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 0 0;
}

.footer-button {
  width: 100%;
  font-size: 15px;
  padding: 4px 8px;
  background-color: var(--grey20);
  justify-content: center;
  min-height: 64px;
}

.footer-button:hover {
  background-color: var(--grey30);
}

.footer-button:active {
  background-color: var(--grey50);
}

.footer-button:focus {
  background-color: var(--grey40);
}


/* onboarding */

onboarding-panel {
  font-size: 14px !important;
  padding: 24px 30px 60px 30px;
  display: flex;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  position: relative;
  transition: all 0.2s ease;
}

.onboarding-h1 {
  margin: 0 auto 12px 0;
  font-size: 16px;
}

onboarding-panel p {
  text-align: left;
  margin: 0;
}

.onboarding-img {
  max-height: 142px;
  position: absolute;
  right: 40px;
  bottom: 70px;
}

.panel1 img {
  right: 30px;
  bottom: 66px;
  max-height: 158px;
}

.panel2 img {
  max-height: 127px;
  left: 0;
  right: 0;
  margin: auto;
}

.panel3 img {
  max-height: 155px;
  right: 30px;
  bottom: 64px;
}

.maxAliasesPanel img {
  max-height: 108px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 16px auto;
}

.maxAliasesPanel .onboarding-pagination {
  display: none !important;
}

.survey-link {
  color: var(--blue3);
  margin: 12px auto 0 0;
  border-radius: 2px;
}

.onboarding-pagination {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  left: 0;
  right: 0;
  margin: auto;
}

.panel-nav {
  border: none;
  outline: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/images/arrowhead-left.svg");
  opacity: .4;
  padding: 4px;
}

.open-settings.settings-toggle:hover,
.panel-nav:hover {
  background-color: var(--grey30);
}

.open-settings.settings-toggle:focus,
.panel-nav:focus {
  box-shadow: var(--blueButtonFocus);
  opacity: 1;
}

.open-settings.settings-toggle:active,
.panel-nav:active {
  background-color: var(--grey40);
}

.next-panel {
  transform: rotate(180deg);
}

.panel1 .previous-panel,
.panel3 .next-panel  {
  pointer-events: none;
  opacity: 0;
}

.panel-num {
  margin: auto 12px auto;
  width: 54px;
}

.current-panel,
.panel-num {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  display: inline-block;
}

.current-panel {
  width: 20px;
  margin-right: 4px;
}

.total-panels {
  margin-left: 8px;
  display: inline-block;
}

/* For mobile screens with a bigger height viewport than the browser popup.
   This takes the --panelHeight + 1px as its min-height. */
@media screen and (min-height: 501px) {
  .panel {
    height: 100vh;
  }

  logo-wrapper {
    margin-top: 2rem;
  }

  logomark {
    width: 48px;
    height: 50px;
  }

  logotype {
    width: 70%;
    height: 50px;
  }

  .intro {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .intro,
  .alias,
  .error-message {
    font-size: 1rem;
  }

  .message-copied {
    font-size: 0.8rem;
  }

  .text-link {
    border-bottom: 1px solid var(--ink);
  }

  .create-account {
    font-size: 1.1rem;
    padding: 1rem 3rem;
  }

  alias-creation {
    margin-top: 12rem;
  }

  .view-dashboard {
    margin: auto auto 0 auto;
  }
}
