.fx-relay-panel {
  --panelWidth: 360px;
  /* Any changes to --panelHeight should be reflected in the screen media query */
  --panelHeight: 500px;
  background: url("/images/email-tout-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: var(--panelWidth);
  height: var(--panelHeight);
  color: var(--relayInk70);
  background-image: url("/images/email-tout-bg.svg");
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

sign-up-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: relative;
}

sign-up-panel::after {
  height: 3px;
  background: var(--relayFxGradient);
  content: "";
  position: absolute;
  lefT: 0;
  right: 0;
  top: -1px;
  background-size: 120%;
}

::-moz-focus-inner {
  border: 0;
}

p {
  margin-top: 0;
  line-height: 1.5;
  text-align: center;
}

settings {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 2;
  transform: translateX(360px);
  transition: all 0.5s ease;
}

.setting {
  padding: 12px 0;
  border-bottom: 1px solid var(--relayGrey20);
  display: flex;
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.setting-label {
  display: inline-block;
  font-size: 13px;
  color: var(--relayInk70);
  line-height: 1.4;
  padding-left: 24px;
  padding-right: 24px;
}

a.setting-label {
  text-decoration: none;
}

a.setting-label:hover {
  background-color: var(--relayGrey20);
}

a.setting-label:focus {
  box-shadow: var(--relayButtonFocus);
}

a.setting-label:active {
  background-color: var(--relayGrey30);
}

.settings-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.setting-link {
  margin-bottom: 12px;
}

.setting-link:last-of-type {
  margin-bottom: 0;
}

.settings-header,
fx-relay-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px 0 24px;
  width: 100%;
  border-bottom: 1px solid var(--relayGrey20);
  min-height: 64px;
  height: 64px;
  max-height: 64px;
}

.show-settings settings {
  visibility: visible;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.show-settings fx-relay-logo-wrapper,
.show-settings .signed-in-panel {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

fx-relay-logo-wrapper,
.signed-in-panel {
  opacity: 1;
  transition: all 0.5s ease;
}

.settings-hl {
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-family: var(--relayMetropolis);
  font-weight: 600;
}

.close-settings {
  background-image: url("/images/arrowhead-left.svg");
  left: 24px;
}

.open-settings {
  background-image: url("/images/preferences.svg");
  right: 24px;
}

.settings-toggle:hover {
  opacity: .8;
}

.settings-toggle:focus {
  box-shadow: var(--relayButtonFocus);
}

.settings-toggle:active {
  opacity: 1;
}

.settings-toggle {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  height: 26px;
  width: 26px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
}

.intro {
  margin: 0 auto 16px auto;
  max-width: 260px;
  color: var(--relayInkLight);
  line-height: 1.3;
  font-size: 15px;
}

.hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hidden,
panel-content {
  transition: all 0.2s ease;
}

panel-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.button {
  text-decoration: none;
}

.welcome {
  font-weight: 800;
  font-size: 28px;
  line-height: 1.2;
  max-width: 260px;
  text-align: center;
  color: var(--relayInk);
  margin: auto auto 8px auto;
}

.blue-primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--relayBlue3);
  color: var(--relayInk);
  font-family: var(--relayMetropolis);
  font-weight: 800;
  font-size: 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  min-width: 200px;
  min-height: 48px;
  margin: 0 auto auto auto;
  padding: 12px 16px;
  border-radius: 4px;
}

.blue-primary-btn:hover {
  background: var(--relayBlueHover);
}

.blue-primary-btn:focus {
  box-shadow: var(--relayButtonFocus);
}

.blue-primary-btn:active {
  background: var(--relayBlueActive);
}

.survey-link:hover {
  color: var(--relayBlueHover);
}

main-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-link {
  font-weight: 700;
}

.aliases-remaining {
  font-family: var(--relayMetropolis);
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 8px;
  background: white;
  border-bottom: 1px solid var(--relayGrey20);
}

.num-aliases-remaining,
.max-num-aliases {
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 0 0;
}

.footer-button {
  width: 100%;
  font-size: 15px;
  padding: 4px 8px;
  background-color: var(--relayGrey20);
  justify-content: center;
  min-height: 64px;
}

.footer-button:hover {
  background-color: var(--relayGrey30);
}

.footer-button:active {
  background-color: var(--relayGrey50);
}

.footer-button:focus {
  background-color: var(--relayGrey40);
}

/* onboarding */

onboarding-panel {
  font-size: 14px !important;
  padding: 24px 30px 50px 30px;
  display: flex;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  position: relative;
  transition: all 0.2s ease;
}

.onboarding-h1 {
  margin: auto auto 8px 0;
  font-size: 16px;
  font-family: var(--relayMetropolis);
}

onboarding-panel p {
  text-align: left;
  margin: 0 0 8px 0;
}

.onboarding-img {
  max-height: 150px;
  position: absolute;
  right: 40px;
  top: 20px;
}

.panel1 img {
  right: 30px;
}

.panel2 img {
  max-height: 127px;
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;
}

.panel3 img {
  max-height: 155px;
  right: 30px;
}

.maxAliasesPanel img {
  position: absolute;
  right: 0;
  left: 0;
  top: 44px;
  margin: auto;
  max-height: 140px;
}

.maxAliasesPanel .onboarding-pagination {
  display: none !important;
}

.survey-link {
  color: var(--relayBlue3);
  margin: 12px auto 0 0;
  border-radius: 2px;
}

.onboarding-pagination {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  left: 0;
  right: 0;
  margin: auto;
}

.panel-nav {
  border: none;
  outline: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 4px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.panel-nav::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/images/arrowhead-left.svg");
  opacity: .4;
  transition: opacity 0.2s ease;
}

.settings-toggle:hover::after,
.panel-nav:hover::after {
  opacity: .8;
  transition: opacity 0.2s ease;
}

.settings-toggle:focus,
.panel-nav:focus {
  box-shadow: var(--relayButtonFocus);
}

.settings-toggle:active::after,
.panel-nav:active::after {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.next-panel::after {
  transform: rotate(180deg);
}

.panel1 .previous-panel,
.panel3 .next-panel  {
  pointer-events: none;
  opacity: 0;
}

.panel-num {
  margin: auto 12px auto;
  width: 55px;
}

.current-panel,
.panel-num {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  display: inline-block;
}

.current-panel {
  width: 20px;
  margin-right: 4px;
}

.total-panels {
  margin-left: 5px;
  display: inline-block;
}

/* For mobile screens with a bigger height viewport than the browser popup.
   This takes the --panelHeight + 1px as its min-height. */
@media screen and (min-height: 501px) {
  .fx-relay-panel {
    height: 100vh;
  }

  fx-relay-logo-wrapper {
    margin-top: 2rem;
  }

  fx-relay-logomark {
    width: 48px;
    height: 50px;
  }

  fx-relay-logotype {
    width: 70%;
    height: 50px;
  }

  .intro {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .intro,
  .alias,
  .error-message {
    font-size: 1rem;
  }

  .text-link {
    border-bottom: 1px solid var(--relayInk);
  }

  .create-account {
    font-size: 1.1rem;
    padding: 1rem 3rem;
  }

  alias-creation {
    margin-top: 12rem;
  }

  .view-dashboard {
    margin: auto auto 0 auto;
  }
}
