.new-menu-wrapper {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999999999999999999999;
  background-color:rgba(0, 0, 0, .1);
}


@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Metropolis/Metropolis-Light.woff2") format("woff2");
}

/* @font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/Inter/Inter-UI-Regular.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/Inter/Inter-UI-Regular.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src:
    url("/fonts/Inter/Inter-UI-Medium.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Medium.woff") format("woff");
} */

.first-run,
:root,
.panel,
.relay-modal-wrapper {
  --blue2: #0090ed;
  --blue3: #0060df;
  --blue4: #0250bb;
  --blueHover: #003eaa;
  --blueActive: #002275;
  /* --blueButtonFocus: 0 0 0 1px #0a84ff, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3); */
  --blueButtonFocus: 0 0 1px 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
  --fxGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  --grey10: hsl(240, 9%, 98%);
  --grey20: #ededf0;
  --grey30: #d7d7db;
  --grey40: #b1b1b3;
  --grey50: #737373;
  --grey60: #4a4a4f;
  --grey70: #38383d;
  --grey80: #2a2a2e;
  --grey90: #0c0c0d;
  --ink: #20123a;
  --ink70: #363959;
  --InterUI: "Inter UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --Metropolis: "Metropolis", sans-serif, "SF Pro Text", "Segoe UI", Roboto, "Open Sans";
  --panelWidth: 360px;
  --panelHeight: 400px;
  --relayIconDimension: 30px;
  --violet: #9059ff;
  font-family: open-sans, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-focus-inner {
  border: 0;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: inherit;
}

button,
button:hover,
button:focus,
button:active,
a,
a:hover,
a:focus,
a:active {
  outline: none;
  transition: all 0.2s ease;
}

.settings-header,
logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px 0 24px;
  width: 100%;
  border-bottom: 1px solid var(--grey20);
  min-height: 64px;
  height: 64px;
  max-height: 64px;
}

.relay-modal-content logo-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
  justify-content: flex-start;
}

logotype {
  background-image: url("/images/logotype.svg");
  margin-top: 2px;
  margin-left: 8px;
  width: 200px;
  height: 30px;
  display: inline-flex;
}

logomark {
  content: "";
  background-image: url("/images/logomark.svg");
  width: 28px;
  height: 28px;
  display: block;
}

.new-tab {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  color: var(--ink);
  font-family: var(--Metropolis);
  margin: auto;
  text-decoration: none;
  font-size: 16px;
}

.new-tab::after {
  display: inline-block;
  content: "";
  background-image: url("/icons/open-new-tab.svg");
  height: 16px;
  width: 18px;
  margin-left: 4px;
  margin-bottom: 1px;
}

logotype,
logomark,
.new-tab::after {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.ff-Met {
  font-family: var(--Metropolis);
}

.zap {
  display: inline-block;
  position: relative;
}

.zap::after {
  /* display: block; */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 7px;
  content: "";
  /* margin: -5px -2px -2px -2px; */
}

.zap-18::after {
  background-image: url("/images/zap-18.svg");
}

/* relay in-page modal */

.relay-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999999999999;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.relay-modal-content {
  max-width: 500px;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 2rem 2rem calc(50px + 2rem) 2rem;
  box-shadow: 0 7px 12px -3px rgba(28, 28, 29, 0.502);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.relay-modal-message-alias-wrapper {
  height: 48px;
  margin-bottom: 12px;
  font-size: 18px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #ededf0;
}

.relay-modal-message {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  color: #2b1e44d6;
  margin-bottom: 32px;
  font-family: var(--InterUI);
}

.relay-message-copied {
  font-size: 12px;
  background-color: var(--violet);
  border-radius: 2px;
  padding: 3px 6px;
  color: rgba(255, 255, 255, 1);
  margin-left: 8px;
}

.relay-modal-close-button {
  height: 48px;
  padding:12px;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  background: var(--grey10);
  color: var(--ink);
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}


/* input icon & icon messaging */


.relay-menu {
  width: 300px;
  min-height: 60px;
  border-radius: 4px;
  background: var(--grey10);
  background-color: var(--grey10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  padding-top: 24px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  top: 47px;
  right: -15px;
  pointer-events: all;
  animation: fadeIn .2s ease forwards;
  box-shadow: 3px 3px 3px 3px #00000017;
}

.relay-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--grey10);
  transform: rotate(45deg);
}

.alias-loading::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  content: "";
  background-color: #38383d21;
  border-radius: 4px;
  transition: all 0.2s ease;
  background-image: url("/images/loader.svg");
  background-repeat: no-repeat;
  background-position: center center;
  animation: fadeIn 1s ease;
}

.in-page-menu-remaining-aliases {
  font-size: 13px;
  padding: 0 24px;
  margin-bottom: 40px;
  color: var(--ink70);
}

button.relay-menu-sign-up-btn,
.in-page-menu-dashboard-link,
.relay-menu button.in-page-menu-generate-alias-btn {
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  width: 100%;
  min-width: 100%;
  border-radius: 2px;
  font-family: var(--Metropolis) !important;
  color: var(--ink) !important;
  display: flex;
  min-height: auto;
  box-shadow: none;
}

.relay-menu-sign-up-btn,
.in-page-menu-dashboard-link {
  background-color: var(--grey20) !important;
  border-top: 1px solid var(--grey30);
  text-align: center;
  justify-content: center;
  padding: 12px 24px;
  pointer-events: all;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.in-page-menu-dashboard-link {
  margin: auto auto 0 auto;
}

button.in-page-menu-generate-alias-btn {
  background-color: var(--grey10) !important;
  text-align: left !important;
  justify-content: flex-start;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--Metropolis) !important;
  color: var(--ink) !important;
  font-weight: 600 !important;
}

button.in-page-menu-generate-alias-btn[disabled] {
  pointer-events: none;
  opacity: .5;
}

.relay-menu button.in-page-menu-generate-alias-btn:hover {
  background-color: var(--grey20) !important;
}

.relay-menu button.in-page-menu-generate-alias-btn:active {
  background-color: var(--grey30) !important;
}

.relay-menu-sign-up-btn:hover,
.in-page-menu-dashboard-link:hover {
  background-color: var(--grey30) !important;
}

.in-page-menu-dashboard-link:focus,
.relay-menu button.in-page-menu-generate-alias-btn:focus,
.relay-menu-sign-up-btn:focus {
  box-shadow: var(--blueButtonFocus) !important;
}

.relay-menu-sign-up-btn:active,
.in-page-menu-dashboard-link:active {
  background-color: var(--grey40) !important;
}

.relay-menu-sign-up-message {
  font-size: 12px;
  max-width: 200px;
  display: inline-block;
  margin: auto auto 24px auto;
}

.relay-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.relay-email-input-wrapper {
  position: relative;
  pointer-events: none;
  padding: 0 !important;
  width: 100%;
  z-index: 99999999999999999;
}

.relay-email-input-wrapper > input {
  pointer-events: all;
}

.relay-email-input-wrapper,
.relay-email-input-wrapper > input {
  box-sizing: inherit;
}

.relay-button {
  padding: 0 !important;
  width: 30px;
  height: 30px;
  max-width: 30px !important;
  background-image: url("/icons/make-new-alias.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 86%;
  background-color: transparent !important;
  outline: none !important;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  transition: all 0.2s ease;
  margin: auto;
  pointer-events: all;
}

.relay-button:hover,
button.relay-error-dismiss:hover,
.relay-modal-close-button:hover {
  background-color: var(--grey20) !important;
}

.relay-button:focus,
button.relay-error-dismiss:focus,
.relay-modal-close-button:focus {
  box-shadow: var(--blueButtonFocus);
}

button.relay-error-dismiss:active,
.relay-modal-close-button:active,
.relay-button:active {
  background-color: var(--grey30) !important;
}

.relay-error-message {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 24px 24px;
}

button.relay-error-dismiss {
  box-shadow: none;
  min-height: 22px !important;
  min-width: 22px !important;
  height: 22px !important;
  width: 22px !important;
  max-width: 22px !important;
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  display: inline-block !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  outline: none;
  background-image: url("/icons/x-close.svg");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  pointer-events: all !important;
  position: absolute !important;
  top: 8px;
  right: 8px;
  bottom: 0;
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
