@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Metropolis/Metropolis-Light.woff2") format("woff2");
}

.fx-relay-first-run,
.fx-relay-menu-wrapper,
.fx-relay-panel,
.fx-relay-icon,
.fx-relay-modal-wrapper {
  --relayBlue3: #0060df;
  --relayBlue4: #0250bb;
  --relayBlueHover: #003eaa;
  --relayBlueActive: #002275;
  --relayButtonFocus: 0 0 1px 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
  --relayFxGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  --relayGrey10: hsl(240, 9%, 98%);
  --relayGrey20: #ededf0;
  --relayGrey30: #d7d7db;
  --relayGrey40: #b1b1b3;
  --relayGrey50: #737373;
  --relayGrey60: #4a4a4f;
  --relayGrey70: #38383d;
  --relayGrey80: #2a2a2e;
  --relayGrey90: #0c0c0d;
  --relayInk: #20123a;
  --relayInk70: #363959;
  --relayMetropolis: "Metropolis", sans-serif, "SF Pro Text", "Segoe UI", Roboto, "Open Sans";
  --relayIconDimension: 30px;
  --relayViolet: #9059ff;

  font-family: open-sans, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.fx-relay-menu ::-moz-focus-inner,
.fx-relay-icon ::-moz-focus-inner {
  border: 0;
}

.fx-relay-menu-wrapper {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999999999999999999999;
  background-color: rgba(0, 0, 0, 0.1);
}

.fx-relay-modal-content fx-relay-logo-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
  justify-content: flex-start;
  display: flex;
}

fx-relay-logotype {
  background-image: url("/images/logotype.svg");
  margin-top: 2px;
  margin-left: 8px;
  width: 200px;
  height: 30px;
  display: inline-flex;
}

fx-relay-logomark {
  content: "";
  background-image: url("/images/logomark.svg");
  width: 28px;
  height: 28px;
  display: block;
}

.fx-relay-new-tab {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  color: var(--relayInk);
  font-family: var(--relayMetropolis);;
  margin: auto;
  text-decoration: none;
  font-size: 16px;
}

fx-relay-logotype,
fx-relay-logomark {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.fx-relay-font-met {
  font-family: var(--relayMetropolis);
}

.fx-relay-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999999999999;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.fx-relay-modal-content {
  max-width: 500px;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 2rem 2rem calc(50px + 2rem) 2rem;
  box-shadow: 0 7px 12px -3px rgba(28, 28, 29, 0.502);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.fx-relay-modal-message-alias-wrapper {
  height: 48px;
  margin-bottom: 12px;
  font-size: 18px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #ededf0;
}

.fx-relay-modal-message {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  color: #2b1e44d6;
  margin-bottom: 32px;
  font-family: var(--InterUI);
}

.fx-relay-message-copied {
  font-size: 12px;
  background-color: var(--relayViolet);
  border-radius: 2px;
  padding: 3px 6px;
  color: rgba(255, 255, 255, 1);
  margin-left: 8px;
}

button.fx-relay-modal-close-button {
  height: 48px !important;
  padding: 12px !important;
  border-radius: 0 !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  background-color: var(--relayGrey20) !important;
  color: var(--relayInk) !important;
  font-size: 17px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  min-width: 100%;
  width: 100%;
}

/* input icon & icon messaging */

.fx-relay-menu {
  width: 300px;
  min-height: 60px;
  border-radius: 4px;
  background: var(--relayGrey10);
  background-color: var(--relayGrey10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  padding-top: 24px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  top: 47px;
  right: -15px;
  pointer-events: all;
  animation: fxRelayFadeIn 0.2s ease forwards;
  box-shadow: 3px 3px 3px 3px #00000017;
}

.fx-relay-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--relayGrey10);
  transform: rotate(45deg);
}

.fx-relay-alias-loading::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  content: "";
  background-color: #38383d21;
  border-radius: 4px;
  transition: all 0.2s ease;
  background-image: url("/images/loader.svg");
  background-repeat: no-repeat;
  background-position: center center;
  animation: fxRelayFadeIn 1s ease;
}

.fx-relay-menu-remaining-aliases {
  font-size: 13px;
  padding: 0 24px;
  margin-bottom: 40px;
  color: var(--relayInk70);
}

button.fx-relay-menu-sign-up-btn,
.fx-relay-menu-dashboard-link,
.fx-relay-menu button.fx-relay-menu-generate-alias-btn {
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  width: 100%;
  min-width: 100%;
  border-radius: 2px;
  font-family: var(--relayMetropolis) !important;
  color: var(--relayInk) !important;
  display: flex;
  min-height: auto;
  box-shadow: none;
  box-sizing: border-box;
}

.fx-relay-menu-sign-up-btn,
.fx-relay-menu-dashboard-link {
  background-color: var(--relayGrey20) !important;
  border-top: 1px solid var(--relayGrey30);
  text-align: center;
  justify-content: center;
  padding: 12px 24px;
  pointer-events: all;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fx-relay-menu-dashboard-link {
  margin: auto auto 0 auto;
}

button.fx-relay-menu-generate-alias-btn {
  background-color: var(--relayGrey10) !important;
  text-align: left !important;
  justify-content: flex-start !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  font-family: var(--relayMetropolis) !important;
  color: var(--relayInk) !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 0 !important;
}

button.fx-relay-menu-generate-alias-btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.fx-relay-menu button.fx-relay-menu-generate-alias-btn:hover {
  background-color: var(--relayGrey20) !important;
}

.fx-relay-menu button.fx-relay-menu-generate-alias-btn:active {
  background-color: var(--relayGrey30) !important;
}

.fx-relay-menu-sign-up-btn:hover,
.fx-relay-menu-dashboard-link:hover,
.fx-relay-modal-close-button:hover {
  background-color: var(--relayGrey30) !important;
}

.fx-relay-menu-dashboard-link:focus,
.fx-relay-menu button.fx-relay-menu-generate-alias-btn:focus,
.fx-relay-menu-sign-up-btn:focus,
.fx-relay-modal-close-button:focus {
  box-shadow: var(--relayButtonFocus) !important;
}

.fx-relay-menu-sign-up-btn:active,
.fx-relay-menu-dashboard-link:active,
.fx-relay-modal-close-button:active {
  background-color: var(--relayGrey40) !important;
}

.fx-relay-menu-sign-up-message {
  font-size: 12px;
  max-width: 200px;
  display: inline-block;
  margin: auto auto 24px auto;
}

.fx-relay-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.fx-relay-email-input-wrapper {
  position: relative;
  pointer-events: none;
  padding: 0 !important;
  width: 100%;
  z-index: 99999999999999999;
  box-sizing: border-box;
}

.fx-relay-email-input-wrapper > input {
  pointer-events: all;
}

button.fx-relay-button {
  padding: 0 !important;
  width: 30px;
  height: 30px;
  max-width: 30px !important;
  min-width: 30px;
  background-image: url("/icons/make-new-alias.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85%;
  background-color: transparent !important;
  outline: none !important;
  border-radius: 4px !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  transition: all 0.2s ease;
  margin: auto;
  pointer-events: all;
  box-shadow: none !important;
}

.fx-relay-button:hover{
  background-color: var(--relayGrey20) !important;
}

.fx-relay-button:focus {
  box-shadow: var(--relayButtonFocus);
}

.fx-relay-button:active {
  background-color: var(--relayGrey30) !important;
}

.fx-relay-error-message {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 24px 24px;
}

@keyframes fxRelayFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
