@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../../../styles/typography" as styles-typography;

.underlay {
  position: fixed;
  background-color: rgba(lib.$color-black, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog-wrapper {
    background: lib.$color-white;
    width: calc((#{lib.$content-sm} + #{lib.$content-md}) / 2); // 560px
    max-width: 90%;
    border-radius: lib.$border-radius-md;
    box-shadow: lib.$box-shadow-sm;
    padding: lib.$spacing-md;

    $illustrationOverlap: lib.$spacing-lg;

    .hero {
      @include lib.text-body-lg;
      font-family: lib.$font-stack-firefox;
      font-weight: 700;
      text-align: center;
      border-radius: lib.$border-radius-md;
      background-color: lib.$color-light-gray-10;
      padding: lib.$spacing-lg lib.$spacing-md;

      @media screen and #{lib.$mq-md} {
        @include lib.text-title-3xs;
      }

      .picked-confirmation & {
        padding-bottom: $illustrationOverlap + lib.$spacing-lg;
      }

      .headline {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: lib.$spacing-sm 0;
        gap: lib.$spacing-sm;
      }

      .modal-title {
        font-weight: 400;

        .subdomain {
          @include styles-typography.text-title-xs {
            display: block;
            font-weight: 700;
            margin-bottom: lib.$spacing-sm;
            padding: lib.$spacing-sm 0;
          }

          &::before {
            content: "@";
          }
        }
      }
    }

    .picked-confirmation-body {
      display: flex;
      flex-direction: column;
      gap: lib.$spacing-md;
      align-items: center;
      padding-top: lib.$spacing-sm;

      .picked-confirmation-body-content {
        margin: 0 auto;
        padding: 0 lib.$spacing-sm;

        @media screen and #{lib.$mq-md} {
          padding: 0 lib.$spacing-2xl;
        }

        .feature-item-list {
          @include lib.text-body-sm;
          list-style-type: none;

          li {
            margin: lib.$spacing-sm 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: lib.$spacing-md;

            .check-icon {
              fill: lib.$color-blue-50;
              min-width: 20px; // Width of the check icons
            }
          }
        }
      }
    }
  }
}
