@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;

.permanence-warning {
  @include mp.text-body-sm;
  text-align: center;
  padding: mp.$spacing-md mp.$spacing-lg;
  color: mp.$color-dark-gray-70;
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    background-color: mp.$color-light-gray-10;
    border-radius: mp.$border-radius-md;
    padding: mp.$spacing-md;
    cursor: pointer;

    input {
      margin-right: mp.$spacing-sm;
    }

    .subdomain {
      font-weight: 700;

      &::before {
        content: "@";
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: mp.$spacing-xl;

    button[type="submit"] {
      background: mp.$color-blue-50;
      opacity: 0.4;

      &:not(:disabled) {
        opacity: 1;
      }

      &:hover:not(:disabled) {
        background-color: mp.$color-blue-60;
        opacity: 1;
      }
    }

    .cancel-button {
      border-style: none;
      background-color: transparent;
      cursor: pointer;
      border-radius: mp.$border-radius-sm;
      color: mp.$color-blue-50;
      padding: mp.$spacing-sm mp.$spacing-md;

      &:hover {
        color: mp.$color-link-hover;
      }

      &:focus {
        color: mp.$color-blue-50;
      }
    }
  }
}
