@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "~@mozilla-protocol/core/protocol/css/includes/mixins/typography";

.info-icon {
  align-items: center;
  background-color: transparent;
  border-style: none;
  color: mp.$color-light-gray-70;
  cursor: pointer;
  display: flex;
}

.explainer-wrapper {
  background-color: mp.$color-white;
  box-shadow: mp.$box-shadow-sm;
  border-radius: mp.$border-radius-md;
  padding: mp.$spacing-lg;
  // On small screens, appear as a modal at the top of the viewport:
  top: mp.$spacing-lg;
  left: mp.$spacing-lg;
  right: mp.$spacing-lg;
  position: absolute;

  &::before {
    content: "";
    height: 12px;
    width: 12px;
    position: absolute;
    top: -6px; // Top, left: needed for tooltip arrow pointer
    left: 12px;
    transform: rotate(45deg);
    background-color: mp.$color-white;
    display: none;
  }

  @media screen and #{mp.$mq-lg} {
    // On wider screens, the popover is attached to the indicator:
    inset: unset;
    position: unset;
    max-width: 8px + mp.$content-sm; // Magic number to avoid empty space near domain name

    &::before {
      display: initial;
    }
  }

  h3 {
    @include mp.text-title-3xs;

    font-family: mp.$font-stack-firefox;
    margin-bottom: mp.$spacing-sm;
  }

  p {
    @include mp.text-body-sm;
  }

  .close-button {
    position: absolute;
    top: mp.$spacing-sm;
    right: mp.$spacing-sm;
    background-color: transparent;
    border-style: none;
    border-radius: mp.$border-radius-sm;
    width: mp.$spacing-lg;
    height: mp.$spacing-lg;
    cursor: pointer;

    &:hover {
      color: mp.$color-blue-50;
    }
  }
}
