
#mpp-choose-subdomain, #sync-labels {
    // Add a transparent border by default so its content doesn't jump around when the border appears:
    border: 4px solid transparent;

    &:target {
        border-color: $color-informational;
        // The height of the fixed header can vary depending on e.g. whether .micro-survey-banner
        // is displayed, so this calculation might not result in #mpp-choose-subdomain to be
        // anchored exactly to the top of the page, but at least it won't be hidden behind
        // the fixed headers:
        scroll-margin-top: calc(
            /* .micro-survey-banner vertical padding: */
            #{($spacing-md * 2)} +
            /* .header-top vertical padding: */
            #{($spacing-xl * 2)} +
            /* .logo-wrapper height: */
            40px +
            /* #mpp-choose-subdomain top border: */
            4px +
            /* .branner-gradient-bg bottom margin: */
            2rem
        );
    }
}

#sync-labels {
    border-width: 1px;

    &:target {
        border-color: $color-warning;
        border-width: 1px;
    }
}

@media screen and (min-width: 540px) {

    .mpp-choose-subdomain form {
        display: flex;

        input {
            width: auto;

            &[type='submit'] {
                margin-left: $spacing-md;
            }
        }
    }
}
@media screen and (min-width: 768px) {

    .mpp-choose-subdomain {
        display: flex;

        img {
            display: block;
        }

        .border {
            display: block;
        }

        .mpp-choose-subdomain-form {
            padding-left: $spacing-xl;
        }
    }
}

// Labels data opt in notification banner

.c-notification-banner {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius-md;
    margin-bottom: $spacing-lg;

    &.is-hidden {
        display: none;
    }

    .c-notification-banner-label {
        color: $color-purple-50;

        @include text-body-sm;
        margin-bottom: $spacing-sm;
    }

    .notification-banner-bg {
        padding: $spacing-xs;
        width: 100%;
        position: relative;
        min-height: 0;
    }

    .notification-banner-content {
        padding-left: $spacing-sm;
        display: flex;
        flex-direction: row;
    }

    .notification-banner-copy {
        padding: $spacing-lg;
    }

    .notification-banner-header {
        font-family: $font-metropolis;
        font-size: 1.125em;
        font-weight: 700;
        text-align: center;
        width: 90%;
        padding-bottom: $spacing-sm;
        margin: 0;
        color: $color-grey-50;
    }

    .notification-banner-header:before {
        content: "";
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 12px;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .notification-banner-sub {
        margin: 0;
        line-height: 150%;
        padding: $spacing-md 0;
    }

    .notification-banner-link {
        text-align: center;
        color: $color-blue-50;
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        width: auto;
        padding: $spacing-lg 0;

        &:hover {
            color: $color-blue-40;
        }

        &:focus {
            color: $color-blue-40;
            outline: none;
        }
    }

    .dismiss-wrapper {
        width: 100%;
        height: 0px;
    }

    .notification-dismiss {
        background: transparent;
        cursor: pointer;
        display: block;
        border: none;
        float: right;
        position: relative;
        z-index: 1;
        padding: $spacing-md $spacing-md 0 0;

        &:hover {
            transform: scale(1.05);
        }
        
        img {
            width: 1.5em;
        }
    }

    @media #{$mq-md} {

        .notification-banner-copy:before {
            content: '';
            position: absolute;
            z-index: 1;
            height: calc(100% - #{$spacing-lg});
            margin-top: -$spacing-lg;
            width: 5px;
            margin-left: -$spacing-2xl;
            border-radius: 5px;
        }

        .notification-banner-copy {
            padding: $spacing-xl $spacing-xl $spacing-xl $spacing-2xl;
        }

        .notification-banner-header, .notification-banner-link {
            text-align: start;
        }

    }

    &.t-warning {

        .notification-banner-header:before {
            background-image: url("/static/images/icon-orange-info.svg");
        }

        @media #{$mq-md} {

            .notification-banner-copy:before {
                background: $color-yellow-50;
            }
        }
    }
}

// Banner for users to register their premium subdomain
.subdomain-banner {
    padding: $spacing-lg;
    width: 100%;
    position: relative;

    @media #{$mq-md} {
        display: flex;
        flex-direction: row;
        gap: $spacing-lg;
    }

    .subdomain-banner-form, .subdomain-banner-copy {
        @media #{$mq-md} {
            width: calc(50% - #{$spacing-md});
        }
    }

    .subdomain-banner-copy {
        padding-bottom: $spacing-md;
        margin-bottom: $spacing-md;
        border-bottom: 1px solid $color-grey-10;

        @media #{$mq-md} {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
            border-right: 1px solid $color-grey-10;
            padding-right: $spacing-lg;
            flex-grow: 2;
        }
    }

    h2 {
        @include text-title-2xs;
        color: $color-black;
        font-weight: 700;
    }

    samp {
        @include text-title-2xs;
        display: block;
        color: $color-grey-30;
        margin-bottom: $spacing-lg;

        span {
            color: $color-purple-50;
            font-weight: 700;
        }

        @media #{$mq-md} {
            @include text-title-3xs;
        }
        @media #{$mq-lg} {
            @include text-title-2xs;
        }
    }

    p, a {
        @include text-body-sm;
    }

    a {
        font-weight: 500;
        color: $color-informational;
        
        &:hover {
            color: $color-informational-hover;
        }
        
        &:active {
            color: $color-informational-active;
        }
        
        &:visited {
            color: $color-purple-60;
        }
    }

    form {
        margin-bottom: $spacing-lg;

        @media #{$mq-sm} {
            display: flex;
        }
        @media #{$mq-md} {
            margin-top: $spacing-xl;
        }   
    }

    input {
        width: 100%;
    }

    img {
        display: block;
        margin: 0 auto;

        @media #{$mq-sm} {
            width: 100%;
            max-width: calc(#{$content-sm} * .5);
        }
    }

    .subdomain-banner-input {
        margin-bottom: $spacing-sm;

        @media #{$mq-sm} {
            margin-bottom: 0;
            margin-right: $spacing-md;
        }
    }

    .mzp-c-button {
        @media #{$mq-sm} {
            flex-shrink: 2;
        }
    }

}


.c-footer-banner {
    background-color: $color-white;

    .c-footer-banner-container {
        margin: 0 auto;
        width: 100%;
        max-width: $content-lg;
        padding: $spacing-2xl $spacing-xl $spacing-xl;

        @media #{$mq-md} {
            display: flex;
            justify-content: space-between;
        }
    }

    h3 {
        @include text-title-xs;
        font-weight: 500;

        strong {
            font-weight: 700;
        }
    }

    p {
        @include text-body-md;
        color: $color-grey-40;
    }

    .c-footer-banner-content {
        max-width: $screen-sm;
    }

    .c-footer-banner-image {
        display: block;
        margin: $spacing-2xl auto 0;

        @media #{$mq-md} {
            margin: 0; 
        }
    }
}
