.btn {
  appearance: none;
  border: 0;
  font-weight: 600;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  font-family: $metropolis;
}

.btn--gray {
  border: 1px solid #CCCCCC;
  color: var(--blue3);
}

.btn--blue { 
  background-color: var(--blue3);
  color: var(--white);
}

.btn-blue--ghost {
  border: 2px solid var(--blue3);
  color: var(--blue3);
  background: none;
  &:hover {
      color: $white;
      background-color: var(--blue3);
  }
}