.btn {
    appearance: none;
    border: 0;
    font-weight: 600;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    font-family: $font-metropolis;
}

.btn--gray {
    border: 1px solid #CCCCCC;
    color: $color-blue-50;
}

.btn--blue {
    background-color: $color-blue-50;
    color: $color-white;
}

.btn-blue--ghost {
    border: 2px solid $color-blue-50;
    color: $color-blue-50;
    background: none;

    &:hover {
        color: $color-white;
        background-color: $color-blue-50;
    }
}

.c-button-toggle {

    form {
        display: flex;
        align-items: center;
    }    
}

.mzp-c-button.has-icon {
    display: flex;
    align-items: center;
    padding-left: $spacing-md;
}

.mzp-c-button.t-warning {
    background-color: $color-error;
    border: none;

    &:disabled,
    &[disabled]{
        background-color: $color-grey-10;
        color: $color-grey-60;
    }

    &:active {
        background-color: $color-error-active;
        color: $color-white;
    }

    &:hover {
        background-color: $color-error-hover;
        color: $color-white;
    }

    &:focus {
        background-color: $color-error-focus;
        color: $color-white;
    }
}
