.c-filter {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-md;
    @media screen and (min-width: 768px) {
        justify-content: flex-end;
    }
}

// Search Bar

.c-filter-search {

    form {
        display: none;
    }
    input[type="search"] {
        background-image: url(/static/images/icon-search.svg);
        margin-bottom: 0;
    }

    @media #{$mq-md} {
        align-self: flex-start;
         margin-right: auto;
        form {
            display: block;
        }
        .c-filter-icon {
            display: none;
        }
    }

    

}

.c-filter-action {
    margin-left: auto;
    @media #{$mq-md} {
        margin-left: 0;
    }
}

.c-filter-date, .c-filter-cateogry {
    margin-left: $spacing-md;
}
