.c-filter {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-md;
    @media screen and (min-width: 768px) {
        justify-content: flex-end;
    }
}

// Search Bar

.c-filter-search {

    form {
        display: none;
        position: relative;
    }

    input[type="search"] {
        background-image: url(/static/images/icon-search.svg);
        margin-bottom: 0;
        padding-right: 1.75rem;
        &:focus + .c-filter-case-count {
            opacity: 0.5;
        }
    }

    .c-filter-case-count {
        display: flex;
        opacity: 0;
        position: absolute;
        right: 0.5rem;
        top: 0;
        align-items: center;
        height: 100%;
        transition: opacity 0.2s ease-out;
    }

    @media #{$mq-md} {
        align-self: flex-start;
         margin-right: auto;
        form {
            display: block;
        }
        .c-filter-icon {
            display: none;
        }
    }
}

.c-filter-action {
    margin-left: auto;
    @media #{$mq-md} {
        margin-left: 0;
    }
}

.c-filter-date, .c-filter-cateogry {
    margin-left: $spacing-md;
}
