{% extends "base.html" %}

{% block content %}

<main id="profile-main" class="flx env-bg container dashboard-container">
  <div class="appear-smoothly flx flx-col al-cntr jst-cntr auth-error-wrapper">
    <div class="flx flx-col al-cntr jst-cntr auth-error">
      {% if error_message %}
        <p class="ff-Met no-active-aliases text-center text-light">{{ error_message }}</p>
      {% else %}
        {% if settings.WAITLIST_OPEN %}
          <div class="invite-only-wrapper flx flx-cntr jst-cntr flx-col al-cntr bg-fx-gradient {% if request.session.already_on_waitlist %} user-on-waitlist {% endif %}">
            <div class="invite-only-content flx flx-cntr jst-cntr flx-col al-cntr">
              <!-- On waitlist content -->
              <div class="user-on-waitlist-content waitlist-content flx flx-cntr jst-cntr flx-col al-cntr">
                <p class="ff-Met invite-only-hl text-center text-light waitlist-confirmation-hl">You're on the list!</p>
                <p class="text-light-grey text-center waitlist-confirmation-message">
                  <span class="bold">{{ request.session.waitlist_email }}</span>
                  has been added to the Private Relay waitlist. We'll let you know when we have more updates to share about this service.
                </p>
              </div>
              <!-- Join waitlist content-->
              <div class="join-waitlist-content waitlist-content flx flx-cntr jst-cntr flx-col al-cntr">
                <p class="ff-Met invite-only-hl text-center text-light">Sorry, the Private Relay Beta is currently by invitation only.</p>
                <img class="user-avatar" src="{{ request.session.waitlist_avatar }}" alt="User default profile" role="presentation">
                <span class="waitlist-user-email text-light-grey">{{ request.session.waitlist_email }}</span>
                <form class="join-waitlist-form flx jst-cntr" id="join-waitlist-form" method="post" action="{% url 'waitlist' %}">
                  {% csrf_token %}
                  <input type="hidden" name="email" type="hidden" value="{{ request.session.waitlist_email }}">
                  <input
                  class="join-waitlist-submit button blue-button text-light"
                  type="submit"
                  data-ga="send-ga-funnel-pings"
                  data-event-category="Join Waitlist"
                  data-event-label="join-waitlist-btn"
                  value="Join the Waitlist">
                </form>
              </div>
              <!-- Waitlist error -->
              <div class="waitlist-error">
                <p class="ff-Met invite-only-hl text-center text-light">Oops, we're sorry but we hit a snag adding your email to the waitlist.</p>
                <p class="text-light-grey text-center waitlist-confirmation-message">Please try again later or <a class="text-light-grey file-an-issue" href="https://github.com/mozilla/fx-private-relay" target="_blank" rel="noopener noreferrer">file an issue</a>.</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
