.mpp-dashbaord-header {
    background: $color-white-60;
    margin-bottom: $spacing-md;
}

.mpp-dashbaord-header-name {
    font-weight: 700;
    width: 100%;
    word-wrap: break-word;
    padding-right: $spacing-sm;

    @include text-body-xl;

    span {
        font-weight: 400;
        display: block;

        @include text-body-md;
    }
}

.mpp-dashbaord-header-container {
    max-width: $content-xl;
    margin: auto;
    padding: $spacing-xl $spacing-lg;
}

.mpp-dashbaord-header-title {
    margin-bottom: $spacing-xl;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.mpp-dashbaord-header-stats {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: row;
}

.mpp-dashbaord-header-stats li {
    padding: 0 $spacing-xs;
    border-right: 1px solid #ECECEC;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
    }

    .label {
        font-size: 1rem;
        display: block;
        color: #666666;
        line-height: 1rem;
        font-weight: 400;
        margin-bottom: $spacing-xs;
    }

    &:last-child {
        border-right: 0;
    }
}

.mpp-dashbaord-header-action {
    color: $color-blue-50;
    display: flex;
    align-items: center;
    font-weight: 600;

    &.is-hidden {
        display: none;
    }

    samp {
        @include font-base;
        display: inline-block;
        margin-inline-start: $spacing-xs;
    }

    img {
        margin-right: $spacing-xs;
    }
}

.mpp-action-link {
    
    appearance: none;
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-weight: 400;

    &:hover {
        color: $color-blue-40;
    }
}

.mpp-action-tooltip-hover {
    display: none;
    position: absolute;
    padding-top: 10px;
    top: calc(100%);
    right: 0;
    min-width: 200px;

    @media #{$mq-md} {
        right: auto;
        // .mpp-action-tooltip-hover-wrapper:after (i.e. the triangle at the top)
        // is $layout-sm from the left, so shift the whole thing that are to the
        // left to make the arrow align with the "i" icon:
        margin-left: -1 * $layout-sm;
    }
}

.mpp-action-tooltip-hover-wrapper {
    background-color: white;
    box-shadow: var(--dropShadowLight);
    border-radius: $border-radius-sm;
    position: relative;
    color: $color-violet-90;
    padding: $spacing-md;

    &:after{
        background-color: white;
        right: $layout-sm;

        // TODO: Fix shadow on bubble triangle
        // box-shadow: -2px 2px 2px 0 #3d3f4740;
        content: "\00a0";
        display: block;
        height: 20px;
        position: absolute;
            
        top: -10px;
        transform: rotate(135deg);
        width: 20px;

        @media #{$mq-md} {
            right: auto;
            left: $layout-sm;
        }

    }
}

.mpp-action-tooltip {
    display: flex;
    position: relative;
    z-index: 1;
    margin-left: $spacing-sm;

    // This image margin for the (i) icon, which is after the string
    img {
        margin-left: $spacing-xs;
        margin-right: 0;
    }
    
    &:hover .mpp-action-tooltip-hover {
        display: block;
    }
}


@media screen and (min-width: 768px) {

    .mpp-dashbaord-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mpp-dashbaord-header-title {
        width: 25%;
        flex-grow: 2;
        margin-bottom: 0;
        display: block;
    }

    .mpp-dashbaord-header-stats {
        width: auto;
        flex-shrink: 2;

        li {
            padding: 0 $spacing-md;
            width: auto;
        }

        .label {
            white-space: nowrap;
        }
    }

    .mpp-dashbaord-header-name {
        margin-bottom: $spacing-md;
    }
}

// Alias Card
.c-alias {
    background-color: rgba($color-white, .5);
    border-radius: $border-radius-md;
    padding: $spacing-md 0 0;
    margin-bottom: $spacing-lg;

    &.is-hidden {
        display: none;
    }

    &.is-blocked {

        .c-alias-block-level.t-block {
            display: inline-flex;
        }

        .c-alias-block-settings-description .t-block {
            display: flex;
        }

        .c-alias-block-settings-input.t-forward,
        .c-alias-block-settings-input.t-promo-blocking {

            img {
                filter: grayscale(100%);
            }
        }


    }

    // &.is-forwarded, &.is-enabled {
    &.is-forwarded {
        background-color: $color-white;
        box-shadow: $box-shadow-sm;

        .c-alias-block-level.t-forward {
            display: inline-flex;
        }

        .c-alias-block-settings-description .t-forward {
            display: flex;
        }

        .c-alias-block-settings-input.t-promo-blocking,
        .c-alias-block-settings-input.t-block {

            img {
                filter: grayscale(100%);
            }
        }


    }

    &.is-promo-blocking {
        background-color: $color-white;
        box-shadow: $box-shadow-sm;

        .c-alias-block-level.t-promo-blocking {
            display: inline-flex;
        }

        .c-alias-block-settings-description .t-promo-blocking {
            display: flex;
        }

        .c-alias-block-settings-input.t-forward,
        .c-alias-block-settings-input.t-block {

            img {
                filter: grayscale(100%);
            }
        }


    }

}

.c-alias-main-info {
    min-height: $layout-sm;
    padding: 0 $spacing-md;
    display: flex;
    
    @media #{$mq-md} {
        margin-bottom: $spacing-md;
    }
}

.c-alias-toggle {
    margin-top: $spacing-sm;

    &.is-hidden {
        display: none;
    }
}

.c-alias-name {
    margin-left: $spacing-xs;
    height: 100%;
    flex-wrap: nowrap;
    max-width: 100%;

    .additional-notes.show-label + button {
        margin-top: 0;
    }

    button {
        margin-top: $spacing-xs;
    }

    input {
        color: $color-grey-50;
        display: flex;
        align-items: center;
        background: transparent;
        font-size: 1em;
        padding: $spacing-sm $spacing-lg $spacing-sm $spacing-sm;
        width: $content-xs;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: all .2s ease;
        // Reset styles from protocol
        background-color: none;
        border-radius: 0;
        border: 0;
        margin: 0;
        list-style: inherit;
        min-width: 100%;
    }

    @media screen and (max-width: $screen-sm) {

        input {
            width: auto;
        }
    }
    @media #{$mq-md} {
        margin-left: 0;
    }
}

.c-alias-copy {
    padding: $spacing-sm $spacing-md $spacing-md;
    display: block;

    @media #{$mq-md} {
        display: none;
    }
}

.c-alias-stats {
    display: none;

    @media #{$mq-md} {
        margin-right: $spacing-md;
        display: flex;
    }
}

.c-alias-meta {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
}

// The email delivery label is hidden on mobile
.c-alias-block-levels {
    display: none;
    align-self: center;

    @media #{$mq-md} {
        display: block;
    }
}

.c-alias-block-level {
    display: none;
    border: 2px solid transparent;
    border-radius: $border-radius-sm;
    padding: $spacing-xs $spacing-md;
    font-weight: 600;

    @include text-body-sm;

    &.t-forward {
        color: $color-green-50;
        border-color: $color-green-30;
    }

    &.t-promo-blocking {
        color: $color-yellow-50;
        border-color: $color-yellow-40;
    }

    &.t-block {
        color: $color-grey-30;
        border-color: $color-grey-10;
    }
}

.c-alias-info {
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease-out;
    padding: 0;

    .c-alias-block-settings, .c-alias-additional-info {
        border-top: 1px solid transparent;
    }
    
    @media #{$mq-sm} {
        display: block;
    }

    &.is-visible {

        .c-alias-block-settings, .c-alias-additional-info {
            border-color: $color-light-gray-30;
        }
        max-height: 900px;
    }
}

.c-alias-additional-info {
    display: flex;
    padding: $spacing-md;
}

.c-alias-block-settings {
    border-top: 1px solid $color-light-gray-30;
    padding: $spacing-md;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.is-hidden {
        display: none;
    }

    @media #{$mq-md} {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
}

.c-alias-block-settings-description {
    
    width: 100%;
    
    output {
        margin: 0;
        display: none;
        width: 100%;
        background-color: $color-grey-05;
        padding: $spacing-md;
        border-radius: $border-radius-sm;

        p {
            margin-bottom: 0;
        }

        p + a {
            display: block;
            margin-top: $spacing-sm;
        }

        &.is-visible {
            display: flex;
            width: 100%;
        }

        @media #{$mq-md} {
            background-color: transparent;
            padding: 0;
            margin: 0;
            border-radius: 0;
            align-items: center;
        }
    }

    .c-alias-block-settings-image {
        display: none;
        margin-right: $spacing-md;
        height: 60px;
        width: 60px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;

        img {
            object-fit: contain;
            object-position: 50% 50%;

        }

        @media #{$mq-md} {
            display: flex;
        }

    }

    @media #{$mq-md} {
        max-width: $content-sm;
    }
}

.c-alias-block-settings-form {
    // width: 100%;

    .c-alias-block-settings-title {
        @include text-body-md;
        text-align: center;
        padding: 0 $spacing-md $spacing-lg;


        @media #{$mq-md} {
            text-align: start;
        }
    }

    .c-alias-block-settings-inputs {
        display: flex;
        // width: 100%;
        position: relative;
        max-width: $content-sm;
        justify-content: center;
        margin: 0 auto;

        label {
            display: block;
            text-align: center;
            pointer-events: auto;
            cursor: pointer;
            position: relative;
            z-index: 1;

            span {
                display: block;
                pointer-events: auto;
                cursor: pointer;
            }
        }

        input {
            margin-bottom: $spacing-sm;
            display: none;
            // visibility: hidden;
            
            &:checked {
                color: $color-purple-50;
            }

            &:checked + label {
                color: $color-purple-50;
            }

            &:checked + label .c-alias-block-settings-radio-button {
                background-color: $color-purple-20;
                box-shadow: inset 0 0 0 calc(4px) $color-purple-50;
            }
        }

        @media #{$mq-md} {
            max-width: $content-sm;
            justify-content: space-between;
            margin: 0;
        }
    }

    .c-alias-block-settings-spacer {
        height: 4px;
        background-color: $color-grey-10;
        width: 100%;
        margin-top: 95px;
        flex-shrink: 2;

        @media #{$mq-md} {
            margin-top: 10px;
        }
    }

    .c-alias-block-settings-radio-button {
        margin: 0 auto $spacing-sm;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: $color-grey-10;
        box-shadow: 0 0 0 calc(#{($spacing-xs)}) transparent;
        pointer-events: all;
        display: block;
        cursor: pointer;
        
        @media #{$mq-md} {
            width: 24px;
            height: 24px;
        }
    }
    
    .c-alias-block-settings-input {
        display: block flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        position: relative;
        flex-grow: 2;

        &:after {
            content: "";
            height: 4px;
            background-color: $color-grey-10;
            width: 100%;
            position: absolute;
            z-index: 0;
            top: 95px;

            @media #{$mq-md} {
                top: 10px;
            }
        }

        &.t-line-left {

            &:after {
                width: 50%;
                left: 50%;
            }
        }

        &.t-line-right {

            &:after {
                width: 50%;
                right: 50%;
            }
        }

        &:hover .c-alias-block-settings-radio-button {
            background-color: $color-purple-10;
        }

        img {
            height: 60px;
            margin-bottom: $spacing-md;

            @media #{$mq-md} {
                display: none;
            }
        }

        &:hover {

            &::before {
                background-color: $color-purple-50;
            }
        }

    }
}

.c-alias-toggle-button {
    transition: transform .2s ease-out;
    margin: auto 0;

    &.is-active {
        transform: rotate(180deg);
    }
}

.c-alias-data-collection {
    @media #{$mq-sm} {
        display: flex;
        flex-wrap: wrap;
    }
    @media #{$mq-sm} {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.c-alias-data {
    display: flex;
    align-items: center;
    line-height: normal;

    & + .c-alias-data {
        margin-top: $spacing-sm;

        @media #{$mq-sm} {
            margin-top: 0;
            margin-left: $spacing-xl;
        }
    }

    span {
        display: block;
    }

    .c-alias-data-label {
        color: $color-dark-gray-05;

        @include text-body-xs;
    }

    .c-alias-data-value {
        @include text-body-md;
        text-overflow: ellipsis;
    }

    &.created-by {

        img {
            height: 1.5rem;
        }
    }

    img {
        display: none;
        height: 1rem;

        @media #{$mq-md} {
            display: block;
            margin-right: $spacing-md;
        }
    }
}

.delete-relay-email-button {
    width: 100%;
    justify-content: center;
    outline: none !important;
    border: 1px solid transparent;
    background-color: $color-mpp-background;
    border-radius: $border-radius-sm;
    height: 36px;
    padding-right: $spacing-md;
    padding-left: $spacing-md;
    display: flex;
    align-items: center;
    color: $color-blue-50;

    &:hover, &:focus {
        border-color: $color-blue-50;
        box-shadow: $box-shadow-mpp-sm;
    }

    &:active {
        box-shadow: none;
        background-color: $color-white;
    }

    span {
        @include text-body-sm;
        font-weight: 500;
    }

    @media #{$mq-sm} {
        width: auto;
        justify-content: flex-start;
    }

}


.show-label.additional-notes {
    visibility: visible;
    pointer-events: all;
    display: flex;
}

.additional-notes {
    display: none;
    text-overflow: ellipsis;
    flex-direction: row;
    position: relative;
    margin: auto auto 0 0;
    max-width: $content-xs;

    &::after {
        content: "";
        min-width: 16px;
        min-height: 16px;
        margin-left: -$spacing-lg;
        display: inline-block;
        background: url("/static/images/edit.svg");
        background-repeat: no-repeat;
        background-position: center center;
        pointer-events: none;
        background-size: contain;
        opacity: .6;
    }
}

.email-forwarding-form {
    align-items: center;
}


.c-alias-email-fowarding-button {
    
    &.t-disabled {
        
        
        label {
            background-color: $color-grey-30;

            &::after {
                left: 4px;
                right: 18px;
                transition: all .2s ease;
            }
        
            &:hover,
            &:focus {
                background-color: $color-grey-40
            }
            
            &:active {
                background-color: $color-grey-50
            }
        }

    }

    input {
        display: none;
    }

    label {
        display: block;
        height: 2rem;
        height: 1.15em;
        width: 2em;
        position: relative;
        overflow: hidden;
        border: none;
        border-radius: 1.5em;
        outline: none;
        background-color: $color-blue-50;
        background-size: 20px;
        margin: auto 0;

        &::after {
            content: "";
            height: .75em;
            width: .75em;
            position: absolute;
            border-radius: 50%;
            background-color: $color-white;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 4px;
            transition: all .2s ease;
        }

        &:hover {
            background-color: $color-blue-70;
        }
        
        &:active {
            background-color: $color-blue-80;
        }

        

    }

    &.is-hidden {
        display: none;
    }
}
