.faqs-wrapper {
    background-image: var(--darkBlueGradient);
}

.faqs {
    column-width: $content-sm;
    column-gap: $spacing-2xl;
}

.faq {
    margin-bottom: $spacing-2xl;
    break-inside: avoid;
    // The height of the fixed header can vary depending on e.g. whether .micro-survey-banner
    // is displayed, so this calculation might not result in #mpp-choose-subdomain to be
    // anchored exactly to the top of the page, but at least it won't be hidden behind
    // the fixed headers:
    scroll-margin-top: calc(
        /* .micro-survey-banner vertical padding: */
        #{($spacing-md * 2)} +
        /* .header-top vertical padding: */
        #{($spacing-xl * 2)} +
        /* .logo-wrapper height: */
        40px +
        /* #mpp-choose-subdomain top border: */
        4px +
        /* .branner-gradient-bg bottom margin: */
        2rem
    );

    &:target {

        .faq-headline::before {
            content: "> ";
        }
    }
}

.faqs-headline {
    @include text-title-sm;

    margin: $spacing-2xl 0 $spacing-xl;
}

.faqs-headline,
.faq-headline {
    color: $color-white;
}

.faq-headline {
    @include text-title-2xs;

    margin-top: 0;
    margin-bottom: $spacing-sm;
}

.faq-answer {
    @include text-body-md;

    color: $color-grey-10;
    margin-top: 0;

    li {
        list-style-type: initial;
        margin-left: $spacing-md;
    }
}

@media screen and #{$mq-lg} {

    .faqs-container {
        max-width: $content-xl;
    }

}
