.t-relay-home {
    background-color: transparent;
    text-align: center;
    
    .mzp-l-content {
        max-width: $content-lg;
        margin-left: auto;
        margin-right: auto;
        padding-top: $layout-xl;
        padding-bottom: $layout-xl;
    }

    .mzp-c-hero-desc {
        max-width: $content-md;
        margin-left: auto;
        margin-right: auto;
    }

    .mzp-c-hero-title {
        @include text-title-md;
        background: var(--h1Gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .mzp-c-button {
        min-width: 100%;

        @media #{$mq-sm} {
            min-width: $layout-2xl;
        }
    }
}

.c-hero-slides {
    background-color: $color-white;
    
    div {
        margin-bottom: $spacing-2xl;

        @media #{$mq-md} {
            margin-bottom: 0;
        }
    }

    h2 {
        @include text-title-3xs;
        text-align: center;
        margin-bottom: $spacing-md;
    }

    img {
        display: block;
        width: $content-xs;
        margin: 0 auto;
    }
}

.c-body-wrapper.t-dark .c-hero-slides {

    h2 {
        color: $color-purple-90;
    }
}
