.settings-main {
    flex-grow: 2;

    .c-settings-headline {
        @include text-title-2xs;
        padding: $spacing-lg $spacing-lg $spacing-md;
        color: $color-grey-60;
    }

    .c-meta--links {
        display: none;
    }

    .c-settings-notification-banner {
        margin: $spacing-md;
        margin-bottom: $spacing-xl;
    }

    .c-settings-form--heading {
        @include text-title-3xs;
        color: $color-grey-50;
        font-weight: 400;
    }

    .c-settings-form--footer {
        background-color: transparent;
        text-align: center;
        display: block;
    }

    .c-settings-form--field {
        border-bottom: 1px solid $color-grey-10;
    }

    .c-settings-form--inline-warning {
        box-shadow: none;
        text-align: start;
        margin-left: 0;
    }

    .c-settings-form--submit {
        padding: $spacing-sm $spacing-2xl;
    }

    @media screen and #{$mq-md} {

        & {
            display: flex;
        }

        .c-meta {
            width: $content-sm;
        }

        .c-meta--links {
            display: block;
            padding: 0 $spacing-lg $spacing-md;

            li {
                padding: $spacing-sm 0;
            }

            a {
                @include text-body-lg;

                img {
                    margin-right: $spacing-sm;
                    // The size of text-body-lg, i.e. the same size as the containing <a>'s font:
                    width: remify(type-scale('body-lg-size'));
                }
            }
        }

        .c-settings {
            flex-grow: 2;
        }

        .c-settings-form--field {
            display: flex;
        }

        .c-settings-form--heading {
            width: $content-sm;
        }

        .c-settings-form--footer {
            text-align: end;
        }
    }
}
