@import "../../../../static/scss/libs/protocol/css/includes/tokens/dist/index.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  // See https://fkhadra.github.io/react-toastify/how-to-style#override-css-variables
  --toastify-toast-width: 95%;
  --toastify-color-success: #{$color-green-60};
  --toastify-text-color-success: #{$color-white};
  --toastify-color-error: #{$color-red-50};
  --toastify-text-color-error: #{$color-white};
}

.toast {
  border-radius: $border-radius-md;
  text-align: center;
  font-weight: bold;
  font-family: $font-stack-base;
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);

  .logoWrapper {
    flex-grow: 2;

    .logo {
      display: inline-flex;
      align-items: center;
      padding: $spacing-xl;

      .logotype {
        height: 20px;
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    padding: 0 $spacing-md;
  }

  a:hover {
    color: $color-blue-50;
  }

  &.isDark {
    background-color: $color-blue-90;
    border-bottom: 1px solid rgba($color-dark-gray-90, 0.5);
    box-shadow: 0 0 3px 0 rgba($color-dark-gray-90, 0.5);
    color: $color-white;

    a:hover {
      color: $color-light-gray-30;
    }
  }

  @media screen and #{$mq-md} {
    .logo {
      padding: $spacing-md $spacing-xl;
    }
  }
}

.content {
  flex-grow: 2;
  background-color: $color-light-gray-10;
}

.footer {
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;

  .mozillaLogo {
    padding: $spacing-xl;
  }

  .meta {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: auto;
    padding-right: $spacing-lg;

    a {
      padding: $spacing-md;

      &:hover {
        color: $color-light-gray-40;

        img {
          opacity: 0.8;
        }
      }
    }
  }
}
