@import "../../../../static/scss/libs/protocol/css/includes/tokens/dist/index.scss";
@import "../../styles/tokens.scss";

.siteNav {
  display: flex;
  padding: 0 $spacing-sm;
}

.link {
  font-family: $font-stack-firefox;
  padding: 0 $spacing-xs;

  &.isActive::after {
    width: 100%;
    height: 2px;
    display: block;
    content: "";
    background: $firefoxGradient;
    margin-bottom: -1 * (2px + $spacing-xs);
    margin-top: $spacing-xs;
  }

  &.homeLink {
    // The logo links to the homepage as well,
    // so don't let this link take up space on small screens:
    display: none;
  }

  @media screen and #{$mq-md} {
    padding: 0 $spacing-md;

    &.homeLink {
      display: inline;
    }
  }
}
