{% load static %}
{% load ftl %}


<section class="c-faq mzp-l-content mzp-l-columns mzp-t-columns-two">
    <div class="c-faq-info">
        <h2 class="c-faq-title">Top questions about Firefox Relay</h2>
        <div class="c-faq-body"><a href="/faq">See more FAQs about Firefox Relay</a></div>
    </div>

    <div class="c-faq-accordion">
        <ul class="c-faq-list">
            <li class="c-faq-question is-active">
                Where is Relay available?
                <span class="c-faq-plus-icon"></span>
            </li>
            <li class="c-faq-answer">
                Free Relay is available in most countries. 
                Relay Premium is available in the United States, Germany, United Kingdom, Canada, Singapore, Malaysia, New Zealand, France, Belgium, Austria, Spain, Italy, Switzerland, Netherlands, and Ireland.
            </li>

            <li class="c-faq-question">
                What is a Relay alias?
                <span class="c-faq-plus-icon"></span>
            </li>
            <li class="c-faq-answer">
                Email aliases are masked email addresses that forward messages to your true email address. 
                These aliases allow you to share an address with third parties which will mask your true email address and forward messages to it.
            </li>

            <li class="c-faq-question">
                When should I use Relay aliases?
                <span class="c-faq-plus-icon"></span>
            </li>
            <li class="c-faq-answer">
                You can use Relay aliases most places you’d use your regular email address. 
                We recommend using them when signing up for marketing/informational emails where you may want to control whether or not you receive emails in the future. 
                We don’t recommend using aliases when you need your identity verified or for very important emails. For example, you’d want to share your real email address with your bank, your doctor, your lawyer, etc.
            </li>

            <li class="c-faq-question">
                Can I use Relay on other browsers or my mobile device?
                <span class="c-faq-plus-icon"></span>
            </li>
            <li class="c-faq-answer">
                Yes, you can generate Relay aliases on other browsers or mobile devices
                simply by logging in to your Relay dashboard.
            </li>
        </ul>
    </div>
</section>

