{% load static %}
{% load ftl %}


<section id="faq" class="c-faq mzp-l-content mzp-l-columns mzp-t-columns-two">
    <div class="c-faq-info">
        <h2 class="c-faq-title">{% ftlmsg 'landing-faq-headline' %}</h2>
        <div class="c-faq-body"><a href="/faq">{% ftlmsg 'landing-faq-cta' %}</a></div>
    </div>

    <div class="c-faq-accordion">
        <ul class="c-faq-list">
            <li class="c-faq-question is-active">
                {% ftlmsg 'faq-question-availability-question' %}
                <span class="c-faq-plus-icon"></span>
            </li>
            <li class="c-faq-answer">
                {% ftlmsg 'faq-question-availability-answer' %}
            </li>

            <li class="c-faq-question">
                {% ftlmsg 'faq-question-what-is-question' %}
                <span class="c-faq-plus-icon"></span>
            </li>
            <li class="c-faq-answer">
                {% ftlmsg 'faq-question-what-is-answer' %}
            </li>

            <li class="c-faq-question">
                {% ftlmsg 'faq-question-use-cases-question' %}
                <span class="c-faq-plus-icon"></span>
            </li>
            <li class="c-faq-answer">
                {% ftlmsg 'faq-question-use-cases-answer' %}
            </li>

            <li class="c-faq-question">
                {% ftlmsg 'faq-question-browser-support-question' %}
                <span class="c-faq-plus-icon"></span>
            </li>
            <li class="c-faq-answer">
                {% ftlmsg 'faq-question-browser-support-answer' %}
            </li>
        </ul>
    </div>
</section>

