{% load static %}
{% load ftl %}

<section class="c-landing-hero t-landing-a mzp-l-content">
    <div class="c-landing-hero--lead">
        <h1 class="c-landing-hero--title mzp-c-section-heading">{% ftlmsg 'landing-hero-headline-2' %}</h1>
        <p>{% ftlmsg 'landing-hero-body-2' %}</p>
        <div>{% include "includes/landing_ctas.html" with page_position="landing-hero" %}</div>
        <img class="c-landing-hero-brands" src="{% static 'images/newlanding/a/hero-brands.svg' %}">
    </div>
    <div class="has-hero-image">
        <img alt="" src="{% static 'images/newlanding/a/hero-image-bg.svg' %}" class="c-hero-image--bg"/>
        {% if premium_available_in_country %}
            <img alt="" src="{% static 'images/newlanding/a/hero-image-premium.svg' %}" class="c-hero-image"/>

            {% if accept_language|slice:"0:2" == "fr" %}
                <!-- French -->
                <img alt="" src="{% static 'images/newlanding/a/hero-image-premium-fr.svg' %}" class="c-hero-image"/>
                <img alt="" src="{% static 'images/newlanding/a/hero-image-fg-fr.svg' %}" class="c-hero-image--fg"/>
            {% elif accept_language|slice:"0:2" == "de" %}
                <!-- German -->
                <img alt="" src="{% static 'images/newlanding/a/hero-image-premium-de.svg' %}" class="c-hero-image"/>
                <img alt="" src="{% static 'images/newlanding/a/hero-image-fg-de.svg' %}" class="c-hero-image--fg"/>
            {% else %}
                <!-- Default to English -->
                <img alt="" src="{% static 'images/newlanding/a/hero-image-premium.svg' %}" class="c-hero-image"/>
                <img alt="" src="{% static 'images/newlanding/a/hero-image-fg.svg' %}" class="c-hero-image--fg"/>
            {% endif %}

        {% else %}
            <!-- Non-premium / English only -->
            <img alt="" src="{% static 'images/newlanding/a/hero-image-nopremium.svg' %}" class="c-hero-image"/>
            <img alt="" src="{% static 'images/newlanding/a/hero-image-fg.svg' %}" class="c-hero-image--fg"/>
        {% endif %}
        
    </div>
</section>
