{% load static %}
{% load ftl %}

<section>
    <div class="mzp-l-content">
    <div class="how-it-works-content-new">
    <h2 class="how-it-works-header">{% ftlmsg 'landing-how-it-works-headline' %}</h2>
    <span class="how-it-works-subheader">{% ftlmsg 'landing-how-it-works-body-2' %}</span>
    <div class="how-it-works-steps mzp-l-columns mzp-t-columns-three">
        <section class="step step-1">
        <img src="{% static 'images/how-it-works/how-it-works-1.svg' %}" class="step-illustration step-1">
        <div class="step-text step-1">
            <h3 class="step-headline ff-Met">{% ftlmsg 'how-it-works-step-1-headline' %}</h3>
            <p class="step-body">
            <a href="https://addons.mozilla.org/firefox/addon/private-relay/">{% ftlmsg 'landing-how-it-works-step-1-body-cta' %}</a>
            {% ftlmsg 'landing-how-it-works-step-1-body-2' %}
            </p>
        </div>
        </section>
        <section class="step step-2">
        <img src="{% static 'images/how-it-works/how-it-works-2.svg' %}" class="step-illustration step-2">
        <div class="step-text step-2">
            <h3 class="step-headline ff-Met">{% ftlmsg 'how-it-works-step-2-headline-2' %}</h3>
            <p class="step-body">
            {% ftlmsg 'landing-how-it-works-step-2-body' %}
            </p>
        </div>
        </section>
        <section class="step step-3">
        <img src="{% static 'images/how-it-works/how-it-works-3.svg' %}" class="step-illustration step-3">
        <div class="step-text step-3">
            <h3 class="step-headline ff-Met">{% ftlmsg 'how-it-works-step-3-headline-2' %}</h3>
            <p class="step-body">
            {% ftlmsg 'landing-how-it-works-step-3-body-2' %}
            </p>
        </div>
        </section>
    </div>
    </div>
    </div>
</section>