{% extends "base.html" %}

{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% load socialaccount %}

{% block content %}

<main data-landing-page="" class="landing-page-a">
    {% include "includes/messages.html" %}
    {% include "./hero.html" %}
    {% include "./how-it-works.html" %}
    {% include "./use-cases.html" %}
    {% if premium_available_in_country %}
        {% include "./plans.html" %}
    {% endif %}
    {% include "./faq.html" %}
</main>

{% endblock %}
