{% load static %}
{% load ftl %}

<section>
<div class="c-gray-bg">
    <div class="container mzp-l-content c-plans">
        <div class="c-pricing-options">
            <!--Non-premium option-->
            <div class="c-option">
                <img class="c-brand-title" src="/static/images/logos/logo-firefox-relay.svg">
                <p class="c-price non-premium-price">Always free</p>
                <ul class="c-features non-premium-list">
                    <li>Up to 5 email aliases</li>
                    <li>Add-on available</li>
                </ul>
                <div class="c-description">
                    Ideal for testing and learn about email aliases.
                </div>
                <a class="mzp-c-button mzp-t-product mzp-t-secondary mzp-t-lg">
                    Sign In
                </a>
            </div>
            <!--Premium Option-->
            <div class="c-option">
                <img class="c-brand-title" src="/static/images/logos/logo-firefox-premium-relay.svg">
                <p class="c-price premium-price">$1 <span class="c-currency"><strong>USD</strong> /month</span></p>
                <div class="c-features premium-list">
                    <ul class="c-list">
                        <li>Unlimited email aliases</li>
                        <li>Add on available</li>
                        <li>Your own email domain</li>
                        <li>Critical email forwarding</li>
                        <li>Reply to your emails</li>
                    </ul>
                </div>
                <a valign="bottom" class="mzp-c-button mzp-t-product mzp-t-secondary mzp-t-lg">
                    Sign In
                </a>
            </div>
        </div>

        <div class="c-pricing-text">
            <div class="vertical-center">
                <h2 class="c-main-header">Yes! We have options for you!</h2>
                <p class="c-pricing-body">Test and learn how Relay work for you with our Free version and then upgrade to protect your email from any malware.</p>
            </div>
        </div>
    </div>
</div>
</section>
