{% load relay_tags %}
{% load socialaccount %}
{% load static %}
{% load ftl %}

<section>
    <div class="c-gray-bg">
        <div class="container mzp-l-content c-plans">
            <div class="c-pricing-options">
                <!--Non-premium option-->
                <div class="c-option c-free">
                    <img class="c-brand-title" src="{% static 'images/logos/logo-firefox-relay.svg' %}">
                    <p class="c-price non-premium-price">{% ftlmsg 'landing-pricing-free-price' %}</p>
                    <div class="c-features non-premium-list">
                        <ul class="c-list">
                            <li>{% ftlmsg 'landing-pricing-free-feature-1' %}</li>
                            <li>{% ftlmsg 'landing-pricing-free-feature-2' %}</li>
                        </ul>
                    </div>
                    <a
                        class="mzp-c-button mzp-t-product mzp-t-secondary mzp-t-lg"
                        href="{% provider_login_url 'fxa' process='login' %}"
                        data-ga="send-ga-pings"
                        data-event-category="Sign In"
                        data-event-label="landing-pricing-free-cta"
                    >
                        {% ftlmsg 'landing-pricing-free-cta' %}
                    </a>
                </div>
                <!--Premium Option-->
                <div class="c-option c-premium">
                    <span class="c-premium-detail">{% ftlmsg 'landing-pricing-premium-price-highlight' %}</span>
                    <img class="c-brand-title" src="{% static 'images/logos/logo-firefox-premium-relay.svg' %}">
                    <p class="c-price premium-price">
                        <span class="c-price-number">{{ monthly_price }}</span>
                        <span class="c-currency">{% ftlmsg 'landing-pricing-premium-price' monthly_price="" %}</span>
                    </p>
                    <div class="c-features premium-list">
                        <ul class="c-list">
                            <li>{% ftlmsg 'landing-pricing-premium-feature-1' %}</li>
                            <li>{% ftlmsg 'landing-pricing-premium-feature-2' %}</li>
                            <li>{% ftlmsg 'landing-pricing-premium-feature-3' %}</li>
                            <li>{% ftlmsg 'landing-pricing-premium-feature-4' %}</li>
                        </ul>
                    </div>
                    <a
                        class="mzp-c-button mzp-t-product mzp-t-secondary mzp-t-lg js-purchase-premium"
                        href="{% premium_subscribe_url accept_language country_code %}"
                        target="_blank" rel="noopener noreferrer"
                        data-ga="send-ga-pings"
                        data-event-category="Purchase Button"
                        data-event-label="newlanding-plans-button"
                        data-cookie-for-server="clicked-purchase"
                    >
                        {% ftlmsg 'nav-profile-sign-up' %}
                    </a>
                </div>
            </div>
    
            <div class="c-pricing-text">
                <div class="c-text">
                    <h2 class="c-main-header">{% ftlmsg 'landing-pricing-headline' monthly_price=monthly_price %}</h2>
                    <p class="c-pricing-body">{% ftlmsg 'landing-pricing-body' %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
