{% load static %}
{% load ftl %}

<section>
    <div class="container mzp-l-content">
        <ul class="c-use-case-content">
            <li class="use-case-title use-case-shopping is-active">
                <div class="use-case-title-text">Shopping</div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">Shopping Experiences</div>
                <div class="desc-body">
                    Buying something from a new online shop? Use a Relay alias instead of your email when making an online purchase. We’ll forward the receipt to your real email address, and if you start getting emails you don’t like, just turn off email forwarding.
                </div>
            </li>
            <li class="use-case-title use-case-social-networks">
                <div class="use-case-title-text">Social Networks</div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">Social Networks</div>
                <div class="desc-body">
                    Want to better protect your online identity when using a social network? Trying to keep your real email from being tied to your presence on social media? Use a Relay alias to log in and help protect yourself online.
                </div>
            </li>
            <li class="use-case-title use-case-offline">  
                <div class="use-case-title-text">Offline</div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">Offline</div>
                <div class="desc-body">
                    Prefer to get email receipts, but want to avoid marketing spam too? Use a Relay alias instead of your email when getting a paperless receipt in a store. We’ll forward the receipt to your real email address, and if you start getting emails you don’t like, just turn off email forwarding.
                </div>
            </li>
            <li class="use-case-title use-case-access-content">
                <div class="use-case-title-text">Access Content</div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">Access Content</div>
                <div class="desc-body">
                    Want to sign up for that newsletter, but don’t trust the sender? Use an alias instead of your real address—if you start getting unwanted emails through that alias, the sender may have sold your alias to other marketers, or it might even have been leaked in a data breach. Just turn off or delete the alias to protect your email inbox.
                </div>
            </li>
            <li class="use-case-title use-case-gaming">
                <div class="use-case-title-text">Gaming</div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">Gaming</div>
                <div class="desc-body">
                    Enjoy online gaming, but worried about other gamers or bullies learning who you are through your gamertag and email address? Use a Relay alias to put one more layer of protection between your online identity and the games you play online.
                </div>
            </li>
        </ul>
    </div>
</section>

