{% load static %}
{% load ftl %}

<section>
    <div class="container mzp-l-content">
        <ul class="c-use-case-content" id="use-cases">
            <li class="use-case-title use-case-shopping is-active remove-box-shadow" data-use-case="shopping">
                <div class="use-case-title-text">{% ftlmsg 'landing-use-cases-shopping' %}</div>
                <div class="drop-down"></div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">{% ftlmsg 'landing-use-cases-shopping' %}</div>
                <div class="desc-body">
                    {% ftlmsg 'landing-use-cases-shopping-body-2' %}
                </div>
            </li>
            <li class="use-case-title use-case-social-networks" data-use-case="social-networks">
                <div class="use-case-title-text">{% ftlmsg 'landing-use-cases-social-networks' %}</div>
                <div class="drop-down"></div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">{% ftlmsg 'landing-use-cases-social-networks' %}</div>
                <div class="desc-body">
                    {% ftlmsg 'landing-use-cases-social-networks-body-2' %}
                </div>
            </li>
            <li class="use-case-title use-case-offline" data-use-case="offline">  
                <div class="use-case-title-text">{% ftlmsg 'landing-use-cases-offline' %}</div>
                <div class="drop-down"></div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">{% ftlmsg 'landing-use-cases-offline' %}</div>
                <div class="desc-body">
                    {% ftlmsg 'landing-use-cases-offline-body-2' %}
                </div>
            </li>
            <li class="use-case-title use-case-access-content" data-use-case="access-content">
                <div class="use-case-title-text">{% ftlmsg 'landing-use-cases-access-content' %}</div>
                <div class="drop-down"></div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">{% ftlmsg 'landing-use-cases-access-content' %}</div>
                <div class="desc-body">
                    {% ftlmsg 'landing-use-cases-access-content-body-2' %}
                </div>
            </li>
            <li class="use-case-title use-case-gaming" data-use-case="gaming">
                <div class="use-case-title-text">{% ftlmsg 'landing-use-cases-gaming' %}</div>
                <div class="drop-down"></div>
            </li>
            <li class="use-case-desc">
                <div class="desc-headline">{% ftlmsg 'landing-use-cases-gaming' %}</div>
                <div class="desc-body">
                    {% ftlmsg 'landing-use-cases-gaming-body-2' %}
                </div>
            </li>
        </ul>
    </div>
</section>

