@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.mock-session {
  padding: $spacing-lg;

  a {
    color: $color-blue-50;
  }

  .lead {
    max-width: $content-md;
    padding: $spacing-md 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    align-items: flex-start;
    padding: $spacing-lg;
    width: $content-sm;
  }

  input,
  button {
    padding: $spacing-md;
  }

  button {
    border-radius: $border-radius-sm;
    border: 1px solid $color-blue-50;
    background-color: $color-white;
    color: $color-blue-50;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: $color-blue-50;
      color: $color-white;
    }
  }

  h1 {
    padding: $spacing-sm 0;

    @include text-title-3xs;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    list-style-type: none;
  }
}
