@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;

.mock-session {
  padding: mp.$spacing-lg;

  a {
    color: mp.$color-blue-50;
  }

  .lead {
    max-width: mp.$content-md;
    padding: mp.$spacing-md 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: mp.$spacing-sm;
    align-items: flex-start;
    padding: mp.$spacing-lg;
    width: mp.$content-sm;
  }

  input,
  button {
    padding: mp.$spacing-md;
  }

  button {
    border-radius: mp.$border-radius-sm;
    border: 1px solid mp.$color-blue-50;
    background-color: mp.$color-white;
    color: mp.$color-blue-50;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: mp.$color-blue-50;
      color: mp.$color-white;
    }
  }

  h1 {
    padding: mp.$spacing-sm 0;

    @include mp.text-title-3xs;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: mp.$spacing-md;
    list-style-type: none;
  }
}
