@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";

.mock-session {
  padding: lib.$spacing-lg;

  a {
    color: lib.$color-blue-50;
  }

  .lead {
    max-width: lib.$content-md;
    padding: lib.$spacing-md 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: lib.$spacing-sm;
    align-items: flex-start;
    padding: lib.$spacing-lg;
    width: lib.$content-sm;
  }

  input,
  button {
    padding: lib.$spacing-md;
  }

  button {
    border-radius: lib.$border-radius-sm;
    border: 1px solid lib.$color-blue-50;
    background-color: lib.$color-white;
    color: lib.$color-blue-50;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: lib.$color-blue-50;
      color: lib.$color-white;
    }
  }

  h1 {
    padding: lib.$spacing-sm 0;

    @include lib.text-title-3xs;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: lib.$spacing-md;
    list-style-type: none;
  }
}
