@import "../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.contains-tracker-container {
  margin: $layout-sm;

  @media screen and #{$mq-md} {
    max-width: $content-xl;
    margin: $layout-md auto;
    padding: 0 $layout-sm;
  }

  .details-section {
    gap: $layout-xs;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: $font-stack-firefox;
      border-bottom: 1px solid $color-light-gray-30;
      padding-bottom: $spacing-xs;
    }

    .warning-banner {
      margin-top: $spacing-sm;
    }
  }
}

.faq-wrapper {
  background-color: $color-white;

  .faq {
    max-width: $content-xl;
    margin: 0 auto;
    padding: 0 $layout-sm;
    display: flex;
    flex-direction: column;

    .lead {
      flex: 0.6;

      @media screen and #{$mq-md} {
        padding: $spacing-2xl $spacing-2xl 0 0;
      }

      .headline {
        @include text-title-xs;
        font-family: $font-stack-firefox;
        font-weight: 700;
        padding: $spacing-md 0;

        @media screen and #{$mq-md} {
          @include text-title-2xs;
        }
      }

      .read-more {
        color: $color-blue-50;
        font-weight: 700;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .entries {
      flex: 1;
      padding: $spacing-lg 0;
    }

    @media screen and #{$mq-md} {
      flex-direction: row;
      gap: $spacing-md;
    }
  }
}
