@use "../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../styles/typography";

.contains-tracker-container {
  margin: lib.$layout-sm;

  .warning-banner-wrapper {
    display: flex;
    gap: 10px;
    background-color: lib.$color-white;
    padding: lib.$spacing-lg lib.$spacing-md;
    border-radius: lib.$border-radius-sm;
    box-shadow: lib.$box-shadow-sm;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @media screen and #{lib.$mq-md} {
      flex-direction: row;
      align-items: center;
    }

    .cta-button {
      a {
        font-size: 15px;
        font-weight: 600;
        font-family: lib.$font-stack-firefox;
        color: lib.$color-black;
        border: none;
        background-color: tokens.$color-grey-10;
        white-space: nowrap;
        align-self: center;
        margin: 0 0 0 auto;
        padding: lib.$spacing-md;
        border-radius: lib.$border-radius-sm;
      }
    }

    .warning-banner-container {
      display: flex;
      gap: 10px;
    }

    svg {
      fill: lib.$color-yellow-50;
      min-width: 28px;
      min-height: 28px;
    }

    h2 {
      font-size: 18px;
      font-weight: 600;
      font-family: lib.$font-stack-firefox;
      color: tokens.$color-grey-50;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      font-family: lib.$font-stack-base;
      color: tokens.$color-grey-40;
    }
  }

  @media screen and #{lib.$mq-md} {
    max-width: lib.$content-xl;
    margin: lib.$layout-md auto;
    padding: 0 lib.$layout-sm;
  }

  .details-section {
    gap: lib.$layout-xs;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: lib.$font-stack-firefox;
      border-bottom: 1px solid lib.$color-light-gray-30;
      padding-bottom: lib.$spacing-xs;
    }

    .warning-banner {
      margin-top: lib.$spacing-sm;
    }
  }
}

.faq-wrapper {
  background-color: lib.$color-white;

  .faq {
    max-width: lib.$content-xl;
    margin: 0 auto;
    padding: 0 lib.$layout-sm;
    display: flex;
    flex-direction: column;

    .lead {
      // flex value is 0.35 to make sure the text is not too wide and to reflect design specs
      flex-basis: 0;
      flex-grow: 0.35;

      @media screen and #{lib.$mq-md} {
        padding: lib.$spacing-2xl lib.$spacing-2xl 0 0;
      }

      .headline {
        @include typography.text-title-xs {
          font-family: lib.$font-stack-firefox;
          font-weight: 700;
          padding: lib.$spacing-md 0;
          color: lib.$color-violet-90;
        }

        @media screen and #{lib.$mq-md} {
          @include typography.text-title-2xs;
        }
      }

      .read-more {
        color: lib.$color-blue-50;
        font-weight: 700;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .entries {
      flex: 1;
      padding: lib.$spacing-lg 0;
    }

    @media screen and #{lib.$mq-md} {
      flex-direction: row;
      gap: lib.$spacing-md;
    }
  }
}
