@use "../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "../styles/typography" as styles-typography;

.faq-page {
  background-color: mp.$color-blue-90;
  color: mp.$color-white;
  height: 100%;
  padding: 0 mp.$spacing-lg mp.$spacing-2xl;

  a {
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }

  p {
    padding: mp.$spacing-sm 0;
  }
}

.faqs-wrapper {
  max-width: mp.$content-xl;
  margin: 0 auto;
  padding-top: mp.$spacing-2xl;
}

.headline {
  @include styles-typography.text-title-sm {
    @include mp.font-firefox;
    padding-bottom: mp.$spacing-xl;
  }
}

.faqs {
  column-width: mp.$content-sm;
  column-gap: mp.$spacing-2xl;
}

.faq {
  margin-bottom: mp.$spacing-2xl;
  break-inside: avoid;

  &:target {
    .question::before {
      content: "> ";
    }
  }

  .question {
    @include styles-typography.text-title-2xs {
      @include mp.font-firefox;
      padding-bottom: mp.$spacing-sm;
    }
  }

  .answer {
    @include mp.text-body-md;

    color: mp.$color-light-gray-10;
    margin-top: 0;

    li {
      list-style-type: initial;
      margin-left: mp.$spacing-md;
    }
  }
}
