@use "../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../styles/typography" as styles-typography;

.faq-page {
  background-color: lib.$color-blue-90;
  color: lib.$color-white;
  height: 100%;
  padding: 0 lib.$spacing-lg lib.$spacing-2xl;

  a {
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }

  p {
    padding: lib.$spacing-sm 0;
  }
}

.faqs-wrapper {
  max-width: lib.$content-xl;
  margin: 0 auto;
  padding-top: lib.$spacing-2xl;
}

.headline {
  @include styles-typography.text-title-sm {
    @include lib.font-firefox;
    padding-bottom: lib.$spacing-xl;
  }
}

.faqs {
  column-width: lib.$content-sm;
  column-gap: lib.$spacing-2xl;
}

.faq {
  margin-bottom: lib.$spacing-2xl;
  break-inside: avoid;

  &:target {
    .question::before {
      content: "> ";
    }
  }

  .question {
    @include styles-typography.text-title-2xs {
      @include lib.font-firefox;
      padding-bottom: lib.$spacing-sm;
    }
  }

  .answer {
    @include lib.text-body-md;

    color: lib.$color-light-gray-10;
    margin-top: 0;

    li {
      list-style-type: initial;
      margin-left: lib.$spacing-md;
    }
  }
}
