@use "../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "../styles/typography" as styles-typography;

.hero {
  display: flex;
  flex-direction: column;
  gap: mp.$spacing-2xl;
  width: mp.$content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: mp.$spacing-2xl mp.$spacing-lg;

  @media screen and #{mp.$mq-md} {
    flex-direction: row;
    align-items: center;
  }

  .lead,
  .demo-phone {
    flex: 1 0 0;
  }

  .lead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: mp.$spacing-lg;
  }

  h2 {
    @include styles-typography.text-title-md {
      font-family: mp.$font-stack-firefox;
    }
  }

  p {
    max-width: calc(mp.$content-sm + mp.$layout-xl);
  }

  .cta {
    margin: mp.$spacing-xl 0;
    min-width: mp.$content-xs;
  }
  .social-proof {
    padding: mp.$spacing-lg 0;
    width: 100%;
    max-width: 55%;

    @media screen and #{mp.$mq-md} {
      width: auto;
    }
  }

  .end-of-intro-pricing-hero {
    display: flex;
    gap: mp.$spacing-lg;
    flex-wrap: wrap;

    & > div {
      flex: 1 1 mp.$content-xs;
    }
  }
}

.how-it-works-wrapper {
  background-color: mp.$color-white;
  // Magic number: 64px allows us to have an even spacing between sections on pages
  padding: calc(mp.$spacing-xl * 2) mp.$spacing-md;
}

.how-it-works {
  width: mp.$content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: mp.$spacing-lg;

  h2 {
    @include styles-typography.text-title-sm {
      font-family: mp.$font-stack-firefox;
      text-align: center;
      margin-bottom: mp.$layout-sm;
    }
  }

  h2,
  .lead {
    padding: mp.$spacing-sm 0;
  }

  a {
    color: mp.$color-blue-50;
    text-decoration: underline;
    font-weight: 700;

    &:hover {
      color: mp.$color-blue-60;
      text-decoration: none;
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: mp.$layout-lg;
    list-style-type: none;
    padding: mp.$spacing-2xl 0;
    text-align: start;
    margin: 0;

    @media screen and #{mp.$mq-md} {
      gap: mp.$layout-xl;
      margin: mp.$spacing-2xl mp.$layout-2xl 0 mp.$layout-2xl;
    }
    @media screen and #{mp.$mq-lg} {
      flex-direction: row;
      margin: 0;
    }

    h3 {
      @include mp.text-title-3xs;
      font-family: mp.$font-stack-base;
      font-weight: 600;
      padding-top: mp.$spacing-md;
      line-height: 1.5;
    }

    p {
      padding: mp.$spacing-md 0;
    }

    .step {
      flex: 1;
    }

    img {
      width: 100%;
      display: inline-block;
    }
  }
}

.use-cases-wrapper {
  background-color: mp.$color-white;
}

.use-cases {
  width: mp.$content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: mp.$spacing-lg;
}

// Creates a page break effect
.page-break {
  background: linear-gradient(
    180deg,
    mp.$color-light-gray-20 0%,
    mp.$color-light-gray-10 45%
  );
  height: mp.$layout-md;
}

.features {
  padding: mp.$layout-xs;
  width: mp.$content-xl;
  max-width: 100%;
  margin: 0 auto;

  @media screen and #{mp.$mq-md} {
    padding: mp.$layout-sm mp.$layout-xs;
  }
}

.plans {
  width: mp.$content-max;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  gap: mp.$spacing-2xl;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0 mp.$spacing-md mp.$spacing-md mp.$spacing-md;
  margin-top: mp.$layout-xl;

  &.non-premium-country {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .callout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    max-width: mp.$content-md;
    gap: mp.$spacing-lg;
    margin-top: mp.$layout-xl;

    h2 {
      @include styles-typography.text-title-sm {
        font-family: mp.$font-stack-firefox;
        font-weight: 500;
      }
    }

    .end-of-intro-pricing-countdown-and-warning {
      display: flex;
      flex-direction: column;
      gap: mp.$spacing-sm;
    }
  }

  @media screen and #{mp.$mq-xl} {
    flex-direction: row;
    padding: 0 mp.$spacing-2xl mp.$spacing-2xl mp.$spacing-2xl;

    .plan-comparison {
      padding: mp.$spacing-2xl;
    }

    .callout {
      padding: mp.$spacing-2xl;
      text-align: start;
    }
  }
}

.faq-wrapper {
  background-color: mp.$color-white;
  // Magic number: 64px allows us to have an even spacing between sections on pages
  padding: calc(mp.$spacing-xl * 2) mp.$spacing-md;
}

.faq {
  width: mp.$content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: mp.$spacing-lg;
  display: flex;
  flex-direction: column;

  .lead {
    flex: 1 0 0;

    @media screen and #{mp.$mq-md} {
      padding: 0 mp.$spacing-2xl;
    }

    .headline {
      @include styles-typography.text-title-sm {
        font-family: mp.$font-stack-firefox;
        font-weight: 500;
        padding: mp.$spacing-md 0;
      }
    }

    .read-more {
      color: mp.$color-blue-50;
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .entries {
    flex: 1 0 0;
    padding-top: mp.$spacing-lg;

    @media screen and #{mp.$mq-md} {
      padding: 0 mp.$spacing-2xl;
    }
  }

  @media screen and #{mp.$mq-md} {
    flex-direction: row;
    gap: mp.$spacing-md;
  }
}

.bundle-banner-section {
  width: 100%;
  margin: 0 auto;
  // Magic number: 64px allows us to have an even spacing between sections on pages
  padding: calc(mp.$spacing-xl * 2) mp.$spacing-md;

  @media screen and #{mp.$mq-md} {
    width: mp.$content-max;
    margin-top: 0;
    max-width: 100%;
  }
}

.gray-bg {
  background-color: mp.$color-light-gray-10;
}

.reviews-container {
  // Magic number: 64px allows us to have an even spacing between sections on pages
  padding: calc(mp.$spacing-xl * 2) mp.$spacing-md;
}

.testimonials-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: mp.$spacing-md;
  border: 0 solid mp.$color-light-gray-20;
  border-top-width: 1px;
  border-bottom-width: 1px;

  p {
    @include mp.text-body-lg;
    font-family: mp.$font-stack-base;
  }
}
