@import "../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.hero {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  width: $content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-lg;

  @media screen and #{$mq-md} {
    flex-direction: row;
    align-items: center;
  }

  .lead,
  .demo-phone {
    flex: 1 0 0;
  }

  .lead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-lg;
  }

  h2 {
    @include text-title-md;
    font-family: $font-stack-firefox;
  }

  .social-proof {
    border: 0 solid $color-light-gray-20;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: $spacing-lg 0;
    width: 100%;

    @media screen and #{$mq-md} {
      width: auto;
    }
  }
}

.how-it-works-wrapper {
  background-color: $color-white;
}

.how-it-works {
  width: $content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-lg;

  h2 {
    @include text-title-sm;
    font-family: $font-stack-firefox;
  }

  h2,
  .lead {
    padding: $spacing-sm 0;
  }

  a {
    color: $color-blue-50;
    text-decoration: underline;
    font-weight: 700;

    &:hover {
      color: $color-blue-60;
      text-decoration: none;
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: $layout-xl;
    list-style-type: none;
    padding: $spacing-2xl 0;
    text-align: start;
    margin: 0;

    @media screen and #{$mq-md} {
      margin: $spacing-2xl $layout-2xl 0 $layout-2xl;
    }
    @media screen and #{$mq-lg} {
      flex-direction: row;
      margin: 0;
    }

    h3 {
      @include font-firefox;
      @include text-title-2xs;
      padding-top: $spacing-2xl;
    }

    p {
      padding-top: $spacing-sm;
    }

    .step {
      flex: 1;
    }

    img {
      width: 100%;
      display: inline-block;
    }
  }
}

.use-cases-wrapper {
  background-color: $color-white;
}

.use-cases {
  width: $content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-lg;
}

.plans-wrapper {
  background: linear-gradient(
    180deg,
    $color-light-gray-20 0%,
    $color-light-gray-10 3%
  );
}

.plans {
  width: $content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-2xl;
  display: flex;
  gap: $spacing-2xl;
  flex-direction: column-reverse;
  align-items: center;

  .callout {
    text-align: center;
    max-width: $content-md;

    h2 {
      @include text-title-sm;
      font-family: $font-stack-firefox;
      font-weight: 500;
      padding: $spacing-lg 0;
    }
  }

  @media screen and #{$mq-xl} {
    flex-direction: row;

    .plan-comparison {
      padding: $spacing-2xl;
    }

    .callout {
      padding: $spacing-2xl;
      text-align: start;
    }
  }
}

.faq-wrapper {
  background-color: $color-white;
}

.faq {
  width: $content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;

  .lead {
    flex: 1 0 0;

    @media screen and #{$mq-md} {
      padding: 0 $spacing-2xl;
    }

    .headline {
      @include text-title-sm;
      font-family: $font-stack-firefox;
      font-weight: 500;
      padding: $spacing-md 0;
    }

    .read-more {
      color: $color-blue-50;
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .entries {
    flex: 1 0 0;
    padding-top: $spacing-lg;

    @media screen and #{$mq-md} {
      padding: 0 $spacing-2xl;
    }
  }

  @media screen and #{$mq-md} {
    flex-direction: row;
    gap: $spacing-md;
  }
}
