@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "../styles/tokens.scss";

.main-wrapper {
  max-width: calc($content-lg + $layout-lg);
  width: 100%;
  margin: 0 auto;
  padding: $spacing-md;
  margin-bottom: $layout-md;
  gap: $spacing-lg;
  display: flex;
  flex-direction: column;
}
