@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../styles/tokens";
@use "../styles/typography" as styles-typography;

.hero {
  display: flex;
  flex-direction: column;
  gap: lib.$spacing-2xl;
  width: lib.$content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: lib.$spacing-lg;

  .hero-image {
    flex-basis: 0;
    flex-grow: 1;
  }

  @media screen and #{lib.$mq-md} {
    flex-direction: row;
    align-items: center;
  }

  .lead,
  .demo-phone {
    flex: 1 0 0;
  }

  .lead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: lib.$spacing-lg;
  }

  h2 {
    @include styles-typography.text-title-md {
      font-family: lib.$font-stack-firefox;
    }
  }

  .social-proof {
    border: 0 solid lib.$color-light-gray-20;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: lib.$spacing-lg 0;
    width: 100%;

    @media screen and #{lib.$mq-md} {
      width: auto;
    }
  }

  .end-of-intro-pricing-hero {
    display: flex;
    gap: lib.$spacing-lg;
    flex-wrap: wrap;

    & > div {
      flex: 1 1 lib.$content-xs;
    }
  }
}

.perks-wrapper {
  padding: lib.$layout-xs;
  width: lib.$content-xl;
  max-width: 100%;
  margin: 0 auto;

  @media screen and #{lib.$mq-md} {
    padding: lib.$layout-sm lib.$layout-xs;
  }
}

.perks {
  width: lib.$content-xl;
  max-width: 100%;
  margin: 0 auto;
  padding: lib.$spacing-2xl lib.$spacing-xl;

  h2 {
    @include styles-typography.text-title-sm {
      font-family: lib.$font-stack-firefox;
      text-align: center;
      padding: lib.$spacing-md 0;
    }
  }

  .lead {
    @include lib.text-body-md;
    display: block;
    width: 75%;
    margin: 0 auto;
    padding: lib.$spacing-md 0;
  }

  .perk {
    padding: lib.$spacing-lg 0;
    display: flex;
    flex-direction: column;
    gap: lib.$spacing-2xl;
    align-items: center;

    img {
      max-width: 70%;
      margin: 0 auto;
    }

    .pill {
      background-color: tokens.$color-violet-30;
      color: tokens.$color-white;
      border-radius: lib.$border-radius-sm;
      padding: lib.$spacing-xs lib.$spacing-sm;
      font-family: lib.$font-stack-firefox;
      font-weight: 600;
      text-transform: uppercase;
    }

    h3 {
      @include styles-typography.text-title-xs {
        font-family: lib.$font-stack-firefox;
        padding: lib.$spacing-sm 0;
      }
    }

    p {
      padding: lib.$spacing-sm 0;
    }

    @media screen and #{lib.$mq-md} {
      flex-direction: row;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      img {
        max-width: 50%;
      }
    }
  }
}

.use-cases-wrapper {
  background-color: tokens.$color-white;
}

.use-cases {
  width: lib.$content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: lib.$spacing-xl;

  .headline {
    @include styles-typography.text-title-sm {
      font-family: lib.$font-stack-firefox;
      text-align: center;
      padding: lib.$spacing-lg;
    }
  }
}

.plans-wrapper {
  background: linear-gradient(
    180deg,
    lib.$color-light-gray-20 0%,
    lib.$color-light-gray-10 3%
  );
}

.plans {
  width: lib.$content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: lib.$spacing-2xl;
  display: flex;
  gap: lib.$spacing-2xl;
  flex-direction: column-reverse;
  align-items: center;

  &.non-premium-country {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .callout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: lib.$spacing-lg;

    h2 {
      @include styles-typography.text-title-md {
        font-family: lib.$font-stack-firefox;
        font-weight: 500;
      }
    }

    .end-of-intro-pricing-countdown-and-warning {
      display: flex;
      flex-direction: column;
      gap: lib.$spacing-sm;
    }
  }

  @media screen and #{lib.$mq-xl} {
    flex-direction: row;

    .plan-comparison {
      padding: lib.$spacing-2xl;
    }

    .callout {
      padding: lib.$spacing-2xl;
      text-align: start;
    }
  }
}

.bundle-banner-section {
  width: 100%;
  margin: 0 auto;
  padding: calc(lib.$spacing-2xl * 2) lib.$spacing-md;
  margin-top: lib.$layout-lg;

  @media screen and #{lib.$mq-md} {
    width: lib.$content-max;
    margin-top: 0;
    max-width: 100%;
  }
}
