@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "../styles/tokens.scss";

.hero {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  width: $content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-lg;

  .hero-image {
    flex-basis: 0;
    flex-grow: 1;
  }

  @media screen and #{$mq-md} {
    flex-direction: row;
    align-items: center;
  }

  .lead,
  .demo-phone {
    flex: 1 0 0;
  }

  .lead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-lg;
  }

  h2 {
    @include text-title-md;
    font-family: $font-stack-firefox;
  }

  .social-proof {
    border: 0 solid $color-light-gray-20;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: $spacing-lg 0;
    width: 100%;

    @media screen and #{$mq-md} {
      width: auto;
    }
  }

  .end-of-intro-pricing-hero {
    display: flex;
    gap: $spacing-lg;
    flex-wrap: wrap;

    & > div {
      flex: 1 1 $content-xs;
    }
  }
}

.perks-wrapper {
  padding: $layout-xs;
  width: $content-xl;
  max-width: 100%;
  margin: 0 auto;

  @media screen and #{$mq-md} {
    padding: $layout-sm $layout-xs;
  }
}

.perks {
  width: $content-xl;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-2xl $spacing-xl;

  h2 {
    @include text-title-sm;
    font-family: $font-stack-firefox;
    text-align: center;
    padding: $spacing-md 0;
  }

  .lead {
    @include text-body-md;
    display: block;
    width: 75%;
    margin: 0 auto;
    padding: $spacing-md 0;
  }

  .perk {
    padding: $spacing-lg 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-2xl;
    align-items: center;

    img {
      max-width: 70%;
      margin: 0 auto;
    }

    .pill {
      background-color: $color-violet-30;
      color: $color-white;
      border-radius: $border-radius-sm;
      padding: $spacing-xs $spacing-sm;
      font-family: $font-stack-firefox;
      font-weight: 600;
      text-transform: uppercase;
    }

    h3 {
      @include text-title-xs;
      font-family: $font-stack-firefox;
      padding: $spacing-sm 0;
    }

    p {
      padding: $spacing-sm 0;
    }

    @media screen and #{$mq-md} {
      flex-direction: row;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      img {
        max-width: 50%;
      }
    }
  }
}

.use-cases-wrapper {
  background-color: $color-white;
}

.use-cases {
  width: $content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-xl;

  .headline {
    @include text-title-sm;
    font-family: $font-stack-firefox;
    text-align: center;
    padding: $spacing-lg;
  }
}

.plans-wrapper {
  background: linear-gradient(
    180deg,
    $color-light-gray-20 0%,
    $color-light-gray-10 3%
  );
}

.plans {
  width: $content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-2xl;
  display: flex;
  gap: $spacing-2xl;
  flex-direction: column-reverse;
  align-items: center;

  &.non-premium-country {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .callout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: $spacing-lg;

    h2 {
      @include text-title-md;
      font-family: $font-stack-firefox;
      font-weight: 500;
    }

    .end-of-intro-pricing-countdown-and-warning {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
    }
  }

  @media screen and #{$mq-xl} {
    flex-direction: row;

    .plan-comparison {
      padding: $spacing-2xl;
    }

    .callout {
      padding: $spacing-2xl;
      text-align: start;
    }
  }
}

.bundle-banner-section {
  width: 100%;
  margin: 0 auto;
  padding: calc($spacing-2xl * 2) $spacing-md;
  margin-top: $layout-lg;

  @media screen and #{$mq-md} {
    width: $content-max;
    margin-top: 0;
    max-width: 100%;
  }
}
