@use "../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "../styles/typography";

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  // <html> and <body> have overflow set to hidden to accommodate header
  // positioning (for more info, see `.non-header-wrapper` in
  // Layout.module.scss), so overflow: auto is needed to re-enable the scrollbar:
  overflow: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  50% {
    // Let the loading screen stay hidden for 200ms;
    // if it gets removed in that time (because the report has initialised),
    // showing a "loading" message is just distracting:
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading {
  padding: mp.$spacing-xl;
  height: 100%;
  background-color: tokens.$color-grey-05;
  animation-name: fadein;
  animation-duration: 400ms;
}

.load-error {
  padding: mp.$spacing-xl;
  height: 100%;
  background-color: tokens.$color-grey-05;
}

.report-wrapper {
  background-color: tokens.$color-grey-05;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;

  .report {
    width: 100%;
    max-width: mp.$content-xl;
    padding: mp.$spacing-xl;
    display: flex;
    flex-direction: column;
    gap: mp.$spacing-md;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: mp.$spacing-xs;

    .logomark {
      max-height: 35px;
    }
    .logotype {
      max-height: 20px;
    }
  }

  h1 {
    @include typography.text-title-2xs {
      font-family: mp.$font-stack-firefox;
      padding: mp.$spacing-md 0;
      border-bottom: 1px solid tokens.$color-grey-20;
    }
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: mp.$spacing-md;
    padding: mp.$spacing-lg;

    @media screen and #{mp.$mq-md} {
      flex-direction: row;
      gap: mp.$spacing-2xl;
      padding: mp.$spacing-lg mp.$spacing-2xl;
    }

    dt {
      color: tokens.$color-grey-40;
    }

    dd {
      font-weight: 600;
      color: tokens.$color-grey-50;
    }

    .from {
      flex: 1 0 auto;

      dd {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: mp.$content-sm;
      }
    }
  }

  .trackers {
    background-color: mp.$color-white;
    border-radius: mp.$border-radius-md;
    display: flex;
    flex-direction: column;
    box-shadow: mp.$box-shadow-sm;
    // We typically avoid margins because they affect the positioning of other elements,
    // but since box-shadow is visible below the element, the bottom margin lets
    // us pretend like it's part of the element:
    margin-bottom: mp.$spacing-md;
    padding: mp.$spacing-lg;
    gap: mp.$spacing-md;

    @media screen and #{mp.$mq-md} {
      padding: mp.$spacing-lg mp.$spacing-2xl;
      gap: mp.$spacing-xl;
    }

    h2 {
      @include typography.text-title-xs {
        font-family: mp.$font-stack-firefox;
        font-weight: 500;
      }
    }

    table {
      // The table heading only exists for screen readers.
      // See https://webaim.org/techniques/css/invisiblecontent/#offscreen.
      thead {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        clip-path: circle(0);
      }

      tr {
        display: grid;
        grid-template-areas:
          "icon tracker-domain"
          "null count";
        grid-template-columns: auto 1fr auto;
        align-items: center;
        column-gap: mp.$spacing-md;
        row-gap: mp.$spacing-xs;
        padding: mp.$spacing-md 0;
        color: tokens.$color-grey-50;
        border-top: 1px solid tokens.$color-grey-10;

        .icon {
          grid-area: icon;
          color: tokens.$color-grey-20;
        }

        .tracker-domain {
          grid-area: tracker-domain;
          flex: 1 0 auto;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .count {
          grid-area: count;
          width: 100%;
        }

        @media screen and #{mp.$mq-sm} {
          grid-template-areas: "icon tracker-domain count";

          .count {
            width: auto;
          }
        }
      }
    }
  }

  .confidentiality-notice {
    display: flex;
    align-items: center;
    gap: mp.$spacing-md;
    background-color: tokens.$color-grey-10;
    padding: mp.$spacing-lg;
    border-radius: mp.$border-radius-md;

    @media screen and #{mp.$mq-md} {
      padding: mp.$spacing-lg mp.$spacing-2xl;
    }

    svg {
      color: mp.$color-purple-70;
      flex: 1 0 auto;
    }
  }

  .explainer {
    display: flex;
    flex-direction: column;
    gap: mp.$spacing-md;
    padding: mp.$spacing-lg;

    @media screen and #{mp.$mq-md} {
      padding: mp.$spacing-lg mp.$spacing-2xl;
    }

    hr {
      background-color: tokens.$color-grey-10;
      height: 2px;
      border-style: none;
    }

    .breakage-warning {
      display: flex;
      align-items: center;
      gap: mp.$spacing-md;
      border-radius: mp.$border-radius-sm;
      border: 2px solid mp.$color-yellow-50;
      padding: mp.$spacing-lg;

      svg {
        color: mp.$color-yellow-50;
        flex: 1 0 auto;
      }
    }
  }
}

.faq-wrapper {
  background-color: mp.$color-white;
}

.faq {
  width: mp.$content-max;
  max-width: 100%;
  margin: 0 auto;
  padding: mp.$spacing-lg;
  display: flex;
  flex-direction: column;

  .lead {
    flex: 1 0 0;

    @media screen and #{mp.$mq-md} {
      padding: 0 mp.$spacing-2xl;
    }

    .headline {
      @include typography.text-title-sm {
        font-family: mp.$font-stack-firefox;
        font-weight: 500;
        padding: mp.$spacing-md 0;
      }
    }

    .read-more {
      color: mp.$color-blue-50;
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .entries {
    flex: 1 0 0;
    padding-top: mp.$spacing-lg;

    @media screen and #{mp.$mq-md} {
      padding: 0 mp.$spacing-2xl;
    }
  }

  @media screen and #{mp.$mq-md} {
    flex-direction: row;
    gap: mp.$spacing-md;
  }
}
