@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "../styles/tokens";

// TODO MPP-3946: Remove this legacy versioning comment
// When this used @import, this versioning comment was duplicated because
// tokens was imported twice. With @use, it only appears once. It is
// manually added to keep the output CSS file hash from changing.
/*! v=1 */
@use "../../src/components/Button.module";

.content-container {
  display: flex;
  flex-direction: column;
  max-width: mp.$content-lg;
  margin: 0 auto;
}

.content-head {
  display: flex;
  max-width: mp.$content-lg;
  gap: mp.$spacing-md;
  padding: mp.$layout-xl mp.$spacing-md;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.headline {
  font-family: mp.$font-stack-base;
  color: tokens.$color-grey-40;
  font-weight: 400;

  @include mp.text-title-3xs;
}

.subheadline {
  font-family: mp.$font-stack-firefox;
  color: tokens.$color-grey-60;
  font-weight: 700;

  @include mp.text-title-md;
}

.logo {
  display: flex;
  gap: mp.$spacing-md;
  justify-content: center;
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: mp.$spacing-xl;
  margin-bottom: mp.$spacing-2xl;

  @media #{mp.$mq-lg} {
    flex-direction: row;
    background-color: tokens.$color-white;
    padding: 0 mp.$spacing-2xl;
    border-radius: mp.$border-radius-md;
    box-shadow: mp.$box-shadow-sm;
  }

  .panel-art {
    display: none;

    @media #{mp.$mq-lg} {
      display: block;
    }
  }
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: mp.$spacing-xl;
  max-width: mp.$content-xs;
  background-color: mp.$color-white;
  padding: mp.$spacing-2xl;
  border-radius: mp.$border-radius-md;
  box-shadow: mp.$box-shadow-sm;

  @media #{mp.$mq-lg} {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  p {
    max-width: mp.$content-xs;
    font-family: mp.$font-stack-base;

    @include mp.text-body-md;
  }

  a {
    white-space: pre;
    font-weight: 500;
    font-family: mp.$font-stack-firefox;
  }
}
