{% load relay_tags %}
{% load socialaccount %}
{% load static %}
{% load ftl %}

{% if request.user.is_authenticated %}
    {% get_social_accounts request.user as accounts %}
{% endif %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% with request.user.profile_set.first as user_profile %}
{% with user_profile.has_premium as user_has_premium %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="{% ftlmsg 'meta-description-2' %}" />
    <title>{% block head_title %}{% ftlmsg 'meta-title' %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/logos/relay-logo-dark.svg' %}">
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/logos/relay-logo-dark-200.png' %}">
    
    <!-- Open Graph Tags -->
    <meta property="og:url" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ request.path }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% ftlmsg 'meta-title' %}" />
    <meta property="og:description" content="{% ftlmsg 'meta-description-2' %}" />
    <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'images/share-relay.jpg' %}" />
    
    <!-- Twitter Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@firefox">
    <meta name="twitter:title" content="{% ftlmsg 'meta-title' %}">
    <meta name="twitter:description" content="{% ftlmsg 'meta-description-2' %}">
    <meta name="twitter:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'images/share-relay.jpg' %}">
  </head>
  <body class="{% if user_has_premium %}is-premium{% endif %} {% if request.resolver_match.url_name == "faq" %}is-dark{% endif %}" data-fxa-settings-url="{{ settings.FXA_SETTINGS_URL }}" data-site-origin="{{ settings.SITE_ORIGIN }}" data-google-analytics-id="{{ settings.GOOGLE_ANALYTICS_ID }}" data-debug="{{ settings.DEBUG }}">
    <div class="c-layout-wrapper">
      {% include "includes/modal-delete.html" %}
      {% include "includes/modal-domain-registration-confirmation.html" %}
      {% include "includes/modal-custom-alias-picker.html" %}
      {% include "includes/header.html" %}
      <firefox-private-relay-addon data-user-logged-in="{{ request.user.is_authenticated }}" data-addon-installed="false"></firefox-private-relay-addon>
      {% block content %}
      {% endblock %}

      {% include "includes/footer.html" %}
    </div>

    {% block javascript %}
    {% endblock %}
    
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/fx-bento.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/analytics.js' %}"></script>
  </body>
</html>

{% endwith %}
{% endwith %}
