{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Firefox Private Relay</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/inter-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/metropolis.css' %}">
    <link rel="stylesheet" href="{% static 'css/fx-bento.css' %}">
    <link rel="stylesheet" href="{% static 'css/glocal-menu.css' %}">
  </head>
  <body>
    <div class="modal modal-wrapper hidden">
      <div class="download-firefox modal-bg-dark hidden">
        <div class="download-fx modal-content modal-content-dark ff-Met flx al-cntr jst-cntr text-center flx-col">
          <button class="close-modal-x" aria-label="Close"></button>
          <p class="modal-headline">Private Relay works best with Firefox</p>
          <button class="modal-btn">Download Firefox</button>
        </div>
      </div>
    </div>
    {% include "includes/header.html" %}
    {% block content %}
    {% endblock %}

    {% include "includes/footer.html" %}
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/fx-bento.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
