{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% block content %}
  <main class="flx flx-col container faqs-wrapper">
    <h1 class="faqs-headline">{% ftlmsg 'faq-headline' %}</h1>
    <div class="faqs flx flx-row spc-btwn">
      <div class="faq-col flx flx-col">
        <section class="faq">
          <h2 class="faq-headline">{% ftlmsg 'faq-question-1-question' %}</h2>
          <p class="faq-answer js-set-href">
            {% ftlmsg 'faq-question-1-answer-a' %} 
            <br/><br/>
            {% ftlmsg 'faq-question-1-answer-b-html' url='https://addons.mozilla.org/firefox/addon/private-relay/' attrs='class="text-link" data-url="https://addons.mozilla.org/firefox/addon/private-relay/"' %}
          </p>
        </section>
        <section class="faq">
          <h2 class="faq-headline">{% ftlmsg 'faq-question-2-question' %}</h2>
          <p class="faq-answer js-set-href">{% ftlmsg 'faq-question-2-answer-html' url='https://addons.mozilla.org/firefox/addon/private-relay/' attrs='class="text-link" data-url="https://addons.mozilla.org/firefox/addon/private-relay/"' %}</p>
        </section>
        <section class="faq">
          <h2 class="faq-headline">{% ftlmsg 'faq-question-3-question' %}</h2>
          <p class="faq-answer">{% ftlmsg 'faq-question-3-answer' %}</p>
        </section>
        <section class="faq">
          <h2 class="faq-headline">{% ftlmsg 'faq-question-4-question' %}</h2>
          <p class="faq-answer js-set-href">{% ftlmsg 'faq-question-4-answer-html' url='https://github.com/mozilla/fx-private-relay/issues/99' attrs='class="text-link" data-url="https://github.com/mozilla/fx-private-relay/issues/99"' %}</p>
        </section>
      </div>
      <div class="faq-col flx flx-col">
        <section class="faq">
          <h2 class="faq-headline">{% ftlmsg 'faq-question-5-question' %}</h2>
          <p class="faq-answer">{% ftlmsg 'faq-question-5-answer' %}</p>
        </section>
        <section class="faq">
          <h2 class="faq-headline">{% ftlmsg 'faq-question-6-question' %}</h2>
          <p class="faq-answer">{% ftlmsg 'faq-question-6-answer' %}</p>
        </section>
        <section class="faq">
          <h2 class="faq-headline">{% ftlmsg 'faq-question-7-question' %}</h2>
          <p class="faq-answer">{% ftlmsg 'faq-question-7-answer' size='150' unit='KB' %}</p>
        </section>
        <section class="faq">
          <h2 class="faq-headline">{% ftlmsg 'faq-question-8-question' %}</h2>
          <p class="faq-answer js-set-href">{% ftlmsg 'faq-question-8-answer-html' url='https://www.mozilla.org/privacy/firefox-relay/' attrs='class="text-link" data-url="https://www.mozilla.org/privacy/firefox-relay/"' %}</p>
        </section>
      </div>
    </div>
  </main>
{% endblock %}
