
{% extends "base.html" %}

{% load socialaccount %}

{% block content %}

<div class="home-header-wrapper">
	{% include "includes/header.html" %}
</div>

<main class="container txt-white flx flx-col jst-cntr al-cntr text-center row-full-width home-hero">
	<h1 class="mw-850">Keep your email away from hackers and trackers.</h1>
	<h2 class="sub-head">Prevent your information from being sold or traded&nbsp;online.</h2>
	<div class="hero-sign-up-bg">
		<a class="hero-sign-up button flx al-cntr" href="{% provider_login_url 'fxa' %}">Sign up with FxA</a>
		<!-- <p class=" text-xs py-4">Firefox browser not required for a Firefox Account.<br class="hidden md:block"> You may receive info about more Mozilla Privacy &amp; Security services. </p> -->
		<!-- <p>Have an account? <a class="font-bold underline hover:text-blue-800" href="{% provider_login_url 'fxa' %}">Log in</a> </p> -->
	</div>
</main>
<div class="container how-it-works flx al-cntr jst-cntr flx-col">
	<div class="card how-it-works-card content-row">
		<div class="how-it-works-content txt-white">
			<h2 class="how-it-works-header text-center">How It Works</h2>
			<section class="step step-1 flx flx-row">
				<div class="step-illustration step-1"></div>
				<div class="step-text step-1">
					<h3 class="step-headline ff-Met">Lorum Ipsum Whatsum</h3>
					<p class="step-body">
						These should be short, informative, and easy on the cognitive digestive system.
					</p>
				</div>
			</section>
			<section class="step step-2 flx flx-row">
				<div class="step-illustration step-2"></div>
				<div class="step-text step-2">
					<h3 class="step-headline ff-Met">Lorum Ipsum Howsit</h3>
					<p class="step-body">
						They should make people feel good about using Private Relay and clear up immediate questions and confusion.
					</p>
				</div>
			</section>
			<section class="step step-3 flx flx-row">
				<div class="step-illustration step-3"></div>
				<div class="step-text step-3">
					<h3 class="step-headline ff-Met">Step 3</h3>
					<p class="step-body">These should be short, informative, and easy on the cognitive digestive system.</p>
				</div>
			</section>
		</div>
	</div>
</div>


{% endblock %}
