{% extends "base.html" %}

{% load socialaccount %}

{% block content %}

{% if messages %}
	{% for message in messages %}
		<div class="messages home-messages hidden">
			<div{% if message.tags %} class="{{ message.tags }} js-notification" {% else %} class="" {% endif %}>
				<span>{{ message }}</span>
				<button class="flx center-value dismiss js-dismiss">
					<svg class="x-close-icon fill-current text-gray hover:text-purple-800" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
				</button>
			</div>
		</div>
	{% endfor %}
{% endif %}

<main data-landing-page="" class="flx row-full-width home-hero">
  <div class="beta-banner-container">
    <div class="beta-banner bg-fx-gradient ff-Met">
      <div class="beta-banner-content">
        <span>BETA</span>
      </div>
    </div>
  </div>
	<div class="flx flx-row hero-content">
		<div class="hero-left flx flx-col">
        <h1 class="home-hero-headline">Hide your real email address to help protect your identity</h1>
        <span class="sub-head hero-sub-head">Firefox Relay makes it easy to create aliases, randomly generated email addresses that forward to your real inbox. Use it to protect your online accounts - and your identity - from hackers. Sign in with your Firefox account to get started.</span>
			{% include "includes/landing_ctas.html" with page_position="landing-hero" %}
		</div>
		<div class="hero-right flx flx-col">
      <div class="hero-1 hero-slide"></div>
      <div class="hero-2 hero-slide"></div>
      <div class="hero-3 hero-slide"></div>
      <div class="hero-4 hero-slide"></div>
      <div class="hero-5 hero-slide"></div>
		</div>
	</div>
</main>
	<div class="container flx al-cntr flx-col">
		<div class="how-it-works-content txt-white flx flx-col al-cntr">
      <h2 class="how-it-works-header text-center">How It Works</h2>
      <span class="text-center">Protect your personal identity everywhere you use the Firefox browser.</span>
      <div class="how-it-works-steps flx flx-row">
        <section class="step step-1 flx flx-col al-cntr">
            <div class="step-illustration step-1"></div>
            <div class="step-text step-1">
              <h3 class="step-headline ff-Met">Install the extension</h3>
              <p class="step-body">
                <a href="https://addons.mozilla.org/firefox/addon/private-relay/" target="_blank" rel="noopener" class="text-link">Download the Relay extension for Firefox</a>. Select the icon that appears on your Firefox toolbar to access the sign in page. Sign in with your Firefox account to get started.
              </p>
            </div>
          </section>
          <section class="step step-2 flx flx-col al-cntr">
            <div class="step-illustration step-2"></div>
            <div class="step-text step-2">
              <h3 class="step-headline ff-Met">Create a new alias</h3>
              <p class="step-body">
                As you browse, the Relay icon will appear in form fields where sites ask for your email address. Select it to generate a new, random address that ends in @relay.firefox.com. Relay will forward messages to the primary email address associated with your account.
              </p>
            </div>
          </section>
          <section class="step step-3 flx flx-col al-cntr">
            <div class="step-illustration step-3"></div>
            <div class="step-text step-3">
              <h3 class="step-headline ff-Met">Manage your account</h3>
              <p class="step-body">
                Sign in to the Relay website to keep track of the aliases you’ve created.  If you find that one receives spam or unwanted messages, you can block all messages or even delete the alias, right from the management page.
              </p>
            </div>
          </section>
      </div>
			{% include "includes/landing_ctas.html" with page_position="landing-bottom" %}
		</div>
	</div>

{% endblock %}
