{% extends "base.html" %}

{% load static %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% load socialaccount %}

{% block content %}

<div class="c-body-wrapper t-dark">
  <main data-landing-page="" class="">
      {% include "includes/messages.html" %}
      <section class="mzp-c-hero t-relay-home mzp-t-dark">
        <div class="mzp-l-content ">
          <div class="mzp-c-hero-body">
            <h1 class="mzp-c-hero-title">{% ftlmsg 'home-hero-headline' %}</h1>
            <div class="mzp-c-hero-desc">
              <p>{% ftlmsg 'home-hero-copy' %}</p>
            </div>
            <p class="mzp-c-hero-cta">
              {% include "includes/landing_ctas.html" with page_position="landing-hero" %}
            </p>
          </div>
        </div>
      </section>
      <section class="c-hero-slides">
        <div class="mzp-l-content mzp-l-columns mzp-t-columns-four">
          <div>
            <h2>{% ftlmsg 'hero-image-copy-trust' %}</h2>
            <img class="" src="{% static 'images/hero-slides/hero-1.png' %}" aria-hidden="true" alt="">
          </div>
          <div>
            <h2>{% ftlmsg 'hero-image-copy-unique-html' %}</h2>
            <img class="" src="{% static 'images/hero-slides/hero-2.png' %}" aria-hidden="true" alt="">
          </div>
          <div>
            <h2>{% ftlmsg 'hero-image-copy-protect-html' %}</h2>
            <img class="" src="{% static 'images/hero-slides/hero-3.png' %}" aria-hidden="true" alt="">
          </div>
          <div>
            <h2>{% ftlmsg 'hero-image-copy-control-html' %}</h2>
            <img class="" src="{% static 'images/hero-slides/hero-4.png' %}" aria-hidden="true" alt="">
          </div>
        </div>
      </section>
      <section>
        <div class="container mzp-l-content">
          <div class="how-it-works-content txt-white flx flx-col al-cntr">
          <h2 class="how-it-works-header text-center">{% ftlmsg 'how-it-works-headline' %}</h2>
          <span class="text-center">{% ftlmsg 'how-it-works-subheadline' %}</span>
          <div class="how-it-works-steps mzp-l-columns mzp-t-columns-three">
            <section class="step step-1">
              <div class="step-illustration step-1"></div>
              <div class="step-text step-1">
                <h3 class="step-headline ff-Met">{% ftlmsg 'how-it-works-step-1-headline' %}</h3>
                <p class="step-body">
                  <a href="https://addons.mozilla.org/firefox/addon/private-relay/" target="_blank" rel="noopener" class="text-link">{% ftlmsg 'how-it-works-step-1-link' %}</a>
                  {% ftlmsg 'how-it-works-step-1-copy' %}
                </p>
              </div>
            </section>
            <section class="step step-2">
              <div class="step-illustration step-2"></div>
              <div class="step-text step-2">
                <h3 class="step-headline ff-Met">{% ftlmsg 'how-it-works-step-2-headline' %}</h3>
                <p class="step-body">{% ftlmsg 'how-it-works-step-2-copy' %}</p>
              </div>
            </section>
            <section class="step step-3">
              <div class="step-illustration step-3"></div>
              <div class="step-text step-3">
                <h3 class="step-headline ff-Met">{% ftlmsg 'how-it-works-step-3-headline' %}</h3>
                <p class="step-body">{% ftlmsg 'how-it-works-step-3-copy' %}</p>
              </div>
            </section>
          </div>
          {% include "includes/landing_ctas.html" with page_position="landing-bottom" %}
          </div>
        </div>
      </section>
  </main>
</div>

{% endblock %}
