{% extends "base.html" %}

{% load socialaccount %}
{% load static %}
{% load relay_tags %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% block javascript %}
  <script src="{% static 'js/api.js' %}"></script>
  <script src="{% static 'js/filter.js' %}"></script>
  <script src="{% static 'js/labels.js' %}"></script>
{% endblock %}


{% block content %}

{% get_social_accounts request.user as accounts %}
<firefox-private-relay-addon-data 
  data-fxa-subscriptions-url="{{ settings.FXA_SUBSCRIPTIONS_URL }}" 
  data-premium-prod-id="{{ settings.PREMIUM_PROD_ID }}" 
  data-premium-price-id="{% premium_plan_id accept_language %}"
  data-aliases-used-val="{{ user_profile.num_active_address }}"
  data-emails-forwarded-val="{{ user_profile.emails_forwarded }}"
  data-emails-blocked-val="{{ user_profile.emails_blocked }}"
  {% with request.user.profile_set.first as user_profile %}
    data-premium-subdomain-set="{{ user_profile.subdomain }}"
  {% endwith %}
{# TODO: Remove the `premium-enabled` attribute once https://github.com/mozilla/fx-private-relay-add-on/pull/246 has been merged/deployed   #}
  data-premium-enabled="True"
>
</firefox-private-relay-addon-data>

<main
    id="profile-main"
    class="
    bg-light dashboard-container
    {% if user_profile.server_storage %} js-server-storage-enabled {% endif %}
    {% if user_profile.has_premium and user_profile.onboarding_state < settings.MAX_ONBOARDING_AVAILABLE %} is-premium-onboarding {% endif %}
    "
    data-api-token="{{ user_profile.api_token }}"
    data-onboarding-state="{{ user_profile.onboarding_state }}"
    data-profile-id="{{ user_profile.id }}"
>

  
  <div class="messages-profile">
    {% include "includes/messages.html" %}
    {% include "includes/messages-frontend.html" %}
  </div>
  
  {% include "includes/premium-onboarding.html" %}
  
  {% if user_profile.has_premium and user_profile.num_active_address > 0 %}
  <div class="mpp-dashbaord-header">
    <div class="mpp-dashbaord-header-container inset">
      <div class="mpp-dashbaord-header-title">
        <div class="mpp-dashbaord-header-name">
          {% if user_profile.display_name %}
            {% ftlmsg 'profile-label-welcome-html' email=user_profile.display_name %}
          {% else %}
            {% ftlmsg 'profile-label-welcome-html' email=request.user.email %}
          {% endif %}
        </div>
        {% if not user_profile.subdomain %}
          <div class="mpp-dashbaord-header-action">
            <a href="#mpp-choose-subdomain" class="mpp-action-link">
              <img src="/static/images/icon-check.svg" alt=""> {% ftlmsg 'profile-label-create-domain' %}
            </a>
            <div class="mpp-action-tooltip">
              <img src="/static/images/icon-info.svg" alt="">
              <div class="mpp-action-tooltip-hover">
                <div class="mpp-action-tooltip-hover-wrapper">
                  {% ftlmsg 'profile-label-domain-tooltip' %}
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="mpp-dashbaord-header-action">
              <img src="/static/images/icon-check.svg" alt=""> {% ftlmsg 'profile-label-domain' %} 
              <samp>{{ user_profile.custom_domain }}</samp>
          </div>
        {% endif %}
      </div>
      <ul class="mpp-dashbaord-header-stats">
        <li><span class="label">{% ftlmsg 'profile-stat-label-aliases-used' %}</span> <span>{{user_profile.num_active_address}}</span> </li>
        <li><span class="label">{% ftlmsg 'profile-stat-label-blocked' %}</span> <span>{{user_profile.emails_blocked}}</span> </li>
        <li><span class="label">{% ftlmsg 'profile-stat-label-forwarded' %}</span> <span>{{user_profile.emails_forwarded}}</span> </li>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="main-list flx flx-col jst-cntr">

   

    <div class="alias-list">
      {% if not user_profile.has_premium %}
      <div class="dashboard-greeting">
        <span class="dashboard-greeting-message">{% ftlmsg 'profile-label-welcome-html' email=request.user.email %}
      </div>
      {% endif %}

      <!-- Data Notification Banner -->
      {% include "includes/banners/announcement-banner.html" %}
      
      <!-- Register Subdomain Banner -->
      {% with request.user.profile_set.first as user_profile %}
      {% if user_profile.has_premium and not user_profile.subdomain %}
        {% include "includes/banners/subdomain-banner.html" %}
      {% endif %}
      {% endwith %}
  
      <!-- Upgrade, Firefox and Add On Banners -->
      {% if relay_addresses|length > 0 %}
        {% include "includes/banners/default-banners.html" %}
      {% endif %}

      {% if relay_addresses or domain_addresses %}
        {% include "includes/dashboard-filter.html" %}
      {% endif %}

      {% if relay_addresses|length == 0 and domain_addresses|length == 0 %}
        {% include "includes/dashboard_onboarding.html" %}
      {% endif %}

      {% for relay_address in relay_addresses %}
        {% include "includes/alias-card.html" with alias=relay_address alias_type="relay" %}
      {% endfor %}

      {% for domain_address in domain_addresses %}
        {% include "includes/alias-card.html" with alias=domain_address alias_type="domain" %}
      {% endfor %}

      <div> <!-- informtaion footer -->
        {% ftlmsg 'profile-supports-email-forwarding' size='25' unit='MB' %}
      </div> <!-- end informtaion footer -->
      
    </div><!-- end dashboard-container -->

    {% if relay_addresses|length == 0 %}
      {% include "includes/banners/default-banners.html" %}
    {% endif %}
    
  </div>

  {% include "includes/domain-alias-dashboard.html" %}

</main>

{% endblock %}

