{% extends "base.html" %}

{% load socialaccount %}

{% block content %}

{% get_social_accounts request.user as accounts %}

Hi <img src="{{ accounts.fxa.0.extra_data.avatar }}"> {{ accounts.fxa.0.extra_data.displayName }} <a href="/accounts/logout/">Log out</a>
<hr>
<a href="https://github.com/groovecoder/private-relay/tree/master/extension">Use the Private Relay extension for best results</a>.
<hr>
These are your relay addresses (click to see messages):
<ul>
{% for relay_address in relay_addresses %}
    <li><a href="/emails/messages/?relay_address_id={{ relay_address.id }}">{{ relay_address.address }}@privaterelay.groovecoder.com</a></li>
{% endfor %}
</ul>
<form action="/emails/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Generate new relay address">
</form>

{% endblock %}
