{% extends "base.html" %}

{% load socialaccount %}
{% load static %}
{% load relay_tags %}
{% load ftl %}
{% ftlconf bundle='privaterelay.ftl_bundles.main' %}

{% block javascript %}
  <script src="{% static 'js/filter.js' %}"></script>
{% endblock %}


{% block content %}

{% get_social_accounts request.user as accounts %}
<firefox-private-relay-addon-data 
  data-fxa-subscriptions-url="{{ settings.FXA_SUBSCRIPTIONS_URL }}" 
  data-premium-prod-id="{{ settings.PREMIUM_PROD_ID }}" 
  data-premium-price-id="{{ settings.PREMIUM_PRICE_ID }}" 
  {% with request.user.profile_set.first as user_profile %}
    data-premium-subdomain-set="{{ user_profile.subdomain }}"
  {% endwith %}
  data-premium-enabled="{{ settings.PREMIUM_ENABLED }}"
>
</firefox-private-relay-addon-data>

<firefox-private-relay-addon-dashboard-data
  data-aliases-used-val="{{ relay_addresses|length }}" 
  data-emails-forwarded-val="{{ user_profile.emails_forwarded }}"
  data-emails-blocked-val="{{ user_profile.emails_blocked }}"
>
</firefox-private-relay-addon-dashboard-data>

<main id="profile-main" class=" bg-light dashboard-container " data-api-token="{{ user_profile.api_token }}">
  <div class="messages-profile">
    {% include "includes/messages.html" %}
  </div>
  {% if user_profile.has_unlimited %}
  <div class="mpp-dashbaord-header">
    <div class="mpp-dashbaord-header-container inset">
      <div class="mpp-dashbaord-header-title">
        <div class="mpp-dashbaord-header-name">
          {% ftlmsg 'profile-label-welcome-html' email=request.user.email %}
        </div>
        {% if not user_profile.subdomain %}
          <div class="mpp-dashbaord-header-action">
            <button class="mpp-action-link"> <img class="margin-right" src="/static/images/icon-check.svg" alt=""> {% ftlmsg 'profile-label-create-domain' %}</button>
          </div>
        {% else %}
          <div class="mpp-dashbaord-header-action">
            <div class="mpp-action-link mpp-action-tooltip">
              {% ftlmsg 'profile-label-domain' %} {{ user_profile.subdomain }}
              <img class="margin-left" src="/static/images/icon-info.svg" alt="informtaion">
              <div class="mpp-action-tooltip-hover">
                <div class="mpp-action-tooltip-hover-wrapper">
                  {% ftlmsg 'profile-label-domain-tooltip' %}
                </div>
              </div>
            </div>
            
          </div>
        {% endif %}
      </div>
      <ul class="mpp-dashbaord-header-stats">
        <li><span class="label">{% ftlmsg 'profile-stat-label-aliases-used' %}</span> <span>{{relay_addresses|length}}</span> </li>
        <li><span class="label">{% ftlmsg 'profile-stat-label-forwarded' %}</span> <span>{{user_profile.emails_forwarded}}</span> </li>
        <li><span class="label">{% ftlmsg 'profile-stat-label-blocked' %}</span> <span>{{user_profile.emails_blocked}}</span> </li>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="main-list flx flx-col jst-cntr">
    <div class="alias-list">
      {% if not user_profile.has_unlimited %}
      <div class="dashboard-greeting">
        <span class="dashboard-greeting-message">{% ftlmsg 'profile-label-welcome-html' email=request.user.email %}
      </div>
      {% endif %}
      {% include "includes/banners.html" %}


      {% if relay_addresses %}      
        {% include "includes/dashboard-filter.html" %}
      {% endif %}

      {% if relay_addresses|length == 0 %}
        {% include "includes/dashboard_onboarding.html" %}
      {% endif %}

      {% for relay_address in relay_addresses %}
        <div class="c-alias js-alias relay-email is-relay-alias {% if relay_address.enabled %} is-enabled {% endif %}" data-relay-address="{{ relay_address.address }}@{{ RELAY_DOMAIN }}" data-relay-address-id="{{ relay_address.id }}">
          
          <div class="c-alias-main-info">
            <!-- enable/disable email forwarding -->
            <div class="c-alias-toggle email-forwarding">
              <form action="{% url 'emails-index' %}" method="POST" class="xflx xflx-row al-cntr email-forwarding-form">
                <input type="hidden" name="method_override" value="PUT">
                <input type="hidden" name="api_token" value="{{ user_profile.api_token }}">
                <input type="hidden" name="relay_address_id" value="{{ relay_address.id }}">
                <span class="forwarding-label-wrapper card-small-text hidden">{% if relay_address.enabled %} {% ftlmsg 'profile-label-forwarding' %} {% else %} {% ftlmsg 'profile-label-blocking' %} {% endif %}</span>
                {% if relay_address.enabled %}
                <button type="submit" name="enabled" value="Disable" title="{% ftlmsg 'profile-label-disable-forwarding-button' %}" class="text-center forwarding-toggle"></button>
                {% else %}
                <button type="submit" name="enabled" value="Enable" title="{% ftlmsg 'profile-label-enable-forwarding-button' %}" class="text-center forwarding-disabled forwarding-toggle"></button>
                {% endif %}
              </form>
            </div>
            <!--end enable/disable toggle -->

            <div class="c-alias-name">
              <div class="relay-email-row card-top-row inset">
                <!-- alias label -->
                <div class="additional-notes">
                  <input data-label="" type="text" maxlength="50" value="" aria-label="{% ftlmsg 'profile-label-edit' %}" class="relay-email-address-label ff-Met">
                  <span class="saved-confirmation">{% ftlmsg 'profile-label-saved' %}</span>
                  <span class="input-error"></span>
                </div>

                <button title="{% ftlmsg 'profile-label-click-to-copy' %}"
                  data-id="{{ relay_address.id }}"
                  data-clipboard-text="{{ relay_address.address }}@{{ relay_address.domain_value }}"
                  class="relay-address click-copy  hide-mobile ff-Met xflx jst-cntr al-cntr">
                    {{ relay_address.address }}@{{ relay_address.domain_value }}
                    <span class="alias-copied-icon"></span>
                    <span class="alias-copied-message">{% ftlmsg 'profile-label-copied' %}</span>
                </button>
              </div>
            </div>

            <div class="c-alias-meta">

              <div class="c-alias-stats hide-mobile">
                    {% include "includes/alias-stats.html" %}
              </div>

              <button class="toggle-details-visibility c-alias-toggle-button js-toggle-details card-small-text">
                <span class="show-details-label detail-label xflx"></span>
                <span class="hide-details-label detail-label xflx"></span>
                <span class="detail-label-icon">
                  <img src="/static/images/arrowhead.svg" alt="">
                </span>
              </button> 
            </div>
            
          </div> 

          <div class="c-alias-copy">
            <button title="{% ftlmsg 'profile-label-click-to-copy' %}"
              data-id="{{ relay_address.id }}"
              data-clipboard-text="{{ relay_address.address }}@{{ relay_address.domain_value }}"
              class="relay-address click-copy ff-Met jst-cntr al-cntr">
                {{ relay_address.address }}@{{ relay_address.domain_value }}
                <span class="alias-copied-icon"></span>
                <span class="alias-copied-message">{% ftlmsg 'profile-label-copied' %}</span>
            </button>
          </div>

          <div class="c-alias-additional-info js-alias-details">
              <div class="c-alias-data-collection">
                <!-- forwarding message -->
                <div class="c-alias-data forward ">
                  <img class="" src="/static/images/icon-email.svg" alt="">
                  <div>
                    <span class="c-alias-data-label">{% ftlmsg 'profile-label-forward-emails' %}</span>
                    <span class="c-alias-data-value">{{ request.user.email }}</span>
                  </div>
                </div>

                <!-- created by date -->
                <div class="c-alias-data created-by">
                  <img class="" src="/static/images/icon-calendar-gray.svg" alt="">
                  <div>
                    <span class="c-alias-data-label">{% ftlmsg 'profile-label-created' %}</span>
                    <span class="c-alias-data-value">{{ relay_address.created_at|date:"M j, Y" }}</span>
                  </div>
                </div>
              </div>


              <!-- delete email address -->
              <div class="column-delete">
                <form action="{% url 'emails-index' %}" method="POST" class="delete-email-form xflx jst-cntr al-cntr" data-delete-relay="{{ relay_address.address }}@{{ RELAY_DOMAIN }}">
                  <input type="hidden" name="method_override" value="DELETE">
                  <input type="hidden" name="api_token" value="{{ user_profile.api_token }}">
                  <input type="hidden" name="relay_address_id" value="{{ relay_address.id }}">
                  <button type="submit" name="delete" value="" class="dashboard-delete-button delete-relay-email-button" aria-label="{% ftlmsg 'profile-label-delete-alias' %}">
                    <span class="remove-label relay-email-label">{% ftlmsg 'profile-label-delete' %}</span>
                  </button>
                </form>
              </div> <!--end delete-->

            </div><!--row-end-->

        </div> <!-- end relay-email-->
      {% endfor %}

      {% for domain_address in domain_addresses %}
    
        <div class="c-alias js-alias relay-email is-domain-alias {% if domain_address.enabled %} is-enabled {% endif %}" data-relay-address="{{ domain_address.address }}@{% user_email_domain user_profile %}" data-relay-address-id="{{ domain_address.id }}">
          
          <div class="c-alias-main-info">
            <!-- enable/disable email forwarding -->
            <div class="c-alias-toggle email-forwarding">
              <form action="{% url 'emails-index' %}" method="POST" class="xflx xflx-row al-cntr email-forwarding-form">
                <input type="hidden" name="method_override" value="PUT">
                <input type="hidden" name="api_token" value="{{ user_profile.api_token }}">
                <input type="hidden" name="domain_address_id" value="{{ domain_address.id }}">
                <span class="forwarding-label-wrapper card-small-text hidden">{% if domain_address.enabled %} {% ftlmsg 'profile-label-forwarding' %} {% else %} {% ftlmsg 'profile-label-blocking' %} {% endif %}</span>
                {% if domain_address.enabled %}
                <button type="submit" name="enabled" value="Disable" title="Disable email forwarding for this alias" class="text-center forwarding-toggle"></button>
                {% else %}
                <button type="submit" name="enabled" value="Enable" title="Enable email forwarding for this alias" class="text-center forwarding-disabled forwarding-toggle"></button>
                {% endif %}
              </form>


            </div>
            <!--end enable/disable toggle -->

            <div class="c-alias-name xflx xflx-col">
              <div class="relay-email-row card-top-row xflx xflx-row inset">
                <!-- alias label -->
                <div class="additional-notes">
                  <input data-label="" type="text" maxlength="50" value="" aria-label="{% ftlmsg 'profile-label-edit' %}" class="relay-email-address-label ff-Met">
                  <span class="saved-confirmation">{% ftlmsg 'profile-label-saved' %}</span>
                  <span class="input-error"></span>
                </div>

                <button title="{% ftlmsg 'profile-label-click-to-copy' %}"
                  data-id="{{ domain_address.id }}"
                  data-clipboard-text="{{ domain_address.address }}@{% user_email_domain user_profile %}"
                  class="relay-address click-copy  hide-mobile ff-Met xflx jst-cntr al-cntr">
                    {{ domain_address.address }}@{% user_email_domain user_profile %}
                    <span class="alias-copied-icon"></span>
                    <span class="alias-copied-message">{% ftlmsg 'profile-label-copied' %}</span>
                </button>
              </div>
            </div>

            <div class="c-alias-meta">

              <div class="c-alias-stats hide-mobile">
                    {% include "includes/alias-stats.html" with relay_address=domain_address only %}
              </div>

              <button class="toggle-details-visibility c-alias-toggle-button js-toggle-details card-small-text">
                <span class="show-details-label detail-label xflx"></span>
                <span class="hide-details-label detail-label xflx"></span>
                <span class="detail-label-icon">
                  <img src="/static/images/arrowhead.svg" alt="">
                </span>
              </button> 
            </div>
            
          </div> 

          <div class="c-alias-copy">
            <button title="{% ftlmsg 'profile-label-click-to-copy' %}"
              data-id="{{ domain_address.id }}"
              data-clipboard-text="{{ domain_address.address }}@{% user_email_domain user_profile %}"
              class="relay-address click-copy ff-Met xflx jst-cntr al-cntr">
                {{ domain_address.address }}@{% user_email_domain user_profile %}
                <span class="alias-copied-icon"></span>
                <span class="alias-copied-message">{% ftlmsg 'profile-label-copied' %}</span>
            </button>
          </div>

          <div class="c-alias-additional-info js-alias-details">
              <div class="c-alias-data-collection">
                <!-- forwarding message -->
                <div class="c-alias-data forward ">
                  <img class="" src="/static/images/icon-email.svg" alt="">
                  <div>
                    <span class="c-alias-data-label">{% ftlmsg 'profile-label-forward-emails' %}</span>
                    <span class="c-alias-data-value">{{ request.user.email }}</span>
                  </div>
                </div>

                <!-- created by date -->
                <div class="c-alias-data created-by">
                  <img class="" src="/static/images/icon-calendar-gray.svg" alt="">
                  <div>
                    <span class="c-alias-data-label">{% ftlmsg 'profile-label-created' %}</span>
                    <span class="c-alias-data-value">{{ domain_address.created_at|date:"M j, Y" }}</span>
                  </div>
                </div>
              </div>


              <!-- delete email address -->
              <div class="column-delete">
                <form action="{% url 'emails-index' %}" method="POST" class="delete-email-form xflx jst-cntr al-cntr" data-delete-relay="{{ domain_address.address }}@{% user_email_domain user_profile %}">
                  <input type="hidden" name="method_override" value="DELETE">
                  <input type="hidden" name="api_token" value="{{ user_profile.api_token }}">
                  <input type="hidden" name="domain_address_id" value="{{ domain_address.id }}">
                  <button type="submit" name="delete" value="" class="dashboard-delete-button delete-relay-email-button" aria-label="{% ftlmsg 'profile-label-delete-alias' %}">
                    <span class="remove-label relay-email-label">{% ftlmsg 'profile-label-delete' %}</span>
                  </button>
                </form>
              </div> <!--end delete-->

            </div><!--row-end-->

        </div> <!-- end relay-email-->

      {% endfor %}

      <div> <!-- informtaion footer -->
        {% ftlmsg 'profile-supports-email-forwarding' size='150' unit='KB' %}
      </div> <!-- end informtaion footer -->
      
    </div><!-- end dashboard-container -->
    
  </div>

  {% if settings.PREMIUM_ENABLED %}
    {% include "includes/domain-alias-dashboard.html" %}
  {% endif %}

</main>

{% endblock %}

