@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;

.custom-alias-tip {
  display: flex;
  flex-direction: column;
  gap: mp.$spacing-xs;

  @include mp.text-body-sm;

  samp {
    @include mp.text-body-sm;
    font-family: mp.$font-stack-base;
    color: mp.$color-blue-50;
    font-weight: 700;
  }

  h3 {
    @include mp.text-title-3xs;
    font-family: mp.$font-stack-firefox;
    color: mp.$color-purple-90;
  }

  video {
    border-radius: mp.$border-radius-sm;
  }

  @media (prefers-reduced-motion) {
    video {
      display: none;
    }
  }
}
