@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";

.custom-alias-tip {
  display: flex;
  flex-direction: column;
  gap: lib.$spacing-xs;

  @include lib.text-body-sm;

  samp {
    @include lib.text-body-sm;
    font-family: lib.$font-stack-base;
    color: lib.$color-blue-50;
    font-weight: 700;
  }

  h3 {
    @include lib.text-title-3xs;
    font-family: lib.$font-stack-firefox;
    color: lib.$color-purple-90;
  }

  video {
    border-radius: lib.$border-radius-sm;
  }

  @media (prefers-reduced-motion) {
    video {
      display: none;
    }
  }
}
