@import "../../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.generic-tip {
  @include text-body-sm;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  h3 {
    @include text-title-3xs;
    font-family: $font-stack-firefox;
    color: $color-purple-90;
  }
}
