@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";

.wrapper {
  position: relative;
  padding-bottom: calc(lib.$spacing-md * 2 + 2rem);
  flex: 1 0 0;

  .expand-button,
  .card {
    position: fixed;
    right: lib.$spacing-md;
    bottom: lib.$spacing-md;
  }

  // .expand-button and .card stay fixed in the bottom right-hand corner,
  // until the user has scrolled down enough to move .wrapper in view (which is
  // located just above the footer), as which point they start scrolling up
  // again so as not to overlap the footer.
  &.is-in-view {
    .expand-button,
    .card {
      position: absolute;
    }
  }
}

.expand-button {
  display: flex;
  align-items: center;
  gap: lib.$spacing-sm;
  background-color: lib.$color-white;
  border-radius: lib.$border-radius-md;
  border-style: none;
  padding: lib.$spacing-md;
  box-shadow: lib.$box-shadow-sm;
  cursor: pointer;

  &:hover {
    background-color: lib.$color-violet-05;
  }

  .icon {
    color: lib.$color-pink-30;
  }
}

.card {
  border-radius: lib.$border-radius-md;
  padding: lib.$spacing-md;
  box-shadow: lib.$box-shadow-sm;
  background-color: lib.$color-white;
  width: lib.$content-sm;
  max-width: calc(100% - lib.$spacing-xl);

  .header {
    display: flex;
    align-items: center;
    gap: lib.$spacing-sm;
    padding: 0 0 lib.$spacing-lg;

    .icon {
      color: lib.$color-pink-30;
    }

    h2 {
      @include lib.text-body-sm;
      font-weight: 400;
      flex: 1 0 auto;
    }

    .close-button {
      background-color: transparent;
      border-style: none;
      border-radius: lib.$border-radius-sm;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;

      &:hover {
        color: lib.$color-blue-50;
      }
    }
  }

  .summary {
    display: flex;
    gap: lib.$spacing-md;
    justify-content: space-between;
    padding-bottom: lib.$spacing-xs;

    b {
      @include lib.text-title-3xs;
      font-family: lib.$font-stack-firefox;
    }

    button {
      @include lib.text-body-sm;
      background-color: transparent;
      border-style: none;
      border-radius: lib.$border-radius-sm;
      color: lib.$color-blue-50;
      flex-shrink: 0;
      cursor: pointer;

      &:hover {
        color: lib.$color-blue-70;
        text-decoration: underline;
      }
    }
  }

  .tip-carousel {
    padding: lib.$spacing-md;

    .tip {
      min-height: 15 * 16px;
    }

    .tip-switcher {
      display: flex;
      gap: lib.$spacing-xs;
      justify-content: center;

      .panel-dot {
        color: lib.$color-light-gray-50;
        // Increase the tap target for these dots:
        padding: lib.$spacing-sm lib.$spacing-xs;
        cursor: pointer;
        // Avoid layout shifts when adding a bottom border on focus:
        border: 2px solid transparent;

        &.is-selected {
          color: lib.$color-pink-30;
        }

        &:hover {
          color: lib.$color-pink-40;
        }

        // .focus-wrapper exists just to add an outlined border to the dot
        // when it is focused.
        .focus-wrapper {
          border: 3px solid transparent;
          border-radius: 100%;
          padding: 3px;
        }
        &:focus {
          outline: none;
          .focus-wrapper {
            border-color: lib.$color-blue-50;
          }
        }
      }
    }
  }

  .footer {
    border-top: 1px solid lib.$color-light-gray-20;
    padding-top: lib.$spacing-md;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;

      a {
        color: lib.$color-blue-50;
        font-weight: 500;
      }
    }
  }
}
