@import "../../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "~@mozilla-protocol/core/protocol/css/includes/forms/lib";

.underlay {
  position: fixed;
  background-color: rgba($color-black, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog-wrapper {
    background: $color-white;
    width: calc((#{$content-sm} + #{$content-md}) / 2); // 560px
    max-width: 90%;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-sm;
    padding: $spacing-md;

    .hero {
      @include text-title-3xs;
      font-family: $font-stack-firefox;
      font-weight: 700;
      text-align: center;
      border-radius: $border-radius-md;
      background-color: $color-light-gray-10;
      padding: $spacing-md $spacing-sm;

      @media screen and #{$mq-sm} {
        padding: $spacing-lg $spacing-md;
      }
    }

    .tip {
      display: flex;
      gap: $spacing-sm;
      word-break: break-word;
      border-left: 2px solid $color-violet-30;
      margin: 0 auto;
      width: 85%;
      padding-left: $spacing-sm;
      font-family: $font-stack-base;
      font-weight: 400;
      color: $color-grey-50;

      @include text-body-sm;

      .tip-icon {
        // There is limited space on the mask creation modal on mobile.
        // Hiding this icon until larger screens increases the available space for copy.
        display: none;
        color: $color-pink-30;

        @media screen and #{$mq-sm} {
          display: block;
        }

        svg {
          max-width: unset;
        }
      }
    }

    hr {
      border: 1px solid $color-light-gray-20;
      margin-top: $spacing-lg;

      @media screen and #{$mq-sm} {
        margin-top: $spacing-xl;
      }
    }

    .form-wrapper {
      text-align: center;

      .form-heading {
        color: $color-dark-gray-70;
        padding: $spacing-md 0;

        @media screen and #{$mq-sm} {
          padding: $spacing-lg 0;
        }
      }

      .prefix {
        font-family: $font-stack-firefox;
        color: $color-grey-50;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        label {
          text-align: start;
          font-weight: 600;
          margin-top: $spacing-xl;
        }

        input {
          @include form-input;
          // Override form-input's margin:
          margin: $spacing-sm 0 0 0;
          font-weight: 400;
          padding: $spacing-sm;
          color: $color-grey-40;
          font-family: $font-stack-base;

          @include text-body-md;
        }
      }

      .suffix {
        font-family: $font-stack-firefox;
        display: block;
        padding-top: $spacing-xs;
      }
    }

    .promotionals-blocking-control {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $spacing-sm;
      margin: $spacing-md $spacing-sm;
      font-family: $font-stack-firefox;
      color: $color-grey-50;
      font-weight: 600;

      @media screen and #{$mq-sm} {
        margin: $spacing-xl $spacing-sm;
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        border: 2px solid $color-grey-20;
        border-radius: $border-radius-sm;
        -webkit-appearance: none;
      }

      input[type="checkbox"]:checked {
        background-color: $color-blue-50;
        border-color: $color-blue-50;
        appearance: checkbox;
      }

      .promotionals-blocking-description {
        a {
          display: block;
          color: $color-blue-50;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: $spacing-lg;

      @media screen and #{$mq-sm} {
        padding-top: $spacing-xl;
      }

      .cancel-button {
        border-style: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: $border-radius-sm;
        color: $color-blue-50;
        padding: $spacing-sm 0;

        &:hover {
          color: $color-link-hover;
        }

        &:focus {
          color: $color-blue-50;
        }
      }
    }
  }
}
