@use "../../../styles/tokens";
@use "../../../../../node_modules/@mozilla-protocol/core/protocol/css/includes/tokens/dist";

.button-wrapper {
  position: relative;
}

.popup {
  position: absolute;
  margin-top: dist.$spacing-sm;
  // Move to the left by the amount of horizontal padding in .menu-item-wrapper:
  margin-left: -1 * dist.$spacing-md;
  // Align the popup to the edge of the screen at narrow widths
  inset-inline-end: 0;
  background-color: tokens.$color-white;
  border-radius: dist.$border-radius-md;
  box-shadow: dist.$box-shadow-md;
  list-style-type: none;
  min-width: dist.$content-xs;
  // Overlap the stats with position: relative in the alias cards:
  z-index: 4;

  @media screen and #{dist.$mq-xl} {
    inset-inline-end: auto;
  }

  .menu-item-wrapper {
    font-family: dist.$font-stack-firefox;
    color: tokens.$color-blue-50;
    padding: dist.$spacing-md dist.$spacing-lg;

    &:first-child {
      border-top-left-radius: dist.$border-radius-md;
      border-top-right-radius: dist.$border-radius-md;
    }

    &:last-child {
      border-bottom-left-radius: dist.$border-radius-md;
      border-bottom-right-radius: dist.$border-radius-md;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &:focus {
      outline: none;
      background-color: tokens.$color-blue-50;
      color: tokens.$color-white;
    }
  }
}
