@import "../../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "~@mozilla-protocol/core/protocol/css/includes/forms/lib";

.controls {
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: $spacing-md;
  grid-template-areas:
    "stringFilterToggle categoryFilter newAliasButton"
    "stringFilter stringFilter stringFilter";
  align-items: center;
  padding: $spacing-md 0;
  // The focus indicators of contained elements can overflow:
  overflow: visible;

  .string-filter {
    grid-area: stringFilter;
  }

  .string-filter-toggle {
    grid-area: stringFilterToggle;
  }

  .category-filter {
    grid-area: categoryFilter;
  }

  .new-alias-button {
    grid-area: newAliasButton;
  }

  @media screen and #{$mq-md} {
    grid-template-areas: "stringFilter categoryFilter newAliasButton";

    .string-filter-toggle {
      display: none;
    }
  }
}

.alias-card-wrapper {
  padding-top: $spacing-lg;
  list-style-type: none;

  &:first-child {
    padding-top: 0;
  }
}

.string-filter-toggle {
  background-color: transparent;
  color: $color-dark-gray-50;
  border-radius: 100%;
  border-style: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $color-white;
  }

  img {
    filter: grayscale(1);
  }

  &:hover img {
    filter: none;
  }
}

.string-filter {
  display: none;
  position: relative;

  &.is-visible {
    display: block;
  }

  @media screen and #{$mq-md} {
    display: block;
  }

  input {
    @include form-input;
    margin: 0;
    background-image: url("/icons/search-blue.svg");
    background-repeat: no-repeat;
    background-position: left $spacing-sm top 50%;
    // The search icon is 20px wide, surrounded by padding:
    padding-left: calc($spacing-sm + 20px + $spacing-sm);
    // Leave some space on the right for `.match-count`
    padding-right: calc($spacing-sm + 30px);
    width: 100%;

    @media screen and #{$mq-md} {
      width: auto;
    }
  }

  .match-count {
    opacity: 0;
    transition: opacity 200ms;
    position: absolute;
    transform: translateX(-100%);
    padding: $spacing-sm;
  }
  // Show the counter when the search field is focused
  // or has a value:
  input:not(:placeholder-shown) + .match-count,
  input:focus + .match-count {
    opacity: 1;
    // Make sure input in the input field isn't shown in the background
    background-color: $color-white;
    // Then give it the same borders as the input it's covering...
    @include form-input;
    // ...except where it intersects with the input:
    border-left: 0 solid transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.category-filter {
  padding-right: $spacing-md;
}

.prompt-underlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
}

.prompt-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  align-items: flex-start;
  width: $content-sm;
  max-width: calc(100% - $spacing-lg);
  padding: $spacing-md;
  background-color: $color-white;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-sm;

  // This is the little arrow that attaches the message to the form
  $arrowEdgeLength: 4px;

  &::after {
    background-color: $color-white;
    height: 2 * $arrowEdgeLength;
    width: 2 * $arrowEdgeLength;
    transform: rotate(45deg);
    content: "";
    position: absolute;
    bottom: -1 * $arrowEdgeLength;
    left: 12px;
  }

  .close {
    position: absolute;
    background-color: transparent;
    border-style: none;
    border-radius: $border-radius-sm;
    cursor: pointer;
    padding: $spacing-xs;
    top: $spacing-sm;
    right: $spacing-sm;

    &:hover {
      color: $color-blue-50;
    }
  }

  .cta {
    align-self: flex-end;
  }
}

.empty-state-message {
  background-color: $color-white;
  border-radius: $border-radius-md;
  padding: $spacing-lg;

  .clear-filters-button {
    background-color: transparent;
    border-style: none;
    color: $color-blue-50;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $color-blue-40;
    }
  }
}
