@import "../../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "~@mozilla-protocol/core/protocol/css/includes/forms/lib";

.deletion-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius-sm;
  font-weight: 600;
  border: 2px solid transparent;
  // Keep some space for the focus outline
  margin: 2px;
  color: $color-red-60;
  line-height: 1.25;

  @include text-body-md;

  &:hover {
    color: $color-red-70;
  }
}

.underlay {
  position: fixed;
  background-color: rgba($color-black, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog-wrapper {
    background: $color-white;
    width: calc((#{$content-sm} + #{$content-md}) / 2); // 560px
    max-width: 90%;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-sm;
    padding: $spacing-md;

    .hero {
      @include text-title-3xs;
      font-family: $font-stack-firefox;
      font-weight: 700;
      text-align: center;
      border-radius: $border-radius-md;
      background-color: $color-light-gray-10;
      padding: $spacing-lg $spacing-md;
    }

    .alias-to-delete {
      font-family: $font-stack-firefox;
      display: block;
      text-align: center;
      padding: $spacing-lg $spacing-lg $spacing-sm;
    }

    .permanence-warning {
      @include text-body-sm;
      text-align: center;
      padding: $spacing-sm $spacing-lg;
      color: $color-dark-gray-70;
    }

    .usage-warning {
      @include text-body-sm;
      text-align: center;
      padding: $spacing-sm $spacing-lg $spacing-lg;
      color: $color-red-50;
    }

    .confirm {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        background-color: $color-light-gray-10;
        border-radius: $border-radius-md;
        margin-bottom: $spacing-md;
        padding: $spacing-md;
        cursor: pointer;

        input {
          margin-right: $spacing-sm;
        }
      }

      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: $spacing-xl;

        .cancel-button {
          border-style: none;
          background-color: transparent;
          cursor: pointer;
          border-radius: $border-radius-sm;
          color: $color-blue-50;
          padding: $spacing-sm $spacing-md;

          &:hover {
            color: $color-link-hover;
          }

          &:focus {
            color: $color-blue-50;
          }
        }
      }
    }
  }
}
