@import "../../../styles/tokens.scss";

.button-wrapper {
  position: relative;
}

.popup {
  position: absolute;
  margin-top: $spacing-sm;
  // Move to the left by the amount of horizontal padding in .menu-item-wrapper:
  margin-left: -1 * $spacing-md;
  // Align the popup to the edge of the screen at narrow widths
  inset-inline-end: 0;
  background-color: $color-white;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-md;
  list-style-type: none;
  min-width: $content-xs;
  // Overlap the stats with position: relative in the alias cards:
  z-index: 4;

  @media screen and #{$mq-xl} {
    inset-inline-end: auto;
  }

  .menu-item-wrapper {
    font-family: $font-stack-firefox;
    color: $color-blue-50;
    padding: $spacing-md $spacing-lg;

    &:first-child {
      border-top-left-radius: $border-radius-md;
      border-top-right-radius: $border-radius-md;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius-md;
      border-bottom-right-radius: $border-radius-md;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &:focus {
      outline: none;
      background-color: $color-blue-50;
      color: $color-white;
    }
  }
}
