@import "~@mozilla-protocol/core/protocol/css/includes/tokens/dist/index.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "~@mozilla-protocol/core/protocol/css/includes/forms/lib";

.controls {
  display: grid;
  grid-template-columns: 1fr auto auto;
  row-gap: $spacing-md;
  grid-template-areas:
    "categoryFilter newAliasButton"
    "stringFilter stringFilter";
  align-items: center;
  padding: $spacing-md 0;
  // The focus indicators of contained elements can overflow:
  overflow: visible;

  .string-filter {
    grid-area: stringFilter;
  }

  .category-filter {
    grid-area: categoryFilter;
  }

  .new-alias-button {
    grid-area: newAliasButton;
  }

  @media screen and #{$mq-md} {
    grid-template-areas: "stringFilter categoryFilter newAliasButton";
  }
}

.alias-card-wrapper {
  padding-top: $spacing-lg;
  list-style-type: none;

  &:first-child {
    padding-top: 0;
  }
}

.string-filter {
  input {
    @include form-input;
    margin: 0;
    background-image: url("/icons/search-blue.svg");
    background-repeat: no-repeat;
    background-position: left $spacing-sm top 50%;
    // The search icon is 20px wide, surrounded by padding:
    padding-left: calc($spacing-sm + 20px + $spacing-sm);
    // Leave some space on the right for `.match-count`
    padding-right: calc($spacing-sm + 30px);
    width: 100%;

    @media screen and #{$mq-md} {
      width: auto;
    }
  }

  .match-count {
    opacity: 0;
    transition: opacity 200ms;
    position: absolute;
    transform: translateX(-100%);
    padding: $spacing-sm;
  }
  // Show the counter when the search field is focused
  // or has a value:
  input:not(:placeholder-shown) + .match-count,
  input:focus + .match-count {
    opacity: 1;
  }
}

.category-filter {
  padding-right: $spacing-md;
}

.empty-state-message {
  background-color: $color-white;
  border-radius: $border-radius-md;
  padding: $spacing-lg;

  .clear-filters-button {
    background-color: transparent;
    border-style: none;
    color: $color-blue-50;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $color-blue-40;
    }
  }
}
