@import "../../../styles/tokens.scss";

.filter-button {
  background-color: transparent;
  border-radius: 100%;
  border-style: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-dark-gray-50;

  &:hover {
    background-color: $color-white;
    color: $color-blue-50;
  }
}

.filter-menu {
  box-shadow: $box-shadow-sm;
  background-color: $color-white;
  border-radius: $border-radius-md;
  font-family: $font-stack-firefox;

  .filter-form {
    display: flex;
    flex-direction: column;

    label,
    .buttons {
      padding: $spacing-md;
    }

    label {
      border-bottom: 1px solid $color-light-gray-20;

      input {
        margin-right: $spacing-sm;
      }
    }

    .buttons {
      display: flex;
      align-items: center;

      button[type="reset"] {
        background-color: $color-white;
        color: $color-dark-gray-10;
        border: 2px solid $color-light-gray-40;
        border-radius: $border-radius-sm;
        font-weight: 700;
        padding: $spacing-sm $spacing-2xl;
        line-height: 1.25;
        cursor: pointer;
        margin-right: $spacing-lg;

        &:hover {
          color: $color-blue-60;
          border-color: $color-blue-60;
        }
      }
    }
  }
}
