@use "../../../styles/tokens";
@use "../../../../../node_modules/@mozilla-protocol/core/protocol/css/includes/tokens/dist";

.filter-button {
  background-color: transparent;
  border-radius: 100%;
  border-style: none;
  padding: dist.$spacing-sm;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: dist.$color-dark-gray-50;

  &:hover {
    background-color: tokens.$color-white;
    color: tokens.$color-blue-50;
  }
}

.filter-menu {
  box-shadow: dist.$box-shadow-sm;
  background-color: tokens.$color-white;
  border-radius: dist.$border-radius-md;
  font-family: dist.$font-stack-firefox;
  overflow-y: auto;
  .filter-form {
    display: flex;
    flex-direction: column;

    label,
    .buttons {
      padding: dist.$spacing-md;
    }

    label {
      border-bottom: 1px solid dist.$color-light-gray-20;

      input {
        margin-right: dist.$spacing-sm;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column-reverse;
      gap: dist.$spacing-sm;
    }
  }
}
