@import "../../../styles/tokens.scss";

.filter-button {
  background-color: transparent;
  border-radius: 100%;
  border-style: none;
  padding: $spacing-sm;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-dark-gray-50;

  &:hover {
    background-color: $color-white;
    color: $color-blue-50;
  }
}

.filter-menu {
  box-shadow: $box-shadow-sm;
  background-color: $color-white;
  border-radius: $border-radius-md;
  font-family: $font-stack-firefox;

  .filter-form {
    display: flex;
    flex-direction: column;

    label,
    .buttons {
      padding: $spacing-md;
    }

    label {
      border-bottom: 1px solid $color-light-gray-20;

      input {
        margin-right: $spacing-sm;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column-reverse;
      gap: $spacing-sm;
    }
  }
}
