:root {
  --navy: #231142;
	--blue: #3047C9;
	--purple: #7A26A3;
	--white: #FFFFFF;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 16px;
  min-height: 100vh;
  /* background-color: var(--blue); */
  background-image: linear-gradient(135deg, var(--blue), var(--purple));
}

.btn {

}

header {
	background: var(--navy);
	color: var(--white);
}

main {

}

.beta-tag {
  opacity: 0.75;
  background: var(--purple);
  color: var(--white);
  text-transform: uppercase;
  font-size: 11px;
  padding: 0;
  display: inline-block;
  padding: 0 10px;
  width: auto;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 2px;
}
