.recruitment-banner, .micro-survey-banner {
    text-align: center;
    position: relative;
    padding: $spacing-md;
    background-color: $color-purple-30;
    
    ul {
        list-style-type: none;
    }
    
    .is-premium & {
        background-color: $color-purple-90;

        .x-close-icon path {
            fill: $color-white;
        }
    }
}

.micro-survey-banner {
    background: rgba(255,255,255,.1);
}

.micro-survey-banner.is-hidden {
    display: none;
}

.micro-survey-options {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.micro-survey-options .micro-survey-option {
    border-radius: $border-radius-sm;
    margin-right: $spacing-md;
    background-color: $color-violet-40;
    transition: background .1s ease-out;
}

.micro-survey-options .micro-survey-option:hover {
    background-color: $color-blue-50;
}


.micro-survey-options-numeric .micro-survey-option {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.micro-survey-options-likert .micro-survey-option {
    padding: $spacing-sm $spacing-md;
}

.micro-survey-options li:last-child  {
    margin-right: 0;
}


.nps-bookend {
    color: $color-white;
    text-decoration: none;
    font-family: $font-metropolis;
    display: inline-block;
    margin-right: $spacing-md;
}

#recruitment-banner, .micro-survey-option {
    color: $color-white;
    text-decoration: underline;
    font-family: $font-metropolis;
    display: inline-block;
    padding: 0 $spacing-md;
    // Width of the dismiss button:
    padding-right: 32px;
}

#recruitment-banner:hover, .micro-survey-option:hover {
    cursor: pointer;
    text-decoration: none;
}

.recruitment-banner::after, .micro-survey-banner::after {
    height: 1px;
    background: var(--fxGradient);
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
}

@media screen and (max-width: 800px) {

    #micro-survey-banner {
        display: none;
    }
}


.dismiss-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $spacing-md;
    margin: auto;
    outline: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: transparent;
    padding: $spacing-xs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: $spacing-2xl;
    cursor: pointer;
  
    .x-close-icon path {
        fill: $color-black;
    }
  
}
