.mpp-dashbaord-header {
    background-color: white;
    margin-bottom: 1rem;
}

.mpp-dashbaord-header-name {
    font-weight: 700;
    span {
        font-weight: 400;
        display: block;
    }
}

.mpp-dashbaord-header-container {
  max-width: var(--dashboardMaxWith);
  margin: auto;
  padding: 2rem 1.5rem;
}

.mpp-dashbaord-header-title {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.mpp-dashbaord-header-stats {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: row;
}

.mpp-dashbaord-header-stats li {
    padding: 0 0.25rem;
    border-right: 1px solid #ECECEC;
    width: 100%;
    span {
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
    }
    .label {
        font-size: 1rem;
        display: block;
        color: #666666;
        line-height: 1rem;
        font-weight: 400;
        margin-bottom: 0.25rem;
    }
    &:last-child {
        border-right: 0;
    }
}

.mpp-action-link {
  color: var(--blue3);
  appearance: none;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  .margin-right {
      margin-right: 0.25rem;
  }
  .margin-left {
      margin-left: 0.25rem;
  }
  &:hover {
      color: var(--blue4);
  }
}

.mpp-action-tooltip-hover {
    display: none;
    position: absolute;
    padding-top: 10px;
    top: calc(100%);
    left: 4rem;
    min-width: 200px;
}

.mpp-action-tooltip-hover-wrapper {
        background-color: white;
        box-shadow: var(--dropShadowLight);
        border-radius: 4px;
        position: relative;
        color: var(--ink);
        padding: 1rem;
        &:after{
            content: "";
            display: block;
            position: absolute;
            background-color: white;
            left: 2rem;

            // TODO: Fix shadow on bubble triangle
            // box-shadow: -2px 2px 2px 0 #3d3f4740;
            content: "\00a0";
            display: block;
            height: 20px;
            position: absolute;
            
            top: -10px;
            transform:             rotate( 135deg );
                -moz-transform:    rotate( 135deg );
                -ms-transform:     rotate( 135deg );
                -o-transform:      rotate( 135deg );
                -webkit-transform: rotate( 135deg );
            width:  20px;
        }
    }

.mpp-action-tooltip {
    position: relative;
    z-index: 10;
    
    &:hover .mpp-action-tooltip-hover {
        display: block;
    }
}


@media screen and (min-width: 768px) {
    .mpp-dashbaord-header-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }    
    .mpp-dashbaord-header-title {
        width: 25%;   
        flex-grow: 2;
        margin-bottom: 0;
        display: block;
    }
    .mpp-dashbaord-header-stats {
        width: auto;
        flex-shrink: 2;
        li {
            padding: 0 1rem;
            width: auto;
        }
        .label {
            white-space: nowrap;
        }
    }
    .mpp-dashbaord-header-name {
        margin-bottom: 1rem;
    }
}


