footer {
    position: relative;
    margin: auto 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-lg $spacing-xl;
    color: $color-white;

    @media #{$mq-md} {
        flex-direction: row;
        align-items: center;
    }        
}

.c-footer-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    
    li:last-child {
        .c-footer-link {
            margin-right: 0;
        }
    }
    
    @media #{$mq-md} {
        flex-direction: row;
        align-items: center;
    }    
}

.c-footer-link {
    display: inline-block;
    padding: $spacing-sm;
    border-radius: $border-radius-sm;
    text-decoration: none;
    color: $color-white;
    font-family: $font-metropolis;
    margin-bottom: $spacing-xs;
    
    @media #{$mq-md} {
        padding: $spacing-sm;
        margin: auto $spacing-sm auto auto;
    }    

    &.t-logo-mozilla {
        margin: 0 0 $spacing-xs;
        padding: 0;
        max-width: 140px;

        @media #{$mq-md} {
            min-width: 7rem;
            margin: auto 0;
        }        
    }

    &.t-logo-github {
        img {
            min-width: 24px;
            max-width: 28px;            
        }
    }

    &:hover, &:focus {
        opacity: .9;
        background-color: rgba(0, 0, 0, .2);
    }

    &:active {
        background-color: rgba(0, 0, 0, .25);
        opacity: .8;
    }
}