glocal-menu {
    --firefoxGradient: linear-gradient(-90deg, #FF9100 0%, #F10366 50%, #6173FF 100%);
    --glocalBackground: rgb(249, 249, 250);
    --glocalIconMargin: auto 12px auto auto;
    --glocalLargeAvatarDimensions: 42px;
    --glocalPaddingUnit: 24px;
    --glocalSectionPadding: var(--glocalPaddingUnit) calc(var(--glocalPaddingUnit) + 12px) var(--glocalPaddingUnit) var(--glocalPaddingUnit);
    --glocalSmallAvatarDimensions: 28px;
    --glocalOptionHoverColor: rgb(230, 230, 230);
    --ink: #20123A;

    color: $color-violet-90;
}

.glocal-menu-wrapper {
    background-image: var(--firefoxGradient);
    position: absolute;
    visibility: hidden;
    color: #000000;
    right: $spacing-lg;
    border-radius: 8px;
    box-shadow: 0 7px 12px -3px rgba(28, 28, 29, .502);
    width: auto;
    max-width: calc(#{$screen-sm} - #{$spacing-lg});

    @media screen and (max-width: $screen-sm) {
        max-width: calc(#{$screen-sm} - #{$spacing-md} - #{$spacing-md});
        left: $spacing-md;
        right: $spacing-md;
    }
}

.glocal-menu-wrapper.fx-bento-fade-out {
    z-index: 100;
}

.glocal-menu-header {
    background-color: var(--glocalBackground);
    display: flex;
    flex-direction: row;
    padding: var(--glocalSectionPadding);
    border-radius: 8px 8px 0 0;
}

.avatar-wrapper {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0px 5px rgba(255, 255, 255, 0);
    padding: 0;
    border: none;
    transition: all .2s ease;
}

.avatar-wrapper:hover, .avatar-wrapper:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0px 5px rgba(255, 255, 255, .3);
    transition: all .2s ease;
}

.avatar-wrapper:focus {
    outline: none;
}

.avatar-wrapper,
.avatar {
    height: var(--glocalLargeAvatarDimensions);
    width: var(--glocalLargeAvatarDimensions);
}

.glocal-small-avatar {
    height: var(--glocalSmallAvatarDimensions);
    width: var(--glocalSmallAvatarDimensions);
    border-radius: 50%;
}

.avatar {
    pointer-events: none;
}

.glocal-menu-open {
    visibility: visible;
    transform: translateY(17px);
    animation: glocalMenuAppear ease .3s;
    z-index: 100;
    -webkit-animation: glocalMenuAppear ease .3s;
    -moz-animation: glocalMenuAppear ease .3s;
}

.glocal-account-info {
    display: flex;
    flex-direction: column;
    padding: 0 $spacing-sm;
    word-wrap: break-word;
    width: 100%;
}

.glocal-fxa-email {
    font-size: 16px;
    font-weight: 600;
    color: $color-violet-90;
    margin-bottom: 2px;
}

.glocal-fxa-settings-link {
    font-size: 14px;
    color: $color-grey-50;
    display: flex;
    align-items: center;
}

.glocal-fxa-settings-link:hover,
.glocal-fxa-settings-link:focus {
    text-decoration: underline;
    color: $color-grey-50;
}

.glocal-fxa-settings-link:active {
    color: $color-grey-60;
}

.glocal-fxa-settings-link::after {
    content: "";
    background-image: url("/static/images/open-new.svg");
    background-size: contain;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 4px;
}

.glocal-site-options {
    background-color: var(--glocalBackground);
    margin-top: 1px;
    padding: var(--glocalPaddingUnit) 0;
    border-radius: 0 0 8px 8px;
}

.glocal-site-option {
    display: flex;
    align-items: center;
    border-radius: 0;
    padding: $spacing-md var(--glocalPaddingUnit);
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: $color-violet-90;
    font-size: 14px;

    img {
        display: inline-block;
        width: var(--glocalSmallAvatarDimensions);
        margin-right: 12px;
        opacity: .9;
    }
}

.glocal-site-option:hover {
    background-color: var(--glocalOptionHoverColor);
    color: $color-violet-90;
}

.glocal-sign-out {
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    display: flex;
    cursor: pointer;
    align-items: center;
    color: $color-violet-90;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.glocal-sign-out::before {
    content: "";
    display: inline-block;
    height: var(--glocalSmallAvatarDimensions);
    width: var(--glocalSmallAvatarDimensions);
    margin-right: 12px;
    background-image: url("/static/images/glocal-sign-out.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .9;
}

.glocal-menu-wrapper::after {
    display: block;
    content: "";
    height: 12px;
    width: 12px;
    position: absolute;
    top: -6px;
    right: 23px;
    margin: auto;
    transform: rotate(45deg);
    border-top-left-radius: 1px;
    background-color: rgb(249, 249, 250);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    z-index: -1;
}

@keyframes glocalMenuAppear {

    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(17px);
    }
}
