header {
    color: $color-white;
    border-bottom: 1px solid rgba($color-grey-60, .5);
    background: var(--darkBlueGradient);
    box-shadow: 0 0 3px 0 rgba($color-grey-60, .5);
    z-index: 2;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav {
    display: flex;
    flex-direction: row;
    margin: auto 0 auto auto;
    font-family: $font-metropolis;
    align-items: center;

    @media screen and (max-width: 690px) {
        display: none;
    }
}

.sign-in {
    padding: $spacing-md $spacing-lg;
    font-weight: 400;
    display: flex;
    margin: auto;
    white-space: nowrap;
}

.sign-up {
    border: none;
    color: inherit;
    border-radius: $border-radius-sm;
    padding: $spacing-xs $spacing-sm;
    margin: 0 $spacing-md;

    @media screen and (max-width: 576px) {
        display: none;
    }
}

.sign-in:hover,
.sign-in:active {
    color: #CFCFD8;
    border-color: #CFCFD8;
}

.sign-in:active {
    box-shadow: 0 2px 8px 0 rgba(14, 13, 26, .12), 0 3px 1px -2px rgba(7, 48, 114, .12), 0 2px 4px 0 rgba(34, 0, 51, .04), 0 0 0 1px rgba(32, 18, 58, .04);
}

.fx-private-relay-logomark {
    background-image: url("/static/images/placeholder-logo.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    height: 100%;
    min-width: 42px;
    display: inline-block;
    margin-right: $spacing-md;
}

.fx-private-relay-logotype {
    background-image: url("/static/images/fx-private-relay-logotype-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 180px;
    height: 100%;
}

.header-link {
    border-radius: $border-radius-sm;
    padding: $spacing-xs $spacing-sm;
    color: $color-white;
    margin-left: $spacing-md;
    font-size: 1rem;
}

.header-link::after {
    width: 100%;
    height: 2px;
    display: block;
    content: "";
    background: var(--fxGradient);
    opacity: 0;
    margin-bottom: -6px;
    margin-top: $spacing-xs;
}

.active-header-link::after {
    opacity: 1;
}

.fix-header {
    box-shadow: 0 0 5px 3px $color-violet-90;
    transition: all .5s ease;
}

.header-top {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-lg $spacing-xl;
}

.header-link:hover,
.header-link:focus,
.sign-up:hover,
.sign-up:focus {
    opacity: .9;
    background-color: rgba(0, 0, 0, .2);
    color: inherit;
}

.header-link:active {
    background-color: rgba(0, 0, 0, .25);
    opacity: .8;
}

.mobile-menu {
    position: relative;
    z-index: 1;
    min-height: 0;
    background: #2F2F54;
    transition: all .4s ease;
    font-family: $font-metropolis;
    align-items: center;
    display: none;
    flex-direction: row;

    @media screen and (max-width: 690px) {
        display: flex;
    }
}

.mobile-menu-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
}

.menu-open {
    transition: all .4s ease;
}

.mobile-menu-toggle {
    border: none;
    outline: none;
    background: #2F2F54;
    z-index: 1;
    color: $color-white;
    width: 100%;
    padding: $spacing-md $spacing-xl;
}

.mobile-menu-label {
    position: relative;
    display: inline-block;
}

.mobile-menu-label::after {
    content: "";
    width: 18px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    background-image: url("/static/images/arrowhead-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    bottom: 0;
    margin: auto auto 0 auto;
    right: -$spacing-lg;
    background-size: contain;
    opacity: .9;
    transition: all .4s ease;
}

.menu-open .mobile-menu-label::after {
    transform: rotate(180deg);
    opacity: .5;
    transition: all .4s ease;
}

.mobile-menu-link {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    text-align: right;
    padding: $spacing-md $spacing-xl;
    border-bottom: 1px solid rgba(255, 255, 255, .04);
}

.mobile-home-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mobile-home-link:last-child {
    display: none;

    @media screen and (max-width: 576px) {
        display: inline;
    }
}

.menu-open .mobile-menu-links {
    visibility: visible;
    pointer-events: all;
    transition: all .3s ease;
    max-height: 300px;
}

.mobile-menu-links {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    pointer-events: none;
    background: #2F2F54;
    box-shadow: inset 1px 3px 3px #20123A30;
    transition: all .3s ease;
}

.mobile-menu-link:hover {
    background: rgba(0, 0, 0, .05);
}

.mobile-menu-link:focus {
    box-shadow: var(--buttonFocus);
}

.mobile-menu-link:active {
    background: rgba(0, 0, 0, .1);
}

.user-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: inherit;

    button {
        @include font-firefox;
    }
}


.is-premium:not(.is-dark) {

    header {
        background: $color-white;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, .06);
        border-bottom: 0;
    }

    .fx-private-relay-logotype {
        background-image: url("/static/images/fx-private-relay-premium-logotype-dark.svg");
        min-width: 250px;
    }

    .header-top {
        padding: 0 $spacing-xl;
        align-items: center;
    }

    .header-link {
        color: $color-grey-40;
        padding: $spacing-lg 0;
        position: relative;
        display: block;
        border-radius: 0;

        &::after {
            position: absolute;
            bottom: 0;
            margin: 0;
            height: 4px;
        }
    }

    .active-header-link {
        color: $color-grey-30;
    }

    .header-link:hover,
    .header-link:active,
    .header-link:focus {
        background-color: transparent;
    }

    .logo-wrapper {
        height: 40px;
    }

    .fx-bento-button {
        background-image: url("/static/images/bento.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        &:hover {
            background-image: url("/static/images/bento-white.svg");
            background-color: $color-grey-40;
        }
    }

    .fx-bento-open .fx-bento-button {
        background-image: url("/static/images/bento-white.svg");
        background-color: $color-grey-40;
    }

    firefox-apps.fx-bento-open,
    firefox-apps:hover {
        background: none;
        box-shadow: 0 0 0 4px $color-grey-40;
    }

    .mobile-menu, .mobile-menu-toggle, .mobile-menu-links, .mobile-menu-link {
        background-color: $color-grey-05;
        color: $color-purple;
    }

    .mobile-menu.menu-open .mobile-menu-toggle, .mobile-menu-links {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, .06);
    }

    .mobile-menu-link {
        border-bottom: 1px solid $color-grey-10;
    }

    .mobile-menu-link:hover {
        background-color: $color-grey-10;
    }

    .mobile-menu-label::after {
        background-image: url("/static/images/arrowhead.svg");
    }

    @media screen and (max-width: 690px) {

        .header-top {
            padding: $spacing-lg $spacing-xl;
        }
    }

}


@media screen and (max-width: 750px) {

    .fx-private-relay-logotype {
        min-width: 150px;

        .is-premium:not(.is-dark) & {
            min-width: 220px;
        }
    }

    .sign-in {
        padding-left: $spacing-md;
        padding-right: $spacing-md;
    }
}
@media screen and (max-width: 600px) {

    header {
        border-bottom: none;
    }

    .fx-private-relay-logotype {
        min-width: 120px;
        background-position: center;

        .is-premium:not(.is-dark) & {
            min-width: 180px;
        }
    }

    .header-top {
        padding: $spacing-lg;
    }
}
@media screen and (max-width: 690px) {

    header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background: #27294E;
    }

    .fix-header {
        animation: none;
    }

    .active-header-link::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--fxGradient);
        margin-right: 8px;
        vertical-align: middle;
        background-size: 400%;
        background-position: bottom right;
    }

    .header-top {
        padding: $spacing-md;
    }
}
@media screen and (max-width: 400px) {

    .fx-private-relay-logomark {
        min-width: 30px;
        margin-right: $spacing-sm;
    }
}

.c-csat-wrapper {
    padding: $spacing-md 0;
    background-color: $color-purple-90;
    color: $color-white;
    position: relative;
    text-align: center;
    display: none;

    @media screen and #{$mq-md} {

        &.is-visible {
            display: flex;
        }
    }

    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: $spacing-sm;
        width: 100%;
    }

    .is-hidden {
        display: none;
    }

    .c-csat-dismiss-button {
        position: absolute;
        top: 50%;
        right: $spacing-md;
        background-color: transparent;
        border-style: none;
        color: $color-white;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius-sm;
        cursor: pointer;
        fill: $color-white;

        &:hover {
            background-color: $color-blue-50;
        }
    }

    .c-csat-prompt {

        a, a:visited {
            text-decoration: underline;
            color: $color-white;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .c-csat-answers {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: $spacing-md;

        ol {
            display: flex;
            gap: $spacing-md;
            list-style-type: none;
        }

        button {
            border-radius: $border-radius-sm;
            background-color: $color-violet-40;
            color: $color-white;
            transition: background-color .1s ease-out;
            border-style: none;
            padding: $spacing-sm;
            height: 2.5rem;
            text-align: center;
            cursor: pointer;
            // Override the font-size set on all buttons in main.scss
            font-size: initial;

            &:hover {
                background-color: $color-blue-50;
            }
        }
    }
}
