* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    height: 100%;

    @media (prefers-reduced-motion) {

        & {
            scroll-behavior: auto;
        }

    }
}

body {
    font-family: "Inter", Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overscroll-behavior: contain;
    line-height: 1.2;
    background-color: $color-grey-05;
}

.c-body-wrapper.t-dark {
    background-image: var(--darkBlueGradient);


    h1, h2, h3, h4, h5, h6 {
        color: $color-light-gray-10;
    }

    :visited:hover, :visited:focus, :visited:active {
        color: $color-light-gray-10;
    }

    .loading {
        background-image: url("/static/images/loader.svg");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .section-headline {
        font-weight: 600;
        color: $color-grey-60;
        margin: 0;
    }
}

.text-light {
    color: $color-white;
}

.text-link, .text-link:link {
    border-radius: 2px;
    color: inherit;
    text-decoration: underline;
    transition: all .2s ease;
}

.text-link:hover {
    opacity: .8;
    transition: all .2s ease;
}

.blue-btn-states:focus,
.text-link:focus {
    box-shadow: var(--buttonFocus);
    outline: none;
}

.text-light-grey {
    color: $color-grey-20
}

.bg-light {
    background: $color-light-gray-10;
}

.drop-shadow-light {
    box-shadow: var(--dropShadowLight);
}

.row-full-width {
    padding: $spacing-lg $spacing-xl;
}

.full-width {
    padding: .75em $spacing-xl;
}

h1,
h2,
.button,
.ff-Met {
    font-family: $font-metropolis;
}

a, :link, button {
    text-decoration: none;
}

.sub-head {
    font-size: 1.15em;
    line-height: 1.4;
}

button,
.button {
    text-decoration: none;
    border-style: solid;
    font-size: 1.1em;
}

.button,
.button:hover,
.button:active,
button,
button:hover,
button:active {
    transition: all .1s ease;
}

.blue-button {
    position: relative;
    color: $color-white;
    border: none;
    outline: none;
    background-color: $color-blue-50;
    background-position: center center;
    border-radius: 2px;
    min-height: 32px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-metropolis;
}

.blue-btn-states:hover,
.blue-button:hover {
    background-color: $color-blue-70;
}

.sign-in:focus,
.blue-button:focus,
.forwarding-toggle:focus,
.blue-btn-states:focus {
    box-shadow: var(--buttonFocus);
    outline: none;
}

.blue-button:active,
.forwarding-toggle:active,
.blue-btn-states:active {
    background-color: $color-blue-80;
    box-shadow: 0 0 0 1px rgba(10, 132, 255, 0) inset, 0 0 0 1px rgba(10, 132, 255, 0), 0 0 0 4px rgba(10, 132, 255, 0);
}

.blue-button.loading {
    color: rgba(255, 255, 255, .2);
    background-color: $color-blue-40;
    transition: all .3s ease;
}

.puffy {
    min-height: 48px;
    border-radius: 4px;
    min-width: 200px;
}

::-moz-focus-inner {
    border: 0;
}

.c-layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.bold {
    font-weight: 700;
}

.demi {
    font-weight: 500;
}

.flx {
    display: flex;
}

.flx-row {
    flex-direction: row;
}

.flx-end {
    justify-content: flex-end;
}

.flx-col {
    flex-direction: column;
}

.spc-btwn {
    justify-content: space-between;
}

.jst-cntr {
    justify-content: center;
}

.al-cntr {
    align-items: center;
}

.inset {
    padding-left: 6px;
    padding-right: 6px;
}

.margin-auto {
    margin: auto;
}

.container {
    padding-bottom: 8em;
    padding-left: 2.25em;
    padding-right: 2.25em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.txt-white {
    color: $color-white;
}

.text-center {
    text-align: center;
}

.btn-transparent {
    border-width: 2px;
    border-radius: 8px;
    border-color: $color-white;
    color: inherit;
}

.btn-disabled {
    opacity: .9;
    cursor: not-allowed;
}

.main-list {
    max-width: $content-xl;
    margin: auto;
    justify-content: flex-start;
    padding-top: $spacing-md;
    padding-bottom: $layout-xl;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
}

.dashboard-container {
    background-color: $color-mpp-background;
    background-color: $color-grey-05;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.dashboard-header {
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5em;
    margin-top: 3em;
    margin-bottom: 1em;
    border-bottom: 2px solid $color-grey-30
}

.dashboard-headline {
    font-size: 1.5em;
    margin: auto auto 0 0;
}

.dashboard-mpp-promo {
    background: url("/static/images/polygon-background-small.png") center right no-repeat;
    background-color: $color-white;
    background-size: contain;
}

.dashboard-mpp-promo-container {
    max-width: $content-xl;
    margin: auto;
    padding: $spacing-xl $spacing-lg;
}

.dashboard-mpp-promo-headline {
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 0 0 $spacing-sm;
    padding: 0;
    font-weight: 500;
    max-width: $content-xs;
    color: $color-black;

    strong {
        display: inline-block;
    }
}

.dashboard-mpp-promo-container p {
    max-width: $content-sm;
}

main, table {
    width: 100%;
    transition: all .3s ease;
}

.relay-email-card {
    position: relative;
    transition: all .2s ease;
}

.relay-email-column {
    max-width: 100%;
}

.center-value {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 3em;
}

.relay-address {
    background: transparent;
    text-align: left;
    border: none;
    font-weight: 600;
    height: 100%; /* expand clickable area of relay address */
    display: flex;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 0;
    color: $color-grey-60;
    white-space: nowrap;
}

.relay-address:hover,
.relay-address:focus {
    opacity: .75;
}

.alias-on-desktop {
    display: none;

    @media #{$mq-md} {
        display: inline;
    }
}

.alias-on-mobile {
    display: inline;

    @media #{$mq-md} {
        display: none;
    }
}

.relay-address--label {

    max-width: calc((#{$content-xs} - #{$spacing-2xl}));

    @media #{$mq-md} {
        max-width: $content-xs;
    }
    @media #{$mq-lg} {
        max-width: $content-sm;
    }

    display: inline-block;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.relay-address:active {
    opacity: .6;
}

.relay-address.alias-copied {
    text-decoration: none !important;
}

.alias-copied-fadeout .alias-copied-message {
    animation-duration: 4s;
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.alias-copied-icon {
    width: 18px;
    height: 18px;
    background-image: url("/static/images/copy-to-clipboard.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: $spacing-sm;
}

.alias-copied-icon,
.alias-copied-message {
    display: inline-block;
    pointer-events: none;
}

.alias-copied-message {
    visibility: hidden;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: $color-violet-30;
    margin-left: $spacing-sm;
    padding: 2px 4px;
    border-radius: 4px;
    color: $color-white;
    font-size: 14px;
    transition: opacity 2s ease-out;
}

.alias-copied .alias-copied-message {
    visibility: visible;
}

.column-delete {
    position: relative;
    margin: auto 0 auto auto;
}

.relay-email-row {
    justify-content: space-between;
    align-items: center;
}

.alias-stats-wrapper {
    margin: auto 0 auto auto;
}

.relay-stat {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 3em;
}

.relay-stat-value {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 6px;
    font-weight: 700;
    font-family: $font-metropolis;
}

.remaining-aliases {
    font-family: $font-metropolis;
    font-size: 1em;
    font-weight: 300;
}

.num-remaining-aliases {
    font-weight: 600;
    margin-right: $spacing-xs;
}

.dash-create-new-relay {
    display: flex;
    align-items: center;
    border-radius: $border-radius-sm;
    padding: 0 .75em 0 .25em;
    margin-left: $spacing-sm;
    overflow: hidden;
    background-color: $color-blue-50;
    color: $color-white;
    border: 1px solid transparent;
    font-family: $font-metropolis;
}

.generate-new-relay-icon {
    background-image: url("/static/images/plus-sign-white.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 2em;
    margin-right: $spacing-xs;
}

.dash-create-new-relay.btn-disabled {
    background-color: $color-grey-30
}

.dash-create-new-alias-menu-wrapper {
    position: relative;
}

.dash-create-new-alias-menu-trigger {
    display: flex;
    align-items: center;
    border-radius: $border-radius-sm;
    padding: 0 .25em 0 .75em;
    margin-left: $spacing-sm;
    overflow: hidden;
    background-color: $color-blue-50;
    color: $color-white;
    border: 1px solid transparent;
    font-family: $font-metropolis;
}

.generate-new-alias-menu-trigger-icon {
    background-image: url("/static/images/arrowhead-white.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 2em;
    display: inline-block;
    margin-left: $spacing-xs;
}

.generate-new-alias-menu-popup {
    width: 100%;
    background: $color-white;
    position: absolute;
    margin-top: $spacing-sm;
    box-shadow: var(--dropShadowLight);
    border-radius: $border-radius-sm;
    // Make sure the border-radius does not get covered
    // by the hover background of the buttons inside
    overflow: hidden;
    // Make sure to overlap .relay-stat,
    // which has position: relative.
    z-index: 2;

    &.is-hidden {
        display: none;
    }

    button {
        background-color: transparent;
        box-sizing: border-box;
        padding: $spacing-md;
        width: 100%;
        border-style: none;
        border-bottom: 1px solid $color-light-gray-20;
        color: $color-blue-50;
        font-family: $font-metropolis;
        text-align: start;
        cursor: pointer;

        &:last-child {
            border-bottom-style: none;
        }

        &:hover {
            background-color: $color-blue-50;
            border-color: $color-blue-50;
            color: $color-white;
        }

        &:focus {
            text-decoration: underline;
        }
    }
}

.x-close-icon {
    pointer-events: none;
    height: 24px;
    width: 24px;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.card-small-text {
    color: $color-grey-50;
    font-family: $font-metropolis;
    font-size: 15px;
}

.text-dark {
    color: $color-grey-50;
}

.legacy-addon-show-label {
    visibility: visible;
}

.legacy-addon-show-label::after {
    display: none !important;
}

.relay-email-address-note {
    visibility: hidden;
    position: absolute;
}

.legacy-addon-show-label .relay-email-address-label {
    width: 200px;
}

input::placeholder,
.relay-email-address-label:placeholder-shown {
    color: $color-grey-50;
    opacity: 1;
}

input:focus::placeholder {
    opacity: 0;
}

.user-created-label::after {
    opacity: 0;
}

.user-created-label:hover::after {
    opacity: .6;
}

.relay-email-address-label:hover {
    background: $color-grey-10;
    transition: all .1s ease-in-out;
}

.relay-email-address-label:focus {
    box-shadow: var(--buttonFocus);
    transition: all .2s ease-in-out;
    outline: none;
}

.saved-confirmation {
    content: "Saved!";
    background-color: green;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
}

.input-error::after,
.input-error {
    background: $color-error;
}

.saved-confirmation::after,
.saved-confirmation {
    background: #3FC290;
}

.input-error,
.saved-confirmation {
    border-radius: 4px;
    padding: 4px;
    color: white;
    font-size: 12px;
    top: 40px;
    z-index: 2;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.input-error::after,
.saved-confirmation::after {
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
    content: "";
    position: absolute;
    top: -4px;
    left: 12px;
    display: block;
}

.show-saved-confirmation .saved-confirmation,
.show-input-error .input-error {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

.primary-email-address {
    font-weight: 600;
}

.dashboard-greeting {
    text-align: left;
    padding: 2rem 0 1rem;
    font-size: 1rem;
    font-family: $font-metropolis;
}

.alias-list {
    width: 100%;
    padding-bottom: 1rem;
}

.appear-smoothly {
    animation: appearSmoothly .2s ease;
}

.card-top-row {
    padding-bottom: $spacing-sm;
}

.card-row {
    padding: $spacing-md;
}

.card-middle-row {
    display: flex;
    flex-wrap: wrap;
}

.toggle-details-visibility {
    background: transparent;
    appearance: none;
    outline: none;
    border: none;
}

.toggle-details-visibility:hover .detail-label,
.toggle-details-visibility:focus .detail-label {
    text-decoration: underline;
}

.detail-label-icon {
    width: 1rem;
    display: flex;
    align-items: center;
    height: 1rem;

    img {
        display: block;
        width: 100%;
    }
    transition: all .2s ease-in-out;
}

.details-wrapper,
.hide-details-label,
.show-card-details .show-details-label {
    visibility: hidden;
}

.show-card-details .hide-details-label {
    visibility: visible;
}

.details-wrapper {
    position: absolute;
    background-color: $color-grey-20;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    justify-content: flex-start;
    transition: all .2s ease;
}

.details-column {
    margin-right: 4em;
}

.show-card-details .details-wrapper {
    visibility: visible;
    transition: all .2s ease;
}

.show-card-details .detail-label-icon {
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}

.created-label,
.email-forwarding-label {
    margin-bottom: 4px;
    margin-right: 6px;
}

.details-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.forwarding-label-wrapper {
    margin-right: 6px;
    margin-top: 4px;
}

.checkbox-label {
    font-size: 14px;
    margin: 6px auto auto 0;
    color: $color-grey-60
}

.checkbox-wrapper {
    position: relative;
    width: 100%;
    margin-top: 24px;
}

.checkbox {
    position: absolute;
    opacity: 0;
    top: 0;
    left: -4px;
    height: 24px;
    width: 100%;
}

.checkbox:hover + .checkbox-ui {
    background-color: rgba(12, 12, 13, .2);
    transition: all .2s ease;
}

.checkbox:active + .checkbox-ui {
    background-color: rgba(12, 12, 13, .3);
    transition: all .2s ease;
}

.checkbox + .checkbox-ui {
    border: 1px solid rgba(12, 12, 13, .1);
    border-radius: 2px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    margin-right: 10px;
    margin-top: 4px;
    display: inline-block;
    background-color: rgba(12, 12, 13, .081);
    transition: all .2s ease;
}

.checkbox:checked + .checkbox-ui {
    background-color: $color-blue-50;
    background-image: url("/static/images/check.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s ease;
}

.checkbox:checked:hover + .checkbox-ui {
    background-color: #003EAA;
}

.checkbox:checked:active + .checkbox-ui {
    background-color: #002275;
}

.checkbox:focus + .checkbox-ui {
    border: 1px solid transparent;
    box-shadow: var(--buttonFocus);
}

.show-750,
.show-mobile {
    display: none !important;
}

.is-enabled .num-forwarded,
.is-enabled .column-forwarded,
.num-blocked,
.column-blocked {
    opacity: 1;
    transition: all .2s ease;
}

.num-forwarded,
.is-enabled .column-forwarded .card-small-text,
.is-enabled .column-blocked {
    opacity: 1;
    transition: all .2s ease;
}

.num-forwarded,
.is-enabled .num-blocked {
    opacity: .3;
    transition: all .2s ease;
}

.column-forwarded .card-small-text,
.is-enabled .column-blocked .card-small-text {
    opacity: .5;
}

.is-visible-with-addon {
    // This class hides an element anything in the regular website;
    // however, the add-on injects a stylesheet that reveals elements with this class.
    display: none;
    visibility: collapse;
}

.is-hidden-with-addon {
    // This class doesn't do anything in the regular website;
    // however, the add-on injects a stylesheet that hides elements with this class.
}


.dashboard-banners.drop-shadow {
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04),0 6px 22px 4px rgba(7,48,114,.12),0 6px 10px -4px rgba(14,13,26,.12);
}


.banner-hl {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--ink)
}

.banner-hl,
.banner-sub {
    margin: 0 auto 10px 0;
}

.banner-sub {
    color: $color-grey-50;
    font-size: 1rem;
    line-height: 1.4;
}

.banner-gradient-bg {
    background: var(--fxGradient);
    margin: 0 auto 2rem;
    border-radius: 9px;
    padding: 2px;
    width: 100%;
    position: relative;
    min-height: 0;
}

.banner-content {
    opacity: 1;
    background: $color-white;
    border-radius: 7px;
    padding: 2em 1.25em 2em 0;
    width: 100%;
    position: relative;
}

.banner-copy {
    padding: 0;
}

.banner-link {
    color: $color-blue-50;
    margin: 0 auto 0 -2px;
    padding: 2px;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 600;
}

.banner-link:hover {
    color: $color-blue-40;
}

.banner-link:focus {
    box-shadow: var(--buttonFocus);
    color: $color-blue-40;
    outline: none;
}

.banner-link:active {
    color: $color-blue-50;
}

.banner-logo {
    background-position: top center;
    background-size: contain;
    height: 60px;
    width: 60px;
    min-height: 60px;
    min-width: 60px;
    background-repeat: no-repeat;
    margin: 0 1.25rem 0 2.5rem;
}

.banner-relay-logo {
    background: none;
    position: relative;
}

.banner-relay-logo::after {
    content: "";
    width: 70px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-image: url("/static/images/banner-addon.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.banner-fx-logo {
    background-image: url("/static/images/logos/fx-logo.svg");
}

/* TODO: Replace MPP logo */
.banner-mpp-logo {
    background-image: url("/static/images/placeholder-logo.svg");
}

.nested-grid {
    cursor: default;
}

.stat-description {
    position: absolute;
    visibility: hidden;
    transform: translateY(O);
    bottom: -70px;
    right: 19px;
    font-size: 13px;
    line-height: 1.25;
    background-color: $color-light-gray-10;
    border: 1px solid $color-grey-30;
    box-shadow: var(--dropShadowLight);
    padding: 8px 16px;
    border-radius: 4px;
    z-index: 2;
    opacity: 0;
    transition: all .2s ease !important;
}

.stat-description p {
    margin-bottom: 0;
}

.stat-description strong {
    font-family: $font-metropolis;
}

@media screen and (min-width: 550px) {

    .relay-stat:hover .stat-description, .stat-description.show-message {
        transform: translateY(3px);
        visibility: visible;
        opacity: 1;
        transition: all .3s ease;
    }
}

.stat-description.blocked-description {
    right: 10px;
    width: 260px;
}

.stat-description::before {
    transform: rotate(45deg);
    display: block;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 2px;
    background-color: $color-light-gray-10;
    border-top: 1px solid $color-grey-30;
    border-left: 1px solid $color-grey-30;
    position: absolute;
    top: -7px;
    right: 14px;
    z-index: -1;
}

.forwarding-description {
    top: 50px;
    width: 346px;
    bottom: auto;
}

.fwd-note {
    display: inline-block;
    padding-top: .25em;
}

@media screen and (max-width: 1050px) {

    .sign-in-btn {
        min-width: 320px;
        justify-content: center;
    }
}
@media screen and (max-width: 940px) {

    .img-arrow-up {
        display: none;
    }
}
@media screen and (max-width: 800px) {

    .relay-stat {
        margin-left: 2em;
    }
}
@media screen and (max-width: 750px) {

    .dashboard-greeting {
        text-align: center;
    }
  
    .wrap-col-600 {
        justify-content: space-between;
    }

    .sign-in {
        padding-left: 1em;
        padding-right: 1em;
    }

    .nested-grid {
        flex-direction: column;
    }

    .relay-stat {
        width: 100%;
        justify-content: space-between;
    }

    .relay-stat-value {
        margin-left: 1em;
    }

    .center-value {
        margin-left: 0;
        flex-direction: row;
    }

    .how-it-works-steps {
        margin-bottom: 0;
    }

    .grid {
        flex-wrap: wrap;
    }

    .hide-750 {
        display: none;
    }

    .show-750 {
        display: flex !important;
    }

    .remaining-aliases {
        margin: auto 8px;
    }

    .stat-description,
    .stat-description.blocked-description {
        right: -12px;
        top: 30px;
    }

    .banner-logo {
        position: absolute;
        margin: 0;
    }

    .banner-content {
        padding-left: 1.25rem;
    }

    .banner-hl {
        padding-left: calc(60px + 1.25rem);
        display: flex;
        align-items: center;
        min-height: calc(60px + .5rem);
        margin: 0;
    }
}
@media screen and (max-width: 600px) {

    body {
        --rowFullWidthHPadding: 1.5em;
    }

    .relay-email {
        --hPadding: 1.5em;
    }

    .container {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .main-list {
        padding-left: $spacing-md;
        padding-right: $spacing-md;
    }

    .dashboard-container {
        padding-left: 0;
        padding-right: 0;
    }

    .sign-in-btn,

    .fx-private-relay-logotype {
        background-position: center 68%;
    }

    .hero-sub-head {
        max-width: 400px;
        font-size: 1em;
    }

    .hero-right {
        display: none;
    }

    .relay-address {
        margin-right: 0;
    }
}
@media screen and (max-width: 550px) {

    .wrap-col-600 {
        flex-direction: column-reverse;
    }

    .dash-create,
    .dashboard-headline,
    .remaining-aliases {
        margin-left: auto;
        margin-right: auto;
    }

    .remaining-aliases {
        margin-top: .5em;
    }

    .relay-email-card {
        overflow: hidden;
    }

    .nested-grid,
    .relay-email-column {
        width: 100%;
    }

    .relay-stat {
        margin-bottom: 8px;
    }

    .relay-stat,
    .details-row {
        min-height: 30px;
    }

    .relay-stat-value {
        margin-bottom: 0;
    }

    .card-middle-row,
    .details-row {
        flex-direction: column;
    }

    .details-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .details-column {
        margin: auto 0 10px 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .column-delete {
        margin-top: 8px;
        justify-content: flex-end;
    }

    .email-forwarding {
        justify-content: flex-end;
    }

    .show-mobile {
        display: flex !important;
    }

    .active-header-link::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--fxGradient);
        margin-right: 8px;
        vertical-align: middle;
        background-size: 400%;
        background-position: bottom right;
    }

    .hide-mobile {
        display: none !important;
    }

    .created-label {
        margin-bottom: 0;
    }

    .stat-description {
        display: none;
    }
}
@media screen and (max-width: 450px) {

    .card-top-row {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 400px) {

    body {
        --rowFullWidthHPadding: 1em;
    }

    .container {
        padding-left: 1em;
        padding-right: 1em;
    }

    firefox-apps {
        margin: auto 12px !important;
    }
}

@keyframes appearSmoothly {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.messages {
    width: 100%;
    padding: $spacing-lg $spacing-md;
    margin: 0 auto;

    &.is-hidden {
        display: none;
    }

    span {
        color: $color-white;
        text-align: center;
        width: 100%;
        font-weight: 600;
    }

    .message-wrapper {
        position: relative;
        width: 100%;
        padding: $spacing-md;
        align-items: center;
        display: flex;
        margin: 0 auto;
        text-align: center;
        border-radius: $border-radius-md;
        box-shadow: var(--dropShadowLight);
    }

    .success {
        background-color: $color-success;
    }

    .error {
        background-color: $color-error;
    }

    .dismiss {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: $layout-md;
        background: transparent;
        border: none;
        cursor: pointer;

        .x-close-icon path {
            fill: $color-white;
        }
    }

}

.messages-profile {
    background-color: $color-white;
}

ul.messages {
    max-height: 50px;
    display: flex;
    border-radius: 8px;
    padding: 0;
}



