.modal-bg {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, .4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    flex-direction: column;
    &.is-visible {
        display: flex;
    }
}

.show-modal {
    display: flex;
}

.modal-content {
    background: $color-white;
    max-width: 520px;
    border-radius: 8px;
    position: absolute;
    left: 2em;
    right: 2em;
    margin: auto;
    padding: 3em 4em;
}

.modal-message {
    font-size: 14px;
    line-height: 1.5;
    color: $color-grey-60;
    margin: 0 auto 12px auto;
}

.modal-message strong {
    word-break: break-word;
}

.modal-headline {
    font-weight: 300;
    font-size: 22px;
    margin: 0 auto 24px auto;
    color: $color-grey-60;
}

.warning-text {
    color: $color-warning;
}

.alias-to-delete {
    display: inline;
    word-break: break-all;
}

.alias-to-delete.demi {
    display: block;
    margin: 0 auto 16px 0;
    color: $color-grey-60;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: unset;
}

.confirm-delete-actions {
    justify-content: flex-end;
    display: flex;
    margin-top: 12px;
    padding-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.confirm-delete-action {
    outline: none;
    font-size: 1em;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 120px;
    border: 1px solid transparent;
}

.cancel-delete {
    background-color: $color-grey-20;
    color: $color-grey-50;
}

.cancel-delete:hover {
    background-color: $color-grey-30;
}

.cancel-delete:focus,
.confirm-delete:focus {
    box-shadow: var(--buttonFocus);
}

.cancel-delete:active {
    background-color: $color-grey-40;
}

.confirm-delete:hover {
    background-color: rgb(187, 3, 31);
}

.confirm-delete:active {
    background-color: rgb(167, 5, 30);
}

.confirm-delete[disabled] {
    opacity: .7;
    pointer-events: none;
}

.confirm-delete {
    background-color: $color-error;
    color: $color-white;
    margin-left: .5em;
}