.modal-message {
    @include text-body-sm;
    color: $color-grey-60;
    margin: 0 auto $spacing-sm auto;

    strong {
        word-break: break-word;
    }
    
    &.warning-text {
        color: $color-error;
    }
}

.alias-to-delete {
    display: inline;
    word-break: break-all;
    &.demi {
        display: inline-block;
        margin: 0 auto $spacing-md;
        // margin: 0 auto $spacing-md 0;
        color: $color-grey-60;
        max-width: $content-xs;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: unset;
    }
}

// Modal Protocol Refactor
.c-modal-wrapper {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, .4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    flex-direction: column;
    &.is-visible {
        display: flex;
    }
}

.c-modal {
    background: $color-white;
    max-width: $content-sm-md;
    border-radius: $border-radius-md;
    position: absolute;
    left: $spacing-xl;
    right: $spacing-xl;
    margin: auto;
    box-shadow: $box-shadow-sm;
    overflow: hidden;
    padding: $spacing-md;
}

.c-modal-header {
    border-radius: $border-radius-md;
    background-color: $color-grey-05;
    padding: $spacing-lg $spacing-md;
}

.t-domain-registration-hero {
    text-align: center;
}

.c-modal-body {
    background-color: $color-white;
    padding: $spacing-md;   
}

.t-domain-registration-body {
    text-align: center;
    p {
        @include text-body-xs;
        max-width: $content-sm;
        margin: 0 auto $spacing-md;
    }
}

.c-modal-footer {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.t-domain-registration-form {
    padding: $spacing-md;
    background-color: $color-grey-05;
    border-radius: $border-radius-md;
    text-align: center;
    display: inline-block;
    strong {
        word-wrap: break-word;
    }
}

// Delete Modal Theme

.t-modal-delete {
    text-align: center;
}

.t-domain-delete-form {
    padding: $spacing-md;
    background-color: $color-grey-05;
    border-radius: $border-radius-md;
    text-align: center;
    display: inline-block;
    strong {
        word-wrap: break-word;
    }
}