.premium-promo-hero-cta {
    text-align: center;

    @media screen and #{$mq-md} {
        text-align: start;
    }
}


.premium-promo-hero-cta button:disabled,
.perk-cta:disabled {
    cursor: not-allowed;
    pointer-events: visible;
}

.premium-promo-availability-warning {
    padding: $spacing-md 0;
}

.perks-headline {
    @include text-title-sm;
    text-align: center;
}

.perks-lead {
    @include text-body-md;
    display: block;
    width: 75%;

    @media screen and #{$mq-md} {
        margin: 0 auto;
    }
}

.perk {
    display: flex;
    flex-direction: column;
    gap: $spacing-2xl;
    align-items: center;
    padding: $spacing-2xl 0;

    @media screen and #{$mq-md} {
        flex-direction: row;
        padding: $spacing-2xl;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}

.perk-description {
    @media screen and #{$mq-md} {
        width: 50%;
    }
}

.perk-headline {
    @include text-title-xs;
}

.perk-illustration {
    max-width: 90%;
    
    @media screen and #{$mq-md} {
        max-width: 50%;
    }
}

.use-case-headline {
    @include text-title-sm;
    text-align: center;
}
