html,
body {
  --vpn-purple: #c5c8fb;
}

.vpn-banner-visible main {
  // padding-top: 17rem;
}

.vpn-promo-banner + .micro-survey-banner {
  display: none;
}

.vpn-promo-banner {
  background-color: var(--background);
  font-family: "Metropolis", sans-serif;
  font-size: 16px;
  position: relative;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 500px;
}

@media (prefers-reduced-motion) {
  .vpn-promo-banner {
    transition-property: none;
  }
}

.vpn-promo-banner.closed {
  max-height: 0;
}

.vpn-promo-banner + .recruitment-banner {
  display: none;
}

.vpn-promo-banner-wrapper {
  max-width: $content-lg;
  margin: 0 auto;
  padding: $spacing-md $spacing-xl;
  text-align: center;
}

.vpn-promo-logo {
  display: block;
  max-width: 122px;
  margin: 0 auto $spacing-md;
}

.vpn-promo-copy {
  text-align: center;
  font-size: 1rem;
  max-width: $content-sm;
  margin: 0 auto $spacing-md;
  line-height: 1.2rem;
  color: var(--inkDark);
}

.vpn-promo-copy strong, .vpn-promo-copy span {
  display: block;
  margin: 0 0 2px;
}

.vpn-promo-banner a {
  background-color: var(--bgLight);
  border: solid 2px var(--inkDark);
  box-shadow: 8px 8px 0 #6a57dc;
  color: var(--inkDark);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding: $spacing-sm $spacing-md;
  margin-bottom: $spacing-md;
  position: relative;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.vpn-promo-banner a:hover,
.vpn-promo-banner a:active,
.vpn-promo-banner a:focus {
  background-color: var(--inkDark);
  color: var(--bgLight);
}

.vpn-promo-banner button {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: $spacing-sm;
  right: 0;
  border: none;
  outline: none;
  display: block;
  background-color: transparent;
}

.vpn-promo-banner button:hover img {
  transform: scale(1.1);
}

.vpn-promo-banner button:active img {
  transform: scale(0.9);
}

.vpn-promo-banner button img {
  display: block;
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-out;
}

@media screen and (min-width: 700px) {
  .vpn-promo-banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .vpn-promo-copy {
    flex-shrink: 2;
    padding: 0 $spacing-md;
  }

  .vpn-promo-copy strong {
    display: block;
  }

  .vpn-promo-banner button {
    top: 0;
    right: 0;
  }

  .vpn-promo-logo,
  .vpn-promo-copy {
    margin: 0;
  }

  .vpn-promo-banner a {
    margin-bottom: 0.25rem;
  }

  .vpn-banner-visible main {
    &.dashboard-container {
      // padding-top: 9rem;
    }
    // padding-top: 10rem;
  }
}

@media screen and (min-width: 800px) {
  .vpn-promo-copy {
    padding: 0 $spacing-md;
  }

  .vpn-banner-visible main {
    // padding-top: 5rem;
  }
  
}

@media screen and (min-width: 960px) {
  .vpn-promo-banner button {
    top: $spacing-xs;
    right: $spacing-xs;
  }
  .vpn-promo-banner a {
    flex-shrink: 0;
  }
}

@media screen and (min-width: 850px) {
  .vpn-banner-visible main.dashboard-container {
    // padding-top: 7rem;
  }
}

@media screen and (min-width: 950px) {
  .vpn-banner-visible main.dashboard-container {
    // padding-top: 6rem;
  }
}
