@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../../styles/typography" as styles-typography;

.bundle-banner-wrapper {
  display: grid;
  grid-template-columns: 10fr;
  grid-template-rows: auto;
  background-color: lib.$color-violet-80;
  border-radius: lib.$border-radius-lg;
  gap: lib.$layout-xs;

  // Snap to 2 columns
  @media #{lib.$mq-lg} {
    background-image: url("./images/bundle-bg.png");
    grid-template-columns: 5fr 5fr;
    background-size: cover;
    gap: lib.$layout-md;
  }
  @media #{lib.$mq-xl} {
    grid-template-columns: 5fr 6fr;
  }

  .first-section {
    padding-right: lib.$layout-lg; // Shrinks image towards the left side
    position: relative;
    background-image: url("./images/bundle-bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid lib.$color-purple-30;
    border-radius: lib.$border-radius-lg lib.$border-radius-lg 0 0;

    @media #{lib.$mq-sm} {
      padding-right: lib.$layout-xl;
    }
    @media #{lib.$mq-md} {
      padding-right: lib.$content-sm;
    }

    // Snap to 2 columns
    @media #{lib.$mq-lg} {
      padding-right: lib.$layout-lg;
      border-bottom: none;
      background-image: none;
    }

    .main-img-wrapper {
      .main-image {
        margin-top: -(lib.$layout-lg); // Leave space for image to bleed out of frame

        @media #{lib.$mq-lg} {
          position: absolute;
          bottom: 0;
          margin-top: auto;
          margin-left: lib.$spacing-xs;
          max-height: 500px; // Magic number: Ensure image does not overlay other sections
        }
      }
    }

    .float-features-wrapper {
      display: none;

      @media #{lib.$mq-lg} {
        display: block;

        .float-features-item {
          @include lib.text-body-xs;
          @include lib.font-firefox;
          font-weight: 600;
          background: rgba(
            255,
            255,
            255,
            0.9
          ); // Using rgba to manipulate alpha value
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: lib.$spacing-sm;
          padding: lib.$spacing-sm;
          border-radius: lib.$border-radius-md;

          .float-features-text {
            line-height: 100%;
            max-width: 90px;
          }
        }
        .feature-one {
          right: lib.$layout-lg;
          top: lib.$layout-lg;
        }
        .feature-two {
          right: lib.$layout-xs;
          bottom: lib.$layout-2xl;
        }
        .feature-three {
          left: lib.$layout-sm;
          bottom: lib.$layout-lg;

          .float-features-text {
            max-width: 100px;
          }
        }
      }
    }
  }

  .second-section {
    @media #{lib.$mq-lg} {
      display: flex;
      justify-content: flex-end;
    }

    .bundle-banner-description {
      justify-content: space-between;
      color: lib.$color-white;
      height: auto;
      flex-direction: column;
      display: flex;
      gap: lib.$spacing-md;
      padding: 0 lib.$spacing-md lib.$spacing-xl lib.$spacing-md;

      @media #{lib.$mq-lg} {
        height: auto;
        padding: lib.$spacing-2xl lib.$spacing-xl;
      }

      .headline {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .bundle-banner-one-year-plan-headline {
        margin-top: lib.$spacing-md;
      }

      .bundle-banner-value-props {
        display: flex;
        flex-direction: column;
        gap: lib.$spacing-sm;
        list-style: none;

        @media #{lib.$mq-xl} {
          flex-direction: row;
        }

        li {
          border-radius: 50px; // custom border radius to follow design spec
          background: rgba(255, 255, 255, 0.1);
          padding: lib.$spacing-sm lib.$spacing-md;
          font-weight: 500;
          display: flex;
          flex-direction: row;
          gap: lib.$spacing-sm;
          align-items: center;
        }
      }

      .bottom-section {
        display: flex;
        flex-direction: column;
        gap: lib.$spacing-md;
        margin-top: lib.$spacing-md;
        align-items: center;

        @media #{lib.$mq-lg} {
          flex-direction: row;
        }

        .button {
          font-weight: 600;
          flex: 1 0 auto;
          background: white;
          max-width: lib.$content-xs;
          color: lib.$color-blue-50;
          padding: lib.$spacing-sm lib.$spacing-md;
          border-radius: lib.$border-radius-sm;

          &:hover {
            opacity: 0.8;
          }
        }

        .money-back-guarantee {
          @include lib.text-body-xs;
          text-align: center;

          @media #{lib.$mq-lg} {
            text-align: start;
          }
        }
      }

      h2 {
        @include styles-typography.text-title-sm {
          @include lib.font-firefox;
          font-weight: 700;
        }

        @media #{lib.$mq-lg} {
          @include styles-typography.text-title-xs;
        }
      }

      h3 {
        @include styles-typography.text-title-xs {
          @include lib.font-firefox;
          font-weight: 500;
        }

        @media #{lib.$mq-lg} {
          @include styles-typography.text-title-2xs;
        }
      }

      .pricing-logo-wrapper {
        display: flex;
        flex-direction: column;
        gap: lib.$spacing-md;
        align-items: center;

        .bundle-logo {
          display: none;
          max-width: 130px;
          align-self: center;

          @media #{lib.$mq-lg} {
            display: block;
          }
        }

        @media #{lib.$mq-lg} {
          flex-direction: row;
        }

        .pricing-wrapper {
          border-radius: lib.$border-radius-sm;
          // Using rgba to manipulate alpha value
          border: 2px solid rgba(255, 255, 255, 0.4);
          display: flex;
          flex-direction: column;
          align-items: center;

          @media #{lib.$mq-lg} {
            flex-direction: row;
          }

          span {
            padding: lib.$spacing-xs lib.$spacing-md;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 600;
            gap: lib.$spacing-xs;

            .price {
              @include lib.text-body-sm;
              font-weight: 400;
            }

            &:first-child {
              // Using rgba to manipulate alpha value
              border-bottom: 1px solid rgba(255, 255, 255, 0.4);

              @media #{lib.$mq-lg} {
                border-right: 1px solid rgba(255, 255, 255, 0.4);
                border-bottom: none;
                margin: lib.$spacing-sm 0;
              }
            }

            &:nth-child(2) {
              @include lib.text-body-xl;
            }
          }
        }
      }
    }
  }
}
