@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";

.entry {
  button {
    @include lib.text-body-xl;
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    gap: lib.$spacing-md;
    justify-content: space-between;
    cursor: pointer;
    padding: lib.$spacing-lg lib.$spacing-md;
    width: 100%;
    border-bottom: 1px solid lib.$color-light-gray-30;
    text-align: start;

    &:focus {
      outline: none;
      border-radius: lib.$border-radius-md;
      border-color: lib.$color-light-gray-10;
      background-color: lib.$color-light-gray-10;
      color: lib.$color-blue-50;
    }
  }

  &:first-child button {
    border-top-style: none;
  }

  dd {
    padding: lib.$spacing-lg lib.$spacing-md;
    display: flex;
    flex-direction: column;
    gap: lib.$spacing-md;
  }

  &.is-collapsed {
    dd {
      display: none;
    }
  }

  .plus-icon {
    flex: 0 0 auto;
    transition: transform 0.2s ease-out;
    color: lib.$color-blue-50;
  }

  &.is-expanded {
    .plus-icon {
      transform: rotate(45deg);
    }
  }
}
