@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.comparison {
  display: grid;
  grid-template-areas:
    "callout"
    "premium-plan"
    "free-plan";
  justify-items: center;

  @media screen and #{$mq-md} {
    grid-template-areas:
      "none callout"
      "free-plan premium-plan";
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    column-gap: $spacing-md;
  }
}

.callout {
  grid-area: callout;

  @include text-body-sm;
  color: $color-blue-50;
  font-weight: 700;
  padding: $spacing-md 0;
}

.plan {
  justify-content: space-between;
  background-color: $color-white;
  display: flex;
  position: relative;
  padding: $spacing-xl;
  border: 2px solid $color-light-gray-20;
  border-radius: $border-radius-md;
  width: $content-xs;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
  cursor: pointer;

  /* Wider plan panels for non-premium countries */
  &.wide-plan {
    @media screen and #{$mq-lg} {
      width: calc($content-sm + $spacing-lg);
    }
  }

  .ribbon {
    top: -10px;
    right: -10px;
    padding-left: $spacing-sm; /* The ribbon text indent */
    position: absolute;
    width: 126px; /* Width of the ribbon  */
    height: 30px; /* Height of the ribbon  */
    background-image: url("../../../../static/images/newlanding/ribbon-plan.svg");
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and #{$mq-lg} {
      top: 20px;
    }
  }

  .ribbon-text {
    @include text-body-xs;
    position: absolute;
    color: white;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 30px; /* Height of the ribbon */
  }

  &.waitlist-cta {
    border-color: $color-purple-40;
  }

  &.free-plan {
    grid-area: free-plan;
    margin-top: $spacing-2xl;

    @media screen and #{$mq-md} {
      margin-top: 0;
    }
  }

  &.premium-plan {
    grid-area: premium-plan;
    border-color: $color-purple-40;
  }

  .word-mark {
    margin: 0 auto;
  }

  .plan-description {
    @include text-body-sm;
    background: $color-light-gray-10;
    padding: $spacing-sm $spacing-lg;
    border-radius: $border-radius-sm;
  }

  .price {
    @include text-body-lg;
    color: $color-blue-50;
    text-align: center;
    font-weight: 400;
  }

  ul {
    list-style-image: url("./images/icon-blue-check.svg");
    margin: 0 auto;
    flex: 1 0 auto;

    li {
      padding: $spacing-sm 0;
    }
  }

  .faux-button {
    border: 2px solid $color-blue-50;
    border-radius: $border-radius-sm;
    color: $color-blue-50;
    font-weight: 700;
    padding: $spacing-sm $spacing-lg;
  }

  &:focus {
    outline: none;

    .faux-button {
      background-color: $color-blue-70;
      border-color: $color-blue-70;
      color: $color-white;
    }
  }

  &:hover {
    border-color: $color-blue-50;

    .faux-button {
      background-color: $color-blue-50;
      border-color: $color-blue-50;
      color: $color-white;
    }
  }
}

.comparison-waitlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-2xl;
  flex-direction: column;
  padding: $spacing-xl 0;
  margin: 0 auto;
  position: relative;

  @media screen and #{$mq-lg} {
    flex-direction: row;
    align-items: stretch;
    gap: $spacing-md;
  }

  ul {
    flex: none;
  }
}
