@use "../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "../../styles/typography" as styles-typography;

.reviews {
  display: flex;
  flex-direction: column;
  max-width: mp.$content-max;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding: mp.$spacing-md mp.$spacing-lg 0 mp.$spacing-lg;
  justify-content: center;
  gap: mp.$layout-sm;

  @media screen and #{mp.$mq-xl} {
    gap: mp.$layout-md;
    flex-direction: row;
    align-items: flex-start;
  }
}

.left-container {
  display: flex;
  flex-direction: row;
  gap: mp.$spacing-md;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: mp.$spacing-2xl;
}
.logo-container {
  display: flex;
  font-family: mp.$font-stack-base;
  color: mp.$color-white;
  width: mp.$layout-2xl;
  flex-direction: column;
  align-items: center;
  border-radius: mp.$border-radius-lg;
  padding: mp.$spacing-md 0;
  background-color: mp.$color-violet-50;

  .logo {
    width: mp.$layout-xl;
    padding: mp.$spacing-sm;
  }

  .logo-title {
    @include mp.text-body-md;
    font-weight: 400;
  }

  .logo-text {
    @include styles-typography.text-title-xs {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 mp.$spacing-md;
  gap: mp.$spacing-xs;
  background-color: mp.$color-white;
  border-radius: mp.$border-radius-lg;

  @media screen and #{mp.$mq-lg} {
    align-items: center;
  }

  .rating {
    .title {
      @include styles-typography.text-title-2xl {
        font-family: mp.$font-stack-firefox;
        font-weight: 600;
      }
    }

    .text {
      @include mp.text-body-sm;
      color: tokens.$color-grey-40;
      font-family: mp.$font-stack-base;
      font-weight: 500;
    }
  }
}

.stars {
  display: flex;
  flex-direction: row;
  padding-left: mp.$spacing-xs;
}

.star {
  color: mp.$color-yellow-50;
}

.empty-star {
  color: mp.$color-white;
  stroke: tokens.$color-grey-20;
  stroke-width: 2px;
}

.chevron {
  appearance: none;
  border: none;
  padding: 0;
  color: tokens.$color-grey-30;
  background: transparent;
  width: mp.$layout-sm;
  align-self: center;
  cursor: pointer;
}

.quotation-icon {
  position: absolute;
  display: none;

  @media screen and #{mp.$mq-md} {
    display: flex;
    left: 30px; // Following design specs
    top: -10px; // Following design specs
  }

  svg {
    color: mp.$color-purple-60;
    height: mp.$layout-sm;
  }
}

.reviews-container {
  display: flex;
  flex-direction: row;
  gap: mp.$spacing-lg;
  background-color: mp.$color-white;
  padding: mp.$spacing-md;
  border-radius: mp.$border-radius-lg;
  align-items: flex-start;

  // magic number: set to avoid shifting - no character limit on reviews yet.
  min-height: calc(mp.$layout-2xl * 2);
  position: relative;

  @media screen and #{mp.$mq-lg} {
    // magic number: set to avoid shifting - no character limit on reviews yet.
    min-height: 200px;
    padding: mp.$spacing-lg mp.$spacing-md;
  }

  .review-item {
    display: flex;
    overflow: hidden;
  }

  .review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; // allows us to animate - scroll
    width: 100%; // allows us to animate - scroll
    padding: mp.$spacing-sm;

    // queries set to these static widths to prevent shifting
    @media screen and #{mp.$mq-sm} {
      width: mp.$content-xs;
    }
    @media screen and #{mp.$mq-md} {
      width: mp.$content-sm;
    }
    @media screen and #{mp.$mq-xl} {
      width: mp.$content-md;
    }

    .text {
      width: 100%;

      ul {
        padding-left: mp.$spacing-md;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    gap: mp.$spacing-md;
    padding: 0 0 mp.$spacing-md 0;
    font-family: mp.$font-stack-base;

    @media screen and #{mp.$mq-xl} {
      flex-direction: row;
      align-items: flex-end;
    }

    .name {
      @include mp.text-title-3xs;
      font-family: mp.$font-stack-firefox;
      font-weight: 600;
    }

    .source {
      @include mp.text-body-sm;
      color: tokens.$color-grey-30;
    }

    .star {
      color: mp.$color-yellow-40;
      margin: 0 mp.$spacing-xs 0 (mp.$spacing-sm * -1);
    }
  }
}

// scroll animation
.scroll-left {
  animation: scrollLeft 500ms cubic-bezier(0.55, -0.4, 0.45, 1.2);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.scroll-right {
  animation: scrollRight 500ms cubic-bezier(0.55, -0.4, 0.45, 1.2);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

// scroll animation keyframes
@keyframes scrollLeft {
  0% {
    left: 0;
    opacity: 0;
  }
  10% {
    left: -250%;
  }
  20% {
    left: 150%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes scrollRight {
  0% {
    left: 0;
    opacity: 0;
  }
  10% {
    left: 250%;
  }
  20% {
    left: -150%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .scroll-right,
  .scroll-left {
    animation: none;
  }
}

// mobile only controls for review scrollingW
.mobile-controls {
  display: flex;
  justify-content: space-between;
  gap: mp.$spacing-sm;

  button {
    width: 50%;
    padding: mp.$spacing-md 0;

    &:hover {
      background-color: tokens.$color-grey-10;
    }

    svg {
      margin: 0 auto;
    }
  }
}

.hidden-mobile {
  display: none;

  @media screen and #{mp.$mq-md} {
    display: inline-block;
  }
}

// show only on mobile
.show-mobile {
  display: flex;

  @media screen and #{mp.$mq-md} {
    display: none;
  }
}
