@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";

// Hardcoding #5015cd after talking with design, no token for this color exists yet in Nebula.
$banner-gradient: linear-gradient(
  90.13deg,
  lib.$color-purple-90 -2.39%,
  #5015cd 50.81%,
  lib.$color-purple-50 104%
);

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: lib.$spacing-md;
  color: lib.$color-white;
  position: relative;
  background-image: url("../images/holiday-promo-banner-pattern-mobile.svg"),
    $banner-gradient;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  gap: lib.$spacing-md;

  @media screen and #{lib.$mq-sm} {
    flex-direction: row;
    gap: lib.$spacing-2xl;
    background-image: url("../images/holiday-promo-banner-pattern-tablet.svg"),
      $banner-gradient;
  }
  @media screen and #{lib.$mq-md} {
    gap: lib.$layout-xl;
    background-image: url("../images/holiday-promo-banner-pattern-laptop.svg"),
      $banner-gradient;
  }
  @media screen and #{lib.$mq-xl} {
    background-image: url("../images/holiday-promo-banner-pattern-desktop.svg"),
      $banner-gradient;
  }

  .left-promo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: lib.$spacing-md;

    @media screen and #{lib.$mq-sm} {
      gap: 0;
    }
    @media screen and #{lib.$mq-lg} {
      flex-direction: row;
      gap: lib.$layout-xl;
    }
  }

  .promo-container {
    text-align: center;
  }

  .cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: lib.$color-white;
    padding: lib.$spacing-sm lib.$spacing-md;
    border-radius: lib.$border-radius-sm;
    color: lib.$color-purple-90;
    font-weight: 700;
    margin-bottom: lib.$spacing-xs;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  .promo-code-expiry {
    color: rgba(lib.$color-white, 0.7);
    font-weight: 700;
    display: block;

    @include lib.text-body-xs;
  }

  .banner-pattern {
    width: 100%;
    position: absolute;
  }

  .promo-text {
    @include lib.text-body-lg;

    font-family: lib.$font-stack-base;
  }

  .promo-text-bolded {
    @include lib.text-body-xl;

    font-weight: 700;
    font-family: lib.$font-stack-firefox;
  }
}
