@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "../../../styles/tokens";
@use "../../../styles/typography" as styles-typography;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: mp.$spacing-xl;
  flex: 1 0 auto;
  max-width: mp.$content-lg;
  margin: 0 auto;
  padding: mp.$spacing-2xl mp.$spacing-lg;
  width: 100%;
  overflow-x: hidden;

  h2 {
    @include styles-typography.text-title-xs {
      font-family: mp.$font-stack-firefox;
      text-align: center;
    }
  }

  .lead {
    @include mp.text-title-3xs;
    font-family: mp.$font-stack-firefox;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: mp.$spacing-lg;

    p {
      @include mp.text-body-md;
    }

    img {
      margin: 0 auto;
    }
  }

  .description {
    @include mp.text-body-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: mp.$spacing-2xl;
    padding: mp.$spacing-md;
    margin-top: mp.$spacing-lg;

    @media screen and #{mp.$mq-md} {
      flex-direction: row;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: mp.$spacing-md;
      margin: 0;
      padding: 0;

      ::marker {
        color: tokens.$color-violet-60;
      }
    }
  }

  .action {
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: mp.$spacing-md;
    background-color: tokens.$color-white;
    padding: mp.$spacing-lg mp.$spacing-2xl;
    border-radius: mp.$border-radius-md;
    box-shadow: mp.$box-shadow-sm;

    h3 {
      @include mp.text-body-md;
      font-family: mp.$font-stack-firefox;
      text-align: center;
      font-weight: 400;
    }

    .pricing {
      display: flex;
      flex-direction: column;
      gap: mp.$spacing-sm;
      width: 100%; // Ensures responsiveness of container, and that the purchase tabpanel has a static width when toggling.

      .pricing-toggle {
        display: flex;
        background-color: tokens.$color-grey-10;
        padding: mp.$spacing-xs;
        border-radius: mp.$border-radius-lg;

        > div {
          @include mp.text-body-sm;
          width: 50%;
          padding: mp.$spacing-xs mp.$spacing-sm;
          text-align: center;
          color: tokens.$color-grey-40;
          font-weight: 500;
          cursor: pointer;

          &.is-selected {
            background-color: tokens.$color-white;
            border-radius: mp.$border-radius-lg;
            color: tokens.$color-blue-50;
          }
        }
      }

      [role="tabpanel"] {
        display: flex;
        flex-direction: column;
        gap: mp.$spacing-md;

        .price {
          @include styles-typography.text-title-2xs {
            padding-top: mp.$spacing-sm;
            display: block;
            font-weight: 700;
          }

          > span {
            @include mp.text-body-sm;
            font-weight: 400;
            vertical-align: middle;
          }
        }

        .pick-button {
          width: 100%;
        }
      }
    }
  }
}
