@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "../../../styles/tokens.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  flex: 1 0 auto;
  max-width: $content-lg;
  margin: 0 auto;
  padding: $spacing-2xl $spacing-lg;
  width: 100%;
  overflow-x: hidden;

  h2 {
    @include text-title-xs;
    font-family: $font-stack-firefox;
    text-align: center;
  }

  .lead {
    @include text-title-3xs;
    font-family: $font-stack-firefox;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    p {
      @include text-body-md;
    }

    img {
      margin: 0 auto;
    }
  }

  .description {
    @include text-body-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-2xl;
    padding: $spacing-md;
    margin-top: $spacing-lg;

    @media screen and #{$mq-md} {
      flex-direction: row;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
      margin: 0;
      padding: 0;

      ::marker {
        color: $color-violet-60;
      }
    }
  }

  .action {
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: $spacing-md;
    background-color: $color-white;
    padding: $spacing-lg $spacing-2xl;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-sm;

    h3 {
      @include text-body-md;
      font-family: $font-stack-firefox;
      text-align: center;
      font-weight: 400;
    }

    .pricing {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      width: 100%; // Ensures responsiveness of container, and that the purchase tabpanel has a static width when toggling.

      .pricing-toggle {
        display: flex;
        background-color: $color-grey-10;
        padding: $spacing-xs;
        border-radius: $border-radius-lg;

        > div {
          @include text-body-sm;
          width: 50%;
          padding: $spacing-xs $spacing-sm;
          text-align: center;
          color: $color-grey-40;
          font-weight: 500;
          cursor: pointer;

          &.is-selected {
            background-color: $color-white;
            border-radius: $border-radius-lg;
            color: $color-blue-50;
          }
        }
      }

      [role="tabpanel"] {
        display: flex;
        flex-direction: column;
        gap: $spacing-md;

        .price {
          @include text-title-2xs;
          padding-top: $spacing-sm;
          display: block;
          font-weight: 700;

          > span {
            @include text-body-sm;
            font-weight: 400;
            vertical-align: middle;
          }
        }

        .pick-button {
          width: 100%;
        }
      }
    }
  }
}
