@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib" as lib2;
@use "../../../styles/tokens";
@use "../../../styles/typography" as styles-typography;

.step {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: lib.$spacing-2xl;
  max-width: lib.$content-md;
  margin: 0 auto;
  padding: lib.$spacing-lg;

  .button {
    // TODO: This is not working
    &.is-secondary {
      font-weight: 400;
    }
  }

  h2 {
    @include styles-typography.text-title-xs {
      font-family: lib.$font-stack-firefox;
      text-align: center;
    }
  }

  .lead {
    @include lib.text-title-3xs;
    font-family: lib.$font-stack-firefox;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: lib.$spacing-lg;

    p {
      @include lib.text-body-md;
    }

    img {
      margin: 0 auto;
    }
  }

  .description {
    @include lib.text-body-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: lib.$spacing-2xl;
    padding: lib.$spacing-md;
    margin-top: lib.$spacing-lg;

    @media screen and #{lib.$mq-md} {
      flex-direction: row;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: lib.$spacing-md;
      margin: 0;
      padding: 0;
    }
  }

  .action {
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: lib.$spacing-md;
    background-color: tokens.$color-white;
    padding: lib.$spacing-lg lib.$spacing-2xl;
    border-radius: lib.$border-radius-md;
    box-shadow: lib.$box-shadow-sm;

    h3 {
      @include lib.text-body-md;
      font-family: lib.$font-stack-firefox;
      text-align: center;
      font-weight: 400;
    }

    span {
      @include styles-typography.text-title-2xs {
        padding-top: lib.$spacing-sm;
        display: block;
        font-weight: 700;
      }
    }
  }
}

// Step 2: Verify Phone Number

.step-verify-input .error {
  max-width: lib.$content-sm;
  background-color: tokens.$color-white;
  border-radius: lib.$border-radius-md;
  box-shadow: lib.$box-shadow-sm;
  padding: lib.$spacing-md;
  text-align: center;
  margin: 0 auto;
}
.step-verify-sub-body {
  background-color: tokens.$color-white;
  border-radius: lib.$border-radius-md;
  padding: lib.$spacing-lg;
}

.step-verify-input .is-hidden {
  display: none;
}

.form {
  max-width: lib.$content-sm;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: lib.$spacing-lg;
}

// Step 3: Enter verification code

.step-input-verificiation-code {
  .lead {
    .step-input-verificiation-code-lead-error,
    .step-input-verificiation-code-lead-success {
      display: none;
    }

    h2 {
      padding-top: lib.$spacing-md;
    }

    &.is-error,
    &.is-success {
      .step-input-verificiation-code-lead-default {
        display: none;
      }
    }

    &.is-error {
      .step-input-verificiation-code-lead-error {
        display: block;
      }
      h2 {
        color: tokens.$color-error;
      }
    }

    &.is-success {
      .step-input-verificiation-code-lead-success {
        display: block;
      }
      h2 {
        color: tokens.$color-success;
      }
    }
  }

  form {
    background-color: tokens.$color-white;
    box-shadow: lib.$box-shadow-sm;
    padding: lib.$spacing-lg;
    border-radius: lib.$border-radius-md;
    max-width: lib.$screen-sm;
    position: relative;

    &.is-hidden {
      display: none;
    }

    @media screen and #{lib.$mq-md} {
      padding: lib.$spacing-lg lib.$spacing-2xl;
    }

    p {
      text-align: center;

      strong {
        display: inline-block;
      }
    }

    .phone-number {
      word-break: keep-all;
      display: inline-block;
    }

    input {
      @include lib.text-body-xl;
      border-radius: lib.$border-radius-md;
      display: block;
      padding: lib.$spacing-sm;
      box-shadow: none;
      border: 0;
      background-color: tokens.$color-grey-10;
      letter-spacing: 1rem;
      text-align: center;
      width: 100%;

      &.is-error {
        border: 2px solid tokens.$color-error;
        outline: 4px solid tokens.$color-error-focus;
      }

      @media screen and #{lib.$mq-md} {
        padding: lib.$spacing-md;
        letter-spacing: 2rem;
      }
    }
  }
}

.step-input-verificiation-code-timeout {
  background-color: tokens.$color-white;
  box-shadow: lib.$box-shadow-sm;
  border-radius: lib.$border-radius-md;
  padding: lib.$spacing-lg lib.$spacing-2xl;
  max-width: lib.$screen-sm;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: lib.$spacing-lg;

  &.is-hidden {
    display: none;
  }

  p {
    text-align: center;
  }
}

.step-input-verificiation-code-success {
  background-color: tokens.$color-white;
  box-shadow: lib.$box-shadow-sm;
  border-radius: lib.$border-radius-md;
  padding: lib.$spacing-lg lib.$spacing-2xl;
  max-width: lib.$screen-sm;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: lib.$spacing-lg;
  justify-content: center;

  &.is-hidden {
    display: none;
  }

  h3 {
    @include lib.text-body-md;
  }

  p,
  h3 {
    text-align: center;
  }
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;

  @include lib.text-body-sm;
}

.phone-input {
  width: lib.$content-xs;
  height: lib.$layout-sm;
  padding: lib.$spacing-md lib.$spacing-sm lib.$spacing-md lib.$spacing-2xl;

  &.is-error {
    border: 2px solid tokens.$color-red-60;
    box-shadow: 0 0 4px 4px tokens.$color-red-30;
  }
}

// static country code in the real phone number input "+1"
.phone-input-country-code {
  background-color: tokens.$color-grey-10;
  border-radius: lib.$border-radius-sm;
  position: absolute;
  padding: 0 lib.$spacing-sm;
  margin-left: lib.$spacing-sm;
}
