@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib" as lib2;

.underlay {
  position: fixed;
  background-color: rgba(lib.$color-black, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: lib.$color-white;
    gap: lib.$spacing-lg;
    max-width: lib.$content-sm;
    border-radius: lib.$border-radius-md;
    box-shadow: lib.$box-shadow-sm;
    padding: lib.$spacing-md;

    .dialog-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: lib.$spacing-xl;
      padding: lib.$spacing-lg lib.$spacing-md;

      p {
        display: flex;
        gap: lib.$spacing-xs;
        flex-direction: column;
      }
    }

    .confirm-button {
      width: lib.$content-xs;
    }

    .cancel-button {
      border-style: none;
      background-color: transparent;
      cursor: pointer;
      color: tokens.$color-grey-40;

      &:hover {
        color: lib.$color-link-hover;
      }

      &:focus {
        color: lib.$color-blue-50;
      }
    }
  }
}
