@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib" as mp_forms;

.underlay {
  position: fixed;
  background-color: rgba(mp.$color-black, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: mp.$color-white;
    gap: mp.$spacing-lg;
    max-width: mp.$content-sm;
    border-radius: mp.$border-radius-md;
    box-shadow: mp.$box-shadow-sm;
    padding: mp.$spacing-md;

    .dialog-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: mp.$spacing-xl;
      padding: mp.$spacing-lg mp.$spacing-md;

      p {
        display: flex;
        gap: mp.$spacing-xs;
        flex-direction: column;
      }
    }

    .confirm-button {
      width: mp.$content-xs;
    }

    .cancel-button {
      border-style: none;
      background-color: transparent;
      cursor: pointer;
      color: tokens.$color-grey-40;

      &:hover {
        color: mp.$color-link-hover;
      }

      &:focus {
        color: mp.$color-blue-50;
      }
    }
  }
}
