@use "~@mozilla-protocol/core/protocol/css/includes/lib" as lib2;
@use "~@mozilla-protocol/core/protocol/css/includes/forms/lib";
@use "../../../styles/tokens";
@use "../../../styles/typography" as styles-typography;

.step,
.controls {
  max-width: lib2.$content-md;
  margin: 0 auto;
  padding: lib2.$spacing-lg;

  &.step-welcome {
    max-width: lib2.$content-lg;
  }
}

.step {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: lib2.$spacing-2xl;

  .show-more-options {
    font-weight: 400;
  }

  .button {
    width: 100%;

    // TODO: This is not working
    &.is-secondary {
      font-weight: 400;
    }
  }

  h2 {
    @include styles-typography.text-title-xs {
      font-family: lib2.$font-stack-firefox;
      text-align: center;
    }
  }

  .lead {
    @include lib2.text-body-sm;
    font-family: lib2.$font-stack-base;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: lib2.$spacing-lg;

    p {
      @include lib2.text-body-md;
    }

    img {
      margin: 0 auto;
    }
  }

  .description {
    @include lib2.text-body-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: lib2.$spacing-2xl;
    padding: lib2.$spacing-md;
    margin-top: lib2.$spacing-lg;

    @media screen and #{lib2.$mq-md} {
      flex-direction: row;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: lib2.$spacing-md;
      margin: 0;
      padding: 0;
    }
  }

  .action {
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: lib2.$spacing-md;
    background-color: tokens.$color-white;
    padding: lib2.$spacing-lg lib2.$spacing-2xl;
    border-radius: lib2.$border-radius-md;
    box-shadow: lib2.$box-shadow-sm;

    h3 {
      @include lib2.text-body-md;
      font-family: lib2.$font-stack-firefox;
      text-align: center;
      font-weight: 400;
    }

    span {
      @include styles-typography.text-title-2xs {
        padding-top: lib2.$spacing-sm;
        display: block;
        font-weight: 700;
      }
    }
  }

  .form {
    max-width: lib2.$content-sm;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: lib2.$spacing-lg;
  }
}

// Step 3: Enter verification code

.step-input-verificiation-code {
  .lead {
    .step-input-verificiation-code-lead-error,
    .step-input-verificiation-code-lead-success {
      display: none;
    }

    &.is-error,
    &.is-success {
      .step-input-verificiation-code-lead-default {
        display: none;
      }
    }

    &.is-error {
      .step-input-verificiation-code-lead-error {
        display: block;
      }
      h2 {
        color: tokens.$color-error;
      }
    }

    &.is-success {
      .step-input-verificiation-code-lead-success {
        display: block;
      }
      h2 {
        color: tokens.$color-success;
      }
    }
  }

  form {
    background-color: tokens.$color-white;
    box-shadow: lib2.$box-shadow-sm;
    padding: lib2.$spacing-lg;
    border-radius: lib2.$border-radius-md;
    max-width: lib2.$screen-sm;
    position: relative;

    &.is-hidden {
      display: none;
    }

    @media screen and #{lib2.$mq-md} {
      padding: lib2.$spacing-lg lib2.$spacing-2xl;
    }

    p {
      text-align: center;

      strong {
        display: inline-block;
      }
    }

    .phone-number {
      word-break: keep-all;
      display: inline-block;
    }

    input {
      @include lib2.text-body-xl;
      border-radius: lib2.$border-radius-md;
      display: block;
      padding: lib2.$spacing-sm;
      box-shadow: none;
      border: 0;
      background-color: tokens.$color-grey-10;
      letter-spacing: 1rem;
      text-align: center;
      width: 100%;

      &.is-error {
        border: 2px solid tokens.$color-error;
        outline: 4px solid tokens.$color-error-focus;
      }

      @media screen and #{lib2.$mq-md} {
        padding: lib2.$spacing-md;
        letter-spacing: 2rem;
      }
    }
  }
}

.step-input-verificiation-code-success {
  background-color: tokens.$color-white;
  box-shadow: lib2.$box-shadow-sm;
  border-radius: lib2.$border-radius-md;
  padding: lib2.$spacing-lg lib2.$spacing-2xl;
  max-width: lib2.$screen-sm;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: lib2.$spacing-lg;
  justify-content: center;

  &.is-hidden {
    display: none;
  }

  h3 {
    @include lib2.text-body-md;
  }

  p,
  h3 {
    text-align: center;
  }
}

.step-select-phone-number-mask {
  background-color: tokens.$color-white;
  box-shadow: lib2.$box-shadow-sm;
  border-radius: lib2.$border-radius-md;
  padding: lib2.$spacing-xl lib2.$spacing-lg;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: lib2.$spacing-lg;
  justify-content: center;

  .lead {
    display: flex;
    flex-direction: row;
    gap: lib2.$spacing-md;
    align-items: center;
    justify-content: center;

    img {
      margin: 0;
    }
  }

  .paragraph {
    text-align: center;
  }

  .step-select-relay-numbers-radio-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: lib2.$spacing-md;

    > div {
      display: flex;
      gap: lib2.$spacing-sm;
    }
  }

  .search {
    @include lib.form-input;
    position: relative;
    padding-left: lib2.$layout-md;
    background: lib2.$spacing-sm center transparent no-repeat;
    background-image: url("/icons/search-blue.svg");
    background-size: 1.5rem auto;
    max-width: lib2.$content-xs;
    margin: 0 auto;
  }
}

.step-select-phone-number-mask-loading {
  display: flex;
  // Magic number: Min-height for both loading animation and body copy
  // TODO: Use height of parent container
  flex-direction: column;
  gap: lib2.$spacing-md;
  align-items: center;
  justify-content: center;

  @media screen and #{lib2.$mq-tall} {
    // min-height: 75vh;
  }

  .loading {
    width: lib2.$layout-lg;
    height: lib2.$layout-lg;
    background: url("./images/loading.svg") center no-repeat transparent;
    background-size: contain;
    animation: spin 1s infinite linear;
  }

  p {
    max-width: lib2.$content-xs;
    margin: 0 auto;
    text-align: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
