@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.wrapper {
  display: none;
  align-items: center;
  position: relative;

  @media screen and #{$mq-md} {
    display: flex;
  }
}

.trigger {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  // Diameter of the Bento image:
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: $border-radius-sm;

  &:hover {
    filter: invert(1);
    background-color: $color-black;
  }
}

.popup {
  position: absolute;
  transform: translateX(-100%);
  margin-top: $spacing-xl;
  padding: 0;
  padding-bottom: $spacing-lg;
  min-width: $content-xs;
  list-style-type: none;
  box-shadow: $box-shadow-md;
  border-radius: $border-radius-md;
  background-color: $color-light-gray-10;

  &::before {
    content: "";
    height: 12px;
    width: 12px;
    position: absolute;
    top: -6px;
    right: $spacing-sm;
    transform: rotate(45deg);
    background-color: $color-light-gray-10;
  }

  .app-picker-heading {
    color: $color-black;
    padding: $spacing-lg;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-sm;
    background-image: linear-gradient(
        to bottom,
        #f9f9fb calc(100% - 2px),
        rgba(0, 0, 0, 0)
      ),
      linear-gradient(90deg, #f73940 1.25%, #a83db5 96.87%);
    border-radius: $border-radius-lg $border-radius-lg 0 0;

    img {
      height: $layout-sm;
    }

    h2 {
      @include text-body-md;
      font-family: $font-stack-base;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: $spacing-md;
    gap: $spacing-md;
    padding: $spacing-lg;
  }

  .menu-item-wrapper {
    width: 72px;

    &:last-child {
      width: 100%;
      margin-top: $spacing-lg;
    }

    .menu-link {
      display: flex;
      flex-direction: column;
      color: $color-black;
      align-items: center;
      text-align: center;

      @include text-body-sm;
      font-weight: 400;
      font-family: $font-stack-base;

      img {
        height: $layout-sm;
        padding: $spacing-lg;
        width: -moz-fit-content;
        width: fit-content;
        box-sizing: content-box;
        border-radius: $border-radius-md;

        &:hover {
          background-color: $color-light-gray-20;
        }
      }

      &:hover {
        color: $color-violet-90;
      }

      &.mozilla-link {
        color: $color-blue-50;
        justify-content: center;
      }
    }

    &:focus {
      outline: none;

      .menu-link {
        text-decoration: underline;
      }
    }
  }
}
