@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.mobile-menu {
  display: none;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0;
  background: $color-white;
  flex-direction: column;
  box-shadow: $box-shadow-lg;

  &.is-active {
    display: flex;
  }
}

.menu-item-list {
  @media screen and #{$mq-md} {
    display: none;
  }
}

.menu-item {
  display: flex;

  @include text-display-xxs;
  padding: $spacing-md;
  font-family: $font-stack-firefox;
  border-bottom: 2px solid #ececec;

  &:first-child {
    display: flex;
    border-bottom: none;
    background-image: linear-gradient(
        to bottom,
        #f9f9fb calc(100% - 2px),
        rgba(0, 0, 0, 0)
      ),
      linear-gradient(90deg, #f73940 1.25%, #a83db5 96.87%);
    gap: $spacing-sm;

    .user-avatar {
      border-radius: 50%;
    }

    span {
      display: flex;
      flex-direction: column;
    }

    .user-email {
      color: $color-blue-90;
      font-weight: 500;
    }
    .settings-link {
      flex-direction: row;
      display: flex;
      align-items: center;
      color: $color-grey-40;

      @include text-body-sm;
      gap: 8px;

      svg {
        width: 10px;
        height: 10px;
      }

      path {
        fill: $color-purple-40;
      }
    }
  }

  .link {
    display: flex;
    flex-direction: row;
    gap: $spacing-md;
    font-weight: 500;
    color: $color-grey-40;

    // forces all icons to be the same size
    // helps all text align as well
    svg {
      width: 20px;
      height: 20px;
    }

    path {
      fill: $color-purple-40;
    }
  }

  .sign-up-button {
    display: block;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: $spacing-md;
    background-color: $color-blue-50;
    border-radius: $border-radius-sm;
    margin: $spacing-sm auto;
  }
}
