@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.mobile-menu {
  width: 100%;
  position: absolute;
  left: 0;
  // setting the z-index low to allow mobile
  // menu to slide behind main navigation header
  z-index: 2;
  top: $navHeight;
  background: $color-white;
  flex-direction: column;
  box-shadow: $box-shadow-lg;

  &:not(is-active) {
    animation: slide-out 0.25s cubic-bezier(0.52, 0.52, 0.58, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  &.is-active {
    animation: slide-in 0.5s cubic-bezier(0.52, 0.52, 0.58, 1.15);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-out {
    100% {
      transform: translateY(-100%);
    }
  }
}

.menu-item-list {
  @media screen and #{$mq-md} {
    display: none;
  }
}

.menu-item {
  display: flex;

  @include text-display-xxs;
  padding: $spacing-md;
  font-family: $font-stack-firefox;
  border-bottom: 2px solid #ececec;

  .link {
    display: flex;
    flex-direction: row;
    gap: $spacing-md;
    font-weight: 500;
    color: $color-grey-40;
    cursor: pointer;

    path {
      fill: $color-purple-40;
    }
  }

  .sign-up-button {
    display: block;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: $spacing-md;
    background-color: $color-blue-50;
    border-radius: $border-radius-sm;
    margin: $spacing-sm auto;
  }
}

.user-info {
  display: flex;
  border-bottom: none;
  background-image: linear-gradient(
      to bottom,
      #f9f9fb calc(100% - 2px),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(90deg, #f73940 1.25%, #a83db5 96.87%);
  gap: $spacing-sm;

  .user-avatar {
    border-radius: 50%;
  }

  span {
    display: flex;
    flex-direction: column;
  }

  .user-email {
    color: $color-blue-90;
    font-weight: 500;
  }
  .settings-link {
    flex-direction: row;
    display: flex;
    align-items: center;
    color: $color-grey-40;

    @include text-body-sm;
    gap: 8px;

    svg {
      width: 10px;
      height: 10px;
    }

    path {
      fill: $color-purple-40;
    }
  }
}
