@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.mobile-menu {
  display: none;
  width: 100%;
  position: absolute;
  top: 77px;
  left: 0;
  background: $color-white;
  flex-direction: column;
  box-shadow: $box-shadow-lg;

  &.is-active {
    display: flex;
  }
}

.menu-item {
  display: flex;

  @include text-display-xxs;
  padding: $spacing-md;
  font-family: $font-stack-firefox;
  border-bottom: 2px solid #ececec;

  .link {
    display: flex;
    flex-direction: row;
    gap: $spacing-md;
    font-weight: 500;
    color: $color-grey-40;
  }

  .sign-up-button {
    display: block;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: $spacing-md;
    background-color: $color-blue-50;
    border-radius: $border-radius-sm;
    margin: $spacing-sm auto;
  }
}
