@import "../../styles/tokens.scss";

.upgrade-button {
  appearance: none;
  font-size: 18px;
  line-height: 1;
  padding: $spacing-sm $spacing-md;
  color: $color-purple-10;
  font-weight: 600;
  border-radius: $border-radius-md;
  font-family: $font-stack-firefox;

  @media screen and #{$mq-md} {
    background-color: $color-purple-20;
    color: $color-blue-90;
  }
}
