@import "../../styles/tokens.scss";

.upgrade-button {
  appearance: none;
  font-size: 18px;
  padding: 4px $spacing-md;
  margin: 0 ($spacing-lg/2);
  color: $color-purple-10;
  font-weight: 600;
  border-radius: $border-radius-md;
  font-family: $font-stack-firefox;

  @media screen and #{$mq-md} {
    background-color: $color-purple-20;
    color: $color-blue-90;
  }
}
