@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../../../styles/tokens";

.nav-mask-phone {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lib.$color-light-gray-20;

  > * {
    flex: 1 1 0;
    padding: lib.$spacing-lg 0 lib.$spacing-md 0;
    justify-content: center;
    display: flex;
    border-bottom: 5px solid transparent;

    &.is-active {
      border-bottom: 5px solid tokens.$color-purple-40;
    }

    &:hover {
      background-color: tokens.$color-purple-05;
    }
  }

  .nav-mask-phone-icon {
    color: tokens.$color-grey-40;
    stroke: tokens.$color-grey-40;
    stroke-width: 0.5px;

    p,
    p.is-active {
      color: tokens.$color-purple-70;
      text-transform: uppercase;
    }

    &.is-active {
      color: tokens.$color-purple-40;
      stroke: tokens.$color-purple-40;
    }
  }

  .phone-icon-new-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;

    p {
      @include lib.text-body-sm;
      margin: 0;
      font-weight: 600;
      align-self: center;
    }
  }
}

.hidden-desktop {
  @media screen and (min-width: lib.$screen-md) {
    display: none;
  }
}
