@use "../../../styles/tokens";
@use "../../../../../node_modules/@mozilla-protocol/core/protocol/css/includes/tokens/dist";

.site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 dist.$spacing-md;
  gap: dist.$spacing-md;

  @media screen and (min-width: dist.$content-xl) {
    padding: 0 dist.$spacing-xl;
    gap: dist.$spacing-lg;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: dist.$font-stack-firefox;
  min-width: dist.$spacing-2xl + dist.$spacing-lg;
  color: inherit;

  &.is-active {
    height: 100%;
  }

  &.is-active::after {
    width: 100%;
    height: 4px;
    display: block;
    content: "";
    background: tokens.$firefoxGradient;
    position: absolute;
    bottom: 0;
  }
}

.menu-toggle {
  display: flex;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: currentColor;
  // webkit adds a padding-right: 1em to button elements
  padding: 0;

  @media screen and #{dist.$mq-md} {
    display: none;
  }
}

.hidden-mobile {
  @media screen and (max-width: dist.$screen-md) {
    display: none;
  }
}

.hidden-desktop {
  @media screen and (min-width: dist.$screen-md) {
    display: none;
  }
}
