@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib" as mp;

#upgrade-button {
  appearance: none;

  @include mp.text-body-lg;
  line-height: 1;
  color: mp.$color-purple-10;
  font-weight: 600;
  border-radius: mp.$border-radius-md;
  font-family: mp.$font-stack-firefox;

  @media screen and #{mp.$mq-md} {
    background-color: mp.$color-purple-20;
    padding: mp.$spacing-sm mp.$spacing-md;
    color: mp.$color-blue-90;
  }

  &:hover {
    color: mp.$color-blue-50;
  }
}
