@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";

#upgrade-button {
  appearance: none;

  @include lib.text-body-lg;
  line-height: 1;
  color: lib.$color-purple-10;
  font-weight: 600;
  border-radius: lib.$border-radius-md;
  font-family: lib.$font-stack-firefox;

  @media screen and #{lib.$mq-md} {
    background-color: lib.$color-purple-20;
    padding: lib.$spacing-sm lib.$spacing-md;
    color: lib.$color-blue-90;
  }

  &:hover {
    color: lib.$color-blue-50;
  }
}
