@use "../../../styles/tokens";
@use "~@mozilla-protocol/core/protocol/css/includes/lib";
@use "../../../styles/typography";

.wrapper {
  align-items: center;
  position: relative;
}

.trigger {
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 100%;
  color: white;
  overflow: hidden;

  @include typography.text-title-2xs {
    padding: 0;
    border-style: none;
  }
}

.popup {
  position: absolute;
  right: 0;
  margin-top: lib.$spacing-md;
  padding: 0;
  padding-bottom: lib.$spacing-lg;
  min-width: lib.$content-xs;
  list-style-type: none;
  box-shadow: lib.$box-shadow-md;
  border-radius: lib.$border-radius-md;
  // The .account-menu-item has its own background color
  // (to overlap the $firefoxGradient everywhere but at the bottom),
  // so we need to push it down a bit to avoid that from covering
  // .popup's rounded corners:
  padding-top: lib.$border-radius-md;
  $popupBackgroundColor: lib.$color-light-gray-10;
  background-color: $popupBackgroundColor;

  &::before {
    content: "";
    height: 12px;
    width: 12px;
    position: absolute;
    top: -6px;
    right: lib.$spacing-md;
    transform: rotate(45deg);
    background-color: $popupBackgroundColor;
  }

  .menu-item-wrapper {
    .account-menu-item {
      display: block;
      $gradientWidth: 3px;
      background-image: linear-gradient(
          to bottom,
          $popupBackgroundColor calc(100% - $gradientWidth),
          rgba(0, 0, 0, 0)
        ),
        tokens.$firefoxGradient;
      margin-bottom: lib.$spacing-md;
      padding: lib.$spacing-lg;
      // To avoid overlapping .popup's rounded corners,
      // it has its own padding-top of $border-radius-md. Subtract that from
      // the .account-menu-item's padding-top:
      padding-top: lib.$spacing-lg - lib.$border-radius-md;

      .user-email {
        font-weight: 700;
        display: block;
        color: lib.$color-violet-90;
      }

      .settings-link {
        color: lib.$color-dark-gray-50;
        display: flex;
        align-items: center;
        gap: lib.$spacing-xs;
      }

      &:hover {
        cursor: pointer;

        .settings-link {
          text-decoration: underline;
        }
      }
    }

    .menu-link,
    .menu-button {
      display: flex;
      align-items: center;
      gap: lib.$spacing-md;
      padding: lib.$spacing-md lib.$spacing-lg;
      color: lib.$color-violet-90;
      border-style: none;
      background-color: transparent;
      width: 100%;
      cursor: pointer;

      svg {
        color: lib.$color-purple-40;
      }

      &:hover {
        text-decoration: underline;
        background-color: lib.$color-light-gray-20;
        color: lib.$color-violet-90;
      }
    }

    .settings-link {
      svg {
        color: lib.$color-purple-40;
      }
    }

    &:focus {
      outline: none;

      .menu-link,
      .menu-button,
      .settings-link {
        text-decoration: underline;
      }
    }
  }
}
