h1, h2, h3, h4, h5, h6 {
    font-family: $font-metropolis !important;
}

.c-landing-hero.t-landing-a {

    .c-landing-hero--lead {

        h1 {
            @include text-title-md;
        }
    }

    .has-hero-image {
        position: relative;
        text-align: center;
        height: 600px;

        // The three images are made to overlap:
        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .c-hero-image--fg,
        .c-hero-image--bg {
            display: none;
        }
    }

    @media screen and ($mq-md) {

        display: flex;
        gap: $spacing-2xl;

        .c-landing-hero--lead {
            display: flex;
            flex-direction: column;
            padding-top: $spacing-2xl;
        }

        .has-hero-image {

            width: 300px;
            flex-shrink: 0;

            .c-hero-image--fg,
            .c-hero-image--bg {
                display: inline-block;
            }
        }
    }
    @media screen and ($mq-lg) {

        .has-hero-image {
            width: 400px;
        }
    }
    @media screen and ($mq-xl) {

        .has-hero-image {
            width: 550px;
        }
    }
}



// How it works section

.how-it-works-content {
    width: 100%;

    .how-it-works-header {
        @include text-title-sm;
        margin-bottom: $spacing-md;
    }

    .how-it-works-steps {
        width: 100%;

        &.mzp-l-columns {
            width: $screen-xs;

            @media #{$mq-lg} {
                width: 100%;
            }
        
        }

        margin-top: $layout-sm;
        margin-bottom: $layout-lg;

    }

    .step-illustration {
        height: $content-xs;
        width: 100%;
    }

    .step-text {
        padding-top: $spacing-md;
    }

    .step-headline {
        font-size: 1.25em;
        margin: 0 auto .5em 0;
    }

    .step-body {
        margin: 0 auto auto auto;
        font-size: 1em;
        line-height: 1.7em;
        color: black !important;

        .text-link {
            color: $color-blue-50;
            font-weight: 500;
        }

    }

}


// Pricing Section //

.c-gray-bg {
    background-color: $color-light-gray-10;
    height: auto;
}

.c-plans {
    display: grid;

    @media screen and ($mq-md){
        grid-template-columns: repeat(3, 1fr);
        column-gap: $spacing-2xl;
    }
    @media screen and ($mq-lg){
        grid-template-columns: repeat(5, 1fr);
        column-gap: $spacing-2xl;
    }

    .c-pricing-options {
        display: grid;
        grid-column-start: span 3;
        column-gap: $spacing-md;
        row-gap: $spacing-md;
        grid-template-columns: 1fr;

        @media screen and ($mq-sm){
            padding: 0 $spacing-xl;


            @media screen and ($mq-md){
                grid-template-columns: 1fr 1fr;
                row-gap: none;
                padding: 0;
            }
        }

        .c-option {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: white;
            align-items: center;
            border-radius: $border-radius-md;
            text-align: center;
            padding: $spacing-xl;

            .c-price {
                color: $color-blue-50;
                font-weight: 500;
                font-size: 1.125em;
                margin: 0;
                padding-top: $spacing-md;

                .c-currency {
                    color: $color-dark-gray-50;
                    font-size: .55em;
                    font-weight: normal;
                }

                .premium-price {
                    font-size: 1.75em;
                }
            }

            .c-features {
                padding-top: $spacing-md;
                text-align: left;

                li {
                    padding-bottom: $spacing-md;
                }

                li::before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    margin-top: 6px;
                    margin-left: -$spacing-lg;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-image: url("/static/images/icon-blue-check.svg");
                }
            }

            .c-description {
                font-size: .875em;
                border-radius: $border-radius-md;
                border: 2px solid $color-light-gray-40;
                padding: $spacing-sm $spacing-md;
            }

            .mzp-c-button {
                margin-top: $spacing-lg;
                float: bottom;
            }
        }

    }

    .c-pricing-text {
        grid-row-start: 1;
        grid-column-start: span 2;
        height: 100%;

        h2 {
            font-family: $font-metropolis;
            font-weight: 500;
        }

        @media screen and ($mq-lg){
            grid-row-start: auto;

            .c-text {
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(50%);
            }
        }
    }
}


