h1, h2, h3, h4, h5, h6 {
    font-family: $font-metropolis;
}

.c-landing-hero.t-landing-a {

    .c-landing-hero--lead {

        h1 {
            @include text-title-md;
            padding-top: $spacing-md;
        }

        .c-landing-hero-brands {
            margin-top: $layout-lg;
            padding: $spacing-lg;
            width: 100%;
            border-top: 1px solid $color-light-gray-20;
            border-bottom: 1px solid $color-light-gray-20;
        }

        @media screen and ($mq-md) {
            padding-right: $layout-md;
        }
    }

    .has-hero-image {
        position: relative;
        text-align: center;
        height: 600px;

        // The three images are made to overlap:
        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .c-hero-image--fg,
        .c-hero-image--bg {
            display: none;
        }
    }

    @media screen and ($mq-md) {
        display: flex;
        gap: $spacing-2xl;

        .c-landing-hero--lead {
            display: flex;
            flex-direction: column;
            padding-top: $spacing-2xl;
        }

        .has-hero-image {

            width: 300px;
            flex-shrink: 0;

            .c-hero-image--fg,
            .c-hero-image--bg {
                display: inline-block;
            }
        }
    }
    @media screen and ($mq-lg) {

        .has-hero-image {
            width: 400px;
        }
    }
    @media screen and ($mq-xl) {

        .has-hero-image {
            width: 550px;
        }
    }
}



// How it works section

.how-it-works-content {
    width: 100%;

    .how-it-works-header {
        @include text-title-sm;
    }

    .how-it-works-steps {
        width: 100%;
        margin-top: $layout-sm;
        margin-bottom: $layout-xs;

        &.mzp-l-columns {
            margin-top: $layout-md;

            .step-illustration {
                left: 50%;
                transform: translateX(-50%);
                position: relative;
                width: $content-xs;
            }
        
            .step-text {
                width: 100%;
                text-align: center;
                padding-top: $spacing-md;
                left: 50%;
                transform: translateX(-50%);
                position: relative;
            }
        
            .step-headline {
                text-align: center;
                font-size: 1.25em;
                margin: 0 auto .5em 0;
            }
        
            .step-body {
                margin: 0 auto auto auto;
                font-size: 1em;
                line-height: 1.7em;
                color: $color-black;
        
                .text-link {
                    color: $color-blue-50;
                    font-weight: 500;
                }
            }

            .step {
                margin-bottom: $spacing-lg;
            }

            @media #{$mq-lg} {
                width: 100%;

                .step {
                    margin-bottom: 0;
                    margin-top: 0;
                }
                
                .step-text, .step-headline {
                    text-align: start;
                }

                .step-illustration {
                    width: 100%;
                }
            }
        }
    }
}


// Pricing Section //

.c-gray-bg {
    background-color: $color-light-gray-10;
    height: auto;
    padding: $layout-md 0;

    @media screen and ($mq-lg) {
        padding: 0;
    }
}

.c-plans {
    display: grid;

    @media screen and ($mq-md){
        grid-template-columns: repeat(3, 1fr);
        column-gap: $spacing-2xl;
    }
    @media screen and ($mq-lg){
        grid-template-columns: repeat(5, 1fr);
        column-gap: $spacing-2xl;
    }

    .c-pricing-options {
        display: grid;
        grid-column-start: span 3;
        column-gap: $spacing-md;
        row-gap: $spacing-md;
        grid-template-columns: 1fr;

        @media screen and ($mq-sm){
            padding: 0 $spacing-xl;

            @media screen and ($mq-md){
                grid-template-columns: 1fr 1fr;
                row-gap: none;
                padding: 0;
            }
        }

        .c-premium {
            border: 2px solid $color-purple-40;
        }

        .c-option {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: white;
            align-items: center;
            border-radius: $border-radius-md;
            text-align: center;
            padding: $spacing-xl;

            .c-price {
                color: $color-blue-50;
                font-weight: 500;
                font-size: 1.125em;
                margin: 0;
                padding-top: $spacing-md;

                .c-currency {
                    color: $color-dark-gray-50;
                    font-size: .7em;
                }

                .premium-price {
                    font-size: 1.75em;
                }
            }

            .c-features {
                padding-top: $spacing-md;
                text-align: left;

                li {
                    padding-bottom: $spacing-md;
                }

                li::before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    margin-top: 6px;
                    margin-left: -$spacing-lg;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-image: url("/static/images/icon-blue-check.svg");
                }
            }

            .c-description {
                font-size: .875em;
                border-radius: $border-radius-md;
                border: 2px solid $color-light-gray-40;
                padding: $spacing-sm $spacing-md;
            }

            .mzp-c-button {
                margin-top: $spacing-lg;
                float: bottom;
            }
        }

    }

    .c-pricing-text {
        grid-row-start: 1;
        grid-column-start: span 3;
        height: 100%;
        text-align: center;

        h2 {
            font-family: $font-metropolis;
            font-weight: 500;
            font-size: 2.5em;
        }

        .c-text {
            padding: 0 $spacing-lg;
        }

        @media screen and ($mq-lg) {
            text-align: start;
            grid-column-start: span 2;
            grid-row-start: auto;

            .c-text {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }
        }
    }
}

.use-case-section {
    box-shadow: 0px 15px 15px $color-light-gray-20;
}

.c-use-case-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $spacing-md;
   
    .use-case-title {
        padding: $spacing-md $spacing-md $spacing-sm $spacing-md;
        display: flex;
        font-family: $font-metropolis;
        border-radius: $border-radius-md;
    }

    .use-case-title-text {
        color: $color-black;
        font-weight: bold;
        border-radius: $border-radius-md;
        font-family: $font-metropolis;
        font-size: 1.125em;
        text-align: start;
        align-self: flex-end;        
    }

    .use-case-shopping {
        background-color: $color-yellow-20;
    }

    .use-case-social-networks {
        background-color: $color-yellow-40;
    }

    .use-case-offline {
        background-color: $color-green-40;
    }

    .use-case-access-content {
        background-color: $color-red-20;
    }

    .use-case-gaming {
        background-color: $color-purple-30;
    }

    .use-case-desc {
        display: none;
        background: $color-light-gray-10;
        color: $color-black;
        border-radius: $border-radius-md;
        padding: $spacing-lg;
    }

    .desc-headline {
        font-weight: bold;
        font-size: 1.125em;
    }
    
    .is-active + .use-case-desc {
        display: inline;
    }

    //Desktop view
    @media screen and ($mq-lg) {
        grid-template-columns: repeat(5, 1fr);
        column-gap: $spacing-md;

        .use-case-title {
            float: left;
            height: 180px;
            width: 180px;
            border-radius: $border-radius-md;
            grid-row-start: 1;
            padding-bottom: $spacing-xs;
        }

        .use-case-title-text {
            text-align: center;
            padding-bottom: $spacing-xs;
            width: 100%;    
        }

        .is-active + .use-case-desc {
            display: flex;
            flex-direction: row;
            grid-row-start: 2;
            margin-top: $spacing-md;
            grid-column: span 5;
        }

        .desc-headline {
            font-size: 1.25em;
            font-weight: bold;
            min-width: $layout-2xl;
            padding-top: $spacing-md;
            padding-right: $spacing-xl;
        }

        .desc-body {
            display: flex;
            min-height: $layout-xl;
        }

        .desc-body::before {
            content: '';
            background-color: $color-light-gray-40;
            width: 3px;
            position: relative;
            display: inline;
            height: 100%;
            margin-right: $spacing-2xl;
        }

        .use-case-shopping, .use-case-social-networks, .use-case-offline, .use-case-access-content, .use-case-gaming {
            background-repeat: no-repeat;
            background-position: top;
            background-size: 170px 170px;
        }

        .use-case-shopping {
            background-image: url("/static/images/use-case-shopping.svg");
        }
    
        .use-case-social-networks {
            background-image: url("/static/images/use-case-social-networks.svg");
        }
    
        .use-case-offline {
            background-image: url("/static/images/use-case-offline.svg");
        }
    
        .use-case-access-content {
            background-image: url("/static/images/use-case-access-content.svg");
        }
    
        .use-case-gaming {
            background-image: url("/static/images/use-case-gaming.svg");
        }
    }

}
