.landing-page-a {

    h1, h2, h3, h4, h5, h6 {
        @include font-firefox;
    }
    
    p, span, div {
        line-height: 150%;
    }

    a {
        color: $color-blue-50;
        font-weight: 700;
        text-decoration: underline;
    }
}

.c-landing-hero.t-landing-a {

    .c-landing-hero--lead {

        h1 {
            @include text-title-md;
            padding-top: $spacing-md;
        }

        .c-landing-hero-brands {
            margin-top: $layout-lg;
            padding: $spacing-lg;
            width: 100%;
            border-top: 1px solid $color-light-gray-20;
            border-bottom: 1px solid $color-light-gray-20;
        }

        @media screen and ($mq-md) {
            padding-right: $layout-md;
        }
    }

    .has-hero-image {
        position: relative;
        text-align: center;
        height: 600px;

        // The three images are made to overlap:
        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .c-hero-image--fg,
        .c-hero-image--bg {
            display: none;
        }
    }

    @media screen and ($mq-md) {
        display: flex;
        gap: $spacing-2xl;

        .c-landing-hero--lead {
            display: flex;
            flex-direction: column;
            padding-top: $spacing-2xl;
        }

        .has-hero-image {

            width: 300px;
            flex-shrink: 0;

            .c-hero-image--fg,
            .c-hero-image--bg {
                display: inline-block;
            }
        }
    }
    @media screen and ($mq-lg) {

        .has-hero-image {
            width: 400px;
        }
    }
    @media screen and ($mq-xl) {

        .has-hero-image {
            width: 550px;
        }
    }
}



// How it works section

.how-it-works-content {
    width: 100%;

    .how-it-works-header {
        @include text-title-sm;
    }

    .how-it-works-steps {
        width: 100%;
        margin-top: $layout-sm;
        margin-bottom: $layout-xs;

        &.mzp-l-columns {
            margin-top: $layout-md;

            .step-illustration {
                left: 50%;
                transform: translateX(-50%);
                position: relative;
                width: $content-xs;
            }
        
            .step-text {
                width: 100%;
                text-align: center;
                padding-top: $spacing-md;
                left: 50%;
                transform: translateX(-50%);
                position: relative;
            }
        
            .step-headline {
                @include text-title-2xs;
                text-align: center;
                margin: 0 auto .5em 0;
            }
        
            .step-body {
                margin: 0 auto auto auto;
                color: $color-black;
            }

            .step {
                margin-bottom: $spacing-lg;
            }

            @media #{$mq-lg} {
                width: 100%;

                .step {
                    margin-bottom: 0;
                    margin-top: 0;
                }
                
                .step-text, .step-headline {
                    text-align: start;
                }

                .step-illustration {
                    width: 100%;
                }
            }
        }
    }
}


// Pricing Section //

.c-gray-bg {
    background: linear-gradient(180deg, $color-light-gray-20 0%, $color-light-gray-10 3%);
    height: auto;
    padding: $layout-md 0;

    @media screen and ($mq-lg) {
        padding: 0;
    }
}

.c-plans {
    display: grid;

    @media screen and ($mq-md){
        grid-template-columns: repeat(3, 1fr);
        column-gap: $spacing-2xl;
    }
    @media screen and ($mq-lg){
        grid-template-columns: repeat(5, 1fr);
        column-gap: $spacing-2xl;
    }

    .c-pricing-options {
        display: grid;
        margin-top: $spacing-md;
        grid-column-start: span 3;
        column-gap: $spacing-md;
        row-gap: $spacing-md;
        grid-template-columns: 1fr;

        @media screen and ($mq-sm){
            padding: 0 $spacing-xl;

            @media screen and ($mq-md){
                grid-template-columns: 1fr 1fr;
                row-gap: none;
                padding: 0;
                margin-top: 0;
            }
        }

        .c-premium {
            grid-row-start: 1;
            border: 2px solid $color-purple-40;

            @media screen and ($mq-md){
                grid-row-start: auto;
            }
        }

        .c-free {
            border: 2px solid $color-light-gray-20;
        }

        .c-option {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $color-white;
            align-items: center;
            border-radius: $border-radius-md;
            text-align: center;
            padding: $spacing-xl;

            .c-price {
                @include text-body-lg;
                color: $color-blue-50;
                font-weight: 500;
                margin: 0;
                padding-top: $spacing-md;

                .c-currency {
                    @include text-body-xs;
                    color: $color-dark-gray-50;
                }

                .premium-price {
                    @include text-body-xl;
                }
            }

            .c-features {
                padding-top: $spacing-md;
                text-align: left;

                li {
                    padding-bottom: $spacing-md;
                }

                li::before {
                    content: "";
                    width: $layout-2xs;
                    height: $layout-2xs;
                    margin-top: $spacing-sm;
                    margin-left: -$spacing-lg;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-image: url("/static/images/icon-blue-check.svg");
                }
            }

            .c-description {
                @include text-body-sm;
                border-radius: $border-radius-md;
                border: 2px solid $color-light-gray-40;
                padding: $spacing-sm $spacing-md;
            }

            .mzp-c-button {
                margin-top: $spacing-lg;
            }
        }

    }

    .c-pricing-text {
        grid-row-start: 1;
        grid-column-start: span 3;
        height: 100%;
        text-align: center;

        h2 {
            @include text-title-md;
            font-weight: 500;
        }

        .c-text {
            padding: 0 $spacing-lg;
        }

        @media screen and ($mq-lg) {
            text-align: start;
            grid-column-start: span 2;
            grid-row-start: auto;

            .c-text {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }
        }
    }
}


// Use case section
.c-use-case-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $spacing-md;
   
    .use-case-title {
        @include font-firefox;
        padding: $spacing-md $spacing-md $spacing-sm $spacing-md;
        display: flex;
        border-radius: $border-radius-md;
        box-shadow: $box-shadow-sm;
    }

    .use-case-title-text {
        @include font-firefox;
        @include text-body-lg;
        color: $color-black;
        font-weight: 700;
        border-radius: $border-radius-md;
        text-align: start;
        margin-left: $layout-md;
    }

    .use-case-shopping, .use-case-social-networks, .use-case-offline, .use-case-access-content, .use-case-gaming {
        background-repeat: no-repeat;
        background-position: 2px 6px;
        background-size: 50px 50px;

    }

    .use-case-shopping {
        background-image: url("/static/images/use-case-shopping.svg");
        background-color: $color-yellow-20;
    }

    .use-case-social-networks {
        background-image: url("/static/images/use-case-social-networks.svg");
        background-color: $color-yellow-40;
    }

    .use-case-offline {
        background-image: url("/static/images/use-case-offline.svg");
        background-color: $color-green-40;
    }

    .use-case-access-content {
        background-image: url("/static/images/use-case-access-content.svg");
        background-color: $color-red-20;
    }

    .use-case-gaming {
        background-image: url("/static/images/use-case-gaming.svg");
        background-color: $color-purple-30;
    }

    .use-case-desc {
        display: none;
        background: $color-light-gray-10;
        color: $color-black;
        border-radius: $border-radius-md;
        padding: $spacing-lg;
    }

    .desc-headline {
        @include font-firefox;
        @include text-body-lg;
        font-weight: 700;
    }
    
    .is-active + .use-case-desc {
        display: inline;
    }

    .remove-box-shadow {
        box-shadow: none !important;
    }

    //Desktop view
    @media screen and ($mq-lg) {
        grid-template-columns: repeat(5, 1fr);
        column-gap: $spacing-md;

        .use-case-title {
            width: 100%;
            height: 180px;
            border-radius: $border-radius-md;
            grid-row-start: 1;
            padding-bottom: $spacing-xs;
        }

        .use-case-title-text {
            margin-left: 0;
            align-self: flex-end;
            text-align: center;
            padding-bottom: $spacing-xs;
            width: 100%;    
        }

        .is-active + .use-case-desc {
            display: flex;
            flex-direction: row;
            grid-row-start: 2;
            margin-top: $spacing-md;
            grid-column: span 5;
        }

        .desc-headline {
            @include text-title-2xs;
            font-weight: 700;
            min-width: $content-xs;
            padding-top: $spacing-md;
            padding-right: $spacing-xl;
        }

        .desc-body {
            display: flex;
            min-height: $layout-xl;
        }

        .desc-body::before {
            content: '';
            background-color: $color-light-gray-40;
            width: 3px;
            position: relative;
            display: inline;
            height: 100%;
            margin-right: $spacing-2xl;
        }

        .use-case-shopping, .use-case-social-networks, .use-case-offline, .use-case-access-content, .use-case-gaming {
            background-position: top;
            background-size: 94% 94%;
        }
    }

}

// FAQ Section

.c-faq {

    .c-faq-info {
    
        .c-faq-title {
            @include text-title-md;
            font-weight: 500;
        }
    }

    .c-faq-accordion {

        .c-faq-list {
            margin-top: $layout-lg;

            @media screen and ($mq-md) {
                margin-top: 0;
            }

        }

        .c-faq-list li {
            margin-bottom: $spacing-lg;
        }

        .c-faq-question {
            @include text-title-3xs;
            cursor: pointer;
            border-bottom: 1px solid $color-light-gray-30;
            padding-bottom: $spacing-lg;
            display: flex;
            justify-content: space-between;

            @media screen and ($mq-xl) {
                @include text-title-2xs;
            }
        }

        .c-faq-plus-icon {
            display: inline;
            width: $layout-2xs;
            height: $layout-2xs;
            background-repeat: no-repeat;
            background-image: url("/static/images/icon-plus-sign.svg");
            transform: translateY(50%);
            margin-left: $spacing-md;
        }

        .c-faq-answer {
            display: none;
            border-bottom: 1px solid $color-light-gray-50;
            padding-bottom: $spacing-lg;
        }

        .is-active + .c-faq-answer {
            display: block;
            margin-bottom: $spacing-lg;
        }
    }

}

